#ccc-address-checker {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4rem;
  padding: 0 1rem;
  box-sizing: border-box;
}

#ccc-address-checker * {
  box-sizing: border-box;
}

.ccc-search-input,
.ccc-placeholder {
  width: 100%;
  height: 100%;
  flex: 1;
  border: 1px solid rgba(100, 100, 100, 0.3);
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  background-color: #fff;
}

.ccc-search-input {
  align-items: stretch;
}

.ccc-search-input:focus-within {
  box-shadow: 1px 1px 5px 3px rgba(150, 150, 150, 0.2);
}

.ccc-search-input input {
  flex: 1;
  outline: none;
  border: none;
  color: inherit;
  padding-left: 1rem;
  border-radius: 11px;
}

.ccc-search-input input:disabled {
  background-color: inherit;
  color: inherit;
  opacity: 1;
  -webkit-opacity: 1;
  background: white;
}

.ccc-search-input.ccc-success input:disabled {
  -webkit-text-fill-color: #2c9951;
}

.ccc-search-input.ccc-danger input:disabled {
  -webkit-text-fill-color: #ff483b;
}

.ccc-outcome-icon {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  display: none;
}

.ccc-search-input ion-icon {
  font-size: 150%;
}

.ccc-search-input:not(.ccc-success):not(.ccc-danger) ion-icon {
  color: #777;
}

.ccc-search-input button {
  cursor: pointer;
  border: none;
  width: 10%;
  min-width: 50px;
  background-color: white;
  color: #333;
  background-clip: padding-box;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ccc-search-input button:hover {
  background-color: rgba(150, 150, 150, 0.1);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.ccc-search-input.ccc-success {
  color: #2c9951;
  border-color: #2c9951;
  border-width: 3px;
}

.ccc-search-input.ccc-success button {
  cursor: pointer;
  border: none;
  width: 10%;
  background-color: white;
  color: #2c9951;
}

.ccc-search-input.ccc-success button:hover {
  color: white;
  background-color: #2c9951;
}

.ccc-search-input.ccc-danger {
  color: #ff483b;
  border-color: #ff483b;
  border-width: 3px;
}

.ccc-search-input.ccc-danger button {
  cursor: pointer;
  border: none;
  width: 10%;
  background-color: white;
  color: #ff483b;
}

.ccc-search-input.ccc-danger button:hover {
  color: white;
  background-color: #ff483b;
}

.ccc-dot-loader span {
  width: 10px;
  height: 10px;
  margin: 0 3px;
  background-color: rgba(100, 100, 100, 0.3);
  border-radius: 50%;
  display: inline-block;
  -webkit-animation-name: ccc-dots;
  animation-name: ccc-dots;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.ccc-dot-loader span:nth-child(2) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.ccc-dot-loader span:nth-child(3) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

@-webkit-keyframes ccc-dots {
  50% {
    opacity: 0;
    transform: scale(0.7) translateY(10px);
  }
}

@keyframes ccc-dots {
  50% {
    opacity: 0;
    transform: scale(0.7) translateY(10px);
  }
}

@media (min-width: 500px) {
  .ccc-outcome-icon {
    display: flex;
  }

  .ccc-search-input ion-icon {
    font-size: 200%;
  }

  .ccc-search-input input {
    font-size: large;
    padding-left: 50px;
  }
}
