---
layout: page-left.liquid
section: business
metaTitle: OneQode for Business • Business Internet & Connectivity
metaDescription: Simple, low-latency business internet, broadband and network connectivity solutions from OneQode. No-hassle connectivity for small business and enterprise.
changefreq: monthly
priority: 1
pageTitle: Easy business connectivity
pageSubtitle: Low-latency business internet<br class="responsive"> and connectivity solutions
heroLinktext: Learn More
heroLinkurl: /business/about/
ogImage: og-image.jpg
---
	<!-- Page-Specific Styles -->
	<style>
		/* 4K Background Image */
		@media (min-width: 1920px) {
			.no-webp .hero {
				background: url("/img/bg/business-header-4k.jpg") 60%;
				background-size: cover;
			}
			.webp .hero {
				background: url("/img/bg/business-header-4k.webp") 60%;
				background-size: cover;
			}
		}
		/* Regular Background Image */
		@media (max-width: 1920px) {
			.no-webp .hero {
				background: url("/img/bg/business-header-hd.jpg") 60%;
				background-size: cover;
			}
			.webp .hero {
				background: url("/img/bg/business-header-hd.webp") 60%;
				background-size: cover;
			}
		}
	</style>
	<section class="py-4 black">
		<div class="container">
			{% include services/_business.liquid %}
		</div>
	</section>
	<section class="black-to-footer py-4">
		<div class="container">
			<div class="col-md-10 col-md-offset-1 text-center">
				<h2>Better internet,<br class="responsive"> from the ground up<mark class="dot">.</mark></h2>
				<p class="subheading">Building a genuine alternative</p>
				<p>Aussie internet isn’t up to scratch, so we’re building a faster, more reliable alternative.</p>
				<p>We help gamers, businesses, and internet lovers get a quality connection without paying a fortune.</p>
				<p><a href="/business/about/" class="button mt-2 m-1">Learn more</a><a href="/business/contact/" class="button ghost">Contact</a></p>
			</div>
		</div>
	</section>