---
layout: job.liquid
metaTitle: Content Marketer — Philippines • Vacancy • OneQode
metaDescription: Reporting to the CMO (and working alongside a designer and a web developer), you'll be responsible for sharing our story with the world.
changefreq: never
priority: 0.3
tags: vacancy
jobTitle: Content Marketer — Philippines
jobHours: Full Time
jobLocation: Manila, Philippines
date: 2023-08-03
hrContact: Tassia Blackley
hrLink: "https://forms.clickup.com/6904812/f/6jpzc-18022/6A3VRTGOO2YSBP199V"
---
<p>If you’re an experienced copywriter, with an impeccable writing style, competence across content strategy, content production and social media — we’d love you to apply to join the OneQode team.</p>
<p>OneQode is a low latency digital infrastructure provider operating a high performance cloud platform and low-latency global network. We’re on a mission to build the foundation for the next decade of connected experiences.</p>
<p>We need consistent content publication to get the word out about OneQode — in a captivating manner that resonates with technical experts, engineers, entrepreneurs and makers.</p>
<p>Reporting to the CMO (and working alongside a designer and a web developer), you’ll be responsible for sharing our story with the world.</p>
<p>You’ll be growing a genuine competitor to the major cloud providers — and your results will be noticed.</p>
<h2 class="mt-2">What you’ll be doing</h2>
<ul>
    <li>Developing and implementing an ongoing content and social strategy</li>
    <li>Managing and implementing day-to-day output of social content on LinkedIn and Twitter</li>
    <li>Working with a graphic designer to produce strong visuals to accompany your content</li>
    <li>Drafting announcements and press releases</li>
    <li>Crafting long-form articles for our website — comprehensive, immersive content that ranks in search</li>
    <li>Crafting messaging for landing pages, sales content, and advertising</li>
    <li>Supporting the sales team with messaging for brochures and sales</li>
    <li>Building a content team as your output grows</li>
</ul>
<h2 class="mt-2">About you</h2>
<p>You have:</p>
<ul>
    <li>5+ years experience in content marketing and social media</li>
    <li>An excellent writing style that’s clear, concise, structured and readable</li>
    <li>Strong empathy for your reader: you put them first</li>
    <li>Exceptional communication skills</li>
    <li>Experience writing content that’s great for readers — and ranks in search</li>
    <li>Technical competence, an appetite for learning and the ability to distil technical concepts into clear, structured content</li>
    <li>A natural ability to spot content ideas and make them a reality</li>
    <li>Experience in the IT, technology or b2b space</li>
</ul>
<h2 class="mt-2">Benefits</h2>
<ul>
    <li>Be part of a high-performance team solving big problems in a large industry</li>
    <li>Remote (WFH) company with excellent work-life balance</li>
    <li>Competitive salary package</li>
    <li>Significant opportunity for career progression</li>
</ul>
<h2 class="mt-2">Salary</h2>
<ul>
    <li>₱70,000-₱110,000 per month (based on experience)</li>
    <li>Full-time role</li>
</ul>
<h2 class="mt-2">Summary/application questions</h2>
<ul>
    <li><strong>Please apply via our form, linked below.</strong></li>
    <li>Question 1: please can you share some of the best articles and social posts have you been responsible for writing?</li>
    <li>Question 2: Who are the best people you’ve learned content marketing from, and why?</li>
    <li>Optional - Submit a short (1-2 min) video telling us a bit about yourself – we recommend uploading it to Onedrive / Gcloud / Dropbox / Nextcloud, etc., and then sharing the public link with us. While not essential, this will make your application stand out to our team</li>
</ul>