---
layout: job.liquid
metaTitle: Data Migration and Integration Professional - Philippines • Vacancy • OneQode
metaDescription: You will play a pivotal role in ensuring the seamless transition for new customers as they adopt our local Philippines cloud solutions
changefreq: never
priority: 0.3
tags: vacancy
jobTitle: Data Migration and Integration Professional — Philippines
jobHours: Full Time
jobLocation: Manila, Philippines
date: 2023-06-12
hrContact: Tassia Blackley
hrLink: "https://forms.clickup.com/6904812/f/6jpzc-15042/Q856O0AH3UC1UY3UWA"
---
<p>An exciting opportunity has become available for an experienced Data Migration Professional to join our Philippines team.</p>
<h2 class="mt-2">What you&#39;ll be doing</h2>
<p>As a data migration expert, you will play a pivotal role in ensuring the seamless transition for new customers as they adopt our local Philippines cloud solutions, including migrating their enterprise database(s) to Oracle Exadata cloud tenancies managed by OneQode.</p>
<p>Working closely with the Enterprise Solutions Architect, you will be instrumental in liaising with customers to understand their data requirements, plan and execute data migrations, and ensure that data is accurately integrated into new systems.</p>
<h2 class="mt-2">Responsibilities</h2>
<ul>
    <li>Implement enterprise database projects on Oracle ExaData architecture, which will primarily be migration and integration projects to begin with</li>
    <li>Take instructions from OneQode staff members with direct customer contact to understand project scope, customer needs, timelines and migration/integration work to be performed</li>
    <li>Develop and execute data migration plans, including the selection of tools and methodologies.</li>
    <li>Design, map, and convert data, ensuring the integrity, quality, and consistency of data across systems.</li>
    <li>Implement data integrations between systems, including APIs and other connectivity solutions.</li>
    <li>Troubleshoot and resolve data migration and integration issues.</li>
    <li>Report to the Enterprise Service Delivery Manager, who will be your direct manager on all projects</li>
    <li>Collaborate with the Solutions Architect and other team members to ensure the successful implementation of migration projects.</li>
    <li>Train clients on new systems, ensuring they are well-prepared to manage migrated data.</li>
    <li>Remain current on data migration and integration best practices and industry trends.</li>
</ul>
<h2 class="mt-2">Requirements</h2>
<ul>
    <li>A minimum of 3 years of experience in data migration and integration.</li>
    <li>Proficiency in data migration tools, platforms and processes</li>
    <li>Strong understanding of databases, data mapping, and ETL (Extract, Transform, Load) processes.</li>
    <li>Experience with integration technologies such as APIs, Web Services, and data connectors.</li>
    <li>Strong analytical and problem-solving skills.</li>
    <li>Excellent communication skills with the ability to liaise effectively with clients.</li>
    <li>Ability to work both independently and as part of a team.</li>
    <li>Detail-oriented and organized with the ability to manage multiple projects simultaneously.</li>
    <li>Familiarity with cloud-based systems and database solutions is a plus. </li>
    <li>Bachelor’s degree in Computer Science, Information Systems, or a related field may be highly regarded, however we value proficiency &amp; competence above all else.</li>
</ul>
<p>If you are a dedicated professional with a passion for data and looking to make a substantial impact through your expertise, this role at OneQode is an excellent opportunity to contribute to pioneering data solutions in the Philippines.</p>
<h2 class="mt-2">About OneQode</h2>
<p>OneQode is a global infrastructure-as-a-service company building the foundation for the next generation of connected experiences. Our service stack includes:</p>
<ul>
    <li>High-performance cloud platform</li>
    <li>Low-latency international network</li>
    <li>Regional latency-neutral hubs (APAC Central)</li>
    <li>Enterprise-grade cloud databases</li>
    <li>Tailored enterprise solutions</li>
</ul>
<p>OneQode are solving challenges for a variety of industries by building best-in-class infrastructure. We have staff worldwide and are a diverse, remote team using Gather.town as our virtual office.</p>
<h2 class="mt-2">Benefits</h2>
<ul>
    <li>Be part of a high-performance team solving big problems in a large industry</li>
    <li>Remote (WFH) company with excellent work-life balance</li>
    <li>Competitive salary package</li>
    <li>Significant opportunity for career progression</li>
</ul>
<h2 class="mt-2">Salary</h2>
<ul>
    <li>₱90,000 - ₱150,000 per month (based on experience)</li>
    <li>Full-time role</li>
</ul>
<h2 class="mt-2">Summary/application questions</h2>
<ul>
	<li><strong>Please apply via our form, linked below.</strong></li>
	<li>Optional - Submit a short (1-2 min) video telling us a bit about yourself – we recommend uploading it to Onedrive / Gcloud / Dropbox / Nextcloud, etc., and then sharing the public link with us. While not essential, this will make your application stand out to our team</li>
</ul>