---
layout: job.liquid
metaTitle: Enterprise Solutions Architect — Philippines • Vacancy • OneQode
metaDescription: You’ll be the face of OneQode for new enterprise customers in the Philippines, pitching a market-leading database solution to prospective leads.
changefreq: never
priority: 0.3
tags: vacancy
jobTitle: Enterprise Solutions Architect — Philippines
jobHours: Full Time
jobLocation: Manila, Philippines
date: 2023-06-12
hrContact: Tassia Blackley
hrLink: "https://forms.clickup.com/6904812/f/6jpzc-14922/83XM647C7W36XVA49I"
---
<p>An exciting opportunity has become available for an experienced Solutions Architect to join our Philippines team.</p>
<p>You’ll be the face of OneQode for new enterprise customers in the Philippines, pitching a market-leading database solution to prospective leads (sourced from the existing client base of a global technology leader).</p>
<h2>What you&#39;ll be doing</h2>
<p>You’ll be devising complete database and cloud solutions, and driving new customer projects from inception to go-live. The ability to meet prospects, ascertain their needs, understand how a solution should be put together and then close the customer will be critical for this role.</p>
<h2 class="mt-2">Responsibilities</h2>
<ul>
	<li>Be a client-facing representative for OneQode in the Philippines with enterprise prospects</li>
	<li>Work with prospects/clients to understand their needs &amp; identify opportunities</li>
	<li>Design infrastructure solutions combining cloud compute, database, network &amp; storage.</li>
	<li>Collaborate with the OneQode Engineering and Service Delivery staff to translate client requirements into fit-for-purpose designs</li>
	<li>Convert prospects into paying customers</li>
	<li>Provide top-quality account management throughout solutions design, provisioning and post-deployment stages</li>
	<li>Regularly check in with customers to identify new opportunities</li>
	<li>Be available for in-person meetings</li>
</ul>
<h2 class="mt-2">Experience</h2>
<ul>
	<li>Experience in cloud platforms and services such as OCI, AWS, Azure, Google Cloud</li>
	<li>Experience working with enterprise database technologies (proficiency with Oracle particularly will be highly regarded)</li>
	<li>Strong knowledge of enterprise IT architecture and enterprise cloud implementation.</li>
	<li>Experience mapping on-premises systems to cloud environments and delivering solutions to enterprise clients</li>
	<li>Relevant degree, qualification or work experience in this environment (certifications in cloud platforms is a plus!)</li>
	<li>Proven sales capability: articulating solutions and guiding customers through a seamless onboarding experience.</li>
	<li>OCI Architect Professional qualification (or similar) will be highly regarded</li>
</ul>
<h2 class="mt-2">About the role</h2>
<p>An exciting opportunity has become available for an experienced Solutions Architect to join OneQode’s newly established Philippines team.</p>
<p>The ideal applicant will be experienced in working with enterprise customers for cloud migrations, and will be proficient in cloud systems such as OCI, AWS, Azure, Google Cloud in a full-stack capacity. </p>
<p>Your role will primarily focus on designing and implementing cloud architecture solutions and managing the technical aspects of migrating customers from on-premises systems to a cloud environment.</p>
<p>You will also work collaboratively with our Service Delivery Manager to ensure projects are completed in a timely manner.</p>
<h2 class="mt-2">About OneQode</h2>
<p>OneQode is a global infrastructure-as-a-service company building the foundation for the next generation of connected experiences. Our service stack includes:</p>
<ul>
	<li>High-performance cloud platform</li>
	<li>Low-latency international network</li>
	<li>Regional latency-neutral hubs (APAC Central)</li>
	<li>Enterprise-grade cloud databases</li>
	<li>Tailored enterprise solutions</li>
</ul>
<p>OneQode are solving challenges for a variety of industries by building best-in-class infrastructure. We have staff worldwide and are a diverse, remote team using Gather.town as our virtual office.</p>
<h2 class="mt-2">Benefits</h2>
<ul>
	<li>Be part of a high-performance team solving big problems in a large industry</li>
	<li>Remote (WFH) company with excellent work-life balance</li>
	<li>Competitive salary package</li>
	<li>Significant opportunity for career progression</li>
</ul>
<h2 class="mt-2">Salary</h2>
<ul>
	<li>₱90,000 - ₱150,000 per month (based on experience)</li>
	<li>Full-time role</li>
</ul>
<h2 class="mt-2">Summary/application questions</h2>
<ul>
	<li><strong>Please apply via our form, linked below.</strong></li>
	<li>Optional - Submit a short (1-2 min) video telling us a bit about yourself – we recommend uploading it to Onedrive / Gcloud / Dropbox / Nextcloud, etc., and then sharing the public link with us. While not essential, this will make your application stand out to our team</li>
</ul>