---
layout: job.liquid
metaTitle: Executive Assistant - Philippines • Careers • OneQode
metaDescription: We are looking for a highly organised individual who can assist our executive team with their daily administration needs
changefreq: never
priority: 0.3
tags: vacancy
jobTitle: Executive Assistant — Philippines
jobHours: Full Time
jobLocation: Remote (Work from Home)
date: 2024-02-23
hrContact: Tassia Blackley
hrLink: "https://forms.clickup.com/6904812/f/6jpzc-29516/G8UUJLHLH3HCH3OE33"
---
<p>OneQode is seeking a highly motivated and experienced administration assistant to provide support services to our CEO, executives and admin team. In this role, we are looking for a highly organised individual who can assist our executive team with their daily administration needs.</p>
<p>The successful applicant will have strong MS Office skills, must be a team player, have effective organisational and communication skills, the ability to meet deadlines, good time management and prioritisation, analytical skills and attention to detail.</p>
<h2 class="mt-2">Role Responsibilities</h2>
<ul>
    <li>Managing executive diary, calendar and correspondence</li>
	<li>Coordinating travel both nationally and internationally</li>
	<li>Liaising with key stakeholders in a timely and professional manner</li>
	<li>General secretarial/administrative support including preparing documents, record-keeping, prioritising tasks in the executive workload.</li>
	<li>Provide backup support for other areas of the business</li>
</ul>
<p>While this role’s working hours will primarily be 8:30am to 5:00pm AEST, it will require flexibility to work hours in US time zones in the future.</p>
<h2 class="mt-2">About you</h2>
<ul>
	<li>2+ years' experience in a similar position;</li>
	<li>intermediate to advanced competency in in MS Office (Outlook, Word, Excel, Access, PowerPoint, etc.);</li>
	<li>a high-level communication and interpersonal skills;</li>
	<li>excellent organisational and time management skills. </li>
</ul>
The ideal candidate will have:
<ul>
	<li>A can-do attitude</li>
	<li>Enjoys problem-solving</li>
	<li>Driven to improve processes</li>
	<li>Intermediate project management</li>
	<li>Strong customer service focus</li>
	<li>Well-developed interpersonal skills</li>
	<li>The ability to work independently and part of a team</li>
	<li>Assertiveness when approaching tasks and challenges</li>
</ul>
<h2 class="mt-2">About OneQode</h2>
<p>OneQode is a global infrastructure-as-a-service company building the foundation for the next generation of connected experiences. Our service stack includes:</p>
<ul>
    <li>High-performance cloud platform</li>
    <li>Low-latency international network</li>
    <li>Regional latency-neutral hubs (APAC Central)</li>
    <li>Enterprise-grade cloud databases</li>
    <li>Tailored enterprise solutions</li>
</ul>
<p>OneQode are solving challenges for a variety of industries by building best-in-class infrastructure. We have staff worldwide and are a diverse, remote team using <a href="https://gather.town" rel="noopener nofollow">Gather.town</a> as our virtual office.</p>
<h2 class="mt-2">Benefits</h2>
<ul>
    <li>Be part of a high-performance team solving big problems in a large industry</li>
    <li>Remote (WFH) company with excellent work-life balance</li>
    <li>Competitive salary package</li>
    <li>Significant opportunity for career progression</li>
</ul>
<h2 class="mt-2">Salary</h2>
<ul>
    <li>₱36,000 - ₱75,000 per month (based on experience)</li>
    <li>Full-time role</li>
	<li>Remote (work from home)</li>
</ul>
<h2 class="mt-2">Summary/application questions</h2>
<ul>
	<li><strong>Please apply via our form, linked below.</strong></li>
</ul>