---
layout: job.liquid
metaTitle: Game Server Administrator • Vacancy • OneQode
metaDescription: As a Game Server Administrator within the OneQode Network Operations time, you'll support the Gaming and esports clients across all of OneQode.
changefreq: never
priority: 0.3
tags: vacancy
jobTitle: Game Server Administrator
jobHours: Full Time
jobLocation: Los Angeles
date: 2020-08-04
applicationsClose: 21 Jan 2021
hrContact: Ben Cooper
---
<h2>The Role</h2>
<h3>Location: <strong>Los Angeles</strong></h3>
<p>As a Game Server Administrator within the OneQode Network Operations time, you'll support the Gaming and esports clients across all of OneQode. Your day-to-day responsibilities will be ensuring OneQode Group Game Server systems are online and maintenance of the LA-based game server hardware in the OneQode network.</p>
<h2>Your Skills & Experience</h2>
<h3>Essential Requirements</h3>
<ul>
    <li>You <strong>MUST</strong> be <strong>located </strong>and able to work in Los Angeles.</li>
    <li>Understanding of CSGO, TF2, Arma 3 and Minecraft Game servers a MUST.</li>
    <li>Understanding of TC ADMIN</li>
    <li>Understanding of WHMCS</li>
    <li>You understand basic network troubleshooting systems</li>
    <li>You have a strong understanding in the building of PCs</li>
    <li>You have a Drivers Licence and Car to attend emergency call outs within the Datacentre</li>
    <li>You have either a Green Card or US citizenship</li>
    <li>Experience using image deployment software such as Norton Ghost</li>
    <li>Familiarity with performance and benchmarking tools</li>
    <li>2+ years of relevant experience</li>
    <li>Able to carry/lift 40lbs</li>
</ul>
<h3>Bonus Requirements</h3>
<ul>
	<li>Experience with other game server daemons.</li>
	<li>Experience with maintaining hardware across several platforms; mobile, console, and PC.</li>
	<li>Networking experience</li>
</ul>
<h2>How to apply</h2>
<p>Please send through your CV, along with a cover letter and salary expectation.</p>
</p>