---
layout: job.liquid
metaTitle: Sales Director • Vacancy • OneQode™
metaDescription: You'll be the key member of OneQode’s Asia establishment. Your primary focus will be developing OneQode’s presence in the region by...
changefreq: never
priority: 0.3
tags: vacancy
jobTitle: Sales Director
jobHours: Full Time
jobLocation: Hong Kong, Shanghai, Shenzhen, Guangzhou, or Hangzhou
date: 2022-03-02
hrContact: Eric Yip
hrLink: "https://forms.clickup.com/f/6jpzc-7622/552ZASTZRQ7N8RKJJN"
---
{% comment %}

	TODO

	- ClickUp form

{% endcomment %}
<h2 class="mt-2">Who we are</h2>
<p>OneQode is a global Infrastructure as a Service (IaaS) company operating a high-performance <a href="/cloud/">cloud platform</a> and a latency-optimised <a href="/network/">network</a>. Focused primarily on the gaming market, we help studios and orchestrators reach and serve more players than ever before.</p>
<p>We’ve built our <a href="/guam/">APAC Central</a> cloud hub to allow studios to service the whole APAC region, worth over $80B last year, from one location. Combined with a heavy regional presence, we’ve built a full-stack cloud &amp; network service designed for the most demanding real-time applications.</p>
<h2 class="mt-2">What we’re looking for</h2>
<p>Reporting to the EVP Growth, Asia, you will be the key member of OneQode’s Asia establishment. Your primary focus will be developing OneQode’s presence in the region by identifying business opportunities, establishing working relationships and closing deals with your assigned territory/customer bases.  </p>
<p>You will also spearhead our in-person sales and marketing initiatives, meeting prospects, attending events and taking membership in relevant industry associations on OneQode’s behalf. </p>
<p>You will bear a revenue target assigned by the EVP and work to generate sales, close contracts and build OneQode’s regional customer base.</p>
<h2 class="mt-2">What you’ll be selling</h2>
<p>The <a href="/cloud/">OneQode Cloud</a> is a high-performance platform built to address the glaring needs in real-time applications such as gaming - improving player retention, queue times, latency and server performance.</p>
<p>It’s built using our independent carrier network, end-to-end DDoS mitigation and high-performance servers. Through our APAC Central region in Guam, customers can reach approximately 4 billion users with under 100ms of latency. Other OneQode locations across Asia-Pacific can also be used for more local cloud deployments.</p>
<p>Your key targets will be Gaming Studios, Gaming Infrastructure providers, and any related business which require high performance, low latency global cloud and network solutions. You’ll be providing these companies with a compelling solution, allowing them to reach the Global market like never before.</p>
<h2 class="mt-2">Role responsibilities</h2>
<p>Once you’ve joined, your role will involve the following responsibilities:</p>
<ul>
	<li>Actively prospecting potential customers and pursuing business relationships with a view to onboarding them to OneQode products</li>
	<li>Working with the EVP to fashion a cohesive regional strategy and set ambitious customer acquisition targets</li>
	<li>Work heavily together with our HQ in Australia, including the EVP (who will be your direct manager). </li>
	<li>Regular travel within the APAC region, including Mainland China.</li>
	<li>Translate customer business and technology needs into fit-for-purpose solutions</li>
	<li>Lead business and technical decision-makers through strategy meetings, product overview and demo sessions</li>
	<li>Work to maximise customer value, accelerate sales and expand customer usage</li>
	<li>Keep up-to-date with market trends and industry insights and generally be an advocate for OneQode</li>
</ul>
<p>Above all, you need a passion for what you’ll be doing. If you wake up in the morning wondering which new prospect you can speak to about our product, this role is probably for you.</p>
<h2 class="mt-2">About you</h2>
<p>The ideal candidate will:</p>
<ul>
	<li>Have at least 7 years in Sales and Business Development experience within Network/Cloud areas</li>
	<li>Have connections and industrial experience in the APAC gaming and enterprise market, ideally with good understanding of the gaming environment in China.</li>
	<li>Possess strong business acumen, the ability to identify business opportunities and hunt for new customer prospects.</li>
	<li>As the start-up member of the region, be self-motivated, independent enough to run your day-to-day operations, make decisions with confidence and represent OneQode as a regional leader.</li>
	<li>Possess strong communication and presentation skills, in both Chinese and English</li>
	<li>Have a cross-culture mindset, being able to be the bridge between your customers/partners and the OneQode teams.</li>
	<li>Have experience in architecting, consulting, or technical pre-sales solution-selling roles for gaming solutions or cloud solutions (experience in both will be highly regarded);</li>
	<li>Have experience in identifying, developing, negotiating, and closing large-scale technology deals</li>
	<li>Have a proven track record of consistent territory growth and quota obtainment</li>
</ul>
<h2 class="mt-2">Target market</h2>
<p>As part of this role, you’ll be primarily dealing with the following types of customers and prospects:</p>
<ul>
	<li>Gaming Studios</li>
	<li>Orchestrators (i.e. companies that help studios manage their infrastructure and ancillary technology)</li>
	<li>Enterprise with high-performance / latency sensitive cloud requirements</li>
	<li>Real-time applications and connected experiences</li>
	<li>Any other customers who may have a need for the unique network/compute combo we’ve built</li>
</ul>
<h2 class="mt-2">Benefits of working for OneQode</h2>
<p>OneQode is a company full of gamers - it’s why we’re so passionate about facilitating a better gaming experience for everyone. We have staff worldwide and use newest online technologies as our virtual office for our diverse, remote team. Other benefits of working for us:</p>
<ul>
	<li>Work in a highly motivated business solving big problems in a large industry</li>
	<li>Having the autonomy to run the territory and your business success</li>
	<li>OneQode is truly a Global company with Global culture, we encourage proactive people to grow the company together</li>
	<li>Hands-on and collaborative role</li>
	<li>Generous incentive plans</li>
</ul>
<h2 class="mt-2">Summary</h2>
<ul>
	<li><strong>Please apply via our form, linked below.</strong></li>
	<li>Optional - Submit a short (1-2 min) video telling us a bit about yourself – we recommend uploading it to Onedrive / Gcloud / Dropbox / Nextcloud, etc., and then sharing the public link with us. While not essential, this will make your application stand out to our recruiting team</li>
</ul>