---
layout: job.liquid
metaTitle: Senior Network Engineer • Careers • OneQode
metaDescription: "We’re looking for an experienced and knowledgeable individual with experience in a carrier environment"
changefreq: never
priority: 0.3
tags: vacancy
jobTitle: Senior Network Engineer
jobHours: Full Time
jobLocation: Remote (AU/USA preferred)
date: 2024-04-02
hrContact: Tassia Blackley
hrLink: "https://forms.clickup.com/6904812/f/6jpzc-30136/P41GMTV7EC9KCWV8LR"
---
<p>OneQode is seeking a highly motivated Senior Network Engineer to join our engineering team. In this role, we’re looking for an experienced and knowledgeable individual with experience in a carrier environment.</p>
<p>The successful applicant will have strong troubleshooting skills, must be a team player, have effective organisational and communication skills, the ability to meet deadlines, good time management and prioritisation, analytical skills and attention to detail.</p>
<h2 class="mt-2">Responsibilities</h2>
<p>As our Senior Network Engineer, you will be responsible for:</p>
<ul>
	<li>Designing, implementing, and managing our end-to-end cloud network infrastructure throughout its full life cycle.</li>
	<li>Collaborating with cross-functional teams to ensure network needs are met for all projects.</li>
	<li>Leading the evaluation and implementation of new networking technologies.</li>
	<li>Negotiating with hardware, software, and network vendors.</li>
	<li>Evaluating new and existing network hardware and software, making relevant recommendations for the direction of the network based on that evaluation.</li>
	<li>Troubleshooting and resolving complex network issues in a timely manner.</li>
	<li>Providing mentorship and guidance to junior team members.</li>
	<li>Participating in on-call rotation for outage response.</li>
</ul>
<h2 class="mt-2">Requirements</h2>
<p>To succeed in this role, you should have:</p>
<ul>
	<li>Proven experience as a Network Engineer with carrier experience.</li>
	<li>In-depth knowledge and practical application of networking protocols (BGP, IS-IS), network security, and networking best practices.</li>
	<li>Advanced working knowledge and experience with running BGP at service provider scale, including traffic engineering</li>
	<li>Strong proficiency in configuring and managing networking devices (routers, switches, firewalls – experience with Arista, Cisco, and Corero will be well regarded).</li>
	<li>Experience with DWDM optical transport networks.</li>
	<li>Experience with virtualization technologies.</li>
	<li>Excellent troubleshooting and problem-solving skills.</li>
	<li>Expert level knowledge of TCP/IP</li>
	<li>Knowledge and experience in network peering.</li>
	<li>Effective communication and collaboration skills.</li>
	<li>Equivalent experience or Bachelor's degree in Computer Science, Information Technology, or a related field.</li>
	<li>Relevant industry certifications are a plus.</li>
</ul>
<h2 class="mt-2">About OneQode</h2>
<p>OneQode is a global infrastructure-as-a-service company building the foundation for the next generation of connected
	experiences. Our service stack includes:</p>
<ul>
	<li>High-performance cloud platform</li>
	<li>Low-latency international network</li>
	<li>Regional latency-neutral hubs (APAC Central)</li>
	<li>Enterprise-grade cloud databases</li>
	<li>Tailored enterprise solutions</li>
</ul>
<p>OneQode are solving challenges for a variety of industries by building best-in-class infrastructure. We have staff
	worldwide and are a remote team using <a href="https://gather.town" rel="noopener nofollow">Gather.town</a>
	as our virtual office.</p>
<h2 class="mt-2">Benefits</h2>
<ul>
	<li>Be part of a high-performance team solving big problems in a large industry</li>
	<li>Remote (WFH) company with excellent work-life balance</li>
	<li>Competitive salary package</li>
	<li>Significant opportunity for career progression</li>
</ul>
<h2 class="mt-2">Summary/application questions</h2>
<ul>
	<li><strong>Please apply via our form, linked below.</strong></li>
</ul>