---
layout: job.liquid
metaTitle: Support & Documentation Lead • Vacancy • OneQode
metaDescription: We're looking for an experienced technical support specialist to join OneQode — where you’ll help our customers succeed with our platform.
changefreq: never
priority: 0.3
tags: vacancy
jobTitle: Support & Documentation Lead
jobHours: Full Time
jobLocation: Remote
date: 2022-10-28
hrContact: Tassia Blackley
hrLink: "https://forms.clickup.com/f/6jpzc-7622/552ZASTZRQ7N8RKJJN"
---
{% comment %}

	TODO

	- ClickUp form

{% endcomment %}
<p>We're looking for an experienced technical support specialist to join our product team as a Support & Documentation Lead. This is a full-time role with a salary range of $60,000 to $90,000 AUD p.a. (plus super) dependent on experience.</p>
<h2 class="mt-2">About OneQode</h2>
<p>OneQode is an Infrastructure as a Service provider operating a high-performance and latency-optimised network. We’re <a href="/vision-mission-strategy/">on a mission</a> to build the foundation for the next decade of connected experiences, and we’re looking for someone to help our customers succeed with our platform.</p>
<p>We’ve built the product, and we’re now a well-funded challenger scale-up transitioning into our growth and adoption phase, aiming to take significant market share in the cloud infrastructure space.</p>
<h3>Benefits of working for OneQode:</h3>
<ul>
    <li>Work in a highly motivated business solving big problems in a large industry</li>
    <li>Remote (WFH) company with excellent work-life balance</li>
    <li>Direct access to executive staff</li>
    <li>Flexible hours — we are a 24/7 company and allow all our staff to work flexible times</li>
    <li>Career progression — we prefer to promote internally and give team leader opportunities to current employees first</li>
</ul>
<h2 class="mt-2">About the role</h2>
<p>As the founding member of our support team, you’ll be an integral part of the team from day one.</p>
<p>The product you’ll be supporting is our OpenStack-powered <a href="/cloud/">cloud platform</a>. It’s new to the market, and offers customers lightning-fast cloud instances that run applications, games and services faster than anywhere else.</p>
<p>You’ll be the first point of contact for customers when they have issues or feedback, working alongside the engineering team to solve problems. You’ll also write documentation for the product, and share product feedback with the product team so that our offering can continue to improve.</p>
<h2 class="mt-2">What we’re looking for:</h2>
<p>We’ve moved from startup and into our growth phase and now that we’re scaling up, we have a need for a dedicated technical support specialist.</p>
<p>As we’re a scale-up just stepping into the spotlight, there are many avenues for progression in this role. Ideally, you’ll be looking to build a high-performance team around you while working through your day-to-day responsibilities.</p>
<h3>Experience</h3>
<p>The ideal candidate will be experienced in:</p>
<ul>
    <li>Customer support/ticket management</li>
    <li>Preparing technical documentation</li>
    <li>Documenting procedures</li>
    <li>Platforms such as:</li>
    <ul>
        <li>Linux</li>
        <li>Existing cloud platforms e.g. AWS, GCP</li>
        <li>OpenStack (not essential but will be highly regarded)</li>
    </ul>
    <li>Server administration</li>
</ul>
<p>It is essential that the candidate is proactive and able to work independently with minimal supervision. It is also preferable that the candidate has experience working in a start up environment.</p>
<h2 class="mt-2">Responsibilities</h2>
<p>This role will start out as a broad technical support role with the opportunity to transition into a team leader as we scale up. </p>
<p>Responsibilities will include:</p>
<ul>
    <li>Providing technical support to customers</li>
    <li>Managing and responding to support tickets</li>
    <li>Documenting and maintaining support procedures</li>
    <li>Preparing documentation and user guides</li>
</ul>
<h2 class="mt-2">Summary/Application Questions</h2>
<ul>
    <li>Applications must include a cover letter and CV</li>
    <li>Submit a short (1-2 min) video telling us a bit about yourself – we recommend uploading it to cloud storage and then sharing the public link with us. While not essential, this will make your application stand out to our recruiting team.</li>
</ul>