---

layout: page.liquid
metaTitle: OneQode Gaming • Internet Services for Gamers
metaDescription: If you’re serious about gaming, you’ll love the online gaming experience with OneQode. Low ping internet + low latency game servers. By gamers, for gamers.
changefreq: monthly
priority: 0.5
ogImage: oneqode-gamers.jpg
pageSupertitle: OneQode Gaming
pageTitle: Internet services <br class="responsive"><mark>for gamers</mark>
pageSubtitle: Low ping internet + low ping servers

---
		<style>
			.hero {
			background-position: bottom center;
			}
			.no-webp .hero {
				background: url("/img/bg/streaks.jpg") no-repeat bottom center;
				background-size: cover;
			}
			.webp .hero {
				background: url("/img/bg/streaks.webp") no-repeat bottom center;
				background-size: cover;
			}
			.company .box img {
				width: min(10rem, 100%);
				height: 6rem;
				opacity: 0.75;
			}
			.company .box img.hyperion {
				width: min(11rem, 100%);
			}
			.wrapper {
				position: relative;
				padding-bottom: 56.25%; /* 16:9 */
				height: 0;
			}
			.wrapper iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		</style>
		<section class="blue py-2">
			<div class="container">
				<div class="col-md-10 col-md-offset-1 text-center">Gaming products built for speed and latency</div>
			</div>
		</section>
		<section class="black-to-mid text-center mt-8">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h2>More frag, <mark>less lag</mark><mark class="dot">.</mark></h2>
						<p><strong>Serious about gaming?</strong> We’re building a new type of network completely centered around high quality, low latency connectivity.</p>
					</div>
				</div>
				<div class="row company mt-4">
					<div class="col-xs-12 col-sm-6 col-sm-offset-0 col-lg-4 col-lg-offset-2 my-2">
						<a href="/internet/" class="box glowing">
							<img class="opaque mt-1" src="/img/logo.svg" alt="OneQode">
							<h3>Low Latency Internet</h3>
						</a>
					</div>
					<div class="col-xs-12 col-sm-6 col-sm-offset-0 col-lg-4 my-2">
						<a href="https://hyperion-servers.com" target="_blank" rel="noopener" class="box glowing">
							<img class="opaque hyperion mt-1" src="/img/brand/hyperion-servers-logo.svg" alt="Hyperion Servers">
							<h3>Premium Game Servers</h3>
						</a>
					</div>
				</div>
				<div class="row mt-8">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<h2>Our <mark>master plan</mark> for gaming<mark class="dot">:</mark></h2>
						<p>Matt & Ben from OneQode sat down with eSports commentator Elfishguy to share OneQode's master plan for gaming, why <a href="/about/guam/">we're putting servers on Guam</a>, and why it's a big deal for gamers.</p>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-xs-12 col-md-10 col-md-offset-1">
						<div class="wrapper">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/M9DgZu2E2jY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="py-8 mid-to-footer">
			<div class="container">
				<div class="col-md-10 col-md-offset-1 text-center">
					<h2>Better internet,<br class="responsive"> from the ground up<mark class="dot">.</mark></h2>
					<p class="subheading">Building a genuine alternative</p>
					<p>Aussie internet isn’t up to scratch, so we’re building a faster, more reliable alternative.</p>
					<p>We help gamers, businesses, and internet lovers get a quality connection without paying a fortune.</p>
					<p><a href="/about/" class="button mt-2">About Us</a></p>
				</div>
			</div>
		</section>