---

layout: page.liquid
metaTitle: OneQode™ Gaming • Internet Services for Gamers
metaDescription: If you’re serious about gaming, you’ll love the online gaming experience with OneQode. Low ping internet + low latency game servers. By gamers, for gamers.
changefreq: monthly
priority: 0.5
ogImage: oneqode-gamers.jpg
pageSupertitle: OneQode Gaming
pageTitle: Internet services <br class="responsive"><mark>for gamers</mark>
pageSubtitle: Low ping internet + low ping servers

---
		<style>
			.no-webp .hero {
				background: linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/female-pc-gamer-online-gaming.jpg") no-repeat center center;
				background-size: cover;
			}
			.webp .hero {
				background: linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/female-pc-gamer-online-gaming.webp") no-repeat center center;
				background-size: cover;
			}
			.company .box img {
				width: min(10rem, 100%);
				height: 6rem;
				opacity: 0.75;
			}
			.company .box img.hyperion {
				width: min(11rem, 100%);
			}
			.wrapper {
				position: relative;
				padding-bottom: 56.25%; /* 16:9 */
				height: 0;
			}
			.wrapper iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			/* Gaming CTA */
			.box.gaming p.pdf {
				color: #004b66;
			}
			.box.gaming:hover p.pdf {
				color: #00b0f0;
			}
			.company a {
				text-decoration: none;
				color: #999;
				display: block;
			}
		</style>
		<section class="black-to-mid text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h2>More frag, <mark>less lag</mark><mark class="dot">.</mark></h2>
						<p><strong>Serious about gaming?</strong> We’re building a new type of network completely centered around high quality, low latency connectivity.</p>
					</div>
				</div>
				<div class="row company mt-4">
					<div class="col-xs-12 col-sm-6 col-sm-offset-0 col-lg-4 col-lg-offset-2 my-2">
						<a href="/internet/" class="box glowing">
							<img class="opaque mt-1" src="/img/logo.svg" alt="OneQode">
							<h3>Low Latency Internet</h3>
						</a>
					</div>
					<div class="col-xs-12 col-sm-6 col-sm-offset-0 col-lg-4 my-2">
						<a href="https://hyperion-servers.com" target="_blank" rel="noopener" class="box glowing">
							<img class="opaque hyperion mt-1" src="/img/brand/hyperion-servers-logo.svg" alt="Hyperion Servers">
							<h3>Premium Game Servers</h3>
						</a>
					</div>
				</div>
				<div class="row company mt-1">
					<div class="col-xs-12 col-lg-8 col-lg-offset-2 mb-1">
						<a href="/business/game-servers.pdf" target="_blank" title="Game Servers for Gaming &amp; eSports Organisations">
							<div class="box glowing gaming">
								<h3 class="mb-1">Gaming &amp; eSports Industry</h3>
								<h2 class="mb-0">Enterprise game servers<mark class="dot">.</mark></h2>
								<p>Blazing-fast servers for developers, publishers and server providers</p>
								<p class="mt-0 mb-0 pdf">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" id="file" viewBox="0 0 16 16">
										<path fill-rule="evenodd" d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0H4zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z"></path>
									</svg>
									 View PDF
								</p>
							</div>
						</a>
					</div>
				</div>
				<div class="row mt-8">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<h2>Our <mark>master plan</mark> for gaming<mark class="dot">:</mark></h2>
						<p>Matt & Ben from OneQode sat down with eSports commentator Elfishguy to share OneQode's master plan for gaming, why <a href="/about/guam/">we're putting servers on Guam</a>, and why it's a big deal for gamers.</p>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-xs-12 col-md-10 col-md-offset-1">
						<div class="wrapper">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/M9DgZu2E2jY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="py-8 mid-to-footer">
			<div class="container">
				<div class="col-md-10 col-md-offset-1 text-center">
					<h2>Better internet,<br class="responsive"> from the ground up<mark class="dot">.</mark></h2>
					<p class="subheading">Building a genuine alternative</p>
					<p>Aussie internet isn’t up to scratch, so we’re building a faster, more reliable alternative.</p>
					<p>We help gamers, businesses, and internet lovers get a quality connection without paying a fortune.</p>
					<p><a href="/about/" class="button mt-2">About Us</a></p>
				</div>
			</div>
		</section>