---

section: home
metaTitle: OneQode • Lightning-Fast Australian Broadband Internet
metaDescription: The Aussie network of the future, on a mission to bring Australia into the top 10 for internet speeds. Get lightning-fast internet today.
changefreq: monthly
priority: 1
ogImage: oneqode-home.jpg
pageSupertitle: For Home
pageTitle: Lightning-fast internet
pageSubtitle: Australia’s next-gen internet service provider
availabilityChecker: true
availabilityCheckerLink: /internet/#plans

---
{% include _header.liquid %}
	<!-- Page-Specific Styles -->
	<style>
		/* Light Blur */
		.hero {
			background-position: bottom center;
		}
		.no-webp .hero {
			background: url("/img/bg/light-speed-blur.jpg") no-repeat bottom center;
			background-size: cover;
		}
		.webp .hero {
			background: url("/img/bg/light-speed-blur.webp") no-repeat bottom center;
			background-size: cover;
		}
		p.subnav {
			color: #999;
			font-size: 1.1rem;
		}
		.icons img {
			max-width: 35%;
		}
		.icons.features h3 {
			font-size: 1.25rem;
			text-transform: uppercase;
			min-height: 1.5rem;
			margin-top: 2rem;
			margin-bottom: 0;
		}
		.icons.features p {
			font-size: 1rem;
			color: #888;
		}
		@media screen and (max-width: 48em) {
			.icons img {
				max-width: 23%;
			}
		}
		.box.glowing {
			justify-content: flex-start;
		}
		.box.glowing h3 {
			margin-top: 2rem;
		}
		.box.glowing img {
			max-height: 15rem;
			opacity: 0.75;
		}
		.box.glowing p {
			margin: 0;
		}
		/* Stars */
		.star-holder {
			display: none;
		}
		@media screen and (min-width: 48em) {
			section.hero {
				background: radial-gradient(circle at bottom,rgba(0,39,53,0.6) 0,#000 100%) !important;
			}
			.star-holder {
				display: block;
				position: absolute;
				overflow: hidden;
				top: 0;
				left: 0;
				width: 100%;
				z-index: -1;
			}
		}
		/* Hide stars for those who hate motion */
		@media (prefers-reduced-motion) {
			.star-holder {
				display: none;
			}
			.hero {
				background-position: bottom center;
			}
			.no-webp .hero {
				background: url("/img/bg/light-speed-blur.jpg") no-repeat bottom center !important;
				background-size: cover !important;
			}
			.webp .hero {
				background: url("/img/bg/light-speed-blur.webp") no-repeat bottom center !important;
				background-size: cover !important;
			}
		}
	</style>
	<!-- Page Content -->
	<section class="hero full-height">
		<div class="container">
			<div class="row middle-xs text-center">
				<div class="col-xs-12 col-md-10 col-md-offset-1">
					<h1>{{ pageTitle }}<mark class="dot">.</mark></h1>
					<p class="subheading">{{ pageSubtitle }}</p>
					{% include parts/_address-checker-home.liquid %}
					<p class="subnav">Looking for our <a href="/business/">business</a> or <a href="/wholesale/">wholesale</a> services?</p>
				</div>
			</div> 
		</div>
		<div class="star-holder">
			<!--
				Starfield Map Credit:
				https://github.com/Ashikpaul/Starfield-effect

				Copyright (c) 2020 Ashik Paul
				
				MIT License

				Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

				The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

				THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
			-->
			<canvas id="starfield"></canvas>
		</div>
	</section>
	<section class="blue py-2">
		<div class="container">
			<div class="col-md-10 col-md-offset-1 text-center">Rolling out across Australia ◾ Urban, Regional and Rural
			{% comment %}
			<a href="#">See Roadmap<svg width="1rem" height="1rem" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
				</svg>
			</a>
			{% endcomment %}
			</div>
		</div>
	</section>
	<section class="black-to-footer pt-8 pb-4">
		<div class="container text-center">
			<div class="col-md-10 col-md-offset-1 text-center">
				<h2>Better internet,<br class="responsive"> from the ground up<mark class="dot">.</mark></h2>
				<p class="subheading">A genuine alternative</p>
				<p>Aussie internet wasn’t up to scratch, so we built a faster, more reliable alternative.</p>
				<p>We help gamers, <a href="/business/" title="Go to OneQode for Business">businesses</a>, and internet lovers get a quality connection without paying a fortune.</p>
				<p><a href="/about/" class="button mt-2">About Us</a></p>
			</div>
			<div class="row icons features mt-8">
				<div class="col-sm-6 col-md-4 p-2">
					<picture>
						<source srcset="/img/ico/unlimited-data.webp" type="image/webp">
						<img class="opaque" src="/img/ico/unlimited-data.png" alt="Infinity symbol representing unlimited data">
					</picture>
					<h3>Unlimited data</h3>
					<p>All our fixed plans come with no data restrictions. We won’t cap your use, limit downloads or shape speeds (unless you’re really pushing boundaries).</p>
				</div>
				<div class="col-sm-6 col-md-4 p-2">
					<picture>
						<source srcset="/img/ico/no-throttling.webp" type="image/webp">
						<img class="opaque" src="/img/ico/no-throttling.png" alt="Speed gauge representing no speed caps">
					</picture>
					<h3>Snappy speeds</h3>
					<p>Unlike other networks, we don’t over-subscribe connections as we grow. This means things stay fast for you even as more people sign up.</p>
				</div>
				<div class="col-sm-6 col-md-4 p-2">
					<picture>
						<source srcset="/img/ico/easy-to-switch.webp" type="image/webp">
						<img class="opaque" src="/img/ico/easy-to-switch.png" alt="Switch with arrow above">
					</picture>
					<h3>Easy to switch</h3>
					<p>Decisions made a long time ago shouldn’t stop you choosing something better. Let us know if you’re locked into a plan and we’ll help you cut the ties.</p>
				</div>
				<div class="col-sm-6 col-md-4 col-md-offset-2 p-2">
					<picture>
						<source srcset="/img/ico/customer-support.webp" type="image/webp">
						<img class="opaque" src="/img/ico/customer-support.png" alt="Winner badge">
					</picture>
					<h3>You’re our top priority</h3>
					<p>Our network spawned from being fed up with the status quo, so we know what it’s like to feel underserved. That’s why you will always be our number one priority.</p>
				</div>
				<div class="col-sm-6 col-md-4 p-2">
					<picture>
						<source srcset="/img/ico/australian-owned-and-operated.webp" type="image/webp">
						<img class="opaque" src="/img/ico/australian-owned-and-operated.png" alt="Australia map outline">
					</picture>
					<h3>Homegrown and local</h3>
					<p>OneQode is built by Aussies, for Aussies. Everyone involved understands what makes us tick, so when you need a hand, we’ll be with you all the way.</p>
				</div>
			</div>
			<div class="row mt-8">
				<div class="col-xs"><h2>How it works<mark class="dot">:</mark></h2></div>
			</div>
			<div class="row icons">
				<div class="col-sm-4 p-2">
					<picture>
						<source srcset="/img/ico/sign-up.webp" type="image/webp">
						<img class="opaque" src="/img/ico/sign-up.png" alt="Clicking on a sign-up button">
					</picture>
					<p>You sign up to get <strong>connected</strong></p>
				</div>
				<div class="col-sm-4 p-2">
					<picture>
						<source srcset="/img/ico/beacon-installation.webp" type="image/webp">
						<img class="opaque" src="/img/ico/beacon-installation.png" alt="Home internet Wi-Fi router">
					</picture>
					<p>We install a <strong>beacon</strong> at your location</p>
				</div>
				<div class="col-sm-4 p-2">
					<picture>
						<source srcset="/img/ico/fast-internet.webp" type="image/webp">
						<img class="opaque" src="/img/ico/fast-internet.png" alt="Computer with a rocket launching from the screen">
					</picture>
					<p>You will enjoy <strong>blazing-fast</strong> internet</p>
				</div>
			</div>
		</div>
	</section>
	{% comment %}
	<section class="mid-to-footer text-center py-8">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2>How you can <mark>connect</mark><mark class="dot">:</mark></h2>
					<p>Our network comes in two forms. If you’re in range of our fixed network, we’ll make sure you get on that. If not, you can still come onboard our Australia-wide 4G mobile broadband network.</p>
				</div>
			</div>
			<div class="row icons mt-4">
				<div class="col-xs-12 col-md-5 col-md-offset-1 my-1">
					<a href="/internet/" class="box glowing">
						<picture>
							<source srcset="/img/ico/fixed-home-internet.webp" type="image/webp">
							<img class="opaque mt-1" src="/img/ico/fixed-home-internet.png" alt="Illustration of a home">
						</picture>
						<h3>Fixed Internet</h3>
						<p>Superfast broadband direct to your home</p>
					</a>
				</div>
				<div class="col-xs-12 col-md-5 my-1">
					<a href="/mobile-broadband" class="box glowing">
						<picture>
							<source srcset="/img/ico/4g-mobile-broadband-tower.webp" type="image/webp">
							<img class="opaque mt-1" src="/img/ico/4g-mobile-broadband-tower.png" alt="Mobile telecommunications tower">
						</picture>
						<h3>Mobile Broadband</h3>
						<p>Wireless internet to a 4G modem</p>
					</a>
				</div>
			</div>
		</div>
	</section>
	{% endcomment %}
<script>
	// Only run on desktop
	if (window.matchMedia( "(min-width: 48em)" )) {
		const canvas = document.getElementById('starfield');
		const c = canvas.getContext('2d');
		canvas.width = window.innerWidth; //screen width
		canvas.height = window.outerHeight; //screen height inc download bar

		class Star {
			constructor() {
				//initializing
				this.x = Math.random() * canvas.width - canvas.width / 2; //random x
				this.y = Math.random() * canvas.height - canvas.height / 2; //random y
				this.px, this.py;
				this.z = Math.random() * 4; //random z    
			}

			update() {
				//stores previous x, y and z and generates new coordinates    
				this.px = this.x;
				this.py = this.y;
				this.z += speed;
				this.x += this.x * (speed * 0.2) * this.z;
				this.y += this.y * (speed * 0.2) * this.z;
				if (this.x > canvas.width / 2 + 50 || this.x < -canvas.width / 2 - 50 || this.y > canvas.height / 2 + 50 || this.y < -canvas.height / 2 - 50) {
					this.x = Math.random() * canvas.width - canvas.width / 2;
					this.y = Math.random() * canvas.height - canvas.height / 2;
					this.px = this.x;
					this.py = this.y;
					this.z = 0;
				}
			}

			//draws line from x,y to px,py
			show() {
				c.lineWidth = this.z;
				c.beginPath();
				c.moveTo(this.x, this.y);
				c.lineTo(this.px, this.py);
				c.stroke();
			}
		}

		let speed = 0.04;
		let stars = [];

		//create 1500 stars (objects)
		for (let i = 0; i < 1500; i++) stars.push(new Star());

		c.fillStyle = 'rgba(0, 0, 0, 0.1)';
		c.strokeStyle = 'rgb(0, 39, 53)';

		c.translate(canvas.width / 2, canvas.height / 2);

		function draw() {
			//create rectangle
			c.fillRect(-canvas.width / 2, -canvas.height / 2, canvas.width, canvas.height);
			for (let s of stars) {
				s.update();
				s.show();
			}
			//infinte call to draw
			requestAnimationFrame(draw);
		}

		draw();
	}
</script>
{% include _footer.liquid %}