---
metaTitle: OneQode • Low Latency Digital Infrastructure
metaDescription: Asia-Pacific’s low latency cloud and infrastructure provider. Built for gaming and real-time applications.
changefreq: monthly
priority: 1
ogImage: oneqode-homepage.jpg
pageSupertitle: The performance cloud
pageTitle: Low latency digital infrastructure
slider: true
---
{% include _header.liquid %}
		<!-- Page-Specific Styles -->
		<style>
			/* Hero */
			section.hero {
				background: none;
				padding-top: 6rem !important;
				min-height: 75vh;
			}
			/* Stars BG */
			.stars,
			.stars2 {
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: -5;
			}
			.no-webp .stars,
			.no-webp .stars2 {
				background: url("/img/bg/stars-background.jpg") repeat;
				background-size: cover;
			}
			.webp .stars,
			.webp .stars2 {
				background: url("/img/bg/stars-background.webp") repeat;
				background-size: cover;
			}
			.stars {
				animation: stars 120s linear infinite;
			}
			.stars2 {
				animation: stars2 120s linear infinite;
			}
			@keyframes stars {
				from {
					background-position: 0 -200px;
				}
				to {
					background-position: -1920px 0; /* Performance note - apparently TranslateY is better */
				}
			}
			@keyframes stars2 {
				from {
					background-position: 1920px -400px;
				}
				to {
					background-position: 0 0; /* Performance note - apparently TranslateY is better */
				}
			}
			.stars2:after {
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: -4;
				content: "";
				background:  linear-gradient(to bottom, transparent 70%, #000 100%);
			}
			/* Globe */
			#globe {
				margin-top: -16rem;
			}
			@media (max-width: 64em) {
				#globe {
					margin-top: -10rem;
				}
			}
			/* Swiper */
			:root {
				--swiper-theme-color: #00b0f0;
				--swiper-pagination-bullet-inactive-color: #999;
			}
			.swiper {
				width: 100%;
				height: 100%;
				padding-top: 1rem;
				padding-bottom: 1rem;
			}
			.swiper-slide {
				text-align: center;
				transition: opacity 0.1s;
				background: #17181C;
				border-radius: 15px;
				padding: 4rem;
				height: auto;
			}
			.swiper-slide:not(.swiper-slide-active) {
				opacity: 0.4;
			}
			@media screen and (max-width: 64em) {
				.swiper-slide {
					padding: 2rem 1rem;
				}
			}
			/* Icons */
			.icon.latency {
				mask: url(/img/ico/lightning.svg) no-repeat center;
				-webkit-mask: url(/img/ico/lightning.svg) no-repeat center;
			}
			.icon.cpu {
				mask: url(/img/ico/cpu2.svg) no-repeat center;
				-webkit-mask: url(/img/ico/cpu2.svg) no-repeat center;
			}
			.icon.reach {
				mask: url(/img/ico/nodes.svg) no-repeat center;
				-webkit-mask: url(/img/ico/nodes.svg) no-repeat center;
			}
			.icon.shield {
				mask: url(/img/ico/ddos.svg) no-repeat center;
				-webkit-mask: url(/img/ico/ddos.svg) no-repeat center;
			}
			/* Case Studies */
			#case-studies .swiper-slide {
				text-align: left;
				height: auto;
				display: flex;
				flex-direction: column;
				border: 1px solid #333;
			}
			#case-studies .col-xs-12.col-md-8 {
				flex-shrink: 1;
			}
			#case-studies .swiper-slide .mt-a {
				flex-basis: auto;
			}
			#case-studies .swiper-slide img {
				margin-left: 0;
				max-width: 12rem;
			}
			#case-studies .swiper-slide img.size-lg {
				max-width: 10rem;
			}
			#case-studies .swiper-slide img.size-xl {
				max-width: 8rem;
			}
			.webp .cs-oceanic {
				background:	linear-gradient(to right, #000 0%, rgba(0,0,0,0.5) 100%),
							url(/img/bg/case-study-oceanic-esports.webp) center;
				background-size: cover;
			}
			.no-webp .cs-oceanic {
				background:	linear-gradient(to right, #000 0%, rgba(0,0,0,0.5) 100%),
							url(/img/bg/case-study-oceanic-esports.jpg) center;
				background-size: cover;
			}
			.webp .cs-prosimcentre {
				background:	linear-gradient(to right, #000 0%, rgba(0,0,0,0.5) 100%),
							url(/img/bg/case-study-prosimcentre.webp) center;
				background-size: cover;
			}
			.no-webp .cs-prosimcentre {
				background:	linear-gradient(to right, #000 0%, rgba(0,0,0,0.5) 100%),
							url(/img/bg/case-study-prosimcentre.jpg) center;
				background-size: cover;
			}
			.webp .cs-quakecon {
				background:	linear-gradient(to right, #000 0%, rgba(0,0,0,0.5) 100%),
							url(/img/bg/case-study-quakecon.webp) center;
				background-size: cover;
			}
			.no-webp .cs-quakecon {
				background:	linear-gradient(to right, #000 0%, rgba(0,0,0,0.5) 100%),
							url(/img/bg/case-study-quakecon.jpg) center;
				background-size: cover;
			}
			.webp .cs-wtfast {
				background:	linear-gradient(to right, #000 0%, rgba(0,0,0,0.5) 100%),
							url(/img/bg/case-study-wtfast.webp) center;
				background-size: cover;
			}
			.no-webp .cs-wtfast {
				background:	linear-gradient(to right, #000 0%, rgba(0,0,0,0.5) 100%),
							url(/img/bg/case-study-wtfast.jpg) center;
				background-size: cover;
			}
			.webp .cs-pacifices {
				background:	linear-gradient(to right, #000 0%, rgba(0,0,0,0.3) 100%),
							url(/img/bg/case-study-pacifices.webp) center;
				background-size: cover;
			}
			.no-webp .cs-pacifices {
				background:	linear-gradient(to right, #000 0%, rgba(0,0,0,0.3) 100%),
							url(/img/bg/case-study-pacifices.jpg) center;
				background-size: cover;
			}
		</style>
		<section class="hero">
			<div class="container push-forward">
				<div class="row middle-xs">
					<div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
						<p class="superheading">{{ pageSupertitle }}</p>
						<h1 class="mb-1">{{ pageTitle }}<mark class="dot">.</mark></h1>
						<p class="subheading">Maximum performance, minimal lag</p>
						<p class="mt-4 m-1"><a href="/cloud/" class="button">Our Cloud</a> <a href="/contact/" class="chevron m-1 ml-2">Contact us</a></p>
					</div>
				</div> 
			</div>
			<div class="stars"></div>
		</section>
		<section id="globe">
			{% include parts/_globe.liquid %}
			<div class="stars2"></div>
		</section>
		<section id="overview">
			<div class="container mobile-text-center py-0">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-4 p-2 my-1">
						<h3 class="mb-0">Cloud platform</h3>
						<p class="faded">Blazing-fast cloud instances built for real-time performance</p>
						<a href="/cloud/" class="button ghost mt-a">Cloud</a>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 p-2 my-1">
						<h3 class="mb-0">Dedicated servers</h3>
						<p class="faded">Custom hardware builds, tailored to your exact requirements</p>
						<a href="/dedicated-servers/" class="button ghost mt-a">Servers</a>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 p-2 my-1">
						<h3 class="mb-0">Carrier network</h3>
						<p class="faded">Latency-optimized network built for gaming and real-time applications</p>
						<a href="/network/" class="button ghost mt-a">Network</a>
					</div>
				</div>
			</div>
		</section>
		<section id="customers" class="py-8">
			<div class="container text-center">
				<div class="row">
					<div class="col-xs-12">
						<figcaption>Trusted by brands that put performance first</figcaption>
					</div>
				</div>
				<div class="row place-content-center mt-2 logo-flex">
					<div class="col-xs-4 col-sm-3 col-md-2">
						<img src="/img/customers/esl.svg" alt="ESL" class="w70">
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2">
						<img src="/img/partners/oracle.svg" alt="Oracle" class="w80">
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2">
						<img src="/img/customers/wtfast.svg" alt="WTFast" class="w70">
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2">
						<img src="/img/customers/faceit.svg" alt="FACEIT" class="w80">
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2">
						<img src="/img/partners/pldt.svg" alt="PLDT" class="w70">
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2">
						<img src="/img/partners/letsplaylive.svg" alt="LetsPlay.Live" class="w80">
					</div>
				</div>
			</div>
		</section>
		<section id="benefits" class="text-center">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-10 col-sm-offset-1">
						<h2 class="mb-1">Reach users<br class="responsive"> in milliseconds<mark class="dot">.</mark></h2>
						<p class="subheading faded">Deliver performance-sensitive<br class="responsive"> apps at lightning speed</p>
					</div>
				</div>
			</div>
			<div class="swiper benefits my-2">
				<div class="swiper-wrapper">
					<!-- Start Slide -->
					<div class="swiper-slide col-xs-10 col-md-8 col-lg-6">
						<div class="icon latency"></div>
						<h2 class="mt-2 mb-1">Less lag</h2>
						<p class="subheading faded">With the network built for real-time</p>
						<div class="col-xs-12 col-md-8 col-md-offset-2">
							<p class="mt-1">Experience smooth and responsive performance with a network built specifically for gaming & real-time applications.</p>
						</div>
						<p class="mt-1"><a href="/network/" class="chevron m-1">Our network</a></p>
					</div>
					<!-- End Slide -->
					<!-- Start Slide -->
					<div class="swiper-slide col-xs-10 col-md-8 col-lg-6">
						<div class="icon cpu"></div>
						<h2 class="mt-2 mb-1">More power</h2>
						<p class="subheading faded">From the world’s fastest CPUs</p>
						<div class="col-xs-12 col-md-8 col-md-offset-2">
							<p class="mt-1">Unleash the full potential of your services and applications, powered by the fastest CPUs on the market.</p>
						</div>
						<p class="mt-1"><a href="/cloud/" class="chevron m-1">Cloud platform</a> <br class="mobile-only"><a href="/dedicated-servers/" class="chevron m-1">Dedicated servers</a></p>
					</div>
					<!-- End Slide -->
					<!-- Start Slide -->
					<div class="swiper-slide col-xs-10 col-md-8 col-lg-6">
						<div class="icon reach"></div>
						<h2 class="mt-2 mb-1">Further reach</h2>
						<p class="subheading faded">Connect more users via our central hubs</p>
						<div class="col-xs-12 col-md-8 col-md-offset-2">
							<p class="mt-1">Expand your audience and improve performance with our APAC Central hub located in Guam. You’ll reach billions of users at low latency.</p>
						</div>
						<p class="mt-1"><a href="/locations/guam/" class="chevron m-1">APAC Central</a></p>
					</div>
					<!-- End Slide -->
					<!-- Start Slide -->
					<div class="swiper-slide col-xs-10 col-md-8 col-lg-6">
						<div class="icon shield"></div>
						<h2 class="mt-2 mb-1">DDoS protected</h2>
						<p class="subheading faded">Stay online without compromising performance</p>
						<div class="col-xs-12 col-md-8 col-md-offset-2">
							<p class="mt-1">Always perform at your best with included DDoS protection. We automatically block malicious traffic without interruption or degradation.</p>
						</div>
						<p class="mt-1"><a href="/network/#ddos-protection" class="chevron m-1">DDoS mitigation</a></p>
					</div>
					<!-- End Slide -->
				</div>
				<div class="container">
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</section>
		<section class="py-8" id="solutions">
			<div class="container">
				<div class="row text-center">
					<div class="col-xs-12 col-md-8 col-md-offset-2 mb-0">
						<h2 class="mb-1">Solutions by industry<mark class="dot">.</mark></h2>
						<p class="subheading faded">Solving challenges for performance-thirsty organisations.</p>
					</div>
				</div>
				<div class="row mt-4">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<div class="row">
							<div class="col-xs-6 mb-1">
								<a href="/for/game-industry/" class="box left">
									<h3 class="mb-1">Game developers</h3>
									<p class="faded my-0">Deliver bigger, more immersive games to users across the Asia-Pacific</p>
								</a>
							</div>
							<div class="col-xs-6 mb-1">
								<a href="/for/business-enterprise/" class="box left">
									<h3 class="mb-1">Business & enterprise</h3>
									<p class="faded my-0">Enhance your global connectivity and get more performance from your IT spend</p>
								</a>
							</div>
							<div class="col-xs-6 mb-1">
								<a href="/for/esports/" class="box left">
									<h3 class="mb-1">Esports</h3>
									<p class="faded my-0">Unlock truly cross-regional events with game servers in Asia-Pacific’s central gaming hub</p>
								</a>
							</div>
							<div class="col-xs-6 mb-1">
								<a href="/for/telco-carrier/" class="box left">
									<h3 class="mb-1">Telco & carrier</h3>
									<p class="faded my-0">Expand your reach and deliver enhanced real-time performance with our low latency solutions</p>
								</a>
							</div>
						</div>
					</div>
					{%- comment %}
					<div class="col-xs-6 col-sm-6 col-md-4 mb-1">
						<a href="#" class="box left">
							<h3 class="mb-1">App developers</h3>
							<p class="faded my-0">Host lightning-fast apps and serve them instantly to users in three continents</p>
						</a>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-4 mb-1">
						<a href="#" class="box left">
							<h3 class="mb-1">Web hosts</h3>
							<p class="faded my-0">Reach more users across the Asia-Pacific and fit more customers on every server</p>
						</a>
					</div>
					{%- endcomment %}
				</div>
			</div>
		</section>
		<section class="pb-8" id="case-studies">
			<div class="container">
				<div class="row text-center">
					<div class="col-xs-12 col-md-8 col-md-offset-2 mb-0">
						<h2 class="mb-1">OneQode in action<mark class="dot">.</mark></h2>
						<p class="subheading faded">Serving incredible experiences across 3 continents</p>
					</div>
				</div>
			</div>
			<div class="swiper case-studies my-2">
				<div class="swiper-wrapper">
					<div class="swiper-slide col-xs-10 col-md-8 col-lg-6 cs-oceanic">
						<div class="col-xs-12 col-md-8">
							<h3 class="mb-0">Powering a groundbreaking CS:GO tournament</h3>
							<p><strong>OneQode’s gaming infrastructure fuelled a world first event for Oceanic Esports</strong></p>
							<p>OneQode facilitated the first cross-regional, Asia-Pacific online CS:GO tournament.</p>
							<p class="mt-2 mb-4"><a href="/case-study/guam-csgo/" class="chevron">Case Study</a></p>
						</div>
						<div class="col-xs-12 col-md-8 mt-a">
							<img src="/img/customers/oceanic-esports.png" alt="Oceanic Esports Logo" class="size-xl">
						</div>
					</div>
					<div class="swiper-slide col-xs-10 col-md-8 col-lg-6 cs-prosimcentre">
						<div class="col-xs-12 col-md-8">
							<h3 class="mb-0">Unleashing immersive sim racing experiences</h3>
							<p><strong>APAC Central unlocked inter-continental Asseto Corsa races for Prosimcentre</strong></p>
							<p>Our infrastructure united the competitive racing community in 3 continents.</p>
						</div>
						<div class="col-xs-12 col-md-8 mt-a">
							<img src="/img/customers/prosimcentre.png" alt="PROSIMCENTRE Logo">
						</div>
					</div>
					<div class="swiper-slide col-xs-10 col-md-8 col-lg-6 cs-pacifices">
						<div class="col-xs-12 col-md-8">
							<h3 class="mb-0">Delivering peak performance game servers</h3>
							<p><strong>OneQode host elite game server hardware for PacificES, our first acquisition</strong></p>
							<p>Top-tier esports professionals in Asia-Pacific rely on PacificES servers for their competitive infrastructure.</p>
						</div>
						<div class="col-xs-12 col-md-8 mt-a">
							<img src="/img/customers/pacifices.svg" alt="PacificES Logo">
						</div>
					</div>
					<div class="swiper-slide col-xs-10 col-md-8 col-lg-6 cs-quakecon">
						<div class="col-xs-12 col-md-8">
							<h3 class="mb-0">Hosting the Quakeworld Grand Final</h3>
							<p><strong>OneQode served a nail-biting 1v1 final between Australia and the US</strong></p>
							<p>When a traditionally-offline event had to go online-only, APAC Central brought the world closer together.</p>
						</div>
						<div class="col-xs-12 col-md-8 mt-a">
							<img src="/img/customers/quakecon.png" alt="Quakecon Logo">
						</div>
					</div>
					<div class="swiper-slide col-xs-10 col-md-8 col-lg-6 cs-wtfast">
						<div class="col-xs-12 col-md-8">
							<h3 class="mb-0">Delivering low-latency gaming routes</h3>
							<p><strong>OneQode’s network provides low latency connectivity for WTFast in Asia-Pacific</strong></p>
							<p>Gamers across the region use their optimizer to reduce ping and get a better gaming experience.</p>
						</div>
						<div class="col-xs-12 col-md-8 mt-a">
							<img src="/img/customers/wtfast.svg" alt="WTFast Logo" class="size-lg">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</section>
		<section class="black-to-footer pb-8">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
						<h2>The future is here<mark class="dot">.</mark> <br>Let’s build together<mark class="dot">.</mark></h2>
						<p class="subheading faded">Changing the world? We should talk</p>
						<p><a href="/contact/" class="button ghost m-1 mt-2">Contact us</a></p>
					</div>
				</div>
			</div>
		</section>
		<script>
			/**
			* Swiper — https://swiperjs.com/
			* A modern touch slider
			* Used under MIT license 🎓
			*/
			var swiper = new Swiper(".benefits", {
				effect: "coverflow",
				grabCursor: true,
				slidesPerView: "auto",
				centeredSlides: true,
				centeredSlidesBounds: true,
				coverflowEffect: {
					rotate: 1,
					stretch: -50,
					depth: 0,
					modifier: 0.9,
					slideShadows: true,
				},
				loop: true,
				pagination: {
					el: ".swiper-pagination",
					clickable: true,
				},
				keyboard: {
					enabled: true,
				},
				touchEventsTarget: 'container',
			});
			var swiper = new Swiper(".case-studies", {
				effect: "coverflow",
				grabCursor: true,
				slidesPerView: "auto",
				centeredSlides: true,
				centeredSlidesBounds: true,
				coverflowEffect: {
					rotate: 1,
					stretch: -50,
					depth: 0,
					modifier: 0.9,
					slideShadows: true,
				},
				loop: true,
				pagination: {
					el: ".swiper-pagination",
					clickable: true,
				},
				keyboard: {
					enabled: true,
				},
				touchEventsTarget: 'container',
			});
		</script>
{% include _footer.liquid %}