---
metaTitle: OneQode • High-Performance Cloud & Network
metaDescription: Asia-Pacific’s low latency infrastructure provider offering high-performance cloud over a network designed for gaming and performance-sensitive applications.
changefreq: monthly
priority: 1
ogImage: oneqode-homepage.jpg
pageSupertitle: Infrastructure as a Service
pageTitle: The performance cloud
fittext: true
slider: true
---
{% include _header.liquid %}
		<!-- Page-Specific Styles -->
		<style>
			/* Hero */
			section.hero {
				background: none;
				padding-top: 6rem !important;
				min-height: 75vh;
			}
			/* Stars BG */
			.stars,
			.stars2 {
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: -5;
			}
			.no-webp .stars,
			.no-webp .stars2 {
				background: url("/img/bg/stars-background.jpg") repeat;
				background-size: cover;
			}
			.webp .stars,
			.webp .stars2 {
				background: url("/img/bg/stars-background.webp") repeat;
				background-size: cover;
			}
			.stars {
				animation: stars 120s linear infinite;
			}
			.stars2 {
				animation: stars2 120s linear infinite;
			}
			@keyframes stars {
				from {
					background-position: 0 -200px;
				}
				to {
					background-position: -1920px 0; /* Performance note - apparently TranslateY is better */
				}
			}
			@keyframes stars2 {
				from {
					background-position: 1920px -400px;
				}
				to {
					background-position: 0 0; /* Performance note - apparently TranslateY is better */
				}
			}
			.stars2:after {
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: -4;
				content: "";
				background:  linear-gradient(to bottom, transparent 70%, #000 100%);
			}
			/* Globe */
			.globe {
				margin-top: -16rem;
			}
			.globe .container {
				position: relative;
				display: block;
				width: 100%;
				padding: 0;
			}
			.cloud-locations {
				z-index: 1;
				position: absolute;
				width: 100%;
				height: 100%;
			}
				/*
					Pulses
					Credit to Florin Pop - https://www.florin-pop.com/blog/2019/03/css-pulse-effect/
				*/
			.pulse {
				border-radius: 50%;
				height: 0.7rem;
				width: 0.7rem;
				background: rgba(0, 176, 240, 1);
				box-shadow: 0 0 0 0 rgba(0, 176, 240, 1);
				animation: pulse 2s infinite;
				display: inline-block;
				position: absolute;
			}
			@keyframes pulse {
				0% {
					transform:
						scale(0.95)
						translate(-50%, -50%);
					box-shadow: 0 0 0 0 rgba(0, 176, 240, 0.7);
				}
				70% {
					transform:
						scale(1)
						translate(-50%, -50%);
					box-shadow: 0 0 0 10px rgba(0, 176, 240, 0);
				}
				
				100% {
					transform:
						scale(0.95)
						translate(-50%, -50%);
					box-shadow: 0 0 0 0 rgba(0, 176, 240, 0);
				}
			}
			.pulse.singapore {
				left: 34.7%;
				top: 52%;
			}
			.pulse.hong-kong {
				left: 43.5%;
				top: 45%;
			}
			.pulse.guam {
				left: 59.3%;
				top: 53.7%;
			}
			.pulse.tokyo {
				left: 58.7%;
				top: 42.7%;
			}
			.globe-locations .label {
				position: absolute;
				text-align: center;
				font-family: Poppins, sans-serif;
				font-weight: 600;
				white-space: nowrap;
				text-shadow: 1px 1px 1px #000000;
			}
			.globe-locations .label.cloud {
				z-index: 2;
				color: #fff;
			}
			.globe-locations .label:not(.cloud) {
				z-index: 1;
				color: #9baab5;
				font-size: 60%;
			}
			.globe-locations .label span {
				position: absolute;
				transform: translateX(-50%);
			}
			.label.guam 		{	left: 59.3%;	top: 49.7%;	}
			.label.singapore 	{	left: 34.7%;	top: 48%;	}
			.label.hong-kong 	{	left: 43.5%;	top: 41%;	}
			.label.tokyo 		{	left: 58.7%;	top: 38.7%;	}
			.label.sydney 		{	left: 56.7%;	top: 75.4%;	}
			.label.melbourne	{	left: 47.8%;	top: 75.9%;	}
			.label.brisbane		{	left: 59.9%;	top: 72.2%;	}
			.label.los-angeles	{	left: 87.4%;	top: 42.6%;	}
			.label.seattle		{	left: 86.5%;	top: 37.5%;	}
			.label.vancouver	{	left: 85.6%;	top: 35.4%;	}
			.label.chennai		{	left: 26.6%;	top: 40.1%;	}
			.label.muscat		{	left: 19.6%;	top: 32.5%;	}
			.label.hawaii		{	left: 77.9%;	top: 49.5%;	}
			.label.vladivostok	{	left: 50.9%;	top: 34.2%;	}
			.label.seoul		{	left: 48.5%;	top: 39.3%;	}
			.label.manila		{	left: 41.4%;	top: 48.9%;	}
			.label.davao		{	left: 46.2%;	top: 54.1%;	}
			.label.jakarta		{	left: 29.0%;	top: 55.4%;	}
			.label.surabaya		{	left: 34.0%;	top: 59.0%;	}
			.label.darwin		{	left: 45.5%;	top: 64.6%;	}
			.label.perth		{	left: 32.0%;	top: 68.8%;	}
			.globe svg {
				position: absolute;
				z-index: 0;
				width: 100%;
			}
			.globe svg path {
				fill: none;
				stroke: #27ade4;
				stroke-width: 1;
				stroke-linecap: round;
				stroke-miterlimit: 10;
				stroke-dasharray: 6;
				stroke-dashoffset: 216;
				animation: globelines 2s linear infinite;
			}
			@keyframes globelines {
				100% {
					stroke-dashoffset: 0;
				}
			}
			.globe img {
				mix-blend-mode: lighten;
			}
			.globe picture {
				position: relative;
			}
			/* This stops the globe having stars on top (because of its mix blend mode) */
			.globe picture:after {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 72.5%;
				height: 72.5%;
				border-radius: 50%;
				content: " ";
				background: #000;
				z-index: -1;
			}
			/* Mobile Globe Overrides */
			@media (max-width: 64em) {
				.globe-locations .label span {
					transform: translateX(-50%) translateY(-50%);
				}
				.globe-locations .label:not(.cloud) {
					font-size: 46%;
				}
				span.pulse {
					height: 0.5rem;
					width: 0.5rem;
				}
				.globe {
					margin-top: -10rem;
				}
				.globe svg path {
					/*stroke-width: 4;
					stroke-dasharray: 20;
					stroke-dashoffset: 400;*/
					stroke-width: 2;
					stroke-dasharray: 15;
					stroke-dashoffset: 390;
				}
			}
			/* Overriding default logo-grid styling */
			.logo-grid > div::before {
				padding-bottom: 60%;
			}
			.logo-grid > div img {
				opacity: 0.5;
			}
			.logo-grid > div:hover img {
				opacity: 0.5;
			}
			.logo-grid {
				grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
			}
			@media (min-width: 48em) {
				.logo-grid {
					grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
					grid-gap: 1rem;
				}
			}
			@media (max-width: 340px) {
				.logo-grid {
					grid-template-columns:  repeat(auto-fit,minmax(110px,1fr));
					grid-gap: 0.2rem;
				}
			}
			/* Swiper */
			:root {
				--swiper-theme-color: #00b0f0;
				--swiper-pagination-bullet-inactive-color: #999;
			}
			.swiper {
				width: 100%;
				height: 100%;
				padding-top: 1rem;
				padding-bottom: 1rem;
			}
			.swiper-slide {
				text-align: center;
				transition: opacity 0.2s;
				background: #17181C;
				border-radius: 15px;
				padding: 4rem;
				height: auto;
			}
			.swiper-slide:not(.swiper-slide-active) {
				opacity: 0.4;
			}
			@media screen and (max-width: 64em) {
				.swiper-slide {
					padding: 2rem 1rem;
				}
			}
			/* Icons */
			.icon.latency {
				mask: url(/img/ico/lightning.svg) no-repeat center;
				-webkit-mask: url(/img/ico/lightning.svg) no-repeat center;
			}
			.icon.cpu {
				mask: url(/img/ico/cpu2.svg) no-repeat center;
				-webkit-mask: url(/img/ico/cpu2.svg) no-repeat center;
			}
			.icon.reach {
				mask: url(/img/ico/nodes.svg) no-repeat center;
				-webkit-mask: url(/img/ico/nodes.svg) no-repeat center;
			}
			.icon.shield {
				mask: url(/img/ico/ddos.svg) no-repeat center;
				-webkit-mask: url(/img/ico/ddos.svg) no-repeat center;
			}
			#solutions .box.glowing {
				text-align: left;
				align-items: flex-start;
				justify-content: flex-start;
				padding: 2rem;
				box-sizing: border-box;
			}
			/* Mobile Globe Overrides */
			@media (max-width: 64em) {
				#solutions .box.glowing {
					padding: 1rem;
				}
			}
			/* Case Studies */
			#case-studies .swiper-slide {
				text-align: left;
				height: auto;
				display: flex;
				flex-direction: column;
				border: 1px solid #333;
			}
			#case-studies .col-xs-12.col-md-8 {
				flex-shrink: 1;
			}
			#case-studies .swiper-slide .mt-a {
				flex-basis: auto;
			}
			#case-studies .swiper-slide img {
				margin-left: 0;
				max-width: 12rem;
			}
			#case-studies .swiper-slide img.size-lg {
				max-width: 10rem;
			}
			#case-studies .swiper-slide img.size-xl {
				max-width: 8rem;
			}
			.webp .cs-oceanic {
				background:	linear-gradient(to right, #000 0%, rgba(0,0,0,0.5) 100%),
							url(/img/bg/case-study-oceanic-esports.webp) center;
				background-size: cover;
			}
			.no-webp .cs-oceanic {
				background:	linear-gradient(to right, #000 0%, rgba(0,0,0,0.5) 100%),
							url(/img/bg/case-study-oceanic-esports.jpg) center;
				background-size: cover;
			}
			.webp .cs-prosimcentre {
				background:	linear-gradient(to right, #000 0%, rgba(0,0,0,0.5) 100%),
							url(/img/bg/case-study-prosimcentre.webp) center;
				background-size: cover;
			}
			.no-webp .cs-prosimcentre {
				background:	linear-gradient(to right, #000 0%, rgba(0,0,0,0.5) 100%),
							url(/img/bg/case-study-prosimcentre.jpg) center;
				background-size: cover;
			}
			.webp .cs-quakecon {
				background:	linear-gradient(to right, #000 0%, rgba(0,0,0,0.5) 100%),
							url(/img/bg/case-study-quakecon.webp) center;
				background-size: cover;
			}
			.no-webp .cs-quakecon {
				background:	linear-gradient(to right, #000 0%, rgba(0,0,0,0.5) 100%),
							url(/img/bg/case-study-quakecon.jpg) center;
				background-size: cover;
			}
			.webp .cs-wtfast {
				background:	linear-gradient(to right, #000 0%, rgba(0,0,0,0.5) 100%),
							url(/img/bg/case-study-wtfast.webp) center;
				background-size: cover;
			}
			.no-webp .cs-wtfast {
				background:	linear-gradient(to right, #000 0%, rgba(0,0,0,0.5) 100%),
							url(/img/bg/case-study-wtfast.jpg) center;
				background-size: cover;
			}
		</style>
		<section class="hero">
			<div class="container push-forward">
				<div class="row middle-xs">
					<div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
						<p class="superheading">{{ pageSupertitle }}</p>
						<h1 id="fittext" class="mb-1">{{ pageTitle }}<mark class="dot">.</mark></h1>
						<p class="subheading">More power, less lag, further reach</p>
						<p class="mt-4 m-1"><a href="/cloud/signup/" class="button">Get started</a> <a href="/contact/" class="chevron m-1 ml-2">Contact Sales</a></p>
					</div>
				</div> 
			</div>
			<div class="stars"></div>
		</section>
		<section class="globe">
			<div class="container">
				<div class="globe-locations">
					<span class="label guam cloud"><span>Guam</span></span>
					<span class="pulse guam"></span>
					<span class="label singapore cloud"><span>Singapore</span></span>
					<span class="pulse singapore"></span>
					<span class="label hong-kong cloud"><span>Hong Kong</span></span>
					<span class="pulse hong-kong"></span>
					<span class="label tokyo cloud"><span>Tokyo</span></span>
					<span class="pulse tokyo"></span>
					<span class="label sydney">Sydney</span>
					<span class="label melbourne">Melbourne</span>
					<span class="label brisbane">Brisbane</span>
					<span class="label los-angeles hide-mobile">Los Angeles</span>
					<span class="label los-angeles mobile-only">LA</span>
					<span class="label seattle">Seattle</span>
					<span class="label vancouver">Vancouver</span>
					<span class="label chennai">Chennai</span>
					<span class="label muscat">Muscat</span>
					<span class="label hawaii">Hawaii</span>
					<span class="label vladivostok">Vladivostok</span>
					<span class="label seoul">Seoul</span>
					<span class="label manila">Manila</span>
					<span class="label davao">Davao</span>
					<span class="label jakarta">Jakarta</span>
					<span class="label surabaya">Surabaya</span>
					<span class="label darwin">Darwin</span>
					<span class="label perth">Perth</span>
				</div>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1781 1792" aria-labelledby="maptitle mapdescription" role="img">
					<title id="maptitle">OneQode Cloud Map</title>
					<desc id="mapdescription">A dark globe centred on Asia-Pacific showing OneQode cloud locations in Guam, Singapore, Hong Kong, and Tokyo</desc>
					<g id="network">
						<path id="gu-hk" d="M779,807.2c53.7,62.5,197.1,132.4,280.4,153.3" />
						<path id="gu-jp" d="M1048,765.2c27,69.8,26.1,131.1,11.4,195.2" />
						<path id="au-om" d="M667.7,1237.3s-87.9,.9-168-62.6c-230.1-182.6-54.6-501.9-151-563.6-10.3-6.6-19.4-5.7-19.4-5.7" />
						<path id="sg-in" d="M455.3,736.4c22.1,8.5,72.2,46.5,122.6,152.1,18.1,37.9,42.9,38,42.9,38" />
						<path id="pe-sy" d="M667.7,1237.3c-17.2-1.1-30.3,9.7-30.3,26.1,0,38.8,118.9,76.8,256.4,96.4,90.5,12.9,96.2-13.7,96.2-13.7" />
						<path id="gu-us" d="M1059.4,960.4c137.9-60.4,289-84.2,430.1-84.2" />
						<path id="au-us" d="M990,1346s347.6,5.7,499.6-469.8" />
						<path id="gu-au" d="M1059.4,960.4c45.7,67.8,59.9,161.5,39.3,248.7-17.1,72.4-77.7,136.9-108.7,136.9" />
						<path id="jp-us" d="M1048,765.2c116.2-91.9,305.2-131.6,441.6-99.1" />
						<path id="sg-au" d="M634.5,954.8c11.2,22.9-13.7,40.6-19.4,43.5-82.1,41.2-59.7,160.3,52.6,239" />
						<path id="sg-hk" d="M620.7,926.5c70.3-5.2,140.8-33.9,158.3-119.3" />
						<path id="jp-sk" d="M933.6,716.4c1.3,21.3,16.7,43.1,49.1,48.8,39.3,6.9,65.2,0,65.2,0" />
					</g>
				</svg>
				<picture>
					<source srcset="/img/globe.webp" type="image/webp">
					<img src="/img/globe.jpg" class="opaque" alt="">
				</picture>
			</div>
			<div class="stars2"></div>
		</section>
		<section id="overview">
			<div class="container mobile-text-center py-0">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-4 p-2 my-1">
						<h3 class="mb-0">Cloud platform</h3>
						<p class="faded">Blazing-fast cloud instances operating at <span class="nowrap">3.7 GHz+</span></p>
						<a href="/cloud/" class="button ghost mt-a">Cloud</a>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 p-2 my-1">
						<h3 class="mb-0">Dedicated servers</h3>
						<p class="faded">Built-to-order dedicated servers designed for 24/7/365 performance</p>
						<a href="/dedicated-servers/" class="button ghost mt-a">Servers</a>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 p-2 my-1">
						<h3 class="mb-0">Carrier network</h3>
						<p class="faded">Latency-optimised network built for gaming and real-time applications</p>
						<a href="/network/" class="button ghost mt-a">Network</a>
					</div>
				</div>
			</div>
		</section>
		<section id="customers" class="py-8">
			<div class="container text-center">
				<div class="row">
					<div class="col-xs-12">
						<figcaption>Trusted by brands that put performance first</figcaption>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 logo-grid">
						<div><img src="/img/customers/esl.svg" alt="ESL" class="w70"></div>
						<div><img src="/img/customers/wtfast.png" alt="WTFast" class="w70"></div>
						<div><img src="/img/customers/prosimcentre.png" alt="PROSIMCENTRE"></div>
						<div><img src="/img/customers/network-next.png" alt="Network Next"></div>
						<div><img src="/img/customers/quakecon.png" alt="Quakecon"></div>
						<div><img src="/img/partners/oracle.svg" alt="Oracle"></div>
					</div>
				</div>
			</div>
		</section>
		<section id="benefits" class="text-center">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-10 col-sm-offset-1">
						<h2 class="mb-1">Reach users<br class="responsive"> in milliseconds<mark class="dot">.</mark></h2>
						<p class="subheading faded">Deliver performance-sensitive<br class="responsive"> apps at lightning speed</p>
					</div>
				</div>
			</div>
			<div class="swiper benefits my-2">
				<div class="swiper-wrapper">
					<!-- Start Slide -->
					<div class="swiper-slide col-xs-10 col-md-8 col-lg-6">
						<div class="icon latency"></div>
						<h2 class="mt-2 mb-1">Less lag</h2>
						<p class="subheading faded">With the network built for real-time</p>
						<div class="col-xs-12 col-md-8 col-md-offset-2">
							<p class="mt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at sapien scelerisque, molestie ex eget, convallis lectus.</p>
						</div>
						<p class="mt-1"><a href="/network/" class="chevron m-1">Our network</a></p>
					</div>
					<!-- End Slide -->
					<!-- Start Slide -->
					<div class="swiper-slide col-xs-10 col-md-8 col-lg-6">
						<div class="icon cpu"></div>
						<h2 class="mt-2 mb-1">More power</h2>
						<p class="subheading faded">From CPUs that run at <span class="nowrap">3.7 GHz+</span></p>
						<div class="col-xs-12 col-md-8 col-md-offset-2">
							<p class="mt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at sapien scelerisque, molestie ex eget, convallis lectus.</p>
						</div>
						<p class="mt-1"><a href="/cloud/" class="chevron m-1">Cloud platform</a> <br class="mobile-only"><a href="/dedicated-servers/" class="chevron m-1">Dedicated servers</a></p>
					</div>
					<!-- End Slide -->
					<!-- Start Slide -->
					<div class="swiper-slide col-xs-10 col-md-8 col-lg-6">
						<div class="icon reach"></div>
						<h2 class="mt-2 mb-1">Further reach</h2>
						<p class="subheading faded">Connect more users via our central hubs</p>
						<div class="col-xs-12 col-md-8 col-md-offset-2">
							<p class="mt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at sapien scelerisque, molestie ex eget, convallis lectus.</p>
						</div>
						<p class="mt-1"><a href="/guam/" class="chevron m-1">APAC Central</a></p>
					</div>
					<!-- End Slide -->
					<!-- Start Slide -->
					<div class="swiper-slide col-xs-10 col-md-8 col-lg-6">
						<div class="icon shield"></div>
						<h2 class="mt-2 mb-1">DDoS protected</h2>
						<p class="subheading faded">Stay online without compromising performance</p>
						<div class="col-xs-12 col-md-8 col-md-offset-2">
							<p class="mt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at sapien scelerisque, molestie ex eget, convallis lectus.</p>
						</div>
						<p class="mt-1"><a href="/network/#ddos-protection" class="chevron m-1">DDoS mitigation</a></p>
					</div>
					<!-- End Slide -->
				</div>
				<div class="container">
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</section>
		<section class="py-8" id="solutions">
			<div class="container">
				<div class="row text-center">
					<div class="col-xs-12 col-md-8 col-md-offset-2 mb-0">
						<h2 class="mb-1">Solutions by industry<mark class="dot">.</mark></h2>
						<p class="subheading faded">Solving challenges for performance-thirsty organisations.</p>
					</div>
				</div>
				<div class="row mt-4 place-content-center">
					<div class="col-xs-6 col-sm-6 col-md-4 mb-1">
						<a href="/for/game-industry/" class="box glowing">
							<h3 class="mb-1">Game developers</h3>
							<p class="faded my-0">Blazing-fast cloud instances with dedicated CPU threads operating at 3.7 GHz+</p>
						</a>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-4 mb-1">
						<a href="/for/esports/" class="box glowing">
							<h3 class="mb-1">Esports</h3>
							<p class="faded my-0">Blazing-fast cloud instances with dedicated CPU threads operating at 3.7 GHz+</p>
						</a>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-4 mb-1">
						<a href="#" class="box glowing">
							<h3 class="mb-1">App developers</h3>
							<p class="faded my-0">Blazing-fast cloud instances with dedicated CPU threads operating at 3.7 GHz+</p>
						</a>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-4 mb-1">
						<a href="/for/business-enterprise/" class="box glowing">
							<h3 class="mb-1">Business & enterprise</h3>
							<p class="faded my-0">Blazing-fast cloud instances with dedicated CPU threads operating at 3.7 GHz+</p>
						</a>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-4 mb-1">
						<a href="/for/telco-carrier/" class="box glowing">
							<h3 class="mb-1">Telco & carrier</h3>
							<p class="faded my-0">Blazing-fast cloud instances with dedicated CPU threads operating at 3.7 GHz+</p>
						</a>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-4 mb-1">
						<a href="#" class="box glowing">
							<h3 class="mb-1">Web hosts</h3>
							<p class="faded my-0">Blazing-fast cloud instances with dedicated CPU threads operating at 3.7 GHz+</p>
						</a>
					</div>
				</div>
			</div>
		</section>
		<section class="pb-8" id="case-studies">
			<div class="container">
				<div class="row text-center">
					<div class="col-xs-12 col-md-8 col-md-offset-2 mb-0">
						<h2 class="mb-1">OneQode in action<mark class="dot">.</mark></h2>
						<p class="subheading faded">Blagblasldalksdja skldja lsdkjas dlkjas ldkjas dlkj</p>
					</div>
				</div>
			</div>
			<div class="swiper case-studies my-2">
				<div class="swiper-wrapper">
					<div class="swiper-slide col-xs-10 col-md-8 col-lg-6 cs-oceanic">
						<div class="col-xs-12 col-md-8">
							<h3 class="mb-0">Powering a groundbreaking $17,000 CS:GO tournament</h3>
							<p><strong>OneQode’s gaming infrastructure fuelled a world first event for Oceanic Esports</strong></p>
							<p>OneQode facilitated the first cross-regional, Asia-Pacific online CS:GO tournament.</p>
							<p class="mt-2 mb-4"><a href="/case-study/guam-csgo/" class="chevron">Case Study</a></p>
						</div>
						<div class="col-xs-12 col-md-8 mt-a">
							<img src="/img/customers/oceanic-esports.png" alt="Oceanic Esports Logo" class="size-xl">
						</div>
					</div>
					<div class="swiper-slide col-xs-10 col-md-8 col-lg-6 cs-prosimcentre">
						<div class="col-xs-12 col-md-8">
							<h3 class="mb-0">Unleashing immersive sim racing experiences</h3>
							<p><strong>OneQode’s gaming infrastructure fuelled a world first event for Oceanic Esports</strong></p>
							<p>OneQode facilitated the first cross-regional, Asia-Pacific online CS:GO tournament.</p>
						</div>
						<div class="col-xs-12 col-md-8 mt-a">
							<img src="/img/customers/prosimcentre.png" alt="PROSIMCENTRE Logo">
						</div>
					</div>
					<div class="swiper-slide col-xs-10 col-md-8 col-lg-6 cs-quakecon">
						<div class="col-xs-12 col-md-8">
							<h3 class="mb-0">Hosting the Quakeworld Grand Final 2021</h3>
							<p><strong>OneQode’s gaming infrastructure fuelled a world first event for Oceanic Esports</strong></p>
							<p>OneQode facilitated the first cross-regional, Asia-Pacific online CS:GO tournament.</p>
						</div>
						<div class="col-xs-12 col-md-8 mt-a">
							<img src="/img/customers/quakecon.png" alt="Quakecon Logo">
						</div>
					</div>
					<div class="swiper-slide col-xs-10 col-md-8 col-lg-6 cs-wtfast">
						<div class="col-xs-12 col-md-8">
							<h3 class="mb-0">Delivering low-latency gaming routes</h3>
							<p><strong>OneQode’s gaming infrastructure fuelled a world first event for Oceanic Esports</strong></p>
							<p>OneQode facilitated the first cross-regional, Asia-Pacific online CS:GO tournament.</p>
						</div>
						<div class="col-xs-12 col-md-8 mt-a">
							<img src="/img/customers/wtfast.png" alt="WTFast Logo" class="size-lg">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</section>
		<section class="black-to-footer pb-8">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
						<h2>The future is here<mark class="dot">.</mark> <br>Let’s build together<mark class="dot">.</mark></h2>
						<p class="subheading faded">Changing the world? We’d should talk</p>
						<p><a href="/contact/" class="button ghost m-1 mt-2">Contact us</a></p>
					</div>
				</div>
			</div>
		</section>
		<script>
			/**
			* FitText.js — https://github.com/adactio/FitText.js
			* A vanilla js script to inflate web type
			* Used under WTFPL license 💪
			*/
			window.fitText( document.getElementById("fittext"), 1.4 );
			/**
			* Swiper — https://swiperjs.com/
			* A modern touch slider
			* Used under MIT license 🎓
			*/
			var swiper = new Swiper(".benefits", {
				effect: "coverflow",
				grabCursor: true,
				slidesPerView: "auto",
				centeredSlides: true,
				centeredSlidesBounds: true,
				coverflowEffect: {
					rotate: 1,
					stretch: -50,
					depth: 0,
					modifier: 0.9,
					slideShadows: true,
				},
				loop: true,
				pagination: {
					el: ".swiper-pagination",
					clickable: true,
				},
				keyboard: {
					enabled: true,
				},
				touchEventsTarget: 'container',
			});
			var swiper = new Swiper(".case-studies", {
				effect: "coverflow",
				grabCursor: true,
				slidesPerView: "auto",
				centeredSlides: true,
				centeredSlidesBounds: true,
				coverflowEffect: {
					rotate: 1,
					stretch: -50,
					depth: 0,
					modifier: 0.9,
					slideShadows: true,
				},
				loop: true,
				pagination: {
					el: ".swiper-pagination",
					clickable: true,
				},
				keyboard: {
					enabled: true,
				},
				touchEventsTarget: 'container',
			});
		</script>
{% include _footer.liquid %}