---

layout: page.liquid
metaTitle: 4G Mobile Broadband for Your Home • OneQode
metaDescription: No fibre? No worries! Get a 4G home broadband plan from OneQode, Australia's next-gen network. Superfast home wireless broadband, with generous data allowances.
changefreq: monthly
priority: 0.5
pageSupertitle: Mobile Broadband
pageTitle: <mark>4G</mark> home<br class="responsive"> broadband
pageSubtitle: Plug and play mobile internet.

---
		<style>
			.hero {
			background-position: bottom center;
			}
			.no-webp .hero {
				background: url("/img/bg/light-speed-blur.jpg") no-repeat bottom center;
				background-size: cover;
			}
			.webp .hero {
				background: url("/img/bg/light-speed-blur.webp") no-repeat bottom center;
				background-size: cover;
			}
		</style>
		<section class="blue py-2">
			<div class="container">
				<div class="col-md-10 col-md-offset-1 text-center">No installation, no phone line – just superfast internet wherever there’s mobile reception.</div>
			</div>
		</section>
		<section class="black-to-mid text-center py-8">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<h2>Get connected <br class="responsive"><mark>wherever there's 4G</mark><mark class="dot">.</mark></h2>
					</div>
					<div class="col-xs-12 col-md-6 col-md-offset-3">
						<ul class="ticks large">
							<li>Incredible data limits</li>
							<li>Fast 4G+ router</li>
							<li>Australia-wide connectivity</li>
							<li>No lock-in contract</li>
							<li>Easy online monitoring</li>
						</ul>
					</div>
				</div>
				<div class="row pricing mt-8" aria-label="Our mobile 4G plans">
					<div class="col-xs col-sm-6 col-sm-offset-0 col-lg-4 col-lg-offset-2 my-2">
						<a href="#" class="box glowing featured">
							<h3 class="mb-0">Large</h3>
							<p class="subheading">for standard use</p>
							<p>Included data <span class="data-cap">200<span> GB</span></span></p>
							<p>Speed cap <span>Zero</span></p>
							<p>Price per extra 10GB <span>$12</span></p>
							<p>Price per GB after 50GB <span>$12</span></p>
							<p>Setup Cost <span>$189</span></p>
							<p class="price">$69<span>/mo</span></p>
							<p class="min">Total minimum cost: $258</p>
						</a>
					</div>
					<div class="col-xs col-sm-6 col-lg-4 my-2">
						<a href="#" class="box glowing">
							<h3 class="mb-0">Huge</h3>
							<p class="subheading">for extended use</p>
							<p>Included data <span class="data-cap">500<span> GB</span></span></p>
							<p>Speed cap <span>Zero</span></p>
							<p>Price per extra 10GB <span>$12</span></p>
							<p>Price per GB after 50GB <span>$12</span></p>
							<p>Setup Cost <span>$189</span></p>
							<p class="price">$89<span>/mo</span></p>
							<p class="min">Total minimum cost: $278</p>
						</a>
					</div>
				</div>
				<p class="mt-2 cis">Make sure to read the <a href="#">Critical Information Summary</a></p>
			</div>
		</section>
		<section class="mid-to-footer pb-4">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<h2 class="text-center">Frequently asked questions<mark class="dot">.</mark></h2>
						<details class="mt-4">
							<summary>Is this even a question?</summary>
							<p>We’re currently in deploying for early access, so we’re limited to select areas of South East Queensland. Our expansion plan is aggressive and we will prioritise regions, so reach out to us if you want to get us to your place quicker.</p>
						</details>
						<details>
							<summary>An African or European swallow?</summary>
							<p>We use enterprise grade fibre and our own datacentre equipment as the backbone for our network, and then deliver the connection to you over our own independent network. We believe the NBN simply isn’t up to the standard we want for our customers, so we don’t use it at all. This means, from tower to home, we control the network. If you call us, you’re speaking to the people with full control over what goes on.</p>
						</details>
						<details>
							<summary>Did you just lose the game?</summary>
							<p><strong>If we’re connecting you via fixed wireless</strong>, Our technicians install one or two small radios (about the size of a wine bottle) on a single pole that we securely fasten to your roof.</p>
						</details>
					</div>
				</div>
			</div>
		</section>