---
layout: page.liquid
section: gaming
metaTitle: Gaming Network • APAC’s Low-Latency Network • OneQode™
metaDescription: Game traffic goes faster on our low-latency network. Engineered for gaming, our DDoS-protected network has private fast-lanes to Asia-Pacific’s last-mile ISPs.
changefreq: monthly
priority: 0.5
pageSupertitle: Our Network
pageTitle: Low-latency<br class="responsive"> gaming backbone
pageSubtitle: The network <mark>purpose-built</mark> for gamers
form: true
---
	<style>
	.hero {
		background: #000 !important;
	}
	@media (min-width: 48em) {
		/* Move up on desktop */
		.network {
			margin-top: -8rem;
		}
	}
	/* Stat Gradient */
	.stat {
		background: -webkit-linear-gradient(258deg, #fff, #999);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	/* Icons */
	.icon.path {
			mask: url(/img/ico/nodes2.svg) no-repeat center;
			-webkit-mask: url(/img/ico/nodes2.svg) no-repeat center;
	}
	.icon.asia {
		mask: url(/img/ico/sd-wan.svg) no-repeat center;
		-webkit-mask: url(/img/ico/sd-wan.svg) no-repeat center;
	}
	/* How our DDoS compares to alternatives */
	#compare {
		background: #17181C;
		border-radius: 15px;
	}
	</style>
	<section class="push-forward">
		<div class="container">
			<div class="row place-content-center">
				<div class="col-xs-12 col-md-5">
					<h2>Hi, speed<mark class="dot">.</mark></h2>
					<p>Our carrier network spans 3 continents, reaching gamers throughout Asia-Pacific.</p>
					<p>Designed for a spectacular gaming experience, this is where milliseconds matter.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="network">
		{% include diagrams/_network-map.liquid %}
		<p style="font-size: 75%">Global network rollout map <span style="color: #949494">// <a href="https://oneqode.sfo2.digitaloceanspaces.com/maps/global/oneqode-world-map.pdf" rel="noopener" target="_blank">Full map PDF</a></p>
	</section>
	<section class="py-8">
		<div class="container">
			<div class="row place-content-center">
				<div class="col-xs-12 col-md-6">
					<h2>Reach more gamers<mark class="dot">.</mark></h2>
					<p class="subheading faded">Strategic footprint, closer to players</p>
					<p>With a game-changing Guam facility at the core, and a presence in Asia-Pacific’s major population centres, you'll reach hundreds of millions of gamers across the region with ultra low-latency connectivity.</p>
					<a href="/about/guam/">Learn more about Guam ></a>
				</div>
			</div>
		</div>
	</section>
	<section class="py-4">
		<div class="container">
			<div class="row mobile-flex">
				<div class="col-xs-6 col-md-3">
					<div class="stat"><span>100 GbE</span> core network</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="stat"><span>20</span> countries in reach</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="stat"><span>9</span> points of presence</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="stat"><span>99.95%</span> uptime</div>
				</div>
			</div>
		</div>
	</section>
	<section class="py-8">
		<div class="container">
			<div class="row text-center">
				<div class="col-xs-12 col-md-8 col-md-offset-2 mb-0">
					<h2>Game traffic<mark class="dot">.</mark> Delivered <mark>faster</mark><mark class="dot">.</mark></h2>
				</div>
				<div class="col-xs-12 col-md-6 col-md-offset-3">
					<p class="mt-0">We carry your game data over the most direct path, connecting to last-mile ISPs as close to the player as possible.</p>
				</div>
			</div>
			<div class="row text-center">
				<figure>
					<svg xmlns="http://www.w3.org/2000/svg" width="1379" height="561">
						<g>
							<g fill="none" stroke="#002f40" stroke-width="2" stroke-dasharray="5">
								<path d="M334 227L614 82" />
								<path d="M389 496L614 81" />
								<path d="M1338 280L929 28" />
								<path d="M334 227L239 12" />
								<path d="M1049 280L929 28" />
								<path d="M1106.101 549.489L1049.153 280.5" />
								<path d="M390.008 496.176l716.093 53.313" />
								<path d="M44.684 280.5l345.324 215.676" />
								<path d="M389 496l353-163" />
								<path d="M614.166 81.787l315.032-53.313" />
								<path d="M742.602 333.813l306.551-53.313" />
							</g>
							<g fill="none" stroke="#9b0000" stroke-width="2">
								<path d="M1338 280l-233 269" />
								<path d="M1105 549L742 333" />
								<path d="M742 333L614 81" />
								<path d="M239.762 12.722l374.404 69.065" />
								<path d="M44.684 280.5L239.762 12.722" />
							</g>
							<g fill="none" stroke="#00b0f0" stroke-width="2">
								<path d="M1049.153 280.5h289.587" />
								<path d="M44.684 280.5l289.587-54.525" />
								<path d="M334.271 225.975l714.881 54.525" />
							</g>
							<g transform="translate(32 268)" stroke="#00b0f0" stroke-width="2">
								<circle cx="12" cy="12" r="12" stroke="none" />
								<circle cx="12" cy="12" r="11" fill="none" />
							</g>
							<g transform="translate(377 483)" stroke="#002f40" stroke-width="2">
								<circle cx="12.5" cy="12.5" r="12.5" stroke="none" />
								<circle cx="12.5" cy="12.5" r="11.5" fill="none" />
							</g>
							<g transform="translate(322 213)" stroke="#00b0f0" stroke-width="2">
								<circle cx="12" cy="12" r="12" stroke="none" />
								<circle cx="12" cy="12" r="11" fill="none" />
							</g>
							<g transform="translate(1036 268)" stroke="#00b0f0" stroke-width="2">
								<ellipse cx="12.5" cy="12" rx="12.5" ry="12" stroke="none" />
								<ellipse cx="12.5" cy="12" rx="11.5" ry="11" fill="none" />
							</g>
							<g transform="translate(916 16)" stroke="#002f40" stroke-width="2">
								<ellipse cx="12.5" cy="12" rx="12.5" ry="12" stroke="none" />
								<ellipse cx="12.5" cy="12" rx="11.5" ry="11" fill="none" />
							</g>
							<g transform="translate(227)" stroke="#9b0000" stroke-width="2">
								<circle cx="12" cy="12" r="12" stroke="none" />
								<circle cx="12" cy="12" r="11" fill="none" />
							</g>
							<g transform="translate(1093 537)" stroke="#9b0000" stroke-width="2">
								<ellipse cx="12.5" cy="12" rx="12.5" ry="12" stroke="none" />
								<ellipse cx="12.5" cy="12" rx="11.5" ry="11" fill="none" />
							</g>
							<g transform="translate(601 69)" stroke="#9b0000" stroke-width="2">
								<ellipse cx="12.5" cy="12" rx="12.5" ry="12" stroke="none" />
								<ellipse cx="12.5" cy="12" rx="11.5" ry="11" fill="none" />
							</g>
							<g transform="translate(730 321)" stroke="#9b0000" stroke-width="2">
								<circle cx="12" cy="12" r="12" stroke="none" />
								<circle cx="12" cy="12" r="11" fill="none" />
							</g>
							<g transform="translate(1326 268)" stroke="#00b0f0" stroke-width="2">
								<circle cx="12" cy="12" r="12" stroke="none" />
								<circle cx="12" cy="12" r="11" fill="none" />
							</g><text transform="translate(43 329)" fill="#fff" font-size="26" font-family="Poppins-SemiBold, Poppins" font-weight="600">
								<tspan x="-42.51" y="0">Server</tspan>
							</text><text transform="rotate(-10.5 1556.492 -928.52)" fill="#00b0f0" font-size="14" font-family="Poppins-SemiBold, Poppins" font-weight="600">
								<tspan x="-34.111" y="0">OneQode</tspan>
							</text><text transform="rotate(-10.5 1432.135 -900.498)" fill="#00b0f0" font-size="14" font-family="Poppins-SemiBold, Poppins" font-weight="600">
								<tspan x="-99.309" y="0">GAMING OPTIMISED ROUTING</tspan>
							</text><text transform="rotate(-53.98 227.042 -81.364)" fill="#9b0000" font-size="14" font-family="Poppins-SemiBold, Poppins" font-weight="600">
								<tspan x="-44.485" y="0">COMPETITOR</tspan>
							</text><text transform="rotate(-53.98 204.025 -67.749)" fill="#9b0000" font-size="14" font-family="Poppins-SemiBold, Poppins" font-weight="600">
								<tspan x="-93.037" y="0">STANDARD TELCO ROUTING</tspan>
							</text><text transform="translate(1337 329)" fill="#fff" font-size="26" font-family="Poppins-SemiBold, Poppins" font-weight="600">
								<tspan x="-41.457" y="0">Player</tspan>
							</text>
						</g>
					</svg>
					<figcaption class="mt-2">Game-optimised routing: shortest distance and fewest hops</figcaption>
				</figure>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-4 col-md-offset-2">
					<p>Most providers use ‘least-cost routing’, sending traffic where it's cheapest, but not fastest.</p>
					<p>You won't even experience the savings — it's their margin.</p>
				</div>
				<div class="col-xs-12 col-md-4">
					<p>Instead, we use shortest path routing, which sends traffic via the most direct path to the player.</p>
					<p>This maximises performance, eliminating hops and lag.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="py-8 text-center">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-6 col-md-offset-3">
					<h2>Engineered for speed<mark class="dot">.</mark></h2>
					<p class="subheading faded">Cutting-edge network architecture</p>
					<p>From the switches we use to the cables we operate, every part of our network eliminates lag.</p>
				</div>
			</div>
			<div class="row icons mt-4">
				<div class="col-xs col-md-5 col-md-offset-1 my-1 p-2">
					<div class="icon path"></div>
					<h3>Fastest switches</h3>
					<p class="faded">Our network is powered by Arista switches — the fastest in the world. We've fine-tuned them to further improve performance.</p>
				</div>
				<div class="col-xs col-md-5 my-1 p-2">
					<div class="icon asia"></div>
					<h3>Shortest paths</h3>
					<p class="faded">We use the shortest submarine cable routes across Asia-Pacific, giving game traffic access to the lowest latency fibre optic assets in the region.</p>
				</div>
			</div>
			<div class="row icons mt-2">
				<div class="col-xs col-md-5 col-md-offset-1 my-1 p-2">
					<div class="icon path"></div>
					<h3>Premium transit</h3>
					<p class="faded">We use premium IP Transit as a path of last resort to ensure we achieve low latency to locations where we don't have direct connectivity.</p>
				</div>
				<div class="col-xs col-md-5 my-1 p-2">
					<div class="icon asia"></div>
					<h3>Direct last-mile links</h3>
					<p class="faded">We have private fast lanes to the major last-mile ISPs in Asia. This superior interconnection improves fault-tolerance and player experience.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="py-8 mid">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
					Interconnection partners go here
				</div>
			</div>
		</div>
	</section>
	<section id="ddos-protection" class="mt-8">
		<div class="container">
			<div class="row text-center">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
					<h2>Premium DDoS Protection<mark class="dot">.</mark></h2>
					<p class="subheading faded">Uninterrupted, network-wide DDoS protection</p>
				</div>
				<div class="col-xs-12 col-md-6 col-md-offset-3">
					<p>By neutralising attacks at the edge, we keep gamers online without compromising on latency, cost, or performance.</p>
				</div>
			</div>
			<div class="row mt-4 text-center">
				<figure>
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1088" height="269">
						<defs>
							<linearGradient id="a" x1=".991" y1=".5" x2="0" y2=".5" gradientUnits="objectBoundingBox">
								<stop offset="0" />
								<stop offset="1" stop-opacity="0" />
							</linearGradient>
							<linearGradient id="b" x1=".024" x2="1" xlink:href="#a" />
						</defs>
						<g>
							<g fill="none" stroke="#7fd400" stroke-width="2" stroke-dasharray="10">
								<path d="M544 131.359l218.352 110.352h325.4" />
								<path d="M543.75 131.189h543.75" />
								<path d="M543.75 131.19L762.303 20.736h325.7" />
							</g>
							<path transform="translate(762)" fill="url(#a)" d="M0 0h326v262H0z" />
							<path fill="none" stroke="#9b0000" stroke-width="2" stroke-dasharray="10" d="M0 121h494.75" />
							<path d="M.991 146H475.34l68.626-14.641" fill="none" stroke="#7fd400" stroke-width="2" stroke-dasharray="10" /><text transform="translate(544 233)" fill="#fff" font-size="26" font-family="Poppins-SemiBold, Poppins" font-weight="600">
								<tspan x="-54.938" y="0">Network</tspan>
								<tspan x="-33.722" y="27">edge</tspan>
							</text><text transform="translate(594.75 15.5)" fill="#00b0f0" font-size="14" font-family="Poppins-SemiBold, Poppins" font-weight="600">
								<tspan x="0" y="0">DDOS</tspan>
								<tspan x="0" y="13">APPLIANCE</tspan>
							</text>
							<g stroke="#00b0f0" stroke-width="2">
								<g transform="translate(490.25 78)" fill="none" stroke-dasharray="2">
									<circle cx="53" cy="53" r="53" stroke="none" />
									<circle cx="53" cy="53" r="52" />
								</g>
								<g transform="translate(531.25 119)">
									<circle cx="12" cy="12" r="12" stroke="none" />
									<circle cx="12" cy="12" r="11" fill="none" />
								</g>
							</g><text transform="translate(594.75 65.25)" fill="#00b0f0" font-size="14" font-family="Poppins-SemiBold, Poppins" font-weight="600">
								<tspan x="0" y="0">ROUTER</tspan>
							</text>
							<path fill="none" stroke="#00b0f0" d="M590.75 60.5l-41 61" />
							<path fill="none" stroke="#00b0f0" d="M590.75 17l-41 61" /><text transform="translate(1003 129)" fill="#999" font-size="20" font-family="Poppins-SemiBold, Poppins" font-weight="600">
								<tspan x="0" y="0">Internal</tspan>
								<tspan x="0" y="18">services</tspan>
							</text>
							<path transform="translate(1)" fill="url(#b)" d="M0 0h390v262H0z" /><text transform="translate(0 129)" fill="#999" font-size="20" font-family="Poppins-SemiBold, Poppins" font-weight="600">
								<tspan x="0" y="0">Outside</tspan>
								<tspan x="0" y="18">network</tspan>
							</text><text transform="translate(279 173)" fill="#7fd400" font-size="14" font-family="Poppins-SemiBold, Poppins" font-weight="600">
								<tspan x="-68.019" y="0">LEGITIMATE TRAFFIC</tspan>
							</text><text transform="translate(260 104)" fill="#9b0000" font-size="14" font-family="Poppins-SemiBold, Poppins" font-weight="600">
								<tspan x="-49.161" y="0">DDOS TRAFFIC</tspan>
							</text>
						</g>
					</svg>
					<figcaption class="mt-2">Edge DDoS appliances prevent attacks from affecting the network</figcaption>
				</figure>
			</div>
			<div class="row my-8">
				<div class="col-xs-12 col-md-4 col-md-offset-1">
					<h3>Block attacks at the edge</h3>
					<p>Each entrance to our network is lined with <strong>always on</strong>, high throughput DDoS mitigation appliances.</p>
					<p>Malicious traffic is scrubbed and filtered in real time, keeping the network free of disruption.</p>
					<h3 class="mt-8">Zero impact, zero cost</h3>
					<p>Players won't notice attacks, because our architecture keeps them shielded by design.</p>
					<p>And this is included at <strong>no charge</strong> to OneQode customers, so you'll never experience DDoS bill shock. Ever.</p>
				</div>
				<div class="col-xs-12 col-md-4 col-md-offset-2 p-2" id="compare">
					<h3>How other networks deploy DDoS protection:</h3>
					<p>Most gaming networks don't have always-on network-wide protection and respond to attacks in one of two ways:</p>
					<p><strong>❌ Blackhole routing</strong></p>
					<p>Dropping all traffic (however legitimate) during an attack. All players lose connectivity.</p>
					<p><strong>❌ Scrubbing facility redirection</strong></p>
					<p>Diverting all traffic to separate scrubbing locations, negatively impacting player latency and experience.</p>
					<p>These methods are cheaper to deploy, but gamers suffer — and you’ll get angry tweets.</p>
					<p>The real kicker? You'll often have to <strong>pay per megabyte</strong> whenever you get attacked. Seriously.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="mid pt-4" id="start">
		<div class="container">
			<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
				<h2>Get a transit quote<mark class="dot">:</mark></h2>
				<p>Enter your details below to get started with IP Transit from OneQode.</p>
			</div>
			<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
				{% include forms/_wholesale-ip-transit.liquid %}
			</div>
		</div>
	</section>
{% include parts/_wholesale-why-us.liquid %}