---
layout: page.liquid
section: business
metaTitle: Pilot Program • OneQode
metaDescription: Join the OneQode pilot programme — enjoy great speeds and lock in exclusive early access pricing which we’ll honour forever.
changefreq: monthly
ignore: true
ogImage: og-image.jpg
pageSupertitle: Pilot Programme
pageTitle: Simple internet
pageSubtitle: Fast, affordable business broadband<br class="responsive"> in selected areas of Kippa Ring.
form: true
---
		<style>
			section.hero {
				background: radial-gradient(circle at bottom,rgba(0,0,0,0.7) 0%,rgba(0,39,54,0.7) 100%),url("/img/bg/redcliffe-kippa-ring-map.png") center left no-repeat;
				background-size: initial;
			}
			.icons svg {
				fill: #00b0f0;
				width: 5rem;
				height: 5rem;
			}
			.icons h3 {
				color: #00b0f0;
			}
			@media screen and (min-width: 48em) {
				ul.ticks.two-col {
					columns: 2;
					column-gap: 4rem;
				}
			}
			span.smaller {
				font-size: 1rem;
				display: block;
			}
		</style>
		<script>
		// Pricing Toggle
		function toggler() {
			var content12m = document.getElementById("12m-content");
			var contentmtm = document.getElementById("mtm-content");
			if(document.getElementById("12m").checked) {
				content12m.style.display = "flex";
				contentmtm.style.display = "none";
			} else {
				content12m.style.display = "none";
				contentmtm.style.display = "flex";
			}
		}
		</script>
		<section class="blue py-2">
			<div class="container">
				<div class="col-md-10 col-md-offset-1 text-center">Superfast internet from a locally owned and operated internet service provider</div>
			</div>
		</section>
		<section class="black-to-mid text-center py-8">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<h2>Join the pilot programme<mark class="dot">.</mark></h2>
						<h3>⏰ <mark>Offer ends 28th February 2021</mark></h3>
						<p>Enjoy high speeds, and lock in exclusive early access pricing which we’ll honour forever.</p>
						<p>You'll get <mark><strong>free</strong></mark> installation and setup if you choose a 12 month Micro or Standard plan.</p>
						<p><strong>How does it work?</strong> We’ll install a small antenna on your roof, which connects you to our internet backbone via ultrafast, low power fixed wireless.</p>
					</div>
				</div>
				<div class="row my-8 icons">
					<div class="col-xs-12 col-sm-4 my-4">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
						</svg>
						<h3>Super<br> fast</h3>
					</div>
					<div class="col-xs-12 col-sm-4 my-4">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tag-fill" viewBox="0 0 16 16">
							<path d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
						</svg>
						<h3>Super<br> affordable</h3>
					</div>
					<div class="col-xs-12 col-sm-4 my-4">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe2" viewBox="0 0 16 16">
							<path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855-.143.268-.276.56-.395.872.705.157 1.472.257 2.282.287V1.077zM4.249 3.539c.142-.384.304-.744.481-1.078a6.7 6.7 0 0 1 .597-.933A7.01 7.01 0 0 0 3.051 3.05c.362.184.763.349 1.198.49zM3.509 7.5c.036-1.07.188-2.087.436-3.008a9.124 9.124 0 0 1-1.565-.667A6.964 6.964 0 0 0 1.018 7.5h2.49zm1.4-2.741a12.344 12.344 0 0 0-.4 2.741H7.5V5.091c-.91-.03-1.783-.145-2.591-.332zM8.5 5.09V7.5h2.99a12.342 12.342 0 0 0-.399-2.741c-.808.187-1.681.301-2.591.332zM4.51 8.5c.035.987.176 1.914.399 2.741A13.612 13.612 0 0 1 7.5 10.91V8.5H4.51zm3.99 0v2.409c.91.03 1.783.145 2.591.332.223-.827.364-1.754.4-2.741H8.5zm-3.282 3.696c.12.312.252.604.395.872.552 1.035 1.218 1.65 1.887 1.855V11.91c-.81.03-1.577.13-2.282.287zm.11 2.276a6.696 6.696 0 0 1-.598-.933 8.853 8.853 0 0 1-.481-1.079 8.38 8.38 0 0 0-1.198.49 7.01 7.01 0 0 0 2.276 1.522zm-1.383-2.964A13.36 13.36 0 0 1 3.508 8.5h-2.49a6.963 6.963 0 0 0 1.362 3.675c.47-.258.995-.482 1.565-.667zm6.728 2.964a7.009 7.009 0 0 0 2.275-1.521 8.376 8.376 0 0 0-1.197-.49 8.853 8.853 0 0 1-.481 1.078 6.688 6.688 0 0 1-.597.933zM8.5 11.909v3.014c.67-.204 1.335-.82 1.887-1.855.143-.268.276-.56.395-.872A12.63 12.63 0 0 0 8.5 11.91zm3.555-.401c.57.185 1.095.409 1.565.667A6.963 6.963 0 0 0 14.982 8.5h-2.49a13.36 13.36 0 0 1-.437 3.008zM14.982 7.5a6.963 6.963 0 0 0-1.362-3.675c-.47.258-.995.482-1.565.667.248.92.4 1.938.437 3.008h2.49zM11.27 2.461c.177.334.339.694.482 1.078a8.368 8.368 0 0 0 1.196-.49 7.01 7.01 0 0 0-2.275-1.52c.218.283.418.597.597.932zm-.488 1.343a7.765 7.765 0 0 0-.395-.872C9.835 1.897 9.17 1.282 8.5 1.077V4.09c.81-.03 1.577-.13 2.282-.287z"/>
						</svg>
						<h3>Super<br> local</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-10 col-md-offset-1">
						<h3 class="mt-2">Pilot plans include:</h3>
						<ul class="ticks large two-col">
							<li>Unlimited data</li>
							<li><strong>No setup fee</strong> <span class="smaller">on selected 12 month plans</span></li>
							<li>Included modem</li>
							<li>Local support</li>
						</ul>
					</div>
				</div>
				<div class="row mt-8">
					<div class="col-xs-12 text-center">
						<h2>Business pilot plans</h2>
					</div>
				</div>
				<div class="row toggler mt-2">
					<input type="radio" id="12m" name="contractlength" onchange="toggler()" checked="">
					<label for="12m">12 Month Plans</label>
					<input id="mtm" type="radio" name="contractlength" onchange="toggler()">
					<label for="mtm">Month-to-Month Plans</label>
				</div>
				<!-- Start 12 Month Plans -->
				<div class="row pricing mt-2" id="12m-content">
					<div class="col-xs-12 col-sm-6 col-sm-offset-0 col-lg-4 my-2">
						<a href="#start" class="box glowing">
							<h3 class="mb-0">Micro</h3>
							<p class="subheading">for light users</p>
							<p>Download speed <span class="speed">50<span> Mbps</span></span></p>
							<p>Upload speed <span class="speed upload">50<span> Mbps</span></span></p>
							<p>Modem included <span>No</span></p>
							<p>Installation fee <span>$0</span></p>
							<p class="price">$69<span>/mo</span></p>
							<p class="min">Total minimum cost: $828</p>
						</a>
					</div>
					<div class="col-xs-12 col-sm-6 col-lg-4 my-2">
						<a href="#start" class="box glowing featured">
							<h3 class="mb-0">Standard</h3>
							<p class="subheading">for most businesses</p>
							<p>Download speed <span class="speed">100<span> Mbps</span></span></p>
							<p>Upload speed <span class="speed upload">100<span> Mbps</span></span></p>
							<p>Modem included <span>No</span></p>
							<p>Installation fee <span>$0</span></p>
							<p class="price">$89<span>/mo</span></p>
							<p class="min">Total minimum cost: $1,068</p>
						</a>
					</div>
					<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-offset-0 col-lg-4 my-2">
						<a href="#start" class="box glowing">
							<h3 class="mb-0">Gigabit</h3>
							<p class="subheading">for heavy users</p>
							<p>Download speed <span class="speed">1,000<span> Mbps</span></span></p>
							<p>Upload speed <span class="speed upload">1,000<span> Mbps</span></span></p>
							<p>Modem included <span>No</span></p>
							<p>Installation fee <span>$899</span></p>
							<p class="price">$629<span>/mo</span></p>
							<p class="min">Total minimum cost: $8,447</p>
						</a>
					</div>
				</div>
				<!-- End 12 Month Plans -->
				<!-- Start Month to Month Plans -->
				<div class="row pricing mt-2" id="mtm-content" style="display: none;">
					<div class="col-xs-12 col-sm-6 col-sm-offset-0 col-lg-4 my-2">
						<a href="#start" class="box glowing">
							<h3 class="mb-0">Micro</h3>
							<p class="subheading">for light users</p>
							<p>Download speed <span class="speed">50<span> Mbps</span></span></p>
							<p>Upload speed <span class="speed upload">50<span> Mbps</span></span></p>
							<p>Modem included <span>No</span></p>
							<p>Installation fee <span>$299</span></p>
							<p class="price">$69<span>/mo</span></p>
							<p class="min">Total minimum cost: $368</p>
						</a>
					</div>
					<div class="col-xs-12 col-sm-6 col-lg-4 my-2">
						<a href="#start" class="box glowing featured">
							<h3 class="mb-0">Standard</h3>
							<p class="subheading">for most businesses</p>
							<p>Download speed <span class="speed">100<span> Mbps</span></span></p>
							<p>Upload speed <span class="speed upload">100<span> Mbps</span></span></p>
							<p>Modem included <span>No</span></p>
							<p>Installation fee <span>$299</span></p>
							<p class="price">$89<span>/mo</span></p>
							<p class="min">Total minimum cost: $388</p>
						</a>
					</div>
					<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-offset-0 col-lg-4 my-2">
						<a href="#start" class="box glowing">
							<h3 class="mb-0">Gigabit</h3>
							<p class="subheading">for heavy users</p>
							<p>Download speed <span class="speed">1,000<span> Mbps</span></span></p>
							<p>Upload speed <span class="speed upload">1,000<span> Mbps</span></span></p>
							<p>Modem included <span>No</span></p>
							<p>Installation fee <span>$1,299</span></p>
							<p class="price">$629<span>/mo</span></p>
							<p class="min">Total minimum cost: $1,928</p>
						</a>
					</div>
				</div>
				<!-- End Month to Month Plans -->
				<p class="mt-2 cis">Check out the <a href="/legal/oneqode-critical-information-summary.pdf" target="_blank">Critical Information Summary</a></p>
			</div>
		</section>
		<section class="mid-to-footer pb-4" id="start">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
						<h2 class="text-center">Let’s get started<mark class="dot">.</mark></h2>
						{% include forms/_business-kippa.liquid %}
					</div>
				</div>
			</div>
		</section>