---
layout: page.liquid
section: gaming
metaTitle: Pricing • Bare Metal & Cloud Game Servers • OneQode™
metaDescription: Choose your region and hardware specifications below to see the monthly cost for a game server from OneQode.
changefreq: monthly
priority: 0.5
pageTitle: Pricing
pageSubtitle: Choose your configuration below to<br class="responsive"> calculate pricing for a game server
form: true
---
		<style>
			section.hero {
				background: linear-gradient(to bottom, transparent 50%, #000 100%), radial-gradient(circle at bottom,#002735 0,#000 100%);
			}
			/* Form */
			.radio-parent {
				display: grid;
				grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
				grid-auto-rows: minmax(70px, 1fr);
				grid-gap: 1rem;
			}
			input[type=radio] {
				/*display: none;*/
				width: 0;
				height: 0;
			}
			.radio-parent label {
				display: flex;
			}
			.radio-parent label > span {
				box-sizing: border-box;
				width: 100%;
				max-width: 100%;
				padding: 1rem;
				color: #999;
				border: 2px solid #999;
				border-radius: 10px;
				transition: all 0.2s;
				cursor: pointer;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				font-family: Poppins, sans-serif;
				font-weight: 600;
			}
			.radio-parent label:hover > span {
				border: 2px solid #fff;
				color: #fff;
			}
			input[type=radio]:checked + span {
				border: 2px solid #00b0f0;
				color: #00b0f0;
				outline: none;
			}
			input[type=radio]:focus-visible + span {
				outline-color: -webkit-focus-ring-color;
				outline-style: auto;
				outline-offset: 2px;
			}
			.details {
				font-size: 0.8rem;
				opacity: 0.8;
				text-align: left;
			}
			/* Price box */
			#price {
				background: #333;
				border-radius: 15px;
			}
			@media (min-width: 48em) {
				/* Price bg */
				#price {
					background: #17181C;
					position: sticky;
					top: 6rem;
				}
			}
		</style>
		<section class="black-to-footer">
			<div class="container">
				<div class="row mobile-text-center">
					<div class="col-xs-12">
						<h2>Bare Metal Server Pricing<mark class="dot">.</mark></h2>
					</div>
				</div>
				<form action="https://submit-form.com/gbT479Nu" data-botpoison-public-key="pk_11d034c7-a37c-4479-a7fc-eabfb1185635" id="pricing-dedicated-servers">
					<div class="row mt-2 mb-8 mobile-text-center">
						<div class="col-xs-12 col-md-7 py-2">
							<h3>Region</h3>
							<div class="radio-parent">
								<label for="asia">
									<input type="radio" name="region" id="asia" value="asia" checked>
									<span>
										Asia
									</span>
								</label>
								<label for="australia">
									<input type="radio" name="region" id="australia" value="australia">
									<span>
										Australia
									</span>
								</label>
								<label for="north-america">
									<input type="radio" name="region" id="north-america" value="north-america">
									<span>
										North America
									</span>
								</label>
								<label for="guam">
									<input type="radio" name="region" id="guam" value="guam">
									<span>
										Guam
									</span>
								</label>
							</div>
							<h3 class="mt-2">Processor</h3>
							<div class="radio-parent">
								<label for="e-2288g">
									<input type="radio" name="cpu" id="e-2288g" value="E-2288G" checked>
									<span>
										E-2288G <span class="details">3.7 GHz, 8 cores, 16 threads</span>
									</span>
								</label>
								<label for="e-2174g">
									<input type="radio" name="cpu" id="e-2174g" value="E-2174G">
									<span>
										E-2174G <span class="details">3.8 GHz, 4 cores, 8 threads</span>
									</span>
								</label>
								<label for="e-2286g">
									<input type="radio" name="cpu" id="e-2286g" value="E-2286G">
									<span>
										E-2286G <span class="details">4.0 GHz, 6 cores, 12 threads</span>
									</span>
								</label>
								<label for="e-2176g">
									<input type="radio" name="cpu" id="e-2176g" value="E-2176G">
									<span>
										E-2176G <span class="details">3.7 GHz, 6 cores, 12 threads</span>
									</span>
								</label>
								<label for="i9-9900k">
									<input type="radio" name="cpu" id="i9-9900k" value="i9-9900K">
									<span>
										i9-9900K <span class="details">3.6 GHz, 8 cores, 16 threads</span>
									</span>
								</label>
							</div>
							<h3 class="mt-2">Memory</h3>
							<div class="radio-parent">
								<label for="16gb">
									<input type="radio" name="ram" id="16gb" value="16GB" checked>
									<span>
										16GB <span class="details">+$0</span>
									</span>
								</label>
								<label for="32gb">
									<input type="radio" name="ram" id="32gb" value="32GB">
									<span>
										32GB <span class="details">+$20</span>
									</span>
								</label>
								<label for="64gb">
									<input type="radio" name="ram" id="64gb" value="64GB">
									<span>
										64GB <span class="details">+$60</span>
									</span>
								</label>
								<label for="128gb">
									<input type="radio" name="ram" id="128gb" value="128GB">
									<span>
										128GB <span class="details">+$140</span>
									</span>
								</label>
							</div>
							<h3 class="mt-2">Solid State Hard Drive</h3>
							<div class="radio-parent">
								<label for="2x500gb">
									<input type="radio" name="ssd" id="2x500gb" value="2 x 500GB" checked>
									<span>
										2 x 500GB
									</span>
								</label>
								<label for="2x1tb">
									<input type="radio" name="ssd" id="2x1tb" value="2 x 1TB">
									<span>
										2 x 1TB
									</span>
								</label>
								<label for="2x2tb">
									<input type="radio" name="ssd" id="2x2tb" value="2 x 2TB">
									<span>
										2 x 2TB
									</span>
								</label>
							</div>
							<h3 class="mt-2">Bandwidth</h3>
							<div class="radio-parent">
								<label for="100mbps-10tb">
									<input type="radio" name="bandwidth" id="100mbps-10tb" value="100 Mbps - 10TB data" checked>
									<span>
										100 Mbps <span class="details">10TB data</span>
									</span>
								</label>
								<label for="100mbps-unlimited">
									<input type="radio" name="bandwidth" id="100mbps-unlimited" value="100 Mbps - Unlimited data">
									<span>
										100 Mbps <span class="details">Unlimited data</span>
									</span>
								</label>
								<label for="1gbps-10tb">
									<input type="radio" name="bandwidth" id="1gbps-10tb" value="1 Gbps - 10TB data">
									<span>
										1 Gbps <span class="details">10TB data</span>
									</span>
								</label>
								<label for="1gbps-unlimited">
									<input type="radio" name="bandwidth" id="1gbps-unlimited" value="1 Gbps - Unlimited data">
									<span>
										1 Gbps <span class="details">Unlimited data</span>
									</span>
								</label>
								<label for="10gbps">
									<input type="radio" name="bandwidth" id="10gbps" value="10 Gbps">
									<span>
										10 Gbps
									</span>
								</label>
								<label for="40gbps">
									<input type="radio" name="bandwidth" id="40gbps" value="40 Gbps">
									<span>
										40 Gbps
									</span>
								</label>
							</div>
						</div>
						<div class="col-xs-12 col-md-4 col-md-offset-1">
							<div id="price" class="p-2">
								<h4>Price for configuration</h4>
								<p class="sla"><output id="result"></output></p>
								<p class="sla"><span class="ex">Pricing in USD. Exclusive of Tax</span></p>
								<p class="mt-2 mb-0"><a href="#order" class="button">Start Order</a></p>
							</div>
						</div>
					</div>
					<div class="row mobile-text-center mb-8" id="order">
						<div class="col-xs-12 col-md-7">
							<h2>Want to order this configuration<mark class="dot">?</mark></h2>
							<p>Enter your details below, along with any questions or comments. One of our team will get your order started and reach out.</p>
							<div class="row mobile-flex">
								<div class="col-xs-12 col-sm-6 mb-1">
									<input type="text" name="first_name" placeholder="First Name" autocapitalize="words" required>
								</div>
								<div class="col-xs-12 col-sm-6 mb-1">
									<input type="text" name="last_name" placeholder="Last Name" autocapitalize="words" required>
								</div>
								<div class="col-xs-12 col-sm-6 mb-1">
									<input type="text" name="company" placeholder="Company" autocapitalize="words" required>
								</div>
								<div class="col-xs-12 col-sm-6 mb-1">
									<input type="email" name="email" placeholder="Work Email" required>
								</div>
								<div class="col-xs-12 mb-1">
									<textarea name="message" placeholder="Questions or comments? Add them here." autocapitalize="sentences" rows="4" required></textarea>
								</div>
								<div class="col-xs-12">
									<input type="hidden" name="form" value="Pricing - Dedicated Servers" />
									<input type="hidden" name="_redirect" value="https://www.oneqode.com/pricing/thanks/"/>
									<button type="submit" class="button mt-1" id="button">Submit</button>
									<p id="sending">Please wait...</p>
									<p id="failmsg">
										<strong>Anti-spam failed :(</strong>
										<br>Our spam detection thinks you're a bot. If you're reading this, we're really sorry.
										<br>Please do email us instead at:
										<br>hello <span class="faded">[at]</span> oneqode <span class="faded">[dot]</span> com <span class="faded">[dot]</span> au
									</p>
								</div>
							</div>
						</div>
					</div>
				</form>
				<div class="row mobile-text-center">
					<div class="col-xs-12">
						<h2>Gaming VPS Pricing<mark class="dot">.</mark></h2>
					</div>
				</div>
			</div>
		</section>
		<script>

		/**
		*	Pricing Calculator: Dedicated Servers
		*	Takes our regional pricing and calculates whenever radio inputs change
		*/

		// data Object
		const data = {
			asia: {
				cpu: {
					'E-2288G': 440,
					'E-2174G': 270,
					'E-2286G': 410,
					'E-2176G': 290,
					'i9-9900K': 285,
				},
				ram: {
					'16GB': 20,
					'32GB': 40,
					'64GB': 80,
					'128GB': 160,
				},
				ssd: {
					'2 x 500GB': 0,
					'2 x 1TB': 65,
					'2 x 2TB': 120,
				},
				bandwidth: {
					'100 Mbps - 10TB data': 0,
					'1 Gbps - 10TB data': 150,
					'100 Mbps - Unlimited data': 350,
					'1 Gbps - Unlimited data': 500,
					'10 Gbps': 'Contact Us',
					'40 Gbps': 'Contact Us',
				},
			},
			australia: {
				cpu: {
					'E-2288G': 520,
					'E-2174G': 345,
					'E-2286G': 490,
					'E-2176G': 365,
					'i9-9900K': 350,
				},
				ram: {
					'16GB': 20,
					'32GB': 40,
					'64GB': 80,
					'128GB': 160,
				},
				ssd: {
					'2 x 500GB': 0,
					'2 x 1TB': 65,
					'2 x 2TB': 120,
				},
				bandwidth: {
					'100 Mbps - 10TB data': 0,
					'1 Gbps - 10TB data': 250,
					'100 Mbps - Unlimited data': 500,
					'1 Gbps - Unlimited data': 1000,
					'10 Gbps': 'Contact Us',
					'40 Gbps': 'Contact Us',
				},
			},
			'north-america': {
				cpu: {
					'E-2288G': 307,
					'E-2174G': 270,
					'E-2286G': 277,
					'E-2176G': 290,
					'i9-9900K': 350,
				},
				ram: {
					'16GB': 20,
					'32GB': 40,
					'64GB': 80,
					'128GB': 160,
				},
				ssd: {
					'2 x 500GB': 0,
					'2 x 1TB': 65,
					'2 x 2TB': 120,
				},
				bandwidth: {
					'100 Mbps - 10TB data': 0,
					'1 Gbps - 10TB data': 250,
					'100 Mbps - Unlimited data': 500,
					'1 Gbps - Unlimited data': 1000,
					'10 Gbps': 'Contact Us',
					'40 Gbps': 'Contact Us',
				},
			},
			guam: {
				cpu: {
					'E-2288G': 520,
					'E-2174G': 300,
					'E-2286G': 490,
					'E-2176G': 320,
					'i9-9900K': 300,
				},
				ram: {
					'16GB': 20,
					'32GB': 40,
					'64GB': 80,
					'128GB': 160,
				},
				ssd: {
					'2 x 500GB': 0,
					'2 x 1TB': 65,
					'2 x 2TB': 120,
				},
				bandwidth: {
					'100 Mbps - 10TB data': 0,
					'1 Gbps - 10TB data': 75,
					'100 Mbps - Unlimited data)': 150,
					'1 Gbps - Unlimited data': 300,
					'10 Gbps': 'Contact Us',
					'40 Gbps': 'Contact Us',
				},
			},
		};

		// getting from element by id
		const calculator = document.getElementById('pricing-dedicated-servers');
		// getting result paragraph
		const result = document.getElementById('result');

		// adding event listener on form value change
		calculator.addEventListener('input', calculate);

		// defining prototype function to getting value from object if exists
		Object.prototype.getValue = function(key) {
			if (this.hasOwnProperty(key)) return this[key];
			else return null;
		};

		// initial value
		calculate.call(calculator);

		// calculate function
		function calculate() {
			// getting form values
			const {
				cpu: {
					value: cpuValue
				},
				ram: {
					value: ramValue
				},
				ssd: {
					value: ssdValue
				},
				bandwidth: {
					value: bandwidthValue
				},
				region: {
					value: regionValue
				},
			} = this;

			// total Price
			let total;
			// getting selected region Object
			const region = data.getValue(regionValue);
			if (region) {
				// getting values of (cpu,ram,ssd,bandwidth) from specific region
				const cpu = region.cpu.getValue(cpuValue) ?? 0;
				const ram = region.ram.getValue(ramValue) ?? 0;
				const ssd = region.ssd.getValue(ssdValue) ?? 0;
				const bandwidth = region.bandwidth.getValue(bandwidthValue) ?? 0;
				// adding all value in total
				total = cpu + ram + ssd;

				// checking if bandwidth has string type then print contactus otherwise also add its value in total
				if (typeof bandwidth === 'string') {
					total = '<span class="num">' + bandwidth + '</span>';
				} else {
					total += bandwidth;
					total = '<span class="num">' + `\$${total}` + '</span><span class="up">/mo</span>';
				}
				// printing the result
				result.innerHTML = total;
			} else {
				// empty the result if region is not selected
				result.innerText = '';
			}
		}

		/**
		* Botpoison form validation
		* Prevents form submissions from bots... I hope
		*/

		var form = document.getElementById("pricing-dedicated-servers");
		var button = document.getElementById("button");
		var sending = document.getElementById("sending");
		var failmsg = document.getElementById("failmsg");
		form.addEventListener("botpoison-challenge-start", function () {
			button.setAttribute("disabled", "disabled");
			sending.classList.add("in-progress");
		});
		form.addEventListener("botpoison-challenge-success", function () {
			button.removeAttribute("disabled");
			sending.classList.remove("in-progress");
			button.classList.add("success");
		});
		form.addEventListener("botpoison-challenge-error", function () {
			button.removeAttribute("disabled");
			button.classList.add("fail");
			sending.classList.remove("in-progress");
			failmsg.classList.add("block");
		});
		</script>