---
permalink: "js/production.js"
ignore: true
eleventyExcludeFromCollections: true
---
{%- set js -%}
	{% include "js/navigation.js" %}
	{% include "js/modernizr.js" %}
{%- endset -%}
{{ js | safe }}