---
permalink: "css/production.min.css"
ignore: true
---
{%- set css -%}
	{% include "css/normalize.css" %}
	{% include "css/grid.css" %}
	{% include "css/style.css" %}
{%- endset -%}
{{ css | cssmin | safe }}