---
ignore: true
layout: page.liquid
metaTitle: Brand • OneQode™
metaDescription: OneQode provides the network and infrastructure for real-time, lag-free gaming. We operate a low-latency carrier network and a high-performance cloud platform.
changefreq: monthly
priority: 0.9
pageSupertitle: Brand Guidelines
pageTitle: Our brand system
pageSubtitle: How we look and talk
---
		<style>
			section.hero {
				background: linear-gradient(to bottom, transparent 70%, #000), radial-gradient(circle at bottom,rgb(0,39,53) 0%,rgb(0,0,0) 100%);
				min-height: 100vh;
			}
		</style>
		<section class="py-4 full-height">
			<div class="container">
				<div class="row text-center linked">
					<a class="col-xs-12 col-md-6 p-2" href="#brand">
						<h3>Our brand</h3>
					</a>
					<a class="col-xs-12 col-md-6 p-2" href="#words">
						<h3>Our words</h3>
					</a>
					<a class="col-xs-12 col-md-6 p-2" href="#design">
						<h3>Design principles</h3>
					</a>
					<a class="col-xs-12 col-md-6 p-2" href="#logo">
						<h3>Logo</h3>
					</a>
					<a class="col-xs-12 col-md-6 p-2" href="#colours">
						<h3>Colours</h3>
					</a>
					<a class="col-xs-12 col-md-6 p-2" href="#typography">
						<h3>Typography</h3>
					</a>
					<a class="col-xs-12 col-md-6 p-2" href="#icons">
						<h3>Icons</h3>
					</a>
					<a class="col-xs-12 col-md-6 p-2" href="#illustrations">
						<h3>Illustrations</h3>
					</a>
					<a class="col-xs-12 col-md-6 p-2" href="#photography">
						<h3>Photography</h3>
					</a>
				</div>
			</div>
		</section>
		<section class="py-8" id="brand">
			<div class="container text-center">
				<div class="row">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p class="superheading">Our Brand</p>
						<h2>Who we are<mark class="dot">.</mark></h2>
						<p class="subheading">OneQode is on a mission to build the foundation for the next decade of connected experiences.</p>
					</div>
					<div class="col-xs-12 col-md-6 col-md-offset-3">
						<p><a href="/vision-mission-strategy/" class="button mt-2">Our vision</a></p>
					</div>
				</div>
				<div class="row mt-4">
					<div class="col-xs-12 col-md-5 col-md-offset-1 p-2">
						<h4>Friendly & genuine</h4>
						<p>We don’t take ourselves too seriously.</p>
					</div>
					<div class="col-xs-12 col-md-5 col-md-offset-1 p-2">
						<h4>Curious</h4>
						<p>We ask questions and pull threads.</p>
					</div>
					<div class="col-xs-12 col-md-5 col-md-offset-1 p-2">
						<h4>Switched on</h4>
						<p>We’re a team of individual experts.</p>
					</div>
					<div class="col-xs-12 col-md-5 col-md-offset-1 p-2">
						<h4>Quietly confident</h4>
						<p>We know our capabilities and limits.</p>
					</div>
					<div class="col-xs-12 col-md-5 col-md-offset-1 p-2">
						<h4>Dead serious</h4>
						<p>We have incredibly high standards for the work we do and the way we do it.</p>
					</div>
					<div class="col-xs-12 col-md-5 col-md-offset-1 p-2">
						<h4>No-nonsense</h4>
						<p>We don’t fuck around, leave people waiting, or settle for average.</p>
					</div>
				</div>
			</div>
		</section>
		<section class="py-8" id="words">
			<div class="container text-center">
				<div class="row">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p class="superheading">How we write</p>
						<h2>Clear<mark class="dot">,</mark> direct words<mark class="dot">,</mark> <br class="responsive">made for the reader<mark class="dot">.</mark></h2>
						<p class="subheading">We take the time to write words that work</p>
					</div>
				</div>
				<div class="row mt-4">
					<div class="col-xs-12 col-md-5 col-md-offset-1 p-2">
						<h4>Think of the reader</h4>
						<p>Who are they, and what do they want?</p>
					</div>
					<div class="col-xs-12 col-md-5 col-md-offset-1 p-2">
						<h4>Write how you speak</h4>
						<p>It’s the easiest way to connect.</p>
					</div>
					<div class="col-xs-12 col-md-5 col-md-offset-1 p-2">
						<h4>First things first</h4>
						<p>Start with the most important point.</p>
					</div>
					<div class="col-xs-12 col-md-5 col-md-offset-1 p-2">
						<h4>Write when you’re happy</h4>
						<p>Your mood is infectious.</p>
					</div>
					<div class="col-xs-12 col-md-5 col-md-offset-1 p-2">
						<h4>Make it simple</h4>
						<p>Short sentences take time.</p>
					</div>
					<div class="col-xs-12 col-md-5 col-md-offset-1 p-2">
						<h4><strike class="faded">Make it simpler</strike></h4>
						<p><strike class="faded">Eliminate unnecessary stuff.</strike></p>
					</div>
					<div class="col-xs-12 col-md-5 col-md-offset-1 p-2">
						<h4>Keep it organised</h4>
						<p>Clear writing is clear thinking.</p>
					</div>
					<div class="col-xs-12 col-md-5 col-md-offset-1 p-2">
						<h4>Be direct</h4>
						<p>If there’s bad news, say it straight up.</p>
					</div>
				</div>
			</div>
		</section>
		<section class="py-8" id="design">
			<div class="container text-center">
				<div class="row">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p class="superheading">How we look</p>
						<h2>Clean<mark class="dot">,</mark> simple<mark class="dot">,</mark> spacious<mark class="dot">.</mark></h2>
						<p class="subheading">Add everything, then eliminate what’s unnecessary.</p>
					</div>
				</div>
				<div class="row mt-4">
					<div class="col-xs-12 col-md-5 col-md-offset-1 p-2">
						<h4>Be consistent</h4>
						<p>Well, as consistent as you can</p>
					</div>
					<div class="col-xs-12 col-md-5 col-md-offset-1 p-2">
						<h4>Add whitespace</h4>
						<p>Whenever you're in doubt</p>
					</div>
				</div>
			</div>
		</section>
		<section class="py-8" id="logo">
			<div class="container text-center">
				<div class="row">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<h2>Logo<mark class="dot">.</mark></h2>
						<p class="subheading">Our logo was designed in 2021 by UK-based logo designer Graham Smith.</p>
					</div>
				</div>
				<style>
					#logo .holder {
						border-radius: 15px;
					}
					#logo .holder.regular {
						background: #ccc;
					}
					#logo .holder.negative {
						background: #1c1d22;
					}
					#logo .holder {
						margin: 0.5rem 1rem;
						padding-top: 6rem;
						padding-bottom: 6rem;
					}
				</style>
				<div class="row mt-4 place-content-center">
					<div class="col-xs-12 col-md-5 holder negative p-4">
						<img src="/img/logo.svg" alt="OneQode Negative Logo (for dark backgrounds)">
						<figcaption>Negative logo for dark backgrounds</figcaption>
					</div>
					<div class="col-xs-12 col-md-5 holder regular p-4">
						<img src="/img/logo-regular.svg" alt="OneQode Logo (for light backgrounds)">
						<figcaption style="color: #333">Standard logo for white backgrounds</figcaption>
					</div>
				</div>
			</div>
		</section>
		<section class="py-8" id="colours">
			<div class="container text-center">
				<div class="row">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<h2>Colours<mark class="dot">.</mark></h2>
						<p class="subheading">Dark and blue.</p>
					</div>
				</div>
				<style>
					#colours .holder {
						border-radius: 15px;
						background: var(--color);
						margin: 0.5rem;
					}
					#colours figcaption,
					#colours p {
						color: #fff;
						text-shadow: 2px 2px #000;
					}
				</style>
				<div class="row mt-4 place-content-center">
					<div
						class="col-xs holder p-2"
						style="--color:#00b0f0"
					>
						<p>#00b0f0</p>
						<figcaption>Primary blue</figcaption>
					</div>
					<div
						class="col-xs holder p-2"
						style="--color:#00597f"
					>
						<p>#00597f</p>
						<figcaption>Hover blue (interaction only)</figcaption>
					</div>
					<div
						class="col-xs holder p-2"
						style="--color:#4f94cc"
					>
						<p>#4f94cc</p>
						<figcaption>Superheading blue</figcaption>
					</div>
					<div
						class="col-xs holder p-2"
						style="--color:#002735"
					>
						<p>#002735</p>
						<figcaption>Deep blue</figcaption>
					</div>
				</div>
				<div class="row place-content-center">
					<div
						class="col-xs holder p-2"
						style="--color:#ffffff"
					>
						<p>#ffffff</p>
						<figcaption>White</figcaption>
					</div>
					<div
						class="col-xs holder p-2"
						style="--color:#e0e0e0"
					>
						<p>#e0e0e0</p>
						<figcaption>Off White</figcaption>
					</div>
					<div
						class="col-xs holder p-2"
						style="--color:#999999"
					>
						<p>#999999</p>
						<figcaption>Light Grey</figcaption>
					</div>
					<div
						class="col-xs holder p-2"
						style="--color:#666666"
					>
						<p>#666666</p>
						<figcaption>Mid Grey</figcaption>
					</div>
				</div>
				<div class="row">
					<div
						class="col-xs holder p-2"
						style="--color:#666666"
					>
						<p>#666666</p>
						<figcaption>Mid Grey</figcaption>
					</div>
					<div
						class="col-xs holder p-2"
						style="--color:#333333"
					>
						<p>#333333</p>
						<figcaption>Deep Grey</figcaption>
					</div>
					<div
						class="col-xs holder p-2"
						style="--color:#1c1d22"
					>
						<p>#1c1d22</p>
						<figcaption>Night Grey</figcaption>
					</div>
					<div
						class="col-xs holder p-2"
						style="--color:#000000; border: 1px solid #1c1d22;"
					>
						<p>#000000</p>
						<figcaption>Black</figcaption>
					</div>
				</div>
			</div>
		</section>
		<section class="black-to-footer py-8">
			<div class="container">
				<div class="row text-center">
					<div class="col-xs-12">
						<h2>Learn more<mark class="dot">:</mark></h2>
					</div>
				</div>
				<div class="row mt-4 icons">
					<div class="col-xs-6 col-md-4 mb-2 mt-1">
						<a href="/network/" class="box glowing">
							<img class="mt-2" src="/img/ico/connection2.svg" alt="">
							<h2 class="mt-2">Network</h2>
							<p class="hide-mobile">Latency-optimised connectivity</p>
						</a>
					</div>
					<div class="col-xs-6 col-md-4 mb-2 mt-1">
						<a href="/game-servers/" class="box glowing">
							<img class="mt-2" src="/img/ico/server.svg" alt="">
							<h2 class="mt-2">Game Servers</h2>
							<p class="hide-mobile">Compute, storage and colocation</p>
						</a>
					</div>
					<div class="col-xs-6 col-md-4 mb-2 mt-1">
						<a href="/cloud/" class="box glowing">
							<img class="mt-2" src="/img/ico/cloud.svg" alt="">
							<h2 class="mt-2">Cloud Platform</h2>
							<p class="hide-mobile">The high performance cloud</p>
						</a>
					</div>
				</div>
			</div>
		</section>