---
layout: page.liquid
metaTitle: Legal Definitions • OneQode™
metaDescription: We use a number of terms in our legal documents. Here’s what they mean.
changefreq: monthly
priority: 0.1
pageSupertitle: Legal Definitions
pageTitle: Legal definitions<br class="responsive"> and terms
pageSubtitle: We use a number of terms in our legal<br class="responsive"> documents. Here’s what they mean.
---
<style>
	section.hero {
		background: linear-gradient(to bottom, transparent 50%, #000 100%), radial-gradient(circle at bottom, #002735 0, #000 100%);
	}

	/* Unset default browser styles for definition and description list tags */
	dfn {
		font-style: normal;
	}

	dl {
		margin-top: 0;
	}

	dd {
		margin-left: 0;
	}
</style>
<section class="black-to-footer pb-4">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<dl>
					<p>
						<strong>If you have an agreement or document with us that incorporates terms on this page by
							reference, capitalised terms in that agreement or document have the meanings set out below,
							unless otherwise specified.</strong>
					</p>
					<!-- Start Definition -->
					<dt class="mt-4">
						<h2 class="h3" id="confidential-information"><dfn>Confidential Information</dfn></h2>
					</dt>
					<dd>All spoken, written or electronically stored information belonging to or relating to either
						party and includes without limitation: any kind of technical, financial or business information;
						details of employees, suppliers, or customers; material developed under this Agreement; and
						Intellectual Property, concepts, know-how and trade secrets, but excludes information in the
						public domain (other than by default under this Agreement) or information independently known to
						the other party.</dd>
					<!-- End Definition -->
					<!-- Start Definition -->
					<dt class="mt-4">
						<h2 class="h3" id="intellectual-property"><dfn>Intellectual Property</dfn></h2>
					</dt>
					<dd>All intellectual property rights, patents, rights to inventions, copyright and related rights,
						moral rights, trademarks and service marks, trade names and domain names, rights in get-up,
						rights to goodwill or to sue for passing off or unfair competition, rights in designs, rights in
						computer software, source and object code, products, programs, technology, hardware, data,
						database rights, rights in confidential information (including know-how, trade secrets and
						marketing secrets), improvements, machines, techniques, methods, and any other intellectual
						property rights, in each case whether registered or unregistered and including all applications
						(or rights to apply) for, and renewals or extensions of, such rights and all similar or
						equivalent rights or forms of protection which subsist or will subsist now or in the future in
						any part of the world.</dd>
					<!-- End Definition -->
				</dl>
			</div>
		</div>
	</div>
</section>