---
layout: page.liquid
metaTitle: Legal Terms & Policies • OneQode
metaDescription: Terms, conditions, policies, and other important documentation for OneQode services.
changefreq: monthly
priority: 0.2
pageSupertitle: Legal Terms
pageTitle: Terms, conditions<br class="responsive"> and policies
pageSubtitle: Important details to be aware of
---
<style>
	section.hero {
		background: linear-gradient(to bottom, transparent 50%, #000 100%), radial-gradient(circle at bottom,#002735 0,#000 100%);
	}
	ul.legal svg {
		display: inline;
		margin-right: 0.2rem;
	}
</style>
<section class="black-to-footer pb-8">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<h3>Legal terms</h3>
				<ul class="no-style legal">
					<li class="mb-1">
						<a href="/legal/oneqode-master-service-agreement.pdf" target="_blank">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" id="file"
								viewBox="0 0 16 16">
								<path fill-rule="evenodd"
									d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0H4zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z" />
							</svg>OneQode Master Service Agreement
						</a>
					</li>
					<li class="mb-1">
						<a href="/legal/oneqode-terms-of-trade.pdf" target="_blank">
							<svg width="16" height="16">
								<use href="#file" />
							</svg>OneQode Terms of Trade
						</a>
					</li>
					<li class="mb-1">
						<a href="/legal/oneqode-critical-information-summary.pdf" target="_blank">
							<svg width="16" height="16">
								<use href="#file" />
							</svg>Internet: Critical Information Summary
						</a>
					</li>
					<li class="mb-1">
						<a href="/legal/oneqode-gaming-server-deployment-terms.pdf" target="_blank">
							<svg width="16" height="16">
								<use href="#file" />
							</svg>Gaming Server Deployment Terms
						</a>
					</li>
				</ul>
				<h3 class="mt-4">Policies</h3>
				<ul class="no-style legal">
					<li class="mb-1">
						<a href="/legal/oneqode-privacy-policy.pdf" target="_blank">
							<svg width="16" height="16">
								<use href="#file" />
							</svg>Privacy Policy
						</a>
					</li>
					<li class="mb-1">
						<a href="/legal/oneqode-fair-use-policy.pdf" target="_blank">
							<svg width="16" height="16">
								<use href="#file" />
							</svg>Network: Fair Use Policy
						</a>
					</li>
					<li class="mb-1">
						<a href="/legal/oneqode-financial-hardship-policy.pdf" target="_blank">
							<svg width="16" height="16">
								<use href="#file" />
							</svg>Financial Hardship Policy
						</a>
					</li>
				</ul>
				<h3 class="mt-4">Information</h3>
				<ul class="no-style">
					<li class="mb-1">
						<a href="/legal/definitions/">
							Legal Definitions
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>