---
permalink: /legal/
layout: page.liquid
metaTitle: Legal Terms & Policies • OneQode
metaDescription: Terms, conditions, policies, and other important material for OneQode, a 21st century Australian internet service provider.
changefreq: monthly
priority: 0.2
pageSupertitle: Legal Terms
pageTitle: Terms, conditions, <mark class="dot">&</mark> policies
pageSubtitle: Important details to be aware of.
---
<style>
	ul.legal svg {
		display: inline;
		margin-right: 0.2rem;
	}
</style>
<section class="blue py-2">
	<div class="container">
		<div class="col-md-10 col-md-offset-1 text-center">Fair Terms ▪ Transparent Policies ▪ Good Business</div>
	</div>
</section>
<section class="black-to-footer py-8">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<h2 class="text-center">Documents & policies <br class="responsive"><mark>for home</mark> users<mark class="dot">.</mark></h2>
				<p class="text-center">Looking for <a href="/business/legal/" title="See legal terms for OneQode business and enterprise customers">business policies</a> instead?</p>
				<h3 class="mt-8">Legal terms</h3>
				<ul class="no-style legal">
					<li>
						<a href="/legal/oneqode-master-terms.pdf" target="_blank">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" id="file" viewBox="0 0 16 16">
								<path fill-rule="evenodd" d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0H4zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z" />
							</svg>Master Terms & Conditions
						</a>
					</li>
				</ul>
				<h3 class="mt-4">Policies</h3>
				<ul class="no-style legal">
					<li class="mb-1">
						<a href="/legal/oneqode-billing-policy.pdf" target="_blank">
							<svg width="16" height="16"><use href="#file" /></svg>Billing Policy
						</a>
					</li>
					<li class="mb-1">
						<a href="/legal/oneqode-financial-hardship-policy.pdf" target="_blank">
							<svg width="16" height="16"><use href="#file" /></svg>Financial Hardship 
						Policy
						</a>
					</li>
					<li class="mb-1">
						<a href="/legal/oneqode-fair-use-policy.pdf" target="_blank">
							<svg width="16" height="16"><use href="#file" /></svg>Fair Use Policy
						</a>
					</li>
					<li class="mb-1">
						<a href="/legal/oneqode-complaints-policy.pdf" target="_blank">
							<svg width="16" height="16"><use href="#file" /></svg>Complaints Policy
						</a></li>
					<li class="mb-1">
						<a href="/legal/oneqode-privacy-policy.pdf" target="_blank">
							<svg width="16" height="16"><use href="#file" /></svg>Privacy Policy
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>