---
layout: post.liquid
section: gaming
permalink: /why-your-game-needs-a-central-server/
metaTitle: Why your game needs a central server • OneQode™
metaDescription: How to make your network the best it can be.
ogImage: central-server-og.jpg
heroImage: central-server
changefreq: never
priority: 0.4
title: Why your game needs a central server<mark class="dot">.</mark>
author: Austin Gallagher
authorRole: Brand Journalist
date: 2022-05-27
tags: ['qode', 'oneqode', 'gamedev', 'esports', 'servers', 'cloud', 'network', 'game servers', 'asia-pacific', 'apac central']
cta: true
ctaTitle: Now you know<mark class="dot">.</mark><br> So what are you waiting for<mark class="dot">?</mark>
ctaSubtitle: Gaming infrastructure that reaches more players in Asia-Pacific.
---
		<style>
			.no-webp section.hero {
				background:	linear-gradient(to bottom, rgba(0,0,0,0.2) 80%, #000),
							url(/img/bg/{{ heroImage }}.png) top right;
				background-size: cover;
				background-repeat: no-repeat;
			}
			.webp section.hero {
				background:	linear-gradient(to bottom, rgba(0,0,0,0.2) 80%, #000),
							url(/img/bg/{{ heroImage }}.webp) left;
				background-size: cover%;
				background-repeat: no-repeat;
			}
		</style>
		<section class="py-4 push-forward">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>Every swing of a sword, every spell, every headshot, every critical hit — it all relies on servers.</p>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>Game developers and gamers know the impact milliseconds have.</p>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<picture>
							<source srcset="/img/content/story/ben-cooper-mr-guam-chief-architect.webp" type="image/webp">
							<img class="opaque" src="/img/content/story/ben-cooper-mr-guam-chief-architect.jpg" alt="One player enjoys a lower ping and therefore performs better in-game while another player struggles">
						</picture>
						<figcaption>High ping stacks the game against you.</a></figcaption>
					</div>
						<p>You want the best for your players. To get their ping as low as possible. For high stakes fast-paced games, you need to minimise the chance of a lost packet, or a desynchronised game.</p>
						<p>But that's not always possible. </p>
						<p>If you're lucky, the majority of your player base might be close to one server. But players might be spread out across entire continents.</p>
						<p>How do you make sure there's an option for every player?</p>
						<p>Central servers.</p>
						<h2>What are central servers?</h2>
						<p>Central servers are designed to walk the tightrope between acceptable latency and maximum reach, primarily built in locations that allow them high-speed connectivity such as capital cities.</p>
						<p>They're for gaming groups spread across regions.</p>
						<p>They're for gamers who live off the beaten track.</p>
						<p>They're for the late-night gamer when the other servers are winding down.</p>
						<p>When considering a central server location, the average ping matters more than the lowest ping. To give a larger group of users good latency, most users will experience slightly higher latency than if the server they were connecting to was local.</p>
						<p>In an ideal network design, distance is the primary limiting factor for speed. A central server ideally sits in a location that makes this distance less of an issue.</p>
						<p>From personal experience, there are games that I have put down forever because there wasn't an option to play with my friends without someone on unplayable ping.</p>
						<p>For competitive games, someone was always at a disadvantage, and if we were playing cooperatively they'd be playing with a severe handicap.</p>
						<p>While this isn't right for every game, countless games would benefit from this option. </p>
						<h2>What are the benefits of a central server location?</h2>
						<h3>Better latency</h3>
						<figure>
							<picture>
								<source srcset="/img/content/meet-eric/oneqode-cloud-upcoming-asia-regions.webp" type="image/webp">
								<img class="opaque" src="/img/content/meet-eric/oneqode-cloud-upcoming-asia-regions.jpg" alt="A map centered on Asia, with annotated spots in Singapore, Hong Kong and Tokyo, where new OneQode cloud regions will be located">
							</picture>
							<figcaption>Player skill over geography.</figcaption>
						</figure>
						<p>Geographically distant players 'meet in the middle' with similar ping, avoiding unfair advantages.</p>
						<p>Developers provide a fair playing field for gamers to hone their skills.</p>

						<h3>Bigger player pool</h3>
						<figure>
							<picture>
								<source srcset="/img/content/meet-eric/oneqode-cloud-upcoming-asia-regions.webp" type="image/webp">
								<img class="opaque" src="/img/content/meet-eric/oneqode-cloud-upcoming-asia-regions.jpg" alt="A map centered on Asia, with annotated spots in Singapore, Hong Kong and Tokyo, where new OneQode cloud regions will be located">
							</picture>
							<figcaption>Keeps players in the game.</figcaption>
						</figure>
						<p>Players consolidated on central servers means matchmaking on these servers is quick, keeping people in the gameplay loop at their skill level.</p>
						<p>They'll keep coming back for more.</p>
						<h3>Extensive reach</h3>
						<figure>
							<picture>
								<source srcset="/img/content/meet-eric/oneqode-cloud-upcoming-asia-regions.webp" type="image/webp">
								<img class="opaque" src="/img/content/meet-eric/oneqode-cloud-upcoming-asia-regions.jpg" alt="A map centered on Asia, with annotated spots in Singapore, Hong Kong and Tokyo, where new OneQode cloud regions will be located">
							</picture>
							<figcaption>Connecting players beyond borders.</figcaption>
						</figure>
						<p>Players can play with friends old and new from across the region, connecting with people they couldn't play with otherwise.</p>
						<p>Developers benefit with comprehensive reach and lower operational costs.</p>
						<div class="col-xs-12 col-md-12 mb-4">
					</div>
						<h2 class="mt-4 h3">Centrality isn't a silver bullet</h2>
						<p>No tool is right for every job.</p>
						<p>For the best ping, a local server will always beat a central one. </p>
						<p>If you live in the same city as a data centre for your game of choice, the connection delay will be almost imperceptible.</p>
						<p>At the highest level of play, there would probably be players who would camp inside a data centre if it shaved a few milliseconds off their ping.</p>
						<figure>
							<picture>
								<source srcset="/img/content/central-server-benefits/camping-in-a-data-centre.webp" type="image/webp">
								<img class="opaque" src="/img/content/central-server-benefits/camping-in-a-data-centre.jpg" alt="The view as if from inside a tent, looking out onto a blue tinted data centre.">
							</picture>
							<figcaption>Imagine waking up to this every morning.</figcaption>
						</figure>						
						<p>At the expense of everyone else.</p>
						<p>This is why you need central servers to combat ping inequity.</p>
						<p>The more popular a game becomes, the more players are coming from further apart to play together. </p>
						<p>The choice becomes faster connections for some or a higher average ping for everyone.</p>
						<p>That strong average ping is more players honing their skills against a variety of opponents and playing with far-flung friends. It's a healthier game population united on one server. It's a game that they can consistently play with whoever is online.</p>
						<p>With all these benefits in mind, central servers are a powerful tool to support an already extensive network or lower costs without sacrificing reaching players.</p>
						<h3>But where are the world's central servers?</h3>
						<p>To have a game accessible across the globe multiplayer games need coverage.</p>
						<p>Take Riot Games' Valorant as an example.</p>
						<p>Riot Games has central servers in North America (Iowa) and Europe (Frankfurt) but lacks total coverage in other regions.</p>
						<p>South and Latin American players have Santiago, Mexico City, Miami, and Sao Paulo, none of which are central.</p>
						<p>African players only get one option in Istanbul.</p>
						<p>Lastly, the geography of Asia-Pacific (APAC) makes the most common regions poor choices for a central server, separating the players substantially.</p>
						<figure>
							<picture>
								<source srcset="/img/content/central-server-benefits/asia-pacific-valorant-servers.webp" type="image/webp">
								<img class="opaque" src="/img/content/central-server-benefits/asia-pacific-valorant-servers.png" alt="Pins are placed on Valorant's Asia-Pacific and Korean server locations in Seoul, Tokyo, Mumbai, Singapore, Hong Kong, and Sydney">
							</picture>
							<figcaption>Valorant's APAC and Korean server locations in Seoul, Tokyo, Mumbai, Singapore, Hong Kong, and Sydney</figcaption>
						</figure>
						<p>Functionally, Valorant's many server locations probably work for a majority of players, especially given its high player count.</p>
						<p>But for smaller games, separating the population into so many server locations may damage the game, as each individual location may suffer from a lack of a viable population. Not to mention that having this many server locations may be financial unviable for many studios.</p>
						<p>Without the support of a huge publisher, or a massive amount of players, a central server is an invaluable tool for any multiplayer game.</p>
						<p>But in APAC, the region with the most gamers, there simply <i>wasn't an alternative.</i></p>
						<h3>Where would you put a central server in APAC?</h3>
						<p>APAC had been left behind, despite being the largest games market globally.</p>
						<p>Servers are located across Asia, but they don't serve a potential player base equally.</p>
						<p>In APAC, the best option used to be Singapore or Hong Kong. While that was great for a player there or in Bangkok, their competition in Sydney facing a huge ping was at a massive disadvantage. </p>
						<p>So where would an APAC central server go?</p>
						<p>Some Australian locations had potential.</p>
						<p>Darwin has geographical benefits, but lacks the infrastructure. Perth could be considered but is too far south to give benefits to all but a handful of users.</p>
						<p>So we looked further afield, and instead established our central server in Guam.</p>
						<figure>
							<picture>
								<source srcset="/img/guam-cables-mobile.webp" type="image/webp">
								<img src="/img/guam-cables-mobile.jpg" alt="A stylised map showing APAC Central (Guam), with subsea cables and latencies to nearby countries">
							</picture>
							<figcaption>The promise of central servers, is now a reality in Asia-Pacific.</figcaption>
						</figure>
						<p>The existing options in APAC weren't good enough for the number of gamers trying to connect across the region.</p>
						<p>So we took a risk and established what is a true central server location for APAC.</p>
						<p>The island of Guam happened to be a perfect location with access to a web of subsea cables making it the crossroads of APAC connectivity.</p>
						<p>Read more about how we did it <a href="/server-pacific-island/"> here.</a></p>
					</div>
				</div>
			</div>
		</section>