---
layout: post.liquid
section: gaming
permalink: /why-your-game-needs-a-central-server/
metaTitle: Why your game needs a central server • OneQode™
metaDescription: Find out about the key benefits of central servers that help game developers big and small maintain active players, and grow their audience.
ogImage: central-server-og.jpg
heroImage: central-server
changefreq: never
priority: 0.4
title: Why your game needs a central server<mark class="dot">.</mark>
author: Austin Gallagher
authorRole: Brand Journalist
date: 2022-06-29
tags: ['qode', 'oneqode', 'gamedev', 'esports', 'servers', 'cloud', 'network', 'game servers', 'asia-pacific', 'apac central']
cta: true
ctaTitle: Now you know<mark class="dot">.</mark><br> What are you waiting for<mark class="dot">?</mark>
ctaSubtitle: Gaming infrastructure that reaches more players in Asia-Pacific.
---
		<style>
			.no-webp section.hero {
				background:	linear-gradient(to bottom, rgba(0,0,0,0.2) 80%, #000),
							url(/img/bg/{{ heroImage }}.png) top right;
				background-size: cover;
				background-repeat: no-repeat;
			}
			.webp section.hero {
				background:	linear-gradient(to bottom, rgba(0,0,0,0.2) 80%, #000),
							url(/img/bg/{{ heroImage }}.webp) left;
				background-size: cover%;
				background-repeat: no-repeat;
			}
		</style>
		<section class="py-4 push-forward">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>Every swing of a sword, every spell, every headshot, every critical hit — it all relies on servers.</p>
						<p>Fractions of a second can change everything.</p>
						<figure>
							<picture>
								<source srcset="/img/content/central-server-benefits/central-server-illustration-1.webp" type="image/webp">
								<img src="/img/content/central-server-benefits/central-server-illustration-1.png" alt="One player enjoys a lower ping and therefore performs better in-game while another player struggles." loading="lazy">
							</picture>
							<figcaption>High ping stacks the game against you.</figcaption>
						</figure>
						<p>You want the best for your players. For high-stakes fast-paced games, you need to minimise the chance of a lost packet, or a desynchronised game. No matter what, players need to have faith in reliably low ping.</p>
						<p>But that’s not always possible. </p>
						<p>If you’re lucky, the majority of your player base might be close to one server. But players might be spread out across entire continents.</p>
						<p>How do you make sure there’s an option for every player?</p>
						<p>Central servers.</p>
						<h2 class="mt-4">What are central servers?</h2>
						<p>Central servers are designed to walk the tightrope between acceptable latency and maximum reach, primarily built in locations with high-speed connectivity such as capital cities.</p>
						<p>They’re for gaming groups spread across regions.</p>
						<p>They’re for gamers who live off the beaten track.</p>
						<p>They’re for the late-night gamer when the other servers are winding down.</p>
						<p><strong>When considering a central server location, the average ping matters more than the lowest ping</strong>. To give a larger group of users good latency, most users will experience slightly higher latency than if the server they were connecting to was local.</p>
						<p>In an ideal network, distance is the main limiting factor, and central servers aim to eliminate the longest distances.</p>
						<p>From personal experience, there are games that I have put down forever because there wasn’t an option to play with my friends without someone on unplayable ping.</p>
						<p>For competitive games, someone was always at a disadvantage, and if we were playing cooperatively they’d be playing with a severe handicap.</p>
						<p>While this isn’t right for every game, countless games would benefit from having a central server. </p>
						<h2 class="mt-4">What are the benefits of a central server location?</h2>
						<h3>Benefit #1: Extensive reach</h3>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
					    <figure>
					    	<picture>
								<source srcset="/img/content/central-server-benefits/central-server-illustration-4.webp" type="image/webp">
								<img src="/img/content/central-server-benefits/central-server-illustration-4.png" alt="A three-circle Venn diagram that shows two server regions that don’t overlap at all, inside of one larger circle which encompasses both and more players beyond" loading="lazy">
							</picture>
					        <figcaption>Connecting players beyond borders.</figcaption>
					    </figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>With a central server location, developers get massive reach across a given region. Players can play with friends, old and new, and connect with people that would be impossible to reach otherwise.</p>
						<p>Take APAC Central for instance. It can reach 1.45 billion people in twenty countries. If you compare that to the average reach of a server in Tokyo, the difference is a few orders of magnitude.</p>
						<p>For each dollar spent by the developer you’re reaching more people, and you’re giving them each a more comprehensive experience.</p>
						<h3>Benefit #2: Better latency</h3>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/central-server-benefits/central-server-illustration-2.webp" type="image/webp">
								<img src="/img/content/central-server-benefits/central-server-illustration-2.png" alt="Image showing player skill as more important than the geographical location they are playing from." loading="lazy">
							</picture>
				        	<figcaption>Player skill over geography.</figcaption>
					    </figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>When those players jump online, it isn't just a wider range geographically, but in terms of skill.</p>
						<p>This means that distant players ‘meet in the middle’ with similar ping, avoiding unfair advantages.</p>
						<p>By investing in a central server, developers provide a fair playing field for gamers to hone their skills.</p>
						<p>Central servers help build a more competitive and engaged community across the entire region.</p>
						<h3>Benefit #3: Bigger player pool</h3>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
					    <figure>
					    	<picture>
								<source srcset="/img/content/central-server-benefits/central-server-illustration-3.webp" type="image/webp">
								<img src="/img/content/central-server-benefits/central-server-illustration-3.png" alt="Image shows central servers provide a digital venue that provides for the most number of players." loading="lazy">
							</picture>
					        <figcaption>Central servers reach a wider audience of players</figcaption>
					    </figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>By investing in central servers, you can unite your game's population on fewer servers. This makes matchmade activities much easier to fill with fewer active players overall.</p>
						<p>A consolidated player population with quick searches keeps players in the gameplay loop and off menus.</p>
						<p>A game that you spend time playing instead of waiting? That is a game where players keep coming back for more.</p>
						<h3>Central servers change the game</h3>
						<p>When these benefits work together in tandem, it greatly improves the multiplayer of any game.</p>
						<p>It means that no matter the time of day, people can jump on your game and know that they will be able to find a match quickly and at their skill level.</p>
						<p>They won’t have to wait for prime time, and they won’t be stuck in a queue for a match.</p>
						<h2 class="mt-4 h3">Centrality isn’t a silver bullet</h2>
						<p>No tool is right for every job.</p>
						<p>For the best ping, a local server will always beat a central one. </p>
						<p>If you live in the same city as a data centre for your game of choice, the connection delay will be almost imperceptible.</p>
						<p>At the highest level of play, there would probably be players who would camp inside a data centre if it shaved a few milliseconds off their ping.</p>
						<p>At the expense of everyone else.</p>
						<figure>
							<picture>
								<source srcset="/img/content/central-server-benefits/camping-in-a-data-centre.webp" type="image/webp">
								<img class="opaque" src="/img/content/central-server-benefits/camping-in-a-data-centre.jpg" alt="The view as if from inside a tent, looking out onto a blue tinted data centre.">
							</picture>
							<figcaption>Some players would live here, if they could.</figcaption>
						</figure>						
						<p>This is why you need central servers to combat ping inequity.</p>
						<p>As a game becomes more popular, more players connecting from across the world will need to be supported</p>
						<p>The choice every developer will need to make becomes:</p>
						<ol type=a><li>Faster connections for some, with higher ping for everyone else</li>
						<li>An increased average ping, but that is equitable across many players</li></ol>
						<p>Choosing the second option means more players honing their skills against a variety of opponents. It means more gamers playing with far-flung friends. It means a healthier game population united on one server. It means a game that they can consistently play, regardless of whoever is online.</p>
						<p>With all these benefits in mind, central servers are a powerful tool to support an already extensive network or lower costs without sacrificing reaching players.</p>
						<h3>But where are the world’s central servers?</h3>
						<p>Multiplayer games need server coverage across the globe.</p>
						<p>Take Riot Games’ Valorant as an example.</p>
						<p>Riot Games has central servers in North America (Iowa) and Europe (Frankfurt) but lacks total coverage in other regions.</p>
						<p>South and Latin American players have Santiago, Mexico City, Miami, and Sao Paulo, none of which are central.</p>
						<p>African players only get one option in Istanbul.</p>
						<p>Lastly, the geography of Asia-Pacific (APAC) makes the most common regions poor choices for a central server, separating the players substantially.</p>
						<figure>
							<picture>
								<source srcset="/img/content/central-server-benefits/asia-pacific-valorant-servers.webp" type="image/webp">
								<img class="opaque" src="/img/content/central-server-benefits/asia-pacific-valorant-servers.png" alt="Pins are placed on Valorant’s Asia-Pacific and Korean server locations in Seoul, Tokyo, Mumbai, Singapore, Hong Kong, and Sydney">
							</picture>
							<figcaption>Valorant’s APAC and Korean server locations in Seoul, Tokyo, Mumbai, Singapore, Hong Kong, and Sydney</figcaption>
						</figure>
						<p>Functionally, Valorant’s many server locations probably work for a majority of players, especially given its high player count.</p>
						<h3>Splitting your players too much can kill your game</h3>
						<p><strong>But for smaller games, separating the population into so many server locations may damage the game, as each individual location may suffer from a lack of a viable population.</strong> Not to mention that having this many server locations may be financial unviable for many studios.</p>
						<p>Without the support of a huge publisher, or a massive amount of players, a central server is an invaluable tool for any multiplayer game.</p>
						<p>But in APAC, the region with the most gamers, there simply <i>wasn’t an alternative.</i></p>
						<h3>Where would you put a central server in APAC?</h3>
						<p>APAC had been left behind, despite being the largest games market globally.</p>
						<p>Servers are located across Asia, but they don’t serve a potential player base equally.</p>
						<p>The best option used to be Singapore or Hong Kong. While that was great for a player there or in Bangkok, their competitors in Sydney facing a huge ping was at a massive disadvantage.</p>
						<p>So where would an APAC central server go?</p>
						<p>Some Australian locations had potential.</p>
						<p>Darwin had geographical benefits, but lacked the infrastructure. Perth was considered but is too far south to give benefits to all but a handful of users.</p>
						<p>So we looked further afield, and instead established our central server on an island in the middle of the Pacific, Guam.</p>
						<p>We built it from the ground up, Asia-Pacific’s first truly central server location. It connects Asia, Australia, and even the east coast of the USA.</p>
						<p>We call it <a href="/guam/"> APAC Central.</a></p>
						<figure>
							<picture>
								<source srcset="/img/guam-cables-mobile.webp" type="image/webp">
								<img src="/img/guam-cables-mobile.jpg" alt="A stylised map showing APAC Central (Guam), with subsea cables and latencies to nearby countries">
							</picture>
							<figcaption>The promise of central servers is now a reality in Asia-Pacific, APAC Central (Guam).</figcaption>
						</figure>
						<p>The existing options in APAC weren’t good enough for the number of gamers trying to connect across the region.</p>
						<p>So we took a risk and established what is a true central server location for APAC.</p>
						<p>The island of Guam happened to be a perfect location with access to a web of subsea cables making it the crossroads of APAC connectivity.</p>
						<p>Now APAC can finally take advantage of all the benefits of a central server.
							<li>Further reach</li>
							<li>Better latency</li>
							<li>More players</li>
						<p>The only thing that stood in the way? <a href="/server-pacific-island/"> Putting servers on a Pacific island.</a></p>
					</div>
				</div>
			</div>
		</section>