---
layout: post.liquid
section: gaming
permalink: /lower-your-ping/
metaTitle: "How to Lower Your Ping: Tips from Network Engineers • OneQode"
metaDescription: Sick of gaming with a high ping? Read our expert guide of simple solutions to lower your latency and optimise your connection for gaming.
ogImage: what-is-a-game-server.jpg
heroImage: ping-problems-hero
changefreq: never
priority: 0.4
title: 'How to Lower Your Ping<mark class="dot">:</mark><br class="responsive"> Tips from Network Engineers<mark class="dot">.</mark>'
author: Austin Gallagher
authorRole: Content Lead
date: 2022-07-25
tags: ['qode', 'oneqode', 'telecom', 'gaming', 'servers', 'networking', 'latency']
lazyLoadVideo: true
cta: true
ctaTitle: Setting up your servers<mark class="dot">?</mark><br> You’re in the right place<mark class="dot">.</mark>
ctaSubtitle: Blazing-fast dedicated and cloud servers built for gaming.
---
		<style>
			.no-webp section.hero {
				background:	linear-gradient(to bottom, rgba(0,0,0,0.2) 80%, #000),
							url(/img/bg/{{ heroImage }}.jpg) bottom center;
				background-size: cover;
				background-repeat: no-repeat;
			}
			.webp section.hero {
				background:	linear-gradient(to bottom, rgba(0,0,0,0.2) 80%, #000),
							url(/img/bg/{{ heroImage }}.webp) bottom center;
				background-size: cover;
				background-repeat: no-repeat;
			}
		</style>
		<section class="pb-4 push-forward">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>Are your teammates tired of you blaming it on the lag?</p>
						<p>You miss at the pivotal moment, and your team is wiped out, defeated, and sent back to the lobby with nothing but bruised egos.</p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<div class="wrapper">
								<div class="tenor-gif-embed" data-postid="18613467" data-share-method="host" data-aspect-ratio="1.78771" data-width="100%"></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
							</div>
							<figcaption>Avoid this happening every drop in Apex Legends.</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p><strong>But you didn’t choke. Your internet did.</strong></p>
						<p>“Sure,” they all say. But you can hear the doubt creeping into their voice.</p>
						<p>If only you could fix it.</p>
						<p>But that’s something for your provider to deal with, there’s nothing you can do, right?</p>
						<p>Wrong.</p>
						<p>There’s plenty that can be done to improve your connection and your game.</p>
						<p>The first step is to get the best connection to your console or PC.</p>
						<h2 class="mt-4">Get off Wi-Fi and reach for the ethernet cable</h2>
						<p>You’ve heard this one before.</p>
						<p>Wired connections offer better throughput, lower latency, and more stable connections than wireless.</p>
						<!-- <p>Ping problems? Here's what you can do.</p> -->
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/home-latency/gaming-router-meme.webp" type="image/webp">
								<img class="opaque" src="/img/content/home-latency/gaming-router-meme.jpg" alt="Image shows an expensive gaming router placed against the cheaper and more effective ethernet cable.">
							</picture>
							<figcaption>Don't be fooled by 'gaming routers'.</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>Your Wi-Fi might be fine for browsing YouTube & Netflix, but when it comes time to boot up your favourite game, consider plugging in the ethernet cable.</p>
						<p>Wi-Fi can be interfered with or disrupted by other electronics, metal, or even just small barriers.</p>
						<p>A hardwired ethernet cable, particularly one of high quality, will have an almost lossless and instant connection.</p>
						<p>There are countless guides online that will explain why ethernet cables are a better option than wireless.</p>
						<p>To put it simply? </p>
						<p><strong>All that interference from other networks, and other devices, won’t affect the hard-wired ethernet connection.</strong></p>
							<blockquote><p>Busy spectrum, lots of neighbours etc. the amount of wireless interference is higher than ever</p>
							</blockquote>
						<p>The distance between your computer or console and the router is fully within your control, so you might as well take advantage of the best possible connection.</p>
						<p>It isn’t the most exciting option, <strong>but the ethernet cable is a ubiquitous suggestion because it is the best solution.</strong></p>
						<p>If you can only do one thing on this list, our network engineers recommend this. A direct ethernet connection <em>will always</em> be better than any alternative.</p>
						<h3>But my router is in another room!</h3>
						<p>The first and easiest suggestion is to just buy a long ethernet cable and some cable organisation clips.</p>
						<p>It isn’t necessarily the best-looking option, and if your doors don’t have a lot of clearance around the frame you may run into some issues. </p>
						<p>Money no object? If you want to hide it fully, you <em>can</em> pay an electrician to run an ethernet cable through the walls.</p>
						<h2 class="mt-4">Can’t run ethernet? There are some backup options.</h2>
						<p>You don’t want to run a cable through the entire house.</p>
						<p>You’ve got a dog, a cat, a kid, or a housemate who would take issue with that.</p>
						<p>Luckily, we’ve got <strong>options</strong> for you to not become the most hated housemate.</p>
						<h3>Powerline: Internet over existing wiring</h3>
						<p><strong>Powerline products are one option.</strong> They use the existing wiring without your house to transmit data, and by simply buying and installing an outlet extension, you can connect an ethernet cable to the port.</p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/home-latency/tp-link-powerline.webp" type="image/webp">
								<img class="opaque" src="/img/content/home-latency/tp-link-powerline.jpg" alt="An image of two powerline adaptors side by side, with power passthrough and ethernet ports.">
							</picture>
						<figcaption>A TP-Link branded Powerline adaptor.</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p><strong>A powerline solution’s effectiveness will differ based on the wiring in your home.</strong></p>
						<p>Newer homes with high-quality wiring will allow powerline connections to offer lower latency, higher stability, and higher throughput than Wi-Fi.</p>
						<p>Older homes with poor existing circuitry may have a worse overall connection through powerline than Wi-Fi.</p>
						<p><strong>The best way to check? Keep the receipts.</strong></p>
						<p>Unless you have far more tools or have wiring diagrams for your property, it is hard to gauge if a powerline connection will solve your networking issues.</p>
						<p>Mitigate your risk and make sure there is a return policy just in case!</p>
						<p>Hot tip: <strong>if you can afford to not penny-pinch with these, don’t</strong>. Either they work and you’ve got a great one, or you return them.</p>
						<h3>MoCA: Repurpose your TV Connection</h3>
						<p>An alternative to powerline is MoCA.</p>
						<p>MoCA stands for Multimedia over Coax Alliance, which was created to stream video.</p>
						<p>These lines used to be connected to most people’s televisions, but these days it’s likely you have never connected one if you opt for streaming services.</p>
						<p>Coax works similarly to Powerline, plugging into existing outlets within your home. </p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/home-latency/moca-image.webp" type="image/webp">
								<img class="opaque" src="/img/content/home-latency/moca-image.jpg" alt="MoCA adaptors alongside their cables, familiar to people who have connected TVs to a network.">
							</picture>
							<figcaption>If you have these in multiple rooms, you can use them to extend your physical network.</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p><strong>Many homes already have Coax installed, and this existing connection can be repurposed to lower your latency.</strong></p>
						<p>Unlike power cables, Coax was designed with data transmission in mind.</p>
						<p>Coax will still introduce a small amount of latency to your connection over Ethernet, but MoCA is a great option if the cabling is already installed.</p>
						<p>Keep in mind that both Powerline and MoCA require some investment, and quality may vary. So if you go with either be prepared that it might not improve the connection.</p>
						<p>Now that you’ve gotten yourself on a wired connection (hopefully), there are a few other tips and tricks to optimise your set-up.</p>
						<!-- <h3>Get an electrician to run an ethernet cable through the walls</h3>
						<p>If your wiring isn’t doing the job and your house doesn’t have the necessary coax cables to get MoCA working, you could always install a permanent ethernet cable.</p>
						<p>If your landlord will allow it, you can have an electrician run an ethernet cable from room to room alongside your electrical wiring.</p>
						<p>No matter what room your router is in, you can get the best possible connection closer to your computer or console, without running an ethernet cable down the hallway.</p>
						<p>It’ll cost you a few hundred dollars, but will still be cheaper than a lot of the ’gaming routers’ that won’t offer a connection that is nearly as fast or secure.</p>
						 -->
						<h2>Try a gaming network optimiser without swapping ISP</h2>
						<p>We’ve all heard the advertisements for VPNs to keep your browsing secure.</p>
						<p>VPNs send your data over private tunnels with a focus on privacy.</p>
						<p>Companies like <a href="https://www.wtfast.com/en/" rel="noopener">WTFast</a>, or <a href="https://www.exitlag.com/en" rel="noopener">Exitlag</a>, use a similar design to lower latency.</p>
						<p>By using their service, you can enhance and optimise your connection.</p>
						<p>You can the games <a href="https://www.wtfast.com/en/" rel="noopener">WTFast supports</a>, or <a href="https://www.exitlag.com/en/games" rel= "noopener">try Exitlag’s list</a>.</p>
						<p>Check if they support your favourite games, and subscribe for a month
						<p>Their software sends your data over the best possible routes available in order to shave time off your ping, with the aim to ---------------------------------------------------------</p>
						<p>WTFast operates a latency-optimised Gamers Private Network that reduces latency and gives you deep analytics for how your packets are being sent to the game server.</p>
						<p>For transparency, WTFast is a OneQode partner, and they use our high-end designed for gaming connectivity across Asia-Pacific.</p>
						<h2>Lower your System Latency</h2>
						<p>This suggestion is slightly niche.</p>
						<p>If you’re a PC gamer, and one with the Nvidia graphics card, you can take advantage of <a href='https://www.nvidia.com/en-au/geforce/guides/system-latency-optimization-guide/' target='_blank' class='url'>Nvidia Reflex</a>.</p>
						<p>This is the only suggestion on this list that isn’t reliant on your internet connection but is limited by your platform and GPU.</p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/home-latency/system-latency-technology.webp" type="image/webp">
								<img class="opaque" src="/img/content/home-latency/system-latency-technology.jpg" alt="Nvidia's system latency optimisation graphic.">
							</picture>
							<figcaption>Image from Nvidia's system latency webpage.</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>They’ve built an SDK for developers that reduces system latency, hopefully improving your mechanical skill in game.</p>
						<p>If you’ve got an Nvidia card, and you’re playing games that are taking advantage of the SDK, you can hopefully shave a few milliseconds off your internal latency.</p>
						<p></p>
						<p>But if you’ve already optimised your hardware as best you can, and you’re still struggling against a poor network, here are some options to improve your set-up.</p>
						<h2>Move house (joking... unless?)</h2>
						<p>If all else fails, there’s one thing to keep in mind.</p>
						<p>You could move house.</p>
						<p>This is obviously not a <em>reason</em> to move, but internet connectivity is something to keep in mind if your lease is up and you’re looking for a new place. </p>
						<p>If you live in Australia you might remember our ill-fated NBN program, and that the rollout has been a disaster over the last few years. Some locations are <em>actually</em> connected to the fibre cables to the premises.</p>
						<p>We don’t recommend you move house to improve your gameplay... <em>but if you’re already moving.</em></p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<video
							class="lazy full-width"
							poster="/img/content/home-latency/nbn-connecting-thumbnail.jpg"
							aria-label="The finder NBN tracker showing connectivity availability."
							width="1200"
							height="836"
							autoplay muted loop playsinline disableRemotePlayback
						>
							<source
								data-src="https://oneqode.sfo2.digitaloceanspaces.com/videos/nbn-connecting.mp4"
								type="video/mp4"
							>
						</video>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>If you live in Australia, you can use <a href='https://www.finder.com.au/nbn-tracker/map'>this NBN address checker</a> to see if places you’re looking at are going to offer you the best connection possible for your online play.</p>
						<p>There are a variety of overlapping technologies that make up the networks across Australia. Here’s how to decode the tech talk.</p>
						<ul>
							<li><strong>Fibre to the premises</strong>: your ideal option.</li>
							<li><strong>Fibre to curb, or fibre to the building</strong>: good, but not the best.</li>
							<li><strong>Hybrid Fibre Coaxial</strong>: far from the best.</li>
						</ul>
						<p>Is there anything to avoid?</p>
						<p>If you see <strong>fibre to the node</strong>, “run away screaming” according to our engineers. This connection is still bottlenecked by the old copper wiring that made up connections before fibre was the new standard.</p>
						<p>Basically, that option is likely to cause you more headaches than anything going forward, so avoid it if possible.</p>
						<h2 class="mt-4">The final option</h2>
						<p>Your computer is directly connected via ethernet. System latency is as low as possible. You've moved to a fibre connected house.</p>
						<p>But you’re still dying. You’re still letting the team down.</p>
						<p>There’s one more option we can recommend. It won’t be easy, but if you’ve tried every other step along the way, this might be the only thing you can do.</p>
						<p>You could try <em>getting better at the game.</em></p>
					</div> 
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/home-latency/gitgud.webp" type="image/webp">
								<img class="opaque" src="/img/content/home-latency/gitgud.jpg" alt="A meme implying that you should become better at video games.">
							</picture>
							<figcaption>It’s worth a shot.</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>If that doesn’t work, don’t tell your friends how hard you worked to get your internet to work, and keep blaming it on the lag.</p>
				</div>
			</div>
		</section>