---
layout: post.liquid
permalink: /lower-your-ping/
metaTitle: "How to Lower Your Ping: Tips from Network Engineers • OneQode"
metaDescription: Sick of gaming with a high ping? Read our expert guide of simple solutions to lower your latency and optimize your connection for gaming.
ogImage: lower-your-ping.jpg
heroImage: ping-problems-hero
changefreq: never
priority: 0.4
title: 'How to Lower Your Ping<mark class="dot">:</mark><br class="responsive"> Tips from Network Engineers<mark class="dot">.</mark>'
author: Austin Gallagher
date: 2022-07-28
tags: ['qode', 'oneqode', 'telecom', 'gaming', 'servers', 'networking', 'latency']
lazyLoadVideo: true
cta: true
ctaTitle: Setting up your servers<mark class="dot">?</mark><br> You’re in the right place<mark class="dot">.</mark>
ctaSubtitle: Blazing-fast dedicated and cloud servers built for gaming.
---
		<style>
			.no-webp section.hero {
				background:	linear-gradient(to bottom, rgba(0,0,0,0.2) 80%, #000),
							url(/img/bg/{{ heroImage }}.jpg) bottom center;
				background-size: cover;
				background-repeat: no-repeat;
			}
			.webp section.hero {
				background:	linear-gradient(to bottom, rgba(0,0,0,0.2) 80%, #000),
							url(/img/bg/{{ heroImage }}.webp) bottom center;
				background-size: cover;
				background-repeat: no-repeat;
			}
		</style>
		<section class="pb-4 push-forward">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>Are your teammates tired of you blaming it on the lag?</p>
						<p>You miss at the pivotal moment, and your team is wiped out, defeated, and sent back to the lobby with nothing but bruised egos.</p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<div class="wrapper">
								<div class="tenor-gif-embed" data-postid="18613467" data-share-method="host" data-aspect-ratio="1.78771" data-width="100%"></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
							</div>
							<figcaption>Avoid this happening every drop in Apex Legends</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p><strong>But you didn’t choke. Your internet did.</strong></p>
						<p>“Sure,” they all say. But you can hear the doubt creeping into their voice.</p>
						<p>If only you could fix it.</p>
						<p>But that’s something for your provider to deal with, there’s nothing you can do, right?</p>
						<p>Wrong.</p>
						<p><strong>There’s plenty that can be done to improve your connection and your game.</strong></p>
						<p>The first step is to get the best connection between your console or PC and your router.</p>
						<h2 class="mt-4">Get off Wi-Fi and reach for the ethernet cable</h2>
						<p>If you can only do one thing, our engineers recommend grabbing an ethernet cable.</p>
						<p>Wired connections offer better throughput, lower latency, and more stable connections than wireless.</p>
						<p>This will make the single biggest difference to your ping</p>
						<!-- <p>Ping problems? Here's what you can do.</p> -->
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/home-latency/gaming-router-meme.webp" type="image/webp">
								<img class="opaque" src="/img/content/home-latency/gaming-router-meme.jpg" alt="Meme entitled 'Who would Win?' — an expensive 500 dollar gaming router placed against the cheaper and more effective 10 dollar ethernet cable from Amazon." loading="lazy">
							</picture>
							<figcaption>Don't be fooled by 'gaming routers'</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>Your Wi-Fi might be fine for browsing YouTube & Netflix, but when it comes time to boot up your favourite game, consider plugging in the ethernet cable.</p>
						<p>Wi-Fi can be interfered with or disrupted by other electronics, metal, or even just small barriers.</p>
						<p>A hardwired ethernet cable, particularly one of high quality, will have an almost lossless and instant connection.</p>
						<p>To put it simply?</p>
						<ul>
							<li><strong>Ethernet is more reliable.</strong> Interference from other networks, and other devices, won’t affect the hard-wired ethernet connection.</li>
							<li><strong>Ethernet is more secure.</strong> An ethernet cable is less likely to degrade the signal over the same distance.</li>
							<li><strong>Ethernet is faster.</strong> Depending on the network, an ethernet connection could be more than twice as fast as wireless.</li>
							<li><strong>Ethernet will lower your ping.</strong></li>
						</ul>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/home-latency/wifi-vs-ethernet-interference.webp" type="image/webp">
								<img class="opaque" src="/img/content/home-latency/wifi-vs-ethernet-interference.jpg" alt="Illustration of two rooms in a house, a Wi-Fi router emanating waves in one, and a gaming computer on a desk in the other. Wireless signal is weakened by a wall, and spectral interference from an external wireless network is also visible. A blue ethernet cable is visible, showing unimpeded connectivity between the router and the computer." loading="lazy">
							</picture>
							<figcaption>Ethernet beats Wi-Fi for latency and reliability</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>The distance between your computer or console and the router is fully within your control, so you might as well take advantage of the best possible connection.</p>
						<p>It isn’t the most exciting option, <strong>but an ethernet cable is the best solution.</strong></p>
						<h3>But my router is in another room!</h3>
						<p>The first and easiest suggestion is to just <strong> buy a long ethernet cable </strong> and some cable organisation clips.</p>
						<p>It isn’t necessarily the best-looking option, and if your doors don’t have a lot of clearance around the frame you may run into some issues. </p>
						<p>Money no object? If you want to hide it fully, you <em>can</em> pay an electrician to run an ethernet cable through the walls.</p>
						<h2 class="mt-4">Can’t run ethernet? There are some backup options.</h2>
						<p>You don’t want to run a cable through the entire house.</p>
						<p>You’ve got a dog, a cat, a kid, or a housemate who would take issue with that.</p>
						<p>Luckily, we’ve got <strong>options</strong> for you to not become the most hated housemate.</p>
						<h3>Powerline: Internet over existing wiring</h3>
						<p><strong>Powerline products</strong> use the existing wiring in your house to transmit data. Any existing outlet can be turned into powerline port with their adaptors, which lets you connect an ethernet cable into the outlet.</p>
						<p>Plug one in next to your router, and another in the room where you want the port, and the two will connect through your home wiring.</p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/home-latency/tp-link-powerline.webp" type="image/webp">
								<img class="opaque" src="/img/content/home-latency/tp-link-powerline.jpg" alt="An image of two powerline adaptors side by side, with power passthrough and ethernet ports." loading="lazy">
							</picture>
						<figcaption>A TP-Link branded Powerline adaptor.</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p><strong>A powerline solution’s effectiveness will differ based on the wiring in your home.</strong></p>
						<p>Newer homes with high-quality wiring will allow powerline connections to offer lower latency, higher stability, and higher throughput than Wi-Fi.</p>
						<p>Older homes with poor existing circuitry may have a worse overall connection through powerline than Wi-Fi.</p>
						<p>Unless you have far more tools or have wiring diagrams for your property, it is hard to gauge if a powerline connection will solve your networking issues.</p>
						<p>So if you want to check out powerline but don’t know if your home wiring will be good enough?<strong> Keep the receipts.</strong></p>
						<p>Mitigate your risk and make sure there is a return policy just in case!</p>
						<p>Hot tip: <strong>opt for the premium option if you can afford them</strong>. Either they work and you’ve got a great one, or you return them.</p>
						<h3>MoCA: Repurpose your TV Connection</h3>
						<p>An alternative to powerline is MoCA, standing for Multimedia over Coax Alliance, which was created to stream video.</p>
						<p><strong>If you have a coaxial (TV aerial) connections between the two rooms that you need to connect, MoCA could work for you.</strong></p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/home-latency/moca-image.webp" type="image/webp">
								<img class="opaque" src="/img/content/home-latency/moca-image.jpg" alt="MoCA adaptors alongside their cables, familiar to people who have connected TVs to a network." loading="lazy">
							</picture>
							<figcaption>If you have these in multiple rooms, you can use them to extend your physical network.</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>Unlike power cables, Coax was designed with data transmission in mind. In some cases, this will make it a faster connection than powerline.</p>
						<p>MoCA will still introduce a small amount of latency to your connection over Ethernet, and you may not have the connections in the rooms you need to connect.</p>
						<p>Keep in mind that both Powerline and MoCA require some investment, and quality may vary. So if you go with either be prepared that it might not improve the connection.</p>
						<p>Now that you’ve gotten yourself on a wired connection (hopefully), there are a few other tips and tricks to optimize your set-up.</p>
						<!-- <h3>Get an electrician to run an ethernet cable through the walls</h3>
						<p>If your wiring isn’t doing the job and your house doesn’t have the necessary coax cables to get MoCA working, you could always install a permanent ethernet cable.</p>
						<p>If your landlord will allow it, you can have an electrician run an ethernet cable from room to room alongside your electrical wiring.</p>
						<p>No matter what room your router is in, you can get the best possible connection closer to your computer or console, without running an ethernet cable down the hallway.</p>
						<p>It’ll cost you a few hundred dollars, but will still be cheaper than a lot of the ’gaming routers’ that won’t offer a connection that is nearly as fast or secure.</p>
						 -->
						<h2>Try a gaming network optimizer without swapping ISP</h2>
						<p>We’ve all heard the advertisements for VPNs.</p>
						<p>VPNs send your data over a private tunnel to secure your connection.</p>
						<p>Companies like <a href="https://www.wtfast.com/en/" rel="noopener">WTFast</a>, or <a href="https://www.exitlag.com/en" rel="noopener">Exitlag</a> (both connected via to the OneQode network), do a similar thing, but to lower latency in games.</p>
						<p>Instead of sending your game data entirely over your ISPs network, you connect to the nearest accelerator server.</p>
						<p>After your data has reached the accelerator, it travels via their gaming-optimized network, lowering your ping.</p>
						<p>You can check the games <a href="https://www.wtfast.com/en/" rel="noopener">WTFast supports</a>, or <a href="https://www.exitlag.com/en/games" rel= "noopener">try Exitlag’s list</a> before you download.</p>
						<p>The best part? Both offer a free trial so you can see which one works better for you.</p>
						<h2>Lower your system latency</h2>
						<p>This suggestion is slightly niche.</p>
						<p>If you play on a PC with an Nvidia graphics card, you can take advantage of <a href='https://www.nvidia.com/en-au/geforce/guides/system-latency-optimization-guide/' target='_blank' class='url'>Nvidia Reflex</a>.</p>
						<p>This is the only suggestion on this list that isn’t reliant on your internet connection but is limited by your platform and GPU.</p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/home-latency/system-latency-technology.webp" type="image/webp">
								<img class="opaque" src="/img/content/home-latency/system-latency-technology.jpg" alt="Nvidia's system latency optimisation graphic." loading="lazy">
							</picture>
							<figcaption>Image from Nvidia's system latency webpage showing the latency between your inputs and your display.</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p><a href='https://www.nvidia.com/en-au/geforce/technologies/reflex/supported-products/' target='_blank' class='url'>The full list of supported games</a>, mice and monitors primarily features popular shooters, where the difference will be most noticeable.</p>
						<p>If you’ve got an Nvidia card, and you’re playing games that are taking advantage of the SDK, you can hopefully shave a few milliseconds off your internal latency.</p>
						<p>But if you’ve already optimized your hardware as best you can, and you’re still struggling against a poor network, here are some options to improve your set-up.</p>
						<h2>Move house (joking... unless?)</h2>
						<p>If all else fails, there’s one thing to keep in mind.</p>
						<p>You could move house.</p>
						<p>This is obviously not a <em>reason</em> to move, but internet connectivity is something to keep in mind if your lease is up and you’re looking for a new place. </p>
						<p>If you live in Australia you might remember our ill-fated NBN program, after a botched rollout there are now a variety of potential connections that can drastically alter the quality of your internet.</p>
						<p>We don’t recommend you move house to improve your gameplay... <em>but if you’re already moving.</em></p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<video
							class="lazy full-width"
							poster="/img/content/home-latency/nbn-connecting-thumbnail.jpg"
							aria-label="The finder NBN tracker showing connectivity availability."
							width="1200"
							height="836"
							autoplay muted loop playsinline disableRemotePlayback
						>
							<source
								data-src="https://oneqode2.sgp1.cdn.digitaloceanspaces.com/videos/nbn-connecting.mp4"
								type="video/mp4"
							>
						</video>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>If you live in Australia, you can use <a href='https://www.finder.com.au/nbn-tracker/map'>this NBN address checker</a> to see if places you’re looking at are going to offer you the best connection possible for your online play.</p>
						<p>There are a variety of overlapping technologies that make up the networks across Australia. Here’s how to decode the tech talk.</p>
						<ul>
							<li><strong>Fibre to the premises</strong>: the best option.</li>
							<li><strong>Fibre to curb, or fibre to the building</strong>: good, but not the best.</li>
							<li><strong>Hybrid Fibre Coaxial</strong>: far from the best.</li>
						</ul>
						<p>Is there anything to avoid?</p>
						<p>If you see <strong>fibre to the node</strong>, “run away screaming” (according to our engineers). This connection is still bottlenecked by the old copper wiring that made up connections before fibre was the new standard.</p>
						<p>Basically, that option will cause you more headaches than anything going forward, so avoid it if possible.</p>
						<h2 class="mt-4">The final step</h2>
						<p>Your computer is directly connected via ethernet. System latency is as low as possible. You've moved to a fibre connected house.</p>
						<p>But you’re still dying. You’re still letting the team down.</p>
						<p>There’s one more option we can recommend. It won’t be easy, but if you’ve tried every other step along the way, this might be the only thing you can do.</p>
						<p>You could try <em>getting better at the game.</em></p>
					</div> 
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/home-latency/gitgud.webp" type="image/webp">
								<img class="opaque" src="/img/content/home-latency/gitgud.jpg" alt="A meme implying that you should become better at video games." loading="lazy">
							</picture>
							<figcaption>It’s worth a shot.</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>If that doesn’t work, don’t tell your friends how hard you worked to get your internet to work, and keep blaming it on the lag.</p>
				</div>
			</div>
		</section>