---
metaTitle: The OneQode Blog • Articles & Resources from OneQode
metaDescription: Stories, articles and resources from the OneQode team.
ogImage: qode.jpg
changefreq: weekly
priority: 0.8
contentRSS: true
pageTitle: The OneQode Blog
pageSubtitle: Stories, articles and resources<br class="responsive"> from the OneQode team
---
{% include _header.liquid %}
		<style>
			section.hero {
				/*
					"Eyes" Pattern from Hero Patterns
					https://heropatterns.com/
					Licensed under a Creative Commons 4.0 license
					https://creativecommons.org/licenses/by/4.0/
				*/
				background: linear-gradient(to bottom, rgba(0,0,0,0.4) 50%, #000), url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 2a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='%23333333' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
			}
			.no-webp .vision-mission-strategy {
				background: url(/img/glowing-oneqode-network-globe.jpg) center no-repeat;
				background-size: contain;
			}
			.webp .vision-mission-strategy {
				background: url(/img/glowing-oneqode-network-globe.webp) center no-repeat;
				background-size: contain;
			}
			#articles a {
				display: flex;
				flex-direction: column;
				border: 1px solid #333;
				border-radius: 10px;
				text-decoration: none;
				transition: all 0.2s;
				color: #999;
				background-color: #1c1d22;
				background-blend-mode: luminosity;
				opacity: 0.9;
			}
			#articles a:hover,
			#articles a:focus {
				opacity: 1;
				color: #fff;
				border: 1px solid #666;
				background-blend-mode: normal;
			}
			#articles a div > :last-child,
			#articles div a > :last-child {
				margin-bottom: 0;
			}
			.no-webp .lower-your-ping {
				background-image: url(/img/bg/ping-problems-hero.jpg);
				background-size: cover;
				background-position: bottom;
			}
			.webp .lower-your-ping {
				background-image: url(/img/bg/ping-problems-hero.webp);
				background-size: cover;
				background-position: bottom;
			}
			.no-webp .what-is-game-server {
				background-image: url(/img/bg/game-servers-in-data-center.jpg);
				background-size: cover;
				background-position: bottom;
			}
			.webp .what-is-game-server {
				background-image: url(/img/bg/game-servers-in-data-center.webp);
				background-size: cover;
				background-position: bottom;
			}
			.no-webp .central-servers {
				background-image: url(/img/bg/central-servers.jpg);
				background-size: cover;
			}
			.webp .central-servers {
				background-image: url(/img/bg/central-servers.webp);
				background-size: cover;
			}
			.no-webp .tailspin {
				background-image: url(/img/bg/tailspin.jpg);
				background-size: cover;
			}
			.webp .tailspin {
				background-image: url(/img/bg/tailspin.webp);
				background-size: cover;
			}
			.no-webp .ben-cooper {
				background-image: url(/img/bg/ben-hero-image.jpg);
				background-size: cover;
			}
			.webp .ben-cooper {
				background-image: url(/img/bg/ben-hero-image.webp);
				background-size: cover;
			}
			.no-webp .story-of-oneqode {
				background-image: url(/img/bg/roof-wireless-dish-brisbane.jpg);
				background-size: cover;
			}
			.webp .story-of-oneqode {
				background-image: url(/img/bg/roof-wireless-dish-brisbane.webp);
				background-size: cover;
			}
			.no-webp .server-pacific-island {
				background-image: url(/img/bg/server-rack-beach-hero.jpg);
				background-size: cover;
			}
			.webp .server-pacific-island {
				background-image: url(/img/bg/server-rack-beach-hero.webp);
				background-size: cover;
			}
			/* Match heights for half-width links */
			#articles .col-md-6 > a {
				justify-content: center;
				align-items: center;
				padding: 2rem;
				height: 100%;
			}
			/* Headings for half-width links */
			@media (min-width: 48em) {
				#articles .col-md-6 h2 {
					font-size: 2rem;
				}
				#articles .col-md-6 p.subheading {
					font-size: 1.4rem;
				}
			}
		</style>
		<section class="hero">
			<div class="container">
				<div class="row middle-xs">
					<div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
						{%- if pageSupertitle %}
						<p class="superheading">{{ pageSupertitle }}</p>
						{%- endif %}
						<h1>{{ pageTitle }}<mark class="dot">.</mark>
							<a href="/content-feed.xml" class="rss-link" title="Subscribe to the Qode RSS feed" target="_blank">
								<svg viewBox="0 0 16 16" class="bi bi-rss" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
									<path d="M5.5 12a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
									<path fill-rule="evenodd" d="M2.5 3.5a1 1 0 0 1 1-1c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1-1-1zm0 4a1 1 0 0 1 1-1 6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1-1-1z" />
								</svg>
							</a>
						</h1>
						<p class="subheading">{{ pageSubtitle }}</p>
					</div>
				</div>
			</div>
		</section>
		<section id="featured" class="py-8 vision-mission-strategy">
			<div class="container">
				<div class="row middle-xs text-center py-4">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p class="superheading">Featured Story</p>
						<h2>Vision, Mission, Strategy<mark class="dot">.</mark></h2>
						<p class="subheading">Defining OneQode’s direction</p>
						<p>by Matt Shearing, Chief Executive Officer</p>
						<p class="mt-4"><a href="/vision-mission-strategy/" class="button ghost">Read More</a></p>
					</div>
				</div>
			</div>
		</section>
		<section id="articles" class="mt-4 text-center">
			<div class="container">
				<!-- START: Article -->
				<div class="row">
					<div class="col-xs-12 mb-1">
						<a href="/lower-your-ping/" class="lower-your-ping">
							<div class="col-xs-12 col-md-8 col-md-offset-2 py-8">
								<h2>How to Lower Your Ping</h2>
								<p class="subheading">Tips from network engineers to improve your latency</p>
								<p class="author">by Austin Gallagher <span class="date">• 28 Jul 2022</span></p>
							</div>
						</a>
					</div>
				</div>
				<!-- END: Article -->
				<!-- START: Article -->
				<div class="row">
					<div class="col-xs-12 mb-1">
						<a href="/what-is-a-game-server/" class="what-is-game-server">
							<div class="col-xs-12 col-md-8 col-md-offset-2 py-8">
								<h2>What is a Game Server?</h2>
								<p class="subheading">An introduction to game servers — and how they work</p>
								<p class="author">by Austin Gallagher <span class="date">• 18 Jul 2022</span></p>
							</div>
						</a>
					</div>
				</div>
				<!-- END: Article -->
				<!-- START: Article -->
				<div class="row">
					<div class="col-xs-12 mb-1">
						<a href="/why-your-game-needs-a-central-server/" class="central-servers">
							<div class="col-xs-12 col-md-8 col-md-offset-2 py-8">
								<h2>Why Your Game Needs a Central Server</h2>
								<p class="subheading">And why you should care</p>
								<p class="author">by Austin Gallagher <span class="date">• 28 Jun 2022</span></p>
							</div>
						</a>
					</div>
				</div>
				<!-- END: Article -->
				<!-- START: Article -->
				<div class="row">
					<div class="col-xs-12 mb-1">
						<a href="/tailspin/" class="tailspin">
							<div class="col-xs-12 col-md-8 col-md-offset-2 py-8">
								<h2>Tailspin: The Kiss of Death for Multiplayer Games</h2>
								<p class="subheading">The feedback loop that can kill your multiplayer game</p>
								<p class="author">by Austin Gallagher <span class="date">• 07 Jun 2022</span></p>
							</div>
						</a>
					</div>
				</div>
				<!-- END: Article -->
				<!-- START: Article -->
				<div class="row">
					<div class="col-xs-12 mb-1">
						<a href="/meet-ben-cooper/" class="ben-cooper">
							<div class="col-xs-12 col-md-8 col-md-offset-2 py-8">
								<h2>Meet Ben Cooper</h2>
								<p class="subheading">OneQode's Chief Architect on the day-to-day</p>
								<p class="author">by Austin Gallagher <span class="date">• 27 May 2022</span></p>
							</div>
						</a>
					</div>
				</div>
				<!-- END: Article -->
				<!-- START: Article -->
				<div class="row">
					<div class="col-xs-12 mb-1">
						<a href="/story/" class="story-of-oneqode">
							<div class="col-xs-12 col-md-8 col-md-offset-2 py-8">
								<h2>The Origin Story of OneQode</h2>
								<p class="subheading">We started as a last-mile internet provider, then we decided to go upstream</p>
								<p class="author">by Austin Gallagher <span class="date">• 22 Feb 2022</span></p>
							</div>
						</a>
					</div>
				</div>
				<!-- END: Article -->
				<!-- START: Article -->
				<div class="row">
					<div class="col-xs-12 mb-1">
						<a href="/server-pacific-island/" class="server-pacific-island">
							<div class="col-xs-12 col-md-8 col-md-offset-2 py-8">
								<h2>Installing a Game Server on a Pacific island... How hard could it be?</h2>
								<p class="subheading">As it turns out, it’s not easy</p>
								<p class="author">by Joe Swinn <span class="date">• 22 Nov 2021</span></p>
							</div>
						</a>
					</div>
				</div>
				<!-- END: Article -->
			</div>
		</section>
		<section class="black-to-footer py-8 mt-8">
			<div class="container">
				<div class="row middle-xs text-center push-forward">
					<div class="col-md-8 col-md-offset-2">
						<h2>The high-performance cloud and<br class="responsive"> network for Asia-Pacific<mark class="dot">.</mark></h2>
						<p class="subheading">We’re laying the foundation for the next decade of connected experiences.</p>
						<p class="mt-2"><a href="/about/" class="button">About OneQode</a></p>
					</div>
				</div>
			</div>
		</section>
{% include _footer.liquid %}