---
layout: post.liquid
section: gaming
permalink: /meet-austin-guidry/
metaTitle: Meet Austin Guidry • OneQode™
metaDescription: An interview with OneQode's Growth Officer — retired StarCraft pro, Austin Guidry.
ogImage: meet-austin-guidry.jpg
heroImage: meet-austin-guidry
changefreq: never
priority: 0.4
title: Meet Austin Guidry, Growth Officer
author: Austin Gallagher
authorRole: Brand Journalist
date: 2022-03-15
tags: ['qode', 'oneqode', 'team']
cta: true
ctaTitle: You’ve met Austin<mark class="dot">.</mark><br> Now meet OneQode
ctaSubtitle: Gaming infrastructure that reaches more players in Asia-Pacific.
lazyLoadVideo: true
---
		<style>
			.no-webp section.hero {
				background:	linear-gradient(to bottom, rgba(0,0,0,0.2) 50%, #000),
							url(/img/bg/{{ heroImage }}.jpg) 70% 0%;
				background-size: cover;
				background-repeat: no-repeat;
			}
			.webp section.hero {
				background:	linear-gradient(to bottom, rgba(0,0,0,0.2) 50%, #000),
							url(/img/bg/{{ heroImage }}.webp) 70% 0%;
				background-size: cover;
				background-repeat: no-repeat;
			}
		</style>
		<section class="py-4 push-forward">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<h2 class="h3">So you used to be a professional StarCraft player, but what’s your first memory of playing games online? Any communities or friends you made / remember?</h2>
						<p>StarCraft Brood War on my Dad’s laptop. I was eight, he’d already started the game and built carriers as Protoss. He let me finish the match. We were on a roadtrip, I don’t remember where to, I was focused on the game.</p>
						<p>But when I was twelve or thirteen I immersed myself in the competitive and arcade community of StarCraft 2, which is where I met my best friend of nine or so years. Then later League Of Legends and these days GTA RP.</p>
						<p>I’ve always been in lots of communities. Games have always been a huge part of my social landscape, so that aspect is really important to me.</p>
						<h2 class="h3 mt-4">These days, what is your role here at OneQode?</h2>
						<p>I’m the Growth Officer.</p>
						<p>So I <a href="/esports/">help esports organisations</a> run the best tournaments they can on the OneQode network and build their community in Asia-Pacific.</p>
						<p>My day-to-day is extremely situational, but basically my mission is to grow OneQode. The toolbox changes constantly, but the focus right now is the esports angle. We will be exploring and utilizing other options later, I’m excited that my job title is goal oriented and allows me to move across those focuses.</p>
						<h2 class="h3 mt-4">What previous roles led you to OneQode?</h2>
						<p>A wide array of esports history and I’ve always had a general interest in the tech field.</p>
						<p>For the last eight years I worked two full time jobs, one that was for passion which was running esports organisations. The other was to pay bills. From a pragmatic perspective, the most impactful thing that led me here was the esports side of things. I shutdown my final organisation, Rise, in May 2021 after winding it down for a few months.</p>
						<h2 class="h3 mt-4">How did you end up at OneQode?</h2>
						<p>I was looking for something different to my “by day” IT role in the US. It wasn’t a good fit, for me or for the company. One day I just happened to be scrolling Twitter and someone I follow retweeted Ben (Cooper, OneQode Chief Product Officer) saying he was looking for a community manager.</p>
						<p>As a shot in the dark I just sent him a DM that he replied to within the hour. A few messages later messages later we’d jumped on Discord for an hour long chat. I never even sent in a formal resume! A week after that, I received an official offer.</p>
						<p>I’m definitely not a community manager, as I said (laughs), but before I started we figured out I would be better suited to a growth officer role.</p>
						<h2 class="h3 mt-4">What’s the most exciting thing you’ve done or made since starting at OneQode?</h2>
						<p>The most exciting stuff is what I’m working on right now! <em>(Author’s note: not yet public!)</em></p>
						<p>In terms of stuff I’ve already done, the small show matches we have on the weekends are really important to me personally. Given my background, being able to fairly connect these players who have never had the opportunity to play together has been heartwarming for me.</p>
						<p>Competitive integrity and fair competition are a huge focus for me professionally, so balancing ping for those matches is so important.</p>
						<p>Also representing OneQode at PAX West was a really exciting time. Connecting in particular with Games Industry Gathering members and seeing Seattle with that group of people was a great experience.</p>
						<h2 class="h3 mt-4">Where do you see the company going in a few years time? What sort of opportunities that OneQode will enable excite you the most?</h2>
						<p>The technical side is already incredible. The tech is here. The tech is ready. So now it is about showing the world what we’ve done and asking everyone “Why aren’t you a part of this?”</p>
						<p>So I’m excited to see the largest publishers and games get behind OneQode and APAC Central routing so we can reach even further.</p>
						<h2 class="h3 mt-4">Being based in San Diego, how do you find working remotely with an Australian company? Any elements of culture shock?</h2>
						<p>Having worked with Australians in a lot of my esports organisations, the culture shock was mostly taken care of a few years ago. So I was already ingrained.</p>
						<p>Being remote? In terms of scheduling it isn’t for everyone. Not everyone would be excited about working at 11pm on a Saturday, but I am. The flexibility is incredible, so I get to work when I need to work, which is great for someone who is project oriented like I am.</p>
						<p>In those original Twitter DM’s I asked about relocation. But within a minute Ben told me that remote work and flexibility was encouraged, and that’s really been proven throughout my time at OneQode.</p>
						<h2 class="h3 mt-4">Apparently this is contentious around the office, what is your favourite operating system?</h2>
						<p>Windows 7. I don’t use it, I wish I did. Aside from that my second choice would be Kali Linux.</p>
						<h2 class="h3 mt-4">Why Windows 7?</h2>
						<p>In my opinion it was the best iteration of the Windows platform, and they went back with Windows 8. I’m only on Windows 11 because of convenience.</p>
						<h2 class="h3 mt-4">These days what do you play relax? And when you’re feeling more competitive?</h2>
						<p>At the moment it is a mix of Team Fight Tactics, GTA RP, and Subnautica when I’m playing to chill. When you play as many hours of StarCraft 2 as I have, basically anything else is more relaxing game!</p>
						<p>Ironically Team Fight Tactics is also something I play competitively, because I’ll play basically anything with a ranked system. So StarCraft, Team Fight Tactics, and League of Legends.</p>
						<h2 class="h3 mt-4">What about a guilty pleasure game?</h2>
						<p>Nothing that comes to mind. I’m open about what games I like!</p>
						<h2 class="h3 mt-4">If you could go back to an older game that no longer has an active playerbase for just one day, what would you revisit?</h2>
						<p>Modern Warfare 2. If I could have one more day of Rust in the original engine I would go back to Modern Warfare 2.</p>
						<h2 class="h3 mt-4">Outside of gaming and esports, do you have any hidden talents?</h2>
						<p>I could, past tense, do a 360 on a BMX Bike. I probably couldn’t anymore without hurting myself, but I used to do tricks on BMX Bikes. These days its mostly just riding for cardio, but as a kid I got into tricks because I thought it was cool.</p>
						<h2 class="h3 mt-4">Where can people hear more from you?</h2>
						<p>You can find me <strong>@xpiredsc</strong> on <a href="https://twitter.com/xpiredsc" target="_blank">Twitter</a> and <a href="https://www.twitch.tv/xpiredsc" target="_blank">Twitch</a>.</p>
					</div>
				</div>
			</div>
		</section>