---
layout: post.liquid
section: gaming
permalink: /conversation-with-eric-yip/
metaTitle: A Conversation with Executive Vice President Eric Yip • OneQode™
metaDescription: Austin Gallagher spoke with incoming OneQode VP Eric Yip about his experience in Asia, industry trends, and expanding OneQode in Asia.
ogImage: meet-eric-yip.jpg
heroImage: eric-yip
changefreq: never
priority: 0.4
title: A Conversation with Executive Vice President Eric Yip<mark class="dot">.</mark>
author: Austin Gallagher
authorRole: Brand Journalist
date: 2022-04-19
tags: ['qode', 'oneqode', 'team']
cta: true
ctaTitle: You’ve met Eric<mark class="dot">.</mark><br> Now meet OneQode
ctaSubtitle: Gaming infrastructure that reaches more players in Asia-Pacific.
---
		<style>
			.no-webp section.hero {
				background:	linear-gradient(to bottom, rgba(0,0,0,0.2) 80%, #000),
							url(/img/bg/{{ heroImage }}.jpg) 70% 0%;
				background-size: cover;
				background-repeat: no-repeat;
			}
			.webp section.hero {
				background:	linear-gradient(to bottom, rgba(0,0,0,0.2) 80%, #000),
							url(/img/bg/{{ heroImage }}.webp) 70% 0%;
				background-size: cover;
				background-repeat: no-repeat;
			}
		</style>
		<section class="py-4 push-forward">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>Austin Gallagher sat down with OneQode’s newest executive hire, industry veteran Eric Yip, to talk about joining OneQode and leading our expansion into Asia.</p>
						<p>Eric joins the team as OneQode prepares to launch new cloud regions across Asia, amongst them Hong Kong, Singapore, and Tokyo.</p>
					</div>
					<div class="col-xs-12 col-md-12 mb-4">
						<figure>
							<picture>
								<source srcset="/img/content/meet-eric/oneqode-cloud-upcoming-asia-regions.webp" type="image/webp">
								<img class="opaque" src="/img/content/meet-eric/oneqode-cloud-upcoming-asia-regions.jpg" alt="A map centered on Asia, with annotated spots in Singapore, Hong Kong and Tokyo, where new OneQode cloud regions will be located">
							</picture>
							<figcaption>Upcoming regions for OneQode’s <a href="/cloud/">Cloud Platform</a></figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>Eric is an industry leader who brings more than two decades of experience to the table, including four years as China Mobile International’s Australian Country Head.</p>
						<h2 class="mt-4 h3">Welcome to the team, Eric! Tell us about your new role at OneQode?</h2>
						<p>As the EVP of Asia Growth, I accepted the task of establishing OneQode’s presence in Asia.</p>
						<p>I’ll be focusing on the key gaming hubs like China, Hong Kong, Taiwan, Japan and Korea. Our first step will be building up a strong team and our market awareness. We also need to start contributing business revenue from the region.</p>
						<p>This is exciting yet challenging but I am sure we have the best people in place for strong growth.</p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/meet-eric/eric-yip-evp-growth-asia.webp" type="image/webp">
								<img src="/img/content/meet-eric/eric-yip-evp-growth-asia.jpg" alt="Eric Yip, Executive VP Growth, Asia">
							</picture>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<h2 class="mt-4 h3">What’s the most exciting thing for you about starting at OneQode?</h2>
						<p>I can feel the passion from every OneQode member, and the level of energy from my first day.</p>
						<p>I knew OneQode’s senior management team before I joined, as I’d worked with them in my previous role. I know what they do, and the foundation they have built over the years so I am very proud to be a part of the team.</p>
						<h2 class="mt-4 h3">You’ve been a key player in APAC telecoms for years, what interested you about OneQode?</h2>
						<p>I got started in the generation when the entire Asia Pacific telecom market opened up when European and American companies came in. It was a really good time, the imagination and the untouched market of Asia. I was lucky to get in before the bubble burst in 2000.</p>
						<p>Hong Kong was the first destination for these companies which is where I was located, but then 10 years ago I emigrated to Australia. I got headhunted by China Mobile, after being with PCCW for three years.</p>
						<p>But to stay dynamic and get back to the imagination of 2000, I found myself here.</p>
						<h2 class="mt-4 h3">What was it like in the early 2000s? How did that time shape telecom in Asia?</h2>
						<p>A lot of the American companies sent people who were experienced, who were qualified, but the leadership team was almost always all expatriates. This was a great opportunity for them, but the cultural and language gap always became a key challenge for the companies.</p>
						<p>Asia-Pacific is thirty-plus countries and each has different cultural values that make it difficult unless you hire locally. So localisation is really important. That’s how Hong Kong and Singapore ended up being key locations for international companies.</p>
						<h2 class="mt-4 h3">Where do you see the company going in a few years? What sort of opportunities excite you the most?</h2>
						<p>What we are doing at OneQode is ground-breaking, and we have a tremendous opportunity to stay ahead of the market.</p>
						<p>Whether that’s in a global network or cloud-based space, or the purpose-built solution for the gaming market.</p>
						<p>We have a unique product in the market, which is massive. I’m very confident that we will succeed.</p>
						<h2 class="mt-4 h3">You’ve seen huge industry changes over the years, what excites you the most?</h2>
						<p>Telecom services have become a huge commodity. As more companies push 5G, which enables new user applications, it has grown even more valuable.</p>
						<p>Traditionally, most telecom operators built up a network and sold it as such. Increasingly, we’re trending towards selling application layers, such as cloud computing, over global infrastructure, IaaS, and elastic network augmentation technologies.</p>
						<p>OneQode has entered into this space at a great time to take advantage of that change, which makes what we’re doing truly exciting.</p>
						<p class="mt-4"><strong>Eric will be building a team around him to expand OneQode’s presence in Asia. If you want to work with Eric, connect with him via <a href="https://www.linkedin.com/in/eric-yip-2173a44/" target="_blank">LinkedIn</a> or <a href="https://u.wechat.com/kM5xitrKuSJ-WCGeT4ClJYk" target="_blank">WeChat</a>.</strong></p>
					</div>
				</div>
			</div>
		</section>