---
layout: post.liquid
section: gaming
permalink: /meet-ben-cooper/
metaTitle: A Conversation with Chief Architect Ben Cooper • OneQode™
metaDescription: Get to know the brain behind the OneQode network, Ben Cooper.
ogImage: meet-eric-yip.jpg
heroImage: ben-hero
changefreq: never
priority: 0.4
title: A Conversation with Chief Architect Ben Cooper<mark class="dot">.</mark>
author: Austin Gallagher
authorRole: Brand Journalist
date: 2022-05-27
tags: ['qode', 'oneqode', 'team']
cta: true
ctaTitle: You’ve met Ben<mark class="dot">.</mark><br> Now meet OneQode
ctaSubtitle: Gaming infrastructure that reaches more players in Asia-Pacific.
---
		<style>
			.no-webp section.hero {
				background:	linear-gradient(to bottom, rgba(0,0,0,0.2) 80%, #000),
							url(/img/bg/ben-hero-image.jpg) 50% 0%;
				background-size: cover;
				background-repeat: no-repeat;
			}
			.webp section.hero {
				background:	linear-gradient(to bottom, rgba(0,0,0,0.2) 80%, #000),
							url(/img/bg/ben-hero-image.webp) 50% 0%;
				background-size: cover;
				background-repeat: no-repeat;
			}
		</style>
		<section class="py-4 push-forward">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>Austin Gallagher sat down with the brain behind the OneQode network.</p>
						<p>Ben is the lead architect behind everything OneQode----------</p>
					</div>
					<div class="col-xs-12 col-md-12 mb-4">
						<figure>
							<picture>
								<source srcset="/img/content/meet-eric/oneqode-cloud-upcoming-asia-regions.webp" type="image/webp">
								<img class="opaque" src="/img/content/meet-eric/oneqode-cloud-upcoming-asia-regions.jpg" alt="A map centered on Asia, with annotated spots in Singapore, Hong Kong and Tokyo, where new OneQode cloud regions will be located">
							</picture>
							<figcaption>Upcoming regions for OneQode’s <a href="/cloud/">Cloud Platform</a></figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>More undefined ben stuff</p>
						<h2 class="mt-4 h3">What is your role here at OneQode?</h2>
						<p>Chief Architect. My core job is to identify our customer's needs and then built it.</p>
						<p>I'm responsible for the design and implementation of the design for all our infrastructure, and I'm heavily involved in what OneQode sells and where.</p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/meet-eric/eric-yip-evp-growth-asia.webp" type="image/webp">
								<img src="/img/content/meet-eric/eric-yip-evp-growth-asia.jpg" alt="Eric Yip, Executive VP Growth, Asia">
							</picture>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<h2 class="mt-4 h3">Day to day what does that look like?</h2>
						<p>My day to day is very vague because I work across so much of the company. I talk with suppliers, I meet internally with Scott (Wisely, Head of Cloud) and Joe (Swinn, Head of Marketing) to spec out product suites.  </p>
						<p>With Scott, I'm the one on the whiteboard working out what we need to achieve - and Scott makes it happen.</p>
						<p>A lot of our product starts with me saying "I think we should sell this" and Joe noting stuff down.</p>
						<p>Then I work with billing, to make sure that goes where it needs to go.</p>
						<p>
						<h2 class="mt-4 h3">So a lot of the daily goings-on go through you at some point?</h2>
						<p>I act as a bit of a node between customers, engineers, billing, and design.</p>
						<p>As the product officer at the end of the day, my job is to make sure we make good products. Hopefully, the customers are happy, and the investors are happy.</p>
						<h2 class="mt-4 h3">What previous roles led you to this position at OneQode?</h2>
						<p>I've worked as a consulting network architect and engineer, a strategic partnership manager for a gaming company, various levels of IT support consultant, and I've jumped around a bunch of jobs.</p>
						<p>I don't think one role trained me for OneQode, but I think a variety of jobs have prepared me to work at OneQode.</p>
						<p> Initially, Matt needed someone for some consulting, which lasted about a week, and then he brought me back on in a more hands-on capacity. The unofficial offer was at midday, and I was signed on by 4 pm. </p>
						<h2 class="mt-4 h3">What's the most exciting thing you've achieved since starting at OneQode?</h2>
						<p>I don't think there is any one thing.</p>
						<p>In the past, I always had a problem getting across what Guam is. Understanding an idea deeply and being able to take it and have someone else understand it as deeply as you is completely different.</p>
						<p>So until people stop asking me "why Guam" I don't think I'll have achieved my mission.</p>
						<h2 class="mt-4 h3">What else is part of that mission?</h2>
						<p>In the early days, the mission was a big network, but now I think just a network is a bit useless.</p>
						<p>Game developers don't want to manage servers. They want simplicity so they can focus on their product and games. We want to focus on infrastructure, so they can click a few times and rely on us to have built the framework around them. </p>
						<p>This came together with a conversation with Scott, where he was asking just the right questions to make me realise what our customers needed.</p>
						<h2 class="mt-4 h3"> What was that?</h2>
						<p> Well, we had a network, but providing for our customers meant doing more. We talked and decided on the thermonuclear option: building our own cloud.</p>
						<p> So that first night we talked about it we got four services done of the thirty we needed. We thought we'd get it done by the end of the week! Nine weeks later we high-fived (virtually) and celebrated that we'd finished.</p>
						<h2 class="mt-4 h3"> Where do you see the company going in the future? What sort of opportunities that OneQode will enable excite you the most?</h2>
						<p>It'll be a sad day for me personally, but when OneQode can enable more things beyond just gaming. We want to give small carriers and wholesalers the capacity to build cool and new things to change paradigms.</p>
						<p>We've jumped through a lot of unnecessary hoops to negotiate contracts, and hopefully, we'll be able to enable people to build their network without going through that.</p>
						<p>We want to make a portal that gives people the ability to choose their destiny.</p>
						<h2 class="mt-4 h3">What's your first memory of playing games online? Any communities or friends you made/remember?</h2>
						<p>Wolfenstein Enemy Territory, which is funnily how I know Scott. But the people I know through Wolfenstein is a long list. I think it's the best multiplayer shooter ever made, the skill ceiling still hasn't been reached. It requires a lot of the player.</p>
						<div class="col-xs-12 col-md-12 mb-4">
						<figure>
							<picture>
								<source srcset="/img/content/meet-ben/wolf-et-image.webp" type="image/webp">
								<img class="opaque" src="/img/content/meet-ben/wolf-et-image.jpg" alt="A gameplay screenshot from Wolfenstein Enemy Territory.">
							</picture>
							<figcaption>A Wolfenstein Enemy Territory screenshot from the steam page.</figcaption>
						</figure>
					</div>
						<p>Funny story, it was meant to be a DLC for Return To Castle Wolfenstein, but something happened behind the scenes and it was released free with just multiplayer. This was in 2003, way before stuff like that went free-to-play.</p>
						<p>In Asia-Pacific, OneQode actually hosts a lot of the Enemy Territory servers that still run today.</p>
						<p>After Enemy Territory, I went to Battlefield 2, Team Fortress 2. I played a lot of Counter-Strike as well. But I much prefer the dynamic nature of a game with more objectives and team play.</p>
						<h2 class="mt-4 h3">All of those games are quite competitive, any favourite games to relax?</h2>
						<p>My idea of kicking back with games is a match of Dota... so, no.</p>
						<p>Don't get me wrong, Stardew Valley or even the GTA story can be fun, but I'm very competitive by nature. For me, those competitive games are relaxing.</p>
						<h2 class="mt-4 h3">Any games that you wish still had an active player base for one more day?</h2>
						<p>Battlefield 2. I think it was everything that defines the Battlefield series in one game. There wasn't any one thing that makes it excellent, but everything is working together so perfectly in Battlefield 2.</p>
						<p>There's a Jeremy Clarkson quote about the Lexus LFA that the creators made something so good that even they don't know how they did it, and that's Battlefield 2 in my opinion.</p>
						<p>A big part of me also wishes that I could go back to Wolf ET (Wolfenstein Enemy Territory) because those big matches are hard to come by these days.</p>
						<h2 class="mt-4 h3">Any hidden talents?</h2>
						<p>No (laughs).</p>
						<h2 class="mt-4 h3">Where can people hear more from you?</h2>
						<p>Twitter is my best place to see my rantings @BenHyperionOQ</p>
					</div>
				</div>
			</div>
		</section>