---
layout: post.liquid
permalink: /server-pacific-island/
canonical: "https://www.linkedin.com/pulse/installing-game-server-pacific-island-how-hard-could-oneqode/"
metaTitle: Installing a Game Server on a Pacific island... How hard could it be? • OneQode™
metaDescription: People told us we couldn’t do it. But we did, and there’s a story to tell.
ogImage: server-on-beach.jpg
heroImage: server-rack-beach-hero
changefreq: never
priority: 0.4
title: Installing a Game Server on a Pacific island... How hard could it be<mark >?</mark>
author: Joe Swinn
authorRole: Chief Marketing Officer
date: 2021-11-22
tags: ['qode', 'oneqode', 'guam', 'asia-pacific', 'game servers']
cta: true
ctaTitle: Faster servers<mark class="dot">,</mark> greater reach
ctaSubtitle: Thinking of taking on the world? We can help. 
lazyLoadVideo: true
---
		<style>
			.no-webp section.hero {
				background:	linear-gradient(to bottom, rgba(0,0,0,0.2) 50%, #000),
							url(/img/bg/{{ heroImage }}.jpg) bottom center;
				background-size: cover;
				background-repeat: no-repeat;
			}
			.webp section.hero {
				background:	linear-gradient(to bottom, rgba(0,0,0,0.2) 50%, #000),
							url(/img/bg/{{ heroImage }}.webp) bottom center;
				background-size: cover;
				background-repeat: no-repeat;
			}
			video.full-width {
				height: auto;
			}
		</style>
		<section class="py-4 push-forward">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p><strong>As it turns out, it’s not easy.</strong></p>
						<p>First up, why would you put a server on a Pacific island, anyway?</p>
						<p>Imagine this: you’re a gamer living in Sydney.</p>
						<p>You want to play games with your friends Alice and Bob, who live in Singapore and Japan respectively — but there’s a problem:</p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<picture>
							<source srcset="/img/content/server-pacific-island/map-three-cities-before.webp" type="image/webp">
							<img class="opaque" src="/img/content/server-pacific-island/map-three-cities-before.jpg" alt="A map of Asia-Pacific, highlighting Alice, Bob and You spread out across the region, with latency between cities annotated">
						</picture>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>Choosing a game server location that works for everyone is hard.</p>
						<p>If you put a game server in someone’s home city, the other two players would have a delayed connection, and it wouldn’t be as fun for them.</p>
						<p><strong>So what’s the solution? Easy! Put a server on an island somewhere in the middle.</strong> That way, everyone can play together on a level playing field.</p>
						<p>How hard could it be? That’s what we asked when Ben Cooper (whose idea it was) brought it up.</p>
						<p>If the game plan worked, it could finally unlock cross-regional gaming in the Asia-Pacific (APAC) region.</p>
						<p>As a team of gamers — we couldn’t resist.</p>
						<figure class="my-4">
							<video
								class="lazy full-width"
								poster="/img/content/server-pacific-island/dog-genius-equations-bridge-branch-stick.jpg"
								aria-label="A dog crossing a bridge with a stick in its mouth, with equations overlaid"
								width="370"
								height="318"
								autoplay muted loop playsinline disableRemotePlayback
							>
								<source
									data-src="https://oneqode.sfo2.digitaloceanspaces.com/videos/dog-genius-equations-bridge-branch-stick.mp4"
									type="video/mp4"
								>
							</video>
						</figure>
						<h2 class="mt-4">The easiest part: choosing a Pacific island</h2>
						<p>First thing’s first, the island had to be well connected, and, when you open up a submarine cable map, one place in Asia-Pacific lights up like a Christmas tree:</p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<video
							class="lazy full-width"
							poster="/img/content/server-pacific-island/submarine-cable-map-world-guam.jpg"
							aria-label="Browsing the Submarine Cable Map site, focussing on Guam"
							width="960"
							height="540"
							autoplay muted loop playsinline disableRemotePlayback
						>
							<source
								data-src="https://oneqode.sfo2.digitaloceanspaces.com/videos/submarine-cable-map-world-guam.mp4"
								type="video/mp4"
							>
						</video>
						<figcaption>A casual browse of <a href="https://www.submarinecablemap.com/" target="_blank">SubmarineCableMap.com</a></figcaption>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p><strong>The Pacific island of Guam.</strong></p>
						<p>On the surface, it looks like the perfect spot for an international server hub:</p>
						<ul>
							<li><strong>it’s highly connected</strong><br>it’s a submarine cable hub for the region</li>
							<li class="mt-1"><strong>it’s right in the middle of the Asia-Pacific region</strong><br>so a perfect spot for a cross-regional server facility</li>
							<li class="mt-1"><strong>latency to nearby countries is excellent</strong><br>internet packets can do a return trip to nearby countries faster than the blink of an eye</li>
							<li class="mt-1"><strong>it’s a US territory</strong><br>with a familiar legal environment</li>
							<li class="mt-1"><strong>it’s a beautiful place to work</strong></li>
						</ul>
						<h3 class="mt-4">So why hasn’t it been done before?</h3>
						<p>We figured most companies hadn’t even thought about doing it. Those who knew it was possible, didn’t know there was a need for it.</p>
						<p>And the people who needed it, didn’t know it was possible.</p>
						<p>Plus, creating something new takes time and money.</p>
						<p>So we figured we’d give it a shot.</p>
						<p>Over the last 18 months, we’ve been building a pool of <a href="/guam/">servers on the island of Guam</a>. We’ve got the scars, the tears, and a high-performance <a href="/cloud/"> cloud platform</a> to prove it.</p>
						<p>Here’s what we learned on the way.</p>
						<figure class="mt-4">
							<picture>
								<source srcset="/img/content/server-pacific-island/beach-on-the-island-of-guam.webp" type="image/webp">
								<img class="opaque" src="/img/content/server-pacific-island/beach-on-the-island-of-guam.jpg" alt="A beach on the island of Guam">
							</picture>
							<figcaption>A tropical beach in Guam</figcaption>
						</figure>
						<h2 class="mt-4">Getting space &amp; submarine connectivity is hard</h2>
						<p>The first thing we found was that <strong>there aren’t many places in Guam where you can put servers.</strong></p>
						<p>There are plenty of buildings, but most of them aren’t in reach of the cables that carry internet traffic across the Pacific.</p>
						<p>After many dead-ends, we found a potential location in a new cable landing station that was being built.</p>
						<p><strong>And then we struck gold.</strong></p>
						<p>An undersea cable company, <a href="https://www.rticables.com/" target="_blank">RTI</a>, was finalising a new subsea cable which went from Japan to Australia (where we are) — with a stop-off halfway <em>in the exact same building</em> in Guam.</p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<video
							class="lazy full-width"
							poster="/img/content/server-pacific-island/rti-guam-cable-ship-beach.jpg"
							aria-label="An RTI submarine cable coming ashore"
							width="646"
							height="354"
							autoplay muted loop playsinline disableRemotePlayback
						>
							<source
								data-src="https://oneqode.sfo2.digitaloceanspaces.com/videos/rti-guam-cable-ship-beach.mp4"
								type="video/mp4"
							>
						</video>
						<figcaption>An RTI submarine cable coming ashore • <a href="https://www.youtube.com/watch?v=VytofuFXIpA" target="_blank">Watch on YouTube</a></figcaption>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>Even better, instead of <em>only</em> landing in Sydney (where cables on the east coast of Australia usually land), it was also landing in the Sunshine Coast, Queensland — our backyard.</p>
						<p>Normally, subsea operators don’t deal with small startups (which we were).</p>
						<p>But RTI were no normal company and Russ Matulich (CEO) was no normal leader. He loved the idea of what OneQode was doing and took the time to help us through the process of getting capacity on their cables.</p>
						<p>Thanks to them, we were soon preparing to deploy our equipment in the Sunshine Coast, Tokyo and Guam to leverage our new capacity.</p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<picture>
							<source srcset="/img/content/server-pacific-island/one-does-not-simply-deploy-an-international-network.webp" type="image/webp">
							<img class="opaque" src="/img/content/server-pacific-island/one-does-not-simply-deploy-an-international-network.jpg" alt="Meme based on Boromir from Lord of the Rings. The caption is 'One does not simply deploy an international network'">
						</picture>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>What does “preparing to deploy” mean anyway?</p>
						<p>To turn the lights on at a location, there are a few things we need to do:</p>
						<ul>
							<li><strong>negotiate legal agreements</strong></li>
							<li class="mt-1"><strong>arrange data centre space</strong></li>
							<li class="mt-1"><strong>hire staff</strong></li>
							<li class="mt-1"><strong>get transit connectivity</strong><br>(internet for data centres)</li>
							<li class="mt-1"><strong>organise peering</strong><br>(connections to last-mile internet providers)</li>
							<li class="mt-1"><strong>order and set up equipment</strong><br>routers, switches, servers, and DDoS protection hardware</li>
						</ul>
						<p>All this means mountains of paperwork, jurisdictional legal headaches, language translations and endless email threads — before we even got to hiring staff.</p>
						<h2 class="mt-4">There aren’t many people around</h2>
						<p>It’s hard to find qualified network engineers in Guam — and there’s good reason:</p>
						<img class="my-4" src="/img/content/server-pacific-island/guam-population-chart-google.png" alt="A google search result showing that Guam had a population of 168,783 in 2020">
						<p>With a population of ~170,000, 3 internet providers, and only a handful of companies employing IT professionals, there aren’t a lot of technical specialists looking for work.</p>
						<p>We put some feelers out and luckily managed to snag the excellent Matt Ziobro, an IT specialist (and keen pilot), to take charge of our operations in Guam. Without him, it’s unlikely our Guam project would have taken off the ground at all.</p>
						<p>So — we now had a place to put servers and the beginnings of a team.</p>
						<p>Next, we needed to order the equipment.</p>
						<h2 class="mt-4">Shipping takes forever</h2>
						<p>When you decide to send a 100kg server to Guam, it’s most likely getting there via boat — which takes 25 days at the best of times.</p>
						<p><strong>So if something is broken or missing, that’s at least another month on the clock.</strong></p>
						<p>We found ourselves up late at night praying that our suppliers had triple-checked orders before shipping them out — and included the right cables. There aren’t many places on the island where you can buy replacements. </p>
						<p>Decent shipping is like a lottery. Sometimes, the stars and your wallet align, and 2-day air freight can be available. It’s rare, but when it happens, it’s a great day.</p>
						<p><strong>Red tape plays a role, too.</strong> As a U.S. territory, the <a href="https://en.wikipedia.org/wiki/Merchant_Marine_Act_of_1920#Effects" target="_blank">Jones Act</a> applies. It effectively bans non-US vessels from carrying cargo to Guam. That means you can order an item from Japan, and if there’s no U.S. ship to take it to Guam, it’s probably going via Alaska.</p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<picture>
							<source srcset="/img/content/server-pacific-island/shipping-jones-act.webp" type="image/webp">
							<img class="opaque" src="/img/content/server-pacific-island/shipping-jones-act.jpg" alt="An illustrated map showing the unnecessary route Jones Act-affected shipments take to get to Guam">
						</picture>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>Don’t ask.</p>
						<p><strong>Even when your shipment gets to Guam, tragedy can strike.</strong></p>
						<p>More than once, we’ve had large shipments arrive on the island only to be sent back because the delivery company didn’t think the data centre existed. Maybe they went to the beach instead of delivering our equipment.</p>
						<img class="my-4" src="/img/content/server-pacific-island/maneuver.jpg" alt="Interstellar meme captioned 'this little maneuver is gonna cost us 51 years'">
						<p>One last thing — if you’re using anyone except USPS for delivery, there’s a 4% “Use tax” on the value of your delivery. At this point in the process, you just sigh and pay up.</p>
						<p>Finally, your delivery has arrived — so you plug things in.</p>
						<h2 class="mt-4">Electricity is expensive</h2>
						<p>On the island, electricity costs at least twice as much as it does in the United States.</p>
						<p>Why so pricey? Like most things in Guam, the energy sector is at the mercy of the shipping industry too. With 90% of the power coming from fossil fuels and limited alternatives to choose from, electricity is precious.</p>
						<p>Not only is it more expensive, but power distribution to the data centres we use is also precarious, so there are strict limits to how much power we can draw.</p>
						<p>As if that’s not enough, because we play life on hard mode and operate <a href="/dedicated-servers/">high-performance servers</a>, we’ve had to dance on the knife-edge between power and performance. That means choosing very specific components and making trade-offs where we can. It’s a delicate balancing act.</p>
						<p><strong>Can’t they just build more power plants?</strong></p>
						<p>Well, they did — but it blew up back in 2015.</p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<picture>
							<source srcset="/img/content/server-pacific-island/guam-post-cabras-power-explosion.webp" type="image/webp">
							<img class="opaque" src="/img/content/server-pacific-island/guam-post-cabras-power-explosion.jpg" alt="A headline from the Guam Daily Post titled 'Cause of Cabras plant explosion undetermined'">
						</picture>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>How? Best to ask an islander.</p>
						<p>The good news though, is that a new power plant is on its way, due for completion in 2024 💪</p>
						<h2 class="mt-4">You can’t do it from behind a computer screen </h2>
						<p>Doing this during a pandemic was odd, to say the least.</p>
						<p>Every single step of the project was affected — from factory shutdowns and global supply shortages to customs delays and interstate travel.</p>
						<p><strong>Thing is, you can’t build a global network from behind a computer screen.</strong> You need boots on the ground to build servers, package and ship things, install equipment and plug stuff in, as well as replace broken hardware in the middle of the night.</p>
						<p>With travel restrictions preventing key staff from travelling interstate and overseas, we had to improvise.</p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/server-pacific-island/matt-shearing-oneqode-ceo-teamviewer-pilot-datacentre.webp" type="image/webp">
								<img class="opaque" src="/img/content/server-pacific-island/matt-shearing-oneqode-ceo-teamviewer-pilot-datacentre.jpg" alt="Matt Shearing, OneQode CEO in a data centre in Brisbane using TeamViewer Pilot App">
							</picture>
							<figcaption>Remote telesurgery: OneQode CEO Matt Shearing installs new hardware in a data centre, guided 500 miles away by Chief Architect Ben Cooper via TeamViewer’s augmented reality app</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p><strong>Things would have been 10 times more difficult without the last 5 years of technology.</strong></p>
						<p>Augmented reality support apps like Teamviewer Pilot have made remote data centre operations much easier. You can have a colleague assist you from the other side of the world, drawing arrows and annotations in real-time over objects in front of you.</p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<video
							class="lazy full-width"
							poster="/img/content/server-pacific-island/teamviewer-pilot-demo-clip.jpg"
							aria-label="A demonstration video of TeamViewer Pilot"
							width="960"
							height="410"
							autoplay muted loop playsinline disableRemotePlayback
						>
							<source
								data-src="https://oneqode.sfo2.digitaloceanspaces.com/videos/teamviewer-pilot-demo-clip.mp4"
								type="video/mp4"
							>
						</video>
						<figcaption>A game-changer • TeamViewer Pilot demonstration video • <a href="https://www.youtube.com/watch?v=Z5DVsF1EVS8" target="_blank">Watch on YouTube</a></figcaption>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>Teamwork tools have improved, too.</p>
						<p>Most of our team have never met in person — we’re spread across 10 cities and 6 time zones.</p>
						<p>We used to live on Microsoft Teams and Zoom, but they didn’t scratch our itch. Sometimes you want the spontaneity of being in an office instead.</p>
						<p>So we switched to <a href="https://gather.town" target="_blank">Gather</a>. And it is good.</p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<video
							class="lazy full-width"
							poster="/img/content/server-pacific-island/gather-recording.jpg"
							aria-label="OneQode using Gather for remote working"
							width="960"
							height="558"
							autoplay muted loop playsinline disableRemotePlayback
						>
							<source
								data-src="https://oneqode.sfo2.digitaloceanspaces.com/videos/gather-recording.mp4"
								type="video/mp4"
							>
						</video>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<h2 class="mt-4">We’re lucky. We haven’t encountered a typhoon... yet</h2>
						<p>One thing we haven’t come across — thankfully — is a typhoon.</p>
						<p>Guam is often rocked by tropical storms, and occasionally a typhoon. Some have been severe category 4 and 5 storms with winds reaching close to 300 km/h, and they leave devastation in their wake.</p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<video
							class="lazy full-width"
							poster="/img/content/server-pacific-island/typhoon-mangkhut-guam-2018.jpg"
							aria-label="Typhoon Mangkhut passes through Guam in 2018 [Source: NOAA]"
							width="720"
							height="480"
							autoplay muted loop playsinline disableRemotePlayback
						>
							<source
								data-src="https://oneqode.sfo2.digitaloceanspaces.com/videos/typhoon-mangkhut-guam-2018.mp4"
								type="video/mp4"
							>
						</video>
						<figcaption>Typhoon Mangkhut passes through Guam in 2018 [Source: NOAA]</figcaption>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>Much of the island’s infrastructure (including the data centres we’re in) is built to withstand the most extreme conditions. But, up against nature, anything can happen.</p>
						<p>All we can do is be prepared and build resilience into our systems. 🤞</p>
						<h2 class="mt-4">In summary: it’s harder than it looks — but worth it</h2>
						<p>Bringing it all together, we’ve encountered delays, travel restrictions, chip shortages, hardware failures, electricity calculations, import duties and a truckload of paperwork.</p>
						<p>But we did it.</p>
						<p><a href="https://finance.yahoo.com/news/oneqode-launches-asia-pacific-gaming-034400408.html" target="_blank">We were the first company</a> to put servers on the island designed to bring the region together, and while it’s been a hard road, it was worth it.</p>
						<p><strong>What would that look like for gaming with your friends Alice &amp; Bob?</strong></p>
						<p>A marked improvement, with a very playable latency for everyone.</p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<picture>
							<source srcset="/img/content/server-pacific-island/map-three-cities-after.webp" type="image/webp">
							<img class="opaque" src="/img/content/server-pacific-island/map-three-cities-after.jpg" alt="A map of Asia-Pacific, highlighting Alice, Bob and You spread out across the region, with latency to Guam">
						</picture>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p><strong>And how did it turn out in the real world?</strong></p>
						<p>Earlier this year we hosted a <a href="/case-study/guam-csgo/">$17,000 cross-regional CS:GO tournament</a> to put our brand new network to the test.</p>
						<p>96 players from 9 countries took part over 5 days to fight for the prize pool, streamed live to a global audience on Twitch.</p>
						<p>While we had a rocky start (solving scenic internet provider routing in real-time… story for another day), the tournament ended on a high — with an epic final between two excellent teams.</p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<picture>
							<source srcset="/img/case-study/guam-csgo-tournament-countries-map.webp" type="image/webp">
							<img class="opaque" src="/img/case-study/guam-csgo-tournament-countries-map.jpg" alt="Map highlighting countries where players connected from to play Counter-Strike: Global Offensive">
						</picture>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p><strong>During the tournament, there was a defining moment when we knew we’d done something special.</strong></p>
						<p>We watched live as an Australian team battled a Mongolian team 5,000 km away — with less than 90ms of latency.</p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<div class="wrapper">
							<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/McZFgAhC8LU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>It was huge. Unthinkable before we put servers there.</p>
						<p>We could hardly believe it.</p>
						<p><strong>Guam (APAC Central) is a brand new hub for cross-regional gaming.</strong> Players across 3 continents can now connect, introducing completely new strategies and levels of competition that haven’t been possible until now.</p>
						<p>This is beyond exciting — and we are proud to declare Guam as the first region for <a href="/cloud/">our high-performance cloud</a> that’s built for game studios, developers, publishers, and tournament operators.</p>
						<p>We’re grateful to our families, teammates, suppliers and friends for supporting us up till now. Without your motivation, we would have given up long ago.</p>
						<p><strong>Finally, we’ve gained a new respect</strong> for the people who pave the way for their industry — in spite of the naysayers.</p>
						<p>If that’s you, carry on 👏</p>
						<figure class="my-4">
							<video
								class="lazy full-width"
								poster="/img/content/server-pacific-island/stay-classy-san-diego.jpg"
								aria-label="Ron Burgendy from Anchorman saying 'You stay classy, San Diego'"
								width="484"
								height="258"
								autoplay muted loop playsinline disableRemotePlayback
							>
								<source
									data-src="https://oneqode.sfo2.digitaloceanspaces.com/videos/stay-classy-san-diego.mp4"
									type="video/mp4"
								>
							</video>
						</figure>
					</div>
				</div>
			</div>
		</section>