---
layout: post.liquid
permalink: /story/
metaTitle: The Origin Story of OneQode • Austin Gallagher
metaDescription: We started as a last-mile internet provider, then we decided to go upstream.
ogImage: story.jpg
heroImage: roof-wireless-dish-brisbane
changefreq: never
priority: 0.4
title: The Origin Story of OneQode<mark class="dot">.</mark>
author: Austin Gallagher
date: 2022-02-22
tags: ['qode', 'oneqode', 'guam', 'asia-pacific']
cta: true
ctaTitle: This is just the start<mark class="dot">.</mark>
ctaSubtitle: Thinking of taking on the world? We’d love to help.
lazyLoadVideo: true
---
		<style>
			.no-webp section.hero {
				background:	linear-gradient(to bottom, rgba(0,0,0,0.2) 50%, #000),
							url(/img/bg/{{ heroImage }}.jpg) bottom center;
				background-size: cover;
				background-repeat: no-repeat;
			}
			.webp section.hero {
				background:	linear-gradient(to bottom, rgba(0,0,0,0.2) 50%, #000),
							url(/img/bg/{{ heroImage }}.webp) bottom center;
				background-size: cover;
				background-repeat: no-repeat;
			}
			blockquote {
				margin: 2rem 0 2rem 0;
				padding: 2rem;
				border-left: 6px solid #333;
			}
			blockquote > :first-child {
				margin-top: 0;
			}
			blockquote > :last-child {
				margin-bottom: 0;
			}
			blockquote > * {
				color: #cecece;
			}
			video.full-width {
				height: auto;
			}
			/* Stat Gradient */
			.stat {
				color: #fff;
				background: -webkit-linear-gradient(258deg, #fff, #999);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
			span.unit {
				font-size: 2.5rem;
				display: inline-block;
			}
			@media (min-width: 48em) {
				/* Move up on desktop */
				.map {
					margin-top: -16rem;
				}
			}
		</style>
		<section class="pb-4 push-forward">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<h2>Latency. Lag. Rubberbanding.</h2>
						<p>Call it what you like, there isn’t a gamer on the planet who hasn’t experienced it.</p>
						<p>For anyone lucky enough to not have experienced it: it sucks - a lot.</p>
						<p>Your in-game senses become unreliable. Your reaction speed delayed.</p>
						<p>It becomes a huge roadblock to being competitive, or even just enjoying the game.</p>
						<p>Imagine trying to catch a ball, but your reaction speed is twice as long.</p>
						<figure class="my-4">
							<video
								class="lazy full-width"
								poster="/img/content/story/star-trek-ball-catch-miss.jpg"
								aria-label="A Star Trek character misses a catch (of a ball) because of their delayed reactions"
								width="448"
								height="352"
								autoplay muted loop playsinline disableRemotePlayback
							>
								<source
									data-src="https://oneqode2.sgp1.cdn.digitaloceanspaces.com/videos/star-trek-ball-catch-miss.mp4"
									type="video/mp4"
								>
							</video>
						</figure>
						<p>Your focus? On your network and not the game.</p>
						<p>For gamers, this is the difference between virtual life and death.</p>
						<h2 class="mt-4">So we started OneQode</h2>
						<p><strong>A wireless last-mile internet provider for gamers.</strong> Well, that’s what we thought we were starting.</p>
						<p>The important part was the mission: better internet for gamers.</p>
						<p>We eventually found ourselves launching an international carrier network, with reach far beyond our borders. The path had changed but the mission was the same.</p>
						<p>But before we get to that, we need to go back to the beginning.</p>
						<h2 class="mt-4">The elephant in the network</h2>
						<p>Look: Australian internet sucked.</p>
						<p>Our internet speeds ranked 67th globally — and providers weren’t getting any better. They prioritised cost over everything.</p>
						<p>The worst thing? None of them cared about latency.</p>
						<p><strong>It seemed like the only people who could fix gamers’ internet, were gamers.</strong></p>
						<p>Once upon a time, there was hope for Australia, the national broadband network (NBN). The biggest infrastructure commitment in Australia’s history. A fibre to the premises promise. A huge vision.</p>
						<p>But as it rolled out, it failed in scope and speed.</p>
						<p>Gamers were left out in the cold. We were on our own.</p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<video
							class="lazy full-width"
							poster="/img/content/story/thanos-fine-ill-do-it-myself.jpg"
							aria-label="Thanos from Age of Ultron saying &#39;Fine. I’ll do it myself&#39;"
							width="498"
							height="216"
							autoplay muted loop playsinline disableRemotePlayback
						>
							<source
								data-src="https://oneqode2.sgp1.cdn.digitaloceanspaces.com/videos/thanos-fine-ill-do-it-myself.mp4"
								type="video/mp4"
							>
						</video>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>It was clear if we wanted help, we had to help ourselves.</p>
						<p>We wanted to create another option that would offer better connectivity than traditional last-mile internet — and eliminate unnecessary latency for gamers.</p>
						<h2 class="mt-4">Last mile: the gift that never gives</h2>
						<p><strong>For most people, last mile is “the internet”.</strong></p>
						<p>This has always been the pain point. The final portion of the network that connects to your home, where the resources to ensure speed are spread the thinnest.</p>
						<p>To welcome gamers in from the cold, we’d just need to fix last-mile — or so we thought.</p>
						<p>Traditional last-mile infrastructure requires three key resources:</p>
						<ol>
							<li>Money</li>
							<li>Time</li>
							<li>Effort</li>
						</ol>
						<p>A typical last-mile setup involves laying underground cables to each individual premises. At scale, it’s a massive operation.</p>
						<p>As a small startup, the cost to compete on these terms would be huge.</p>
						<p>So we didn’t.</p>
						<p>Wireless last-mile technology had been quietly improving, so we threw some dishes on roofs, and took our first steps as a provider.</p>
						<p>How hard could it be?</p>
						<figure class="my-4">
							<video
								class="lazy full-width"
								poster="/img/content/story/breaking-bad-pizza-roof-throw.jpg"
								aria-label="Walter from Breaking Bad throwing a pizza on a roof"
								width="500"
								height="282"
								autoplay muted loop playsinline disableRemotePlayback
							>
								<source
									data-src="https://oneqode2.sgp1.cdn.digitaloceanspaces.com/videos/breaking-bad-pizza-roof-throw.mp4"
									type="video/mp4"
								>
							</video>
						</figure>
						<p>As soon as the data left our hands (aka the last-mile) the quality plummeted (just like that pizza). We couldn't guarantee a good experience, especially when gamers connected abroad.</p>
						<p>So we ventured upstream.</p>
						<h2 class="mt-4">Going upstream: the network problem</h2>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 mt-2">
						<figure>
							<video
								class="lazy full-width"
								poster="/img/content/story/ogres-have-layers-shrek.jpg"
								aria-label="Shrek saying &#39;Layers! Onions have layers. Ogres have layers!&#39;"
								width="960"
								height="540"
								autoplay muted loop playsinline disableRemotePlayback
							>
								<source
									data-src="https://oneqode2.sgp1.cdn.digitaloceanspaces.com/videos/ogres-have-layers-shrek.mp4"
									type="video/mp4"
								>
							</video>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<figure>
							<blockquote>
								<p>“It was like an onion. The more we peeled back (to improve internet for gamers), the deeper we had to go into carrier land to deliver the service for last mile”</p>
								<p>— Matt Shearing, OneQode CEO</p>
							</blockquote>
						</figure>
						<p>Internet infrastructure is like a river. The widest portion of the river carries the most data, splitting into smaller streams closer to its destination.</p>
					</div>
					<div class="col-xs-12 my-4">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1640 435" aria-labelledby="letitle ledescription" id="how-internet-works">
							<title id="letitle">How your internet data travels</title>
							<desc id="ledescription">A diagram showing the journey from your house to the internet.</desc>
							<style>
							.poppins {
								font-family: "Poppins", sans-serif;
								font-weight: 600;
							}
							.poppins.size1 {
								font-size: 26px;
							}
							.poppins.size2 {
								font-size: 20px;
							}
							</style>
							<g fill="#999">
								<path d="M450 355h786v7H450z" />
								<text class="poppins size1" transform="translate(449 400)">
									<tspan x="0" y="0">ISP Backbone</tspan>
									<tspan font-size="16">
										<tspan x="0" y="29">Your internet providers core network</tspan>
									</tspan>
								</text>
							</g>
							<g fill="#999">
								<path d="M0 355h430v7H0z" />
								<text class="poppins size1" transform="translate(0 400)">
									<tspan x="0" y="0">Last mile network</tspan>
									<tspan font-size="16">
										<tspan x="0" y="29">Also known as &quot;local loop&quot;</tspan>
									</tspan>
								</text>
							</g>
							<text fill="#fff" class="poppins size1" transform="translate(81 153)">
								<tspan x="-39.273" y="0">Home</tspan>
								<tspan x="-40.898" y="29">router</tspan>
							</text>
							<text fill="#fff" class="poppins size1" transform="translate(1539 153)">
								<tspan x="-37.531" y="0">Other</tspan>
								<tspan x="-61.165" y="29">networks</tspan>
							</text>
							<text fill="#fff" class="poppins size1" transform="translate(363 153)">
								<tspan x="-34.632" y="0">Local</tspan>
								<tspan x="-33.813" y="29">node</tspan>
							</text>
							<text fill="#fff" class="poppins size1" transform="translate(660 153)">
								<tspan x="-34.632" y="0">Local</tspan>
								<tspan x="-66.378" y="29">exchange</tspan>
							</text>
							<text fill="#fff" class="poppins size1" transform="translate(953 153)">
								<tspan x="-32.188" y="0">Data</tspan>
								<tspan x="-45.201" y="29">Centre</tspan>
								<tspan font-size="16">
									<tspan x="-89.48" y="58">(ISP Point of Presence)</tspan>
								</tspan>
							</text>
							<text fill="#fff" class="poppins size1" transform="translate(1246 167)">
								<tspan x="-113.1" y="0">Interconnections</tspan>
							</text>
							<g fill="#999">
								<path d="M1256 355h384v7h-384z" />
								<text class="poppins size1" transform="translate(1256 400)">
									<tspan x="0" y="0">Other networks</tspan>
									<tspan font-size="16">
										<tspan x="0" y="29">&quot;the internet&quot;</tspan>
									</tspan>
								</text>
							</g>
							<g>
								<g>
									<path fill="#00b0f0" d="M112.584 70.333H33.417A10.431 10.431 0 0 0 23 80.75v8.333A10.431 10.431 0 0 0 33.417 99.5h79.166A10.429 10.429 0 0 0 123 89.083V80.75a10.431 10.431 0 0 0-10.416-10.417Zm6.25 18.75a6.258 6.258 0 0 1-6.25 6.25H33.417a6.258 6.258 0 0 1-6.25-6.25V80.75a6.258 6.258 0 0 1 6.25-6.25h79.166a6.258 6.258 0 0 1 6.25 6.25v8.333Z" />
								</g>
							</g>
							<g>
								<g>
									<path fill="#00b0f0" d="M95.916 41.166a2.084 2.084 0 0 0-2.083 2.083v29.167a2.083 2.083 0 0 0 4.167 0V43.249a2.084 2.084 0 0 0-2.084-2.083Z" />
								</g>
							</g>
							<g>
								<g transform="translate(35.5 82.833)">
									<circle cx="2.083" cy="2.083" r="2.083" fill="#00b0f0" />
								</g>
							</g>
							<g>
								<g transform="translate(48 82.833)">
									<circle cx="2.083" cy="2.083" r="2.083" fill="#00b0f0" />
								</g>
							</g>
							<g>
								<g transform="translate(60.5 82.833)">
									<circle cx="2.083" cy="2.083" r="2.083" fill="#00b0f0" />
								</g>
							</g>
							<g>
								<g transform="translate(73 82.833)">
									<circle cx="2.083" cy="2.083" r="2.083" fill="#00b0f0" />
								</g>
							</g>
							<g>
								<g>
									<path fill="#00b0f0" d="M108.417 82.833H87.583a2.083 2.083 0 1 0 0 4.167h20.833a2.083 2.083 0 1 0 0-4.167Z" />
								</g>
							</g>
							<g>
								<g>
									<path fill="#00b0f0" d="M89.667 43.249a6.219 6.219 0 0 1 1.833-4.421 2.083 2.083 0 0 0-2.946-2.946 10.422 10.422 0 0 0 0 14.733 2.093 2.093 0 0 0 1.475.608 2.059 2.059 0 0 0 1.471-.608 2.085 2.085 0 0 0 0-2.946 6.218 6.218 0 0 1-1.833-4.42Z" />
								</g>
							</g>
							<g>
								<g>
									<path fill="#00b0f0" d="M103.284 35.882a2.083 2.083 0 1 0-2.946 2.946 6.252 6.252 0 0 1 0 8.842 2.085 2.085 0 0 0 2.95 2.946 10.422 10.422 0 0 0 0-14.734Z" />
								</g>
							</g>
							<g>
								<g>
									<path fill="#00b0f0" d="M85.6 32.941a2.083 2.083 0 0 0-2.946-2.946 18.775 18.775 0 0 0 0 26.517 2.083 2.083 0 0 0 2.946-2.946 14.606 14.606 0 0 1 0-20.625Z" />
								</g>
							</g>
							<g>
								<g>
									<path fill="#00b0f0" d="M109.175 29.994a2.083 2.083 0 1 0-2.946 2.946 14.606 14.606 0 0 1 0 20.625 2.083 2.083 0 0 0 2.946 2.946 18.776 18.776 0 0 0 0-26.517Z" />
								</g>
							</g>
							<g>
								<g>
									<path fill="#00b0f0" d="M79.708 27.049a2.083 2.083 0 0 0-2.946-2.946 27.115 27.115 0 0 0 0 38.3 2.083 2.083 0 0 0 2.946-2.946 22.937 22.937 0 0 1 0-32.408Z" />
								</g>
							</g>
							<g>
								<g>
									<path fill="#00b0f0" d="M115.066 24.103a2.083 2.083 0 0 0-2.946 2.946 22.938 22.938 0 0 1 0 32.408 2.083 2.083 0 0 0 2.946 2.946 27.115 27.115 0 0 0 0-38.3Z" />
								</g>
							</g>
							<g fill="#00b0f0">
								<path d="M408.424 0h-84.848A7.579 7.579 0 0 0 316 7.576v84.848a7.579 7.579 0 0 0 7.576 7.576h84.848A7.579 7.579 0 0 0 416 92.424V7.576A7.579 7.579 0 0 0 408.424 0ZM319.03 92.424V7.576a4.559 4.559 0 0 1 4.545-4.545h40.91V96.97h-40.909a4.559 4.559 0 0 1-4.546-4.546Zm93.939 0a4.559 4.559 0 0 1-4.545 4.545h-40.909V3.03h40.909a4.559 4.559 0 0 1 4.545 4.545Z" />
								<path d="M373.576 40.909a1.52 1.52 0 0 0-1.515 1.515v15.152a1.515 1.515 0 1 0 3.03 0V42.424a1.52 1.52 0 0 0-1.515-1.515Z" />
								<path d="M358.424 40.909a1.52 1.52 0 0 0-1.515 1.515v15.152a1.515 1.515 0 1 0 3.03 0V42.424a1.52 1.52 0 0 0-1.515-1.515Z" />
							</g>
							<g fill="#00b0f0">
								<path d="M707.557 95.614H705.6V15.475h1.959a1.943 1.943 0 1 0 0-3.887h-46.833a1.943 1.943 0 1 0 0 3.887h1.959v17.608h-14.163v-5.075a8.33 8.33 0 0 0 1.64-1.276l4.065-4.071a1.943 1.943 0 0 0 0-2.747l-5.519-5.527a1.943 1.943 0 0 0-2.142-.413l-3.619 1.553-3.66-3.665 1.553-3.628a1.944 1.944 0 0 0-.41-2.135L634.911.57a1.944 1.944 0 0 0-2.75 0L628.1 4.641a8.2 8.2 0 0 0-.962 10.481 50.578 50.578 0 0 0 4.819 5.918v12.043h-20.014a1.943 1.943 0 0 0 0 3.887h1.957v58.644h-1.957a1.943 1.943 0 0 0 0 3.887h95.614a1.943 1.943 0 1 0 0-3.887Zm-5.846-80.139v80.139h-5.87V74.108a1.943 1.943 0 0 0-1.941-1.943h-19.515a1.943 1.943 0 0 0-1.943 1.943v21.506h-5.87V15.475h35.139Zm-9.757 80.139h-15.626V76.051h15.626ZM630.845 7.388l2.69-2.694 3.215 3.22-1.55 3.628a1.944 1.944 0 0 0 .411 2.138l5.519 5.527a1.943 1.943 0 0 0 2.142.413l3.619-1.553 3.217 3.222-2.694 2.7a4.3 4.3 0 0 1-5.5.523 46.5 46.5 0 0 1-11.591-11.613 4.314 4.314 0 0 1 .523-5.514Zm4.993 17.334q1.848 1.573 3.85 2.974a8.061 8.061 0 0 0 4.947 1.45v3.937h-8.8v-8.361ZM617.789 36.97h44.9v58.644h-9.776V74.108a1.943 1.943 0 0 0-1.943-1.943h-21.465a1.943 1.943 0 0 0-1.943 1.943v21.506h-9.773Zm31.237 58.644h-17.578V76.051h17.578Z" />
								<path d="M624.626 46.743h3.9a1.943 1.943 0 0 0 0-3.887h-3.9a1.943 1.943 0 1 0 0 3.887ZM638.286 46.743h3.9a1.943 1.943 0 1 0 0-3.887h-3.9a1.943 1.943 0 0 0 0 3.887ZM651.945 46.743h3.9a1.943 1.943 0 1 0 0-3.887h-3.9a1.943 1.943 0 0 0 0 3.887ZM624.626 56.511h3.9a1.943 1.943 0 0 0 0-3.887h-3.9a1.943 1.943 0 1 0 0 3.887ZM638.286 56.511h3.9a1.943 1.943 0 1 0 0-3.887h-3.9a1.943 1.943 0 1 0 0 3.887ZM651.945 56.511h3.9a1.943 1.943 0 1 0 0-3.887h-3.9a1.943 1.943 0 1 0 0 3.887ZM628.529 66.281a1.943 1.943 0 0 0 0-3.887h-3.9a1.943 1.943 0 1 0 0 3.887ZM638.286 66.281h3.9a1.943 1.943 0 1 0 0-3.887h-3.9a1.943 1.943 0 1 0 0 3.887ZM675.36 26.223h3.9a1.943 1.943 0 0 0 0-3.887h-3.9a1.943 1.943 0 0 0 0 3.887ZM689.019 26.223h3.9a1.943 1.943 0 0 0 0-3.887h-3.9a1.943 1.943 0 0 0 0 3.887ZM675.36 35.993h3.9a1.943 1.943 0 0 0 0-3.887h-3.9a1.943 1.943 0 0 0 0 3.887ZM689.019 35.993h3.9a1.943 1.943 0 0 0 0-3.887h-3.9a1.943 1.943 0 0 0 0 3.887ZM675.36 45.763h3.9a1.943 1.943 0 0 0 0-3.887h-3.9a1.943 1.943 0 0 0 0 3.887ZM689.019 45.763h3.9a1.943 1.943 0 0 0 0-3.887h-3.9a1.943 1.943 0 0 0 0 3.887ZM675.36 55.534h3.9a1.943 1.943 0 1 0 0-3.887h-3.9a1.943 1.943 0 1 0 0 3.887ZM689.019 55.534h3.9a1.943 1.943 0 1 0 0-3.887h-3.9a1.943 1.943 0 1 0 0 3.887ZM675.36 65.304h3.9a1.943 1.943 0 0 0 0-3.887h-3.9a1.943 1.943 0 0 0 0 3.887ZM689.019 65.304h3.9a1.943 1.943 0 0 0 0-3.887h-3.9a1.943 1.943 0 0 0 0 3.887ZM651.945 66.281h3.9a1.943 1.943 0 1 0 0-3.887h-3.9a1.943 1.943 0 1 0 0 3.887Z" />
							</g>
							<g fill="#00b0f0">
								<path d="M938 23.334h30a5 5 0 0 0 5-5v-6.667a5 5 0 0 0-5-5h-30a5 5 0 0 0-5 5v6.667a5 5 0 0 0 5 5Zm-1.667-11.667A1.667 1.667 0 0 1 938 10h30a1.667 1.667 0 0 1 1.667 1.667v6.667A1.667 1.667 0 0 1 968 20h-30a1.667 1.667 0 0 1-1.667-1.667Z" />
								<path d="M938 43.334h30a5 5 0 0 0 5-5v-6.667a5 5 0 0 0-5-5h-30a5 5 0 0 0-5 5v6.667a5 5 0 0 0 5 5Zm-1.667-11.667A1.667 1.667 0 0 1 938 30h30a1.667 1.667 0 0 1 1.667 1.667v6.667A1.667 1.667 0 0 1 968 40h-30a1.667 1.667 0 0 1-1.667-1.667Z" />
								<path d="M938 63.334h30a5 5 0 0 0 5-5v-6.667a5 5 0 0 0-5-5h-30a5 5 0 0 0-5 5v6.667a5 5 0 0 0 5 5Zm-1.667-11.667A1.667 1.667 0 0 1 938 50h30a1.667 1.667 0 0 1 1.667 1.667v6.667A1.667 1.667 0 0 1 968 60h-30a1.667 1.667 0 0 1-1.667-1.667Z" />
								<path d="M938 83.334h30a5 5 0 0 0 5-5v-6.667a5 5 0 0 0-5-5h-30a5 5 0 0 0-5 5v6.667a5 5 0 0 0 5 5Zm-1.667-11.667A1.667 1.667 0 0 1 938 70h30a1.667 1.667 0 0 1 1.667 1.667v6.667A1.667 1.667 0 0 1 968 80h-30a1.667 1.667 0 0 1-1.667-1.667Z" />
								<path d="M998 76.9V15a5 5 0 0 0-5-5h-13.333V5a5 5 0 0 0-5-5h-43.334a5 5 0 0 0-5 5v5H913a5 5 0 0 0-5 5v61.9a6.667 6.667 0 0 0-5 6.43v3.333A3.333 3.333 0 0 0 906.333 90h15.927a6.6 6.6 0 0 0-.927 3.333v3.333a3.333 3.333 0 0 0 3.334 3.334h56.666a3.333 3.333 0 0 0 3.333-3.333v-3.334A6.6 6.6 0 0 0 983.74 90h15.927a3.333 3.333 0 0 0 3.333-3.333v-3.334a6.667 6.667 0 0 0-5-6.433Zm-5-63.57a1.667 1.667 0 0 1 1.667 1.67v61.667h-15v-3.334h6.667a5 5 0 0 0 5-5v-6.666a5 5 0 0 0-5-5h-6.667v-3.334h6.667a5 5 0 0 0 5-5v-6.666a5 5 0 0 0-5-5h-6.667v-3.334h6.667a5 5 0 0 0 5-5v-6.666a5 5 0 0 0-5-5h-6.667v-3.334Zm-10 10h-3.333V20h6.667A1.667 1.667 0 0 1 988 21.667v6.667A1.667 1.667 0 0 1 986.333 30h-6.666v-3.333H983a1.667 1.667 0 0 0 0-3.333Zm-3.333 43.337H983a1.667 1.667 0 0 0 0-3.333h-3.333V60h6.667A1.667 1.667 0 0 1 988 61.667v6.667A1.667 1.667 0 0 1 986.333 70h-6.666Zm0-20H983a1.667 1.667 0 0 0 0-3.333h-3.333V40h6.667A1.667 1.667 0 0 1 988 41.667v6.667A1.667 1.667 0 0 1 986.333 50h-6.666ZM929.667 5a1.667 1.667 0 0 1 1.667-1.667h43.333A1.667 1.667 0 0 1 976.333 5v81.667h-46.666Zm-3.334 18.333H923a1.667 1.667 0 1 0 0 3.333h3.333V30h-6.666A1.667 1.667 0 0 1 918 28.333v-6.666A1.667 1.667 0 0 1 919.667 20h6.667Zm0 20H923a1.667 1.667 0 1 0 0 3.333h3.333V50h-6.666A1.667 1.667 0 0 1 918 48.333v-6.666A1.667 1.667 0 0 1 919.667 40h6.667Zm0 20H923a1.667 1.667 0 1 0 0 3.333h3.333V70h-6.666A1.667 1.667 0 0 1 918 68.333v-6.666A1.667 1.667 0 0 1 919.667 60h6.667Zm-13.333-50h13.333v3.333h-6.666a5 5 0 0 0-5 5v6.667a5 5 0 0 0 5 5h6.667v3.333h-6.667a5 5 0 0 0-5 5v6.667a5 5 0 0 0 5 5h6.667v3.333h-6.667a5 5 0 0 0-5 5v6.667a5 5 0 0 0 5 5h6.667v3.333h-15V15A1.667 1.667 0 0 1 913 13.333Zm-6.667 70A3.333 3.333 0 0 1 909.667 80h16.666v6.667h-20Zm75 10v3.333h-56.666v-3.333A3.333 3.333 0 0 1 928 90h50a3.333 3.333 0 0 1 3.333 3.333Zm18.333-6.667h-20V80h16.667a3.333 3.333 0 0 1 3.333 3.333Z" />
								<path d="M941.334 16.666h3.333a1.667 1.667 0 1 0 0-3.333h-3.333a1.667 1.667 0 1 0 0 3.333Z" />
								<path d="M958 16.666h6.667a1.667 1.667 0 1 0 0-3.333H958a1.667 1.667 0 0 0 0 3.333Z" />
								<path d="M941.334 36.666h3.333a1.667 1.667 0 1 0 0-3.333h-3.333a1.667 1.667 0 1 0 0 3.333Z" />
								<path d="M958 36.666h6.667a1.667 1.667 0 1 0 0-3.333H958a1.667 1.667 0 1 0 0 3.333Z" />
								<path d="M941.334 56.666h3.333a1.667 1.667 0 1 0 0-3.333h-3.333a1.667 1.667 0 1 0 0 3.333Z" />
								<path d="M958 56.666h6.667a1.667 1.667 0 1 0 0-3.333H958a1.667 1.667 0 1 0 0 3.333Z" />
								<path d="M941.334 76.666h3.333a1.667 1.667 0 1 0 0-3.333h-3.333a1.667 1.667 0 1 0 0 3.333Z" />
								<path d="M958 76.666h6.667a1.667 1.667 0 1 0 0-3.333H958a1.667 1.667 0 0 0 0 3.333Z" />
							</g>
							<g>
								<path fill="#00b0f0" d="M1220.699.003a4.957 4.957 0 0 0-3.409 1.5l-19.833 19.844a4.958 4.958 0 0 0 0 7.021l19.834 19.844a4.959 4.959 0 0 0 6.993-7.033l-11.361-11.378h77.282a4.963 4.963 0 1 0 0-9.926h-77.234l11.311-11.341a4.959 4.959 0 0 0-3.583-8.532Zm49.633 49.594a4.959 4.959 0 0 0-3.438 8.494l11.377 11.388h-77.3a4.959 4.959 0 1 0 0 9.918h77.274l-11.35 11.379a4.959 4.959 0 1 0 6.992 6.992l19.834-19.834a4.96 4.96 0 0 0 0-6.993l-19.834-19.842a4.958 4.958 0 0 0-3.554-1.5Z" />
							</g>
							<path fill="#00b0f0" d="M1585.127 70.999a1.448 1.448 0 0 0 .076-.183 48.448 48.448 0 0 0-2.829-43.248 5.939 5.939 0 0 0-7.064-9.223 47.27 47.27 0 0 0-3.218-3c2.19-5.954-5.119-10.837-9.671-6.389a47.847 47.847 0 0 0-42.845.226 5.929 5.929 0 0 0-9.708 6.582 48.345 48.345 0 0 0-4.576 4.574c-1.223 1.4.993 3.319 2.207 1.928a45.412 45.412 0 0 1 4.254-4.257 5.972 5.972 0 0 0 8.745-2.185 63.8 63.8 0 0 1 15.021 6.5 6.034 6.034 0 0 0 .442 4.312 67.428 67.428 0 0 0-10.373 11.261 5.985 5.985 0 0 0-7.083 3.212 91.411 91.411 0 0 0-18.4 1.977 5.975 5.975 0 0 0-2.327-2.378 44.871 44.871 0 0 1 5.374-12.576 1.467 1.467 0 0 0-2.489-1.548 47.792 47.792 0 0 0-5.717 13.369 5.949 5.949 0 0 0-1.516 11.7 48.411 48.411 0 0 0 16.243 36.415 5.932 5.932 0 0 0 9.489 6.538 47.835 47.835 0 0 0 44.12 0 5.929 5.929 0 0 0 9.6-6.637 47.992 47.992 0 0 0 12.245-16.97Zm-1.847-3.278a91.942 91.942 0 0 0-13.236-10.9 6.006 6.006 0 0 0-1.484-6.038 91.583 91.583 0 0 0 9.318-21.151 5.861 5.861 0 0 0 2.09-.378 45.507 45.507 0 0 1 3.312 38.467Zm-67.438 16.567a64.287 64.287 0 0 1 6.287-35.02 5.986 5.986 0 0 0 7.569-4.57 87.743 87.743 0 0 1 28.971 8.833 6.022 6.022 0 0 0 .971 5.011 88.47 88.47 0 0 1-39.436 28.482 5.924 5.924 0 0 0-4.362-2.735Zm45.573-29.272a3.012 3.012 0 1 1 2.99 3.012 3 3 0 0 1-2.99-3.012Zm19.466-31.327a3.012 3.012 0 1 1-2.99-3.012 3 3 0 0 1 2.99 3.012Zm-7.81-3.445a6.015 6.015 0 0 0 1.968 8.652 88.666 88.666 0 0 1-9.007 20.408 6.015 6.015 0 0 0-2.525-.162 67.976 67.976 0 0 0-17.024-22.5 6.027 6.027 0 0 0 .443-4.312 63.8 63.8 0 0 1 14.442-6.337 5.928 5.928 0 0 0 9.01 1.736q1.395 1.2 2.693 2.514Zm-34.838 3.672a3.012 3.012 0 1 1 2.99 3.012 3 3 0 0 1-2.99-3.012Zm28.347-13.748a2.99 2.99 0 1 1-2.99 3.012 3 3 0 0 1 2.99-3.012Zm-51.382 6.019a2.99 2.99 0 1 1 2.99-3.012 3 3 0 0 1-2.99 3.012Zm5.915-3.236a5.949 5.949 0 0 0-.161-1.183 44.907 44.907 0 0 1 39.957-.3 5.942 5.942 0 0 0-.249 1.675 66.736 66.736 0 0 0-15.19 6.636 5.968 5.968 0 0 0-8.494 0 66.739 66.739 0 0 0-15.86-6.831Zm16.785 15.882a5.942 5.942 0 0 0 6.641 0 65.029 65.029 0 0 1 16.273 21.464 5.985 5.985 0 0 0-.729.663 90.659 90.659 0 0 0-30.579-9.239 5.952 5.952 0 0 0-1.4-2.3 64.472 64.472 0 0 1 9.8-10.591Zm-14.014 11.743a2.99 2.99 0 1 1-2.986 3.012 3 3 0 0 1 2.986-3.012Zm-31.981 5.318a3.012 3.012 0 1 1 2.99 3.012 3 3 0 0 1-2.99-3.012Zm4.459 5.758a5.819 5.819 0 0 0 4.451-5.719s11.422-1.826 17.169-1.89a5.932 5.932 0 0 0 1.644 3.668 67.211 67.211 0 0 0-6.688 36.994 5.93 5.93 0 0 0-1.561.959c-9.562-8.566-15.015-22.917-15.015-34.012Zm18.836 41.555a3.012 3.012 0 0 1 0-6.023 3.057 3.057 0 0 1 2.99 3.012 3 3 0 0 1-2.99 3.011Zm26.022 3.884a44.757 44.757 0 0 1-20.433-4.938 6.1 6.1 0 0 0 .318-2.341 91.39 91.39 0 0 0 40.8-29.411 5.909 5.909 0 0 0 2.811.548 64.71 64.71 0 0 1 1.53 7.347 1.466 1.466 0 0 0 2.9-.429 67.646 67.646 0 0 0-1.631-7.8 5.949 5.949 0 0 0 .973-.757 88.977 88.977 0 0 1 13.581 11.35 45.07 45.07 0 0 1-11.027 15.03 5.908 5.908 0 0 0-1.551-.836 68.117 68.117 0 0 0 .371-8.2 1.466 1.466 0 0 0-2.931.045 65.178 65.178 0 0 1-.359 7.879 6.007 6.007 0 0 0-4.765 7.493 44.75 44.75 0 0 1-20.585 5.017Zm26.278-3.629a2.99 2.99 0 1 1 2.99-3.012 3 3 0 0 1-2.99 3.012Z" />
							<text fill="#e0e0e0" class="poppins size2" transform="translate(1133 210)">
								<tspan x="0" y="0">Internet exchanges</tspan>
								<tspan fill="#999" font-size="12">
									<tspan x="0" y="17">Your provider mutually exchanges</tspan>
									<tspan x="0" y="34">data with other networks</tspan>
								</tspan>
							</text>
							<text fill="#e0e0e0" class="poppins size2" transform="translate(1133 282)">
								<tspan x="0" y="0">Upstream transit</tspan>
								<tspan fill="#999" font-size="12">
									<tspan x="0" y="17">Your provider buys connectivity</tspan>
									<tspan x="0" y="34">from larger providers</tspan>
								</tspan>
							</text>
							<path fill="none" stroke="#00b0f0" stroke-dasharray="11" stroke-width="4" d="M149.5 158.5h147" />
							<path fill="none" stroke="#00b0f0" stroke-dasharray="11" stroke-width="4" d="M429.5 158.5h147" />
							<path fill="none" stroke="#00b0f0" stroke-dasharray="11" stroke-width="4" d="M743.5 158.5h147" />
							<path fill="none" stroke="#00b0f0" stroke-dasharray="11" stroke-width="4" d="M1014.416 158.5H1114.5" />
							<path fill="none" stroke="#00b0f0" stroke-dasharray="11" stroke-width="4" d="M1380.5 158.5h82" />
						</svg>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>We started wireless last-mile to clean up the streams, but for a startup, this was a lot of ground to cover. Worse? The river was being polluted upstream.</p>
						<p>When we went upstream, we realised that the situation was worse than we thought.</p>
						<p>You see, internet providers have to connect to the wider internet, too. To do this, they buy connectivity from larger “carriers” upstream, who have massive global networks.</p>
						<p>But a familiar problem reared its ugly head. Carriers weren’t bothered about quality either. They:</p>
						<ul>
							<li>Didn’t prioritise low latency</li>
							<li>Weren’t focused on speed</li>
							<li>Have over congested networks</li>
							<li>Were expensive for what you got</li>
						</ul>
						<p>All our efforts downstream would be pointless unless this was fixed. It was out of our control.</p>
						<p>To deliver great internet for gamers, we needed end-to-end control of the infrastructure.</p>
						<p>And if you want something done right, you’ve got to do it yourself.</p>
						<p>This all felt a bit like this scene from Malcolm in the Middle:</p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<div class="wrapper">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/AbSehcT19u0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
						<figcaption>Hal from Malcolm in the Middle fixing a light bulb</figcaption>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>Until our future partner <a href="http://www.rticables.com/" target="_blank">RTI Cables</a> landed right in our backyard.</p>
						<h2 class="mt-4"><strong>The sunny coast cable: a new hope</strong></h2>
						<p>What do a giant pineapple and the <strong>fastest cable</strong> to Asia from Australia’s east coast have in common?</p>
						<p>As of 2020, you’ll find both on the Sunshine Coast.</p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<picture>
							<source srcset="/img/content/story/sunshine-coast-pineapple-sunshine-coast-jga-s-cable.webp" type="image/webp">
							<img class="opaque" src="/img/content/story/sunshine-coast-pineapple-sunshine-coast-jga-s-cable.jpg" alt="A two part image: on the left, the Big Pineapple tourist attraction, on the right, the Sunshine Coast Cable Landing Station">
						</picture>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>Before RTI landed the Sunshine Coast cable, most international-bound Australian data travelled through Sydney.</p>
						<p>See, the internet isn’t magic. To travel from continent to continent, your data joins billions of other bits and bytes on a vast network of subsea cables.</p>
						<p>When we decided we had to connect internationally, it looked like we had to go through Sydney.</p>
						<p>But thanks to RTI we could connect to the cable that gave us the fastest pathway overseas. The best part? <a href="https://www.oneqode.com/media/oneqode-deploys-in-sunshine-coast-landing-station/">We were the first</a> to connect to it.</p>
					</div>
					<div class="col-xs-12 mt-1 mb-4">
						<picture>
							<source srcset="/img/content/story/australia-cables-from-east-coast-oneqode-brisbane-sunshine-coast-sydney.webp" type="image/webp">
							<img class="opaque" src="/img/content/story/australia-cables-from-east-coast-oneqode-brisbane-sunshine-coast-sydney.jpg" alt="A map of the eastern coast of Australia, showing most cables connecting from the south at Sydney, with OneQode located north in Brisbane, and the new Sunshine Coast Cable departing slightly north of Brisbane, showing that it was the perfect cable to send our traffic over.">
						</picture>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>We still needed the data to be handled with care throughout the entire journey. Sadly you can’t label data “this side up”... yet.</p>
						<p>The Sunshine Coast landing station connected us with the United States, Tokyo, Hong Kong, and Singapore, with one pit stop between us and them. But without presences on all sides, we would have to hand off our data.</p>
						<p>Once again we ran into a familiar problem.</p>
						<p>Quality control.</p>
						<p>That one stop for all our data? Guam.</p>
						<p>I think you can see where this is going.</p>
						<h2 class="mt-4"><strong>Enter Mr. Guam</strong></h2>
						<p>Moving upstream meant we needed someone with experience in “carrier land”.</p>
						<p>Meet Ben Cooper.</p>
						<p>Ben’s spent his career building carrier networks — the fundamental layer the internet is built on. Carrier network architects are a rare breed in the industry with only a handful of them in Australia.</p>
						<p>These days he’s Chief Architect at OneQode.</p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<picture>
							<source srcset="/img/content/story/ben-cooper-mr-guam-chief-architect.webp" type="image/webp">
							<img class="opaque" src="/img/content/story/ben-cooper-mr-guam-chief-architect.jpg" alt="Ben Cooper, Chief Architect at OneQode">
						</picture>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>Ben’s a scientist at heart, and scientists love to experiment. A couple of years before, following a whim, Ben had tested the latency between Guam and APAC regions. In two years he’d receive the results via email. You know, the kind of thing we all do on our lunch breaks.</p>
						<p><strong>He promptly forgot about the whole thing</strong>.</p>
						<p>In 2018, he struck gold.</p>
						<p>Google Taiwan held a 15ms ping to the University of Guam for two months.</p>
						<p>Guam had been an interchange. But if it could become a meeting point, the possibilities were massive.</p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<video
							class="lazy full-width"
							poster="/img/content/story/math-thinking.jpg"
							aria-label="Zach Galifianakis from the Hangover with Equations superimposed over his head, thinking"
							width="460"
							height="196"
							autoplay muted loop playsinline disableRemotePlayback
						>
							<source
								data-src="https://oneqode2.sgp1.cdn.digitaloceanspaces.com/videos/math-thinking.mp4"
								type="video/mp4"
							>
						</video>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>Ben realised that with Guam as the backbone of an international network, you could create a latency-neutral location to serve billions of gamers.</p>
						<p>Matt still refers to Ben as “Mr. Guam” sometimes. Since his experiments, Ben had gotten to know the island like the back of his hand.</p>
						<p>So once RTI connected us to Guam, the opportunity was clear.</p>
						<p>Guam could be APAC Central.</p>
						<p>A server in Guam, however, was still <a href="/server-pacific-island/">easier said than done</a>. To take full advantage of Guam, we would need presences on the other ends.</p>
						<p>By setting up in Guam, we’d begun a global network. The next steps would allow us full control of our data.</p>
						<p>End-to-End.</p>
						<p>Across the whole region.</p>
						<p>...Just to handle game traffic.</p>
						<h2 class="mt-4">If you love something, let it go</h2>
						<p>We were at a crossroads.</p>
						<p>Ultimately we wanted better internet for gamers.</p>
						<p>But by trying to root out the problem at its source, we’d moved away from last-mile.</p>
						<p>Two OneQode’s existed. Which was going to serve gamers better?</p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<video
							class="lazy full-width"
							poster="/img/content/story/bender-fighting-himself.jpg"
							aria-label="Bender from Futurama fighting an evil clone of himself. His his friends look on, unable to decide which one to shoot"
							width="720"
							height="480"
							autoplay muted loop playsinline disableRemotePlayback
						>
							<source
								data-src="https://oneqode2.sgp1.cdn.digitaloceanspaces.com/videos/bender-fighting-himself-subtitled.mp4"
								type="video/mp4"
							>
						</video>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>So we took stock.</p>
						<p>While we’d gone upstream, bigger players entered last-mile. Giants of telecommunications meeting the demand of skyrocketing needs in a pandemic.</p>
						<p>So what had we done in that time?</p>
						<ul>
							<li>Set up points of presence in three continents</li>
							<li>Began to grow the company (entirely remotely)</li>
							<li>Built a high-performance international network</li>
						</ul>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<div class="row">
							<div class="col-xs-6 col-md-3">
								<div class="stat"><span>4</span> countries</div>
							</div>
							<div class="col-xs-6 col-md-3">
								<div class="stat"><span>6</span> points of presence</div>
							</div>
							<div class="col-xs-6 col-md-3">
								<div class="stat"><span>10</span> staff employed</div>
							</div>
							<div class="col-xs-6 col-md-3">
								<div class="stat"><span>100<span class="unit">GbE</span></span> core network</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>During Covid, all without “squillions” of dollars (as Matt puts it)</p>
						<p>So instead of going toe-to-toe with giants, we stood on their shoulders.</p>
						<p>There was no one else upstream addressing the issue at its core.</p>
						<p>“It’s best to sail with the wind,” says Daniel McGregor, OneQode’s Chief Financial Officer, on our move away from last-mile connectivity.</p>
						<p>What we had built had the potential to be huge for not only Australian gamers, but the entire APAC region.</p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1122 950" aria-labelledby="venntitle venndescription" id="venn-diagram">
							<title id="venntitle">The OneQode Venn venn</title>
							<desc id="venndescription">A diagram showing how OneQode is the convergence of three things: gamers who think internet sucks, an experienced carrier architect, and a full support team.</desc>
							<style>
							.poppins {
								font-family: "Poppins", sans-serif;
								font-weight: 600;
								font-size: 26px;
							}
							</style>
							<text fill="#fff" class="poppins" transform="translate(518 27)">
								<tspan x="-83.889" y="0">Gamers who</tspan>
								<tspan x="-129.519" y="29">think internet sucks</tspan>
							</text>
							<text fill="#fff" class="poppins" transform="translate(842 912)">
								<tspan x="-125.528" y="0">A full support team</tspan>
								<tspan font-size="16">
									<tspan x="-193.808" y="29">engineers, lawyers, accountants, logistics, sales</tspan>
								</tspan>
							</text>
							<text fill="#fff" class="poppins" transform="translate(109 912)">
								<tspan x="-103.402" y="0">An experienced</tspan>
								<tspan x="-108.147" y="29">carrier architect</tspan>
							</text>
							<g fill="none" stroke="#707070" stroke-width="4" transform="translate(253 82)">
								<circle cx="265" cy="265" r="265" stroke="none" />
								<circle cx="265" cy="265" r="263" />
							</g>
							<g fill="none" stroke="#707070" stroke-width="4" transform="rotate(90 290.5 637.5)">
								<circle cx="265" cy="265" r="265" stroke="none" />
								<circle cx="265" cy="265" r="263" />
							</g>
							<g fill="none" stroke="#707070" stroke-width="4" transform="rotate(90 146 493)">
								<circle cx="265" cy="265" r="265" stroke="none" />
								<circle cx="265" cy="265" r="263" />
							</g>
							<g fill="#1c1d22">
								<path d="M517.525 609.999c-20.752 0-41.414-2.426-61.41-7.209a261.602 261.602 0 0 1-54.999-19.89 261.99 261.99 0 0 1 12.783-56.874 262.302 262.302 0 0 1 25.053-52.598 264.556 264.556 0 0 1 35.6-45.368 264.657 264.657 0 0 1 43.472-35.841 264.742 264.742 0 0 1 43.396 35.76 264.545 264.545 0 0 1 35.56 45.255 262.24 262.24 0 0 1 25.06 52.463 261.958 261.958 0 0 1 12.84 56.732 261.546 261.546 0 0 1-55.418 20.237c-20.16 4.866-40.999 7.333-61.937 7.333Z" />
								<path fill="#707070" d="M517.525 607.999c20.78 0 41.46-2.448 61.467-7.277a259.485 259.485 0 0 0 53.742-19.461 259.983 259.983 0 0 0-12.585-54.907 260.227 260.227 0 0 0-24.868-52.063 262.577 262.577 0 0 0-35.29-44.913 262.765 262.765 0 0 0-41.967-34.76 262.767 262.767 0 0 0-42.043 34.84 262.607 262.607 0 0 0-35.33 45.025 260.304 260.304 0 0 0-24.862 52.197 259.983 259.983 0 0 0-12.527 55.046 259.681 259.681 0 0 0 53.318 19.12c19.844 4.746 40.35 7.153 60.945 7.153m0 4c-42.61 0-82.877-10.06-118.546-27.929 8.522-81.354 53.86-151.758 119.045-194.243 65.06 42.403 110.35 112.609 118.996 193.765-35.905 18.172-76.502 28.407-119.495 28.407Z" />
							</g>
							<path fill="#27ade4" d="M463.79 510.604a17.7 17.7 0 1 0-7.091 23.4 9.254 9.254 0 0 1-1.7.166 8.754 8.754 0 0 1-3.25-.618l-3.093-1.247a13.718 13.718 0 1 1 12.4-9.438c-.141.431-.482 1.262-.482 1.262-1.816 4.3-4.842 5.388-6.878 4.576l-8.489-3.415a7.351 7.351 0 1 1 4.315.394s4.927 1.962 5.085 1.989a11.217 11.217 0 1 0-10.907 1.294l8.505 3.428c3.91 1.56 9.289-.249 12.027-6.739 0 0 .417-1.025.59-1.552a17.578 17.578 0 0 0-1.032-13.5Z" />
							<g fill="#fff">
								<path d="M482.164 529.784a11.221 11.221 0 1 1 11.221-11.221 11.221 11.221 0 0 1-11.221 11.221Zm0-18.468a7.247 7.247 0 1 0 7.247 7.247 7.247 7.247 0 0 0-7.247-7.247Z" />
								<path d="M495.011 513.23h3.547v1.471h.058a5.354 5.354 0 0 1 4.355-1.99 6.382 6.382 0 0 1 4.557 1.99 3.084 3.084 0 0 1 .4.462c1.24 1.73 1.269 3.72 1.269 5.768v8.277h-3.836v-7.527a7.739 7.739 0 0 0-.663-3.893 3.079 3.079 0 0 0-2.538-1.327 3.231 3.231 0 0 0-2.682 1.413c-.692 1.1-.634 2.826-.634 4.1v7.239h-3.836Z" />
								<path d="M514.712 522.921a4.37 4.37 0 0 0 4.211 3.057 4.934 4.934 0 0 0 3.576-1.384h4.239a8.372 8.372 0 0 1-16.093-3.259 8.506 8.506 0 0 1 8.479-8.623 8.378 8.378 0 0 1 8.19 8.392 13.03 13.03 0 0 1-.2 1.817Zm8.739-3.4a4.5 4.5 0 0 0-4.355-3.057 4.691 4.691 0 0 0-4.442 3.057Z" />
								<path d="m551.389 526.772-2.267-2.048a11.3 11.3 0 1 0-2.776 2.9l2.353 2.126Zm-18.883-8.21a7.247 7.247 0 1 1 7.247 7.247 7.247 7.247 0 0 1-7.247-7.247Z" />
								<path d="M561.047 529.725a8.5 8.5 0 1 1 8.5-8.5 8.5 8.5 0 0 1-8.5 8.5Zm0-13.235a4.734 4.734 0 1 0 4.734 4.734 4.734 4.734 0 0 0-4.734-4.734Z" />
								<path d="M583.655 507.895v6.98a6.53 6.53 0 0 0-4.932-2.163 8.189 8.189 0 0 0-5.883 2.711 8.761 8.761 0 0 0-2.163 5.855 8.871 8.871 0 0 0 2.163 5.768 7.622 7.622 0 0 0 5.768 2.682 6.268 6.268 0 0 0 5.307-2.682h.058v2.163h3.519v-21.314Zm-.839 16.337a4.659 4.659 0 0 1-3.631 1.746 4.519 4.519 0 0 1-2.478-.74 4.723 4.723 0 0 1 .661-8.394 4.313 4.313 0 0 1 1.759-.383 4.842 4.842 0 0 1 1.894.387c.067.028.125.07.191.1a4.807 4.807 0 0 1 .612.333c.073.049.134.112.2.165a4.761 4.761 0 0 1 .5.413c.064.064.114.14.175.208a4.7 4.7 0 0 1 .4.488 4.76 4.76 0 0 1 .261.474c.055.106.124.2.171.315a4.662 4.662 0 0 1-.716 4.888Z" />
								<path d="M593.089 522.922a4.371 4.371 0 0 0 4.211 3.057 4.934 4.934 0 0 0 3.576-1.384h4.239a8.372 8.372 0 0 1-16.093-3.259 8.506 8.506 0 0 1 8.479-8.623 8.378 8.378 0 0 1 8.19 8.392 13.021 13.021 0 0 1-.2 1.817Zm8.739-3.4a4.5 4.5 0 0 0-4.355-3.057 4.69 4.69 0 0 0-4.442 3.057Z" />
								<g>
									<path d="M603.024 507.95h.869l.283 1.167h.006l.283-1.167h.87v1.984h-.578v-1.273h-.006l-.344 1.273h-.456l-.344-1.273h-.006v1.273h-.578Z" />
									<path d="M601.638 508.459h-.556v-.509h1.723v.509h-.556v1.475h-.611Z" />
								</g>
							</g>
						</svg>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>So we ditched last-mile to focus on our high-performance, latency-optimised international carrier network. That meant that other providers — and their gamers — could benefit from our work.</p>
						<p>None of this made it easy to leave last-mile behind, it was the relatable issue for gamers.</p>
						<p>But we’d built a kickass international network. And we were <strong>doing things nobody had done</strong> before.</p>
						<p>For game developers, it would reach more people, quicker. Maintaining a healthy population of players, especially during non-peak hours.</p>
						<p>For gamers, this would mean better connections, quicker matches, and most importantly a fairer game.</p>
						<p>Decision time. Increasingly, that decision was looking like this:</p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1">
						<img class="my-4 opaque" src="/img/content/story/oneqode-trolley-problem-loop-da-loop.png" alt="An illustrated meme of the trolley problem — demonstrating the difficulty of the decision we were looking to make.">
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>To best serve gamers, it was time to play to our strengths. Connecting more people through Guam.</p>
						<p>We’d found a way to help gamers across the world — far beyond our backyard.</p>
						<p>Now we had to make it happen.</p>
						<h2 class="mt-4">Launching the rocket (going global)</h2>
						<p>Guam was deployed, so we took the lessons we learnt and expanded our points of presence.</p>
						<p>To Singapore. And Hong Kong. And Los Angeles.</p>
					</div>
				</div>
			</div>
		</section>
{% include diagrams/_pops-map.liquid %}
		<section>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>With these locations deployed, we’d honed our skills and perfected the recipe.</p>
						<p>Deploying any point of presence is a massive undertaking.</p>
						<p>Logistics range from navigating legal jurisdictions, to hiring local staff, to communications, shipping and receiving.</p>
						<p>Our team was ready for the challenge though, and successfully deployed international points of presence during the pandemic.</p>
						</div>
					<div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4">
						<figure class="my-2">
							<video
								class="lazy full-width"
								poster="/img/content/story/inglourious-basterds-getting-pretty-good.jpg"
								aria-label="A character from Inglourious Basterds saying &#39;You know, Lieutenant, you’re getting pretty good at that&#39;"
								width="244"
								height="220"
								autoplay muted loop playsinline disableRemotePlayback
							>
								<source
									data-src="https://oneqode2.sgp1.cdn.digitaloceanspaces.com/videos/inglourious-basterds-getting-pretty-good.mp4"
									type="video/mp4"
								>
							</video>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>Then, we needed gamers. Not just any gamers, but the kind of gamers who would recognise the difference we were making.</p>
						<p>So we hosted a <a href="/case-study/guam-csgo/">$17,000 CS:GO tournament</a> — the most latency sensitive game — in Guam.</p>
						<p>It was kind of a big deal.</p>
						<p>96 players. 9 countries. Matches that were impossible before Guam. All live-streamed globally.</p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 mt-2">
						<figure>
							<div class="wrapper">
								<iframe width="560" height="315" src="https://www.youtube.com/embed/McZFgAhC8LU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
							<figcaption>An Australian player single-handedly takes on a Mongolian team (and almost wins)</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<h2 class="mt-4">The end of the beginning</h2>
						<p>OneQode has evolved and transitioned into a serious operation.</p>
						<p>We’re working with game studios and server providers to increase their reach throughout APAC.</p>
						<p>We’re also helping enterprises build networks that span continents, giving them a regional backbone unlike anything they’ve had before.</p>
						<p>The most important thing is this: we’re improving the experience for end-users across the Asia-Pacific — connecting more people at lower latency.</p>
						<p>And this is just the beginning.</p>
						<p>By building to a gaming standard, our platform is ready for anything. But it’s not just for gamers.</p>
						<p>We’ve built it for the technology that doesn’t exist yet. Technology that’ll push the boundaries and connect more people than ever before, in real-time.</p>
						<h2 class="mt-4">To bravely go</h2>
						<p>Pioneering isn’t easy. You have to forge your own path.</p>
						<p>Prakash V, founding investor and our chief of operations, always reminds us to “stay curious”.</p>
						<p><strong>We always knew the destination: better internet for gamers across the region.</strong> The route we took wasn’t the one we expected, but now that we’ve carved our way forward we wouldn’t have it any other way.</p>
						<p>The freedom to adapt was central to this journey.</p>
						<p>Our mission is clear: <a href="https://www.oneqode.com/vision-mission-strategy/">make latency imperceptible</a>, and break down barriers to the virtual worlds that are being created.</p>
						<p>It’ll mean expanding. More people. More points of presence. More servers. More everything.</p>
						<p>Most importantly, it’ll mean uniting gamers across the world.</p>
						<p>We hope you’ll join us on the road ahead.</p>
					</div>
				</div>
			</div>
		</section>