---
layout: post.liquid
section: gaming
permalink: /tailspin/
metaTitle: "Tailspin: The Kiss of Death for Multiplayer Games • OneQode™"
metaDescription: Reflecting on tailspin for multiplayer games. A phenomenon where a loss of players causes a game to tailspin. What causes it, and how can you avoid it?
ogImage: story.jpg
heroImage: roof-wireless-dish-brisbane
changefreq: never
priority: 0.4
title: 'Tailspin: The Kiss of Death<br class="responsive"> for Multiplayer Games<mark class="dot">.</mark>'
author: Austin Gallagher
authorRole: Brand Journalist
date: 2022-04-11
tags: ['qode', 'game development', 'game servers', 'retention', 'network']
cta: true
ctaTitle: Hosting that won’t cause tailspin
ctaSubtitle: Multiplayer infrastructure that won’t let you down — built for latency, performance and reach
lazyLoadVideo: true
---
{%- comment %}
<!--
* * * * * * * * * * * * * * * 

!TODO:
- Joe
	- Metadata - or the images whatever
	- OG image
	- Hero image
	- CTA text
	- Illustration updates
	- Add to /content/
	- Other TODOs in content ↓

- Austin
	- Meta description — review
		- If skill gap in title, mention in text (describe axes)
	- Review → read through on dev site. What would you bold/highlight/change?
	- What causes Tailspin in the first place?
		- → How do you avoid tailspin in the first place?
	- Link
		- Steam Charts for Disintegration

			https://steamcharts.com/search/?q=disintegration
			- Actual steam chart appears to not exist anymore

		- Tweet (V1 Interactive) — also embed instead?

			https://twitter.com/V1Interactive/status/1368984876486070272

* * * * * * * * * * * * * * * 
-->
{%- endcomment %}
		<style>
			.no-webp section.hero {
				background:	linear-gradient(to bottom, rgba(0,0,0,0.2) 50%, #000),
							url(/img/bg/{{ heroImage }}.jpg) bottom center;
				background-size: cover;
				background-repeat: no-repeat;
			}
			.webp section.hero {
				background:	linear-gradient(to bottom, rgba(0,0,0,0.2) 50%, #000),
							url(/img/bg/{{ heroImage }}.webp) bottom center;
				background-size: cover;
				background-repeat: no-repeat;
			}
			blockquote {
				margin: 2rem 0 2rem 0;
				padding: 2rem;
				border-left: 6px solid #333;
			}
			blockquote > :first-child {
				margin-top: 0;
			}
			blockquote > :last-child {
				margin-bottom: 0;
			}
			blockquote > * {
				color: #cecece;
			}
			p.shout-out {
				font-family: "Poppins", sans-serif;
				font-weight: 600;
				font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
				margin: 2rem 0 2rem 2rem;
				background: -webkit-linear-gradient(0deg, #00b0f0, #00597f);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
			@media (max-width: 64em) {
				p.shout-out {
					margin-left: 1.5rem;
				}
			}
		</style>
		<section class="py-4 push-forward">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<!-- Key Takeaways -->
						<div class="callout col-xs-12 p-2 mt-2 mb-4" id="key-takeaways">
							<h2>Key takeaways</h2>
							<ul>
								<li>Multiplayer tailspin is a phenomenon where a declining player count in a game causes a feedback loop where additional players abandon the title due to declining population.</li>
								<li>Various games have experienced this tailspin, resulting in catastrophic outcomes for the development studio.</li>
								<li>Post-launch strategies that focus on monetization, post launch content, community management, network stability and other aspects are key to retaining players.</li>
								<li>Modern multiplayer games are reliant on much more than just gameplay.</li>
								<li>Retaining players is easier than drawing old players back, and retaining players is very hard.</li>
							</ul>
						</div>
						<!-- End Key Takeaways -->
						<p>I love Titanfall 2.</p>
						<p>There’s nothing like it.</p>
						<p>On foot, you’re a fast and nimble pilot. Jet assisted jumps, wall running, and slides mean you can speed across the battlefield gunning down your foes with ease.</p>
						<p>Then, you initiate Titanfall.</p>
						<p>A giant two-storey mech drops from orbit and you take command. In the mech, you’re slower, heavier, and harder hitting. A perfect merge of mechanics and man.</p>
						<!-- Wide Gfycat Embed -->
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<div class="wrapper">
								<iframe src="https://gfycat.com/ifr/AnxiousPowerlessCatfish?controls=0" frameborder="0" scrolling="no" width="100%" height="100%" style="position:absolute;top:0;left:0;" allowfullscreen></iframe>
							</div>
							<figcaption>Gameplay from Titanfall 2’s Angel City gameplay trailer</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<!-- End Wide Gfycat Embed -->
						<p>A game of two halves, and much like pilot and mech they fused to make a stronger whole.</p>
						<p><strong>But, I don’t play Titanfall 2 anymore.</strong> Not many people do.</p>
						<h2 class="mt-4">Circling the (player) drain</h2>
						<p>One of the reasons I stopped playing was, ironically, a lack of players.</p>
						<blockquote class="fail">
							<!-- TODO -->
							<p>Chart of player count over time</p>
						</blockquote>
						<p>But then I realised, I was part of the problem.</p>
						<p>This isn’t unique to Titanfall 2.</p>
						<p>We’ve all played a game we love, only to see it die as players return to heavy-hitting industry giants.</p>
						<p>For every Fortnite that captures a huge player base, there are ten or more Titanfall 2s.</p>
						<p>So what separates the two?</p>
						<h2 class="mt-4" id="definition">Tailspin: The Feedback Loop</h2>
						<blockquote>
							<p>“You are not stuck in traffic. You are traffic.”</p>
							<p>— TomTom SatNav Advertisement</p>
						</blockquote>
						<p class="shout-out">Multiplayer tailspin is a phenomenon where a declining player count in a game causes a feedback loop where additional players abandon the title due to a declining population.</p>
						<p>We’ve all been part of it, whether we know it or not. We’ve all been partly responsible for killing our favourite games.</p>
						<p>Tailspin happens when the declining population of a game in terms fuels a further loss of players, worsening as more people stop playing.</p>
						<p>Tailspin affects both players and developers.</p>
						<!-- Wide Image — With Caption -->
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/tailspin/feedback-loop.webp" type="image/webp">
								<img class="opaque" src="/img/content/tailspin/feedback-loop.jpg" alt="Image shows three elements of a cycle, the loss of players, the loss of resources, and the loss of support.">
							</picture>
							<figcaption>The feedback loop of losing players, resources, and support for a game</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<!-- End Wide Image — With Caption -->
						<p><strong>For developers, fewer players mean less income</strong>, especially if their game is free to play and relies on frequent microtransactions.</p>
						<p>This reduces the resources available to the developer. Without a huge publisher willing to push for the revival of a title, a declining population can bleed cash from the development studio.</p>
						<p>So without those resources, support for the game becomes less frequent.</p>
						<p>Multiplayer games are increasingly built on the service and seasonal models, so games without frequent updates become ‘stale’ comparatively.</p>
						<p><strong>For players, fewer players mean longer wait times.</strong></p>
						<p>Waiting isn’t fun.</p>
						<p>After this wait, it is common for games with low populations to struggle to create a fair match. Meaning newer or less skilled players are pitted against highly experienced players.</p>
						<p>Those newer players are likely to then move on to less punishing games.</p>
						<p>Players may decide to leave due to a lack of content or a lack of other players, but both fuel the loop.</p>
						<p>Players consolidate to fewer, more popular titles.</p>
						<h2 id="causes" class="mt-4">How to avoid key causes of tailspin</h2>
						<p>While acknowledging that I am not a game developer, from researching titles that suffer from this drastic decrease in players, I’ve seen a few key themes that can kickstart the feedback loop. This is by no means an exhaustive list, and there are countless other elements to take into account.</p>
						<h3 class="mt-4">Marketing your game without misleading players</h3>
						<p>Marketing a new game is difficult. Setting reasonable expectations for what the gameplay, monetization, and content schedule will be and enticing players.</p>
						<p>Remember to communicate the best possible image of your game, without overpromising and underdelivering.</p>
						<h3 class="mt-4">Avoiding busy launch windows</h3>
						<p>Launching your title amongst other games or expansions, especially those with a large audience due to previous entries, can immediately place your game on the back foot.</p>
						<p>A large and successful launch helps buffer the initial drop games will experience as some players don't stick with your game. Plan carefully on when to best launch your game.</p>
						<h3 class="mt-4">A fair approach to monetization</h3>
						<p>For a multiplayer game, deciding whether your game will be free-to-play or paid is one piece of the complicated puzzle of monetization. The industry standard for some genres has shifted, so developers should look to see what monetization is popular.</p>
						<p>Further, clearly communicate this monetization strategy. A strategy that is perceived as overtly greedy may net some short term sales, but the long term life of your game can suffer.</p>
						<h3 class="mt-4">Transparent and regular content timeline</h3>
						<p>Gone are the days of releasing a game and supporting with updates months apart. Games now have seasons, weekly events, special daily items, and a constant slew of updates. A multiplayer title with a slower content timeline can be dead in the water.</p>
						<h3 class="mt-4">Manage community expectations post-launch</h3>
						<p>Almost as important as content updates are communicating accurately to your player base when to expect those updates. Open, direct, and frequent community engagement gives your player base more faith in your commitment to the game.</p>
						<h3 class="mt-4">Invest in a stable network</h3>
						<p>It may seem like a no-brainer, but multiplayer games need servers. Without stable connections and players being unable to get into games, people will quickly drop off a game.</p>
						<h3 class="mt-4">Ensure long term progression systems</h3>
						<p>Another sign of the times. Many multiplayer games without strong progression systems struggle to maintain an audience, even if that progression is just for cosmetic items.</p>
						<h3 class="mt-4">Don’t neglect the new player experience</h3>
						<p>Once your game has launched, ensuring new players have a smooth on-ramp is very important. Making your game easy to pick up, and giving options for players of all skill levels, will help build a larger audience over time.</p>
						<!-- Wide Image — With Caption -->
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/tailspin/key-tailspin-factors.webp" type="image/webp">
								<img src="/img/content/tailspin/key-tailspin-factors.jpg" alt="A diagram showing the aforementioned elements of avoiding tailspin. Developer attention to these factors is indicated to result in greater player retention">
							</picture>
							<figcaption>Pay attention to these elements</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<!-- End Wide Image — With Caption -->
						<p>So what happens when developers and publishers struggle to stay on course, and we see tailspin kick in?</p>
						<h2 class="mt-4">How Tailspin killed Titanfall 2</h2>
						<p>Whenever I do venture back to play Titanfall 2, I’m often met with two major issues.</p>
						<p>First: the waiting.</p>
						<p>When a game’s population spirals like this, the wait for a match can be agonising. Time is valuable, so sitting for ten minutes between matches just watching a timer tick up is not my idea of fun.</p>
						<p>Second: the skill gap.</p>
						<p>With a population this low, most of the people still playing are good. Really, really good.</p>
						<p>A combination of fast-paced movement, very low health, countless weapons, maps, and pieces of equipment to learn means the new player experience in Titanfall 2 can be especially harsh.</p>
						<p>Even as a returning player I become frustrated as I am outpaced by players with far more hours of practice.</p>
						<p>This sort of massive skill barrier isn’t a good incentive to get players to return to a game after a long break, or for new players to want to try it out.</p>
						<!-- Wide Image — With Caption -->
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/tailspin/player-population-player-skill-graph.webp" type="image/webp">
								<img src="/img/content/tailspin/player-population-player-skill-graph.jpg" alt="A graph where players entering late in a game's lifespan are pitted against experienced players of much greater skill.">
							</picture>
							<figcaption>An example of how a player entering late in a game’s lifespan can struggle against seasoned players.</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<!-- End Wide Image — With Caption -->
						<p>Titanfall 2 is also <a href="https://www.pcgamer.com/respawn-says-titanfall-2-exploit-that-led-to-panicked-uninstalls-probably-isnt-serious/" rel="noopener">frequently subject</a> to <a href="https://www.ign.com/articles/titanfall-2-fans-solution-online-problems" rel="noopener">denial of service attacks</a>, with attacks on the servers making the game literally unplayable for many. This even led to an interesting but unrelated <a href="https://www.ign.com/articles/titanfall-2-hack-saga-feature" rel="noopener">conspiracy</a> regarding the game.</p>
						<p>With an already low population, frequent server outages are devastating to the remaining players.</p>
						<p>Nothing is worse than launching a game and finding it unplayable because of network instability.</p>
						<p>When Titanfall 2 does work, the low population makes it a struggle to quickly find a match, especially from Australia.</p>
						<!-- Wide Image — With Caption -->
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/tailspin/titanfall-2-steamcharts.webp" type="image/webp">
								<img src="/img/content/tailspin/titanfall-2-steamcharts.jpg" alt="Steam charts page showing recent player count for Titanfall 2 on April 1st 2022. 24-hour peak at 1,469 players.">
							</picture>
							<figcaption><a href="https://steamcharts.com/app/1237970" rel="noopener">Steam Charts page</a> for Titanfall 2 showing player count on April 1st 2022. Note that Titanfall 2 launched on Origin and this is not reflective of the total player count across all platforms.</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<!-- End Wide Image — With Caption -->
						<p>All this means after trying to play, usually, only for an evening or two, I put the game back down.</p>
						<p>I hope that one day a larger player base will return.</p>
						<p>But if I stop playing, I am once again part of the problem.</p>
						<p>Titanfall 2 is one example, but there are numerous other games that lost their players far more quickly.</p>
						<h2 class="mt-4">Players escaped Hyper Scape</h2>
						<p>Take Ubisoft’s <a href="https://en.wikipedia.org/wiki/Hyper_Scape" rel="noopener">Hyper Scape</a>, a late addition to the crowded Battle Royale genre distinguishing itself with a city setting and fast pace.</p>
						<!-- Wide Gfycat Embed — With Caption -->
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<div class="wrapper">
								<iframe src="https://gfycat.com/ifr/RapidFriendlyBrahmanbull?controls=0" frameborder="0" scrolling="no" width="100%" height="100%" style="position:absolute;top:0;left:0;" allowfullscreen></iframe>
							</div>
							<figcaption>Hyper Scape gameplay by T2CA</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<!-- End Wide Gfycat Embed — With Caption -->
						<p>Hyper Scape initially <a href="https://www.theverge.com/2020/7/2/21311443/ubisoft-hyper-scape-battle-royale-twitch-reveal-streamers" rel="noopener">drew large numbers</a> of Twitch viewers due to a limited release to streamers only. But without exact numbers from Ubisoft, it isn’t known how big the player base was at launch.</p>
						<p>What is clear is Hyper Scape suffered from two massive issues.</p>
						<p>First, is the new player experience.</p>
						<p>Both Hyper Scape and Titanfall 2 are fast-paced, which makes them brutally unforgiving for players trying to learn the game.</p>
						<p>This is exacerbated in Hyper Scape, as Battle Royales can be notoriously punishing, where one mistake can often mean multiple loading screens.</p>
						<p>Second, long term progression.</p>
						<p>Between matches in Hyper Scape, the game lacked long term goals for players to aim for. Without that feeling of progression, the struggle of each match wasn’t being rewarded.</p>
						<p>Battle Royale games also need a high population, and that population is difficult to maintain.</p>
						<p>When Hyper Scape launched, lobbies were initially one hundred players before dropping to sixty after declining player counts.</p>
						<!-- Wide Image — With Caption -->
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/tailspin/hyper-scape-city-setting.webp" type="image/webp">
								<img src="/img/content/tailspin/hyper-scape-city-setting.jpg" alt="Hyper Scape's city setting of 'New Arcadia' a futuristic digital city with beams of light and buildings stretching into the distance">
							</picture>
							<figcaption>Hyper Scape’s city setting of “New Arcadia”</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<!-- End Wide Image — With Caption -->
						<p>Only three months after its launch in October 2020, Ubisoft published a <a href="https://www.ubisoft.com/en-us/game/hyper-scape/news-updates/3GjcSy2yKOfjWRlAkcral7/hyper-scape-where-we-are-and-where-we-are-going" rel="noopener">blog</a> on Hyper Scape, stating that they “had not achieved the high expectations” they had set for themselves.</p>
						<p>Criticisms of the game from within Ubisoft also addressed the clear issues of long term progression, and the difficulty new players have in picking up the title. Updates attempted to fix these issues, but the initial zeitgeist created by the Twitch rollout had moved on.</p>
						<p>There wasn’t any huge misstep from here on out that drove the population down, it simply started the feedback loop. Hyper Scape just couldn’t maintain an active player base.</p>
						<p>Ubisoft seemingly lost faith in the game, without <a href="https://www.pcgamer.com/ubisofts-e3-no-shows-were-as-loud-as-the-reveals/" rel="noopener">even mentioning</a> it at E3 the following year. This lack of faith likely further contributed to declining player counts.</p>
						<p>In January 2022, Ubisoft announced the future of Hyper Scape.</p>
						<p>There wouldn’t be one.</p>
						<!-- Wide Image — With Caption -->
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/tailspin/the-future-of-hyper-scape.webp" type="image/webp">
								<img src="/img/content/tailspin/the-future-of-hyper-scape.jpg" alt="A promotional image showing Hyper Scape characters atop buildings holding weaponry. Below them the city streets are covered in mist and shadow.">
							</picture>
							<figcaption>The image accompanying Ubisoft’s blog post detailing the end of Hyper Scape</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<!-- End Wide Image — With Caption -->
						<p>In January 2022, Ubisoft <a href="https://www.ubisoft.com/en-us/game/hyper-scape/news-updates/37U6BBTVWevDWEZHY48x3g/the-future-of-hyper-scape" rel="noopener">announced</a> it had decided to permanently shut down Hyper Scape, making it impossible to play. This, sadly, isn’t the worst result for games that suffer this fate.</p>
						<h2 class="mt-4">Disintegration lived up to its name</h2>
						<p>V1 Interactive was founded by Marcus Lehto, an industry veteran with over twenty years of experience. Marcus was integral to Bungie and worked on the Halo series for over ten years.</p>
						<!-- Wide Image — With Caption -->
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/tailspin/disintegration-lehto-linkedin-banner.webp" type="image/webp">
								<img src="/img/content/tailspin/disintegration-lehto-linkedin-banner.jpg" alt="Marcus Lehto's LinkedIn banner image showing Halo CE, Halo 2, Halo 3, Halo Reach, and finally; Disintegration.">
							</picture>
							<figcaption>The banner on Marcus Lehto’s LinkedIn showing games he was involved in</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<!-- End Wide Image — With Caption -->
						<p>The first game from his new studio was Disintegration, a Sci-Fi shooter with Real-Time Strategy elements.</p>
						<p>On release, it received mixed reviews, but the launch is hopefully just the start for a multiplayer title.</p>
						<p>Unfortunately, despite industry pedigree behind the scenes, the game never captured an audience.</p>
						<p>On Steam Charts, the peak during its launch in June 2020 was 120 concurrent players. By September, it was averaging less than 30 peak players a day.</p>
						<p>While online matches needed substantially fewer players than a Hyper Scape match, ten to Hyper Scape’s sixty post-launch, this was abysmal.</p>
						<p>The vast majority of popular multiplayer shooters are free-to-play, but Disintegration was released at full price, likely hurting its potential player base from the outset.</p>
						<p>Free weekends and large sales attempted to entice new players, but the market for shooters has shifted. Buying games like this isn’t the norm anymore.</p>
						<!-- Wide Image — With Caption -->
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/tailspin/disintegration-gameplay.webp" type="image/webp">
								<img src="/img/content/tailspin/disintegration-gameplay.jpg" alt="A screenshot of Disintegration's gameplay showing the first person perspective of a player firing on an enemy in the campaign mode.">
							</picture>
							<figcaption>A screenshot of Disintegration’s gameplay from PC Mag</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<!-- End Wide Image — With Caption -->
						<p>The end of the tailspin feedback loop came six months after release.</p>
						<p>Multiplayer was <a href="https://www.polygon.com/2020/9/17/21443869/disintegration-ending-multiplayer-modes-november-17" rel="noopener">removed completely</a> from the game, likely due to the cost to maintain inactive servers.</p>
						<p>This small studio couldn’t weather the storm and <a href="https://www.pcgamer.com/au/v1-interactive-disintegration-closure/" rel="noopener">shuttered</a> the following year.</p>
						<!-- Wide Image — With Caption -->
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/tailspin/v1-interactive-shut-down-tweet.webp" type="image/webp">
								<img src="/img/content/tailspin/v1-interactive-shut-down-tweet.jpg" alt="A screenshot of V1 Interactive's Twitter announcement that confirming the studio's closure, dated March 9th 2021">
							</picture>
							<figcaption>The announcement from V1 Interactive as shared on Twitter.</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<!-- End Wide Image — With Caption -->
						<p>But neither Disintegration nor Hyper Scape were critically acclaimed.</p>
						<p>Maybe if you release a game with an initially warm reception, the rest will work itself out?</p>
						<p>Sadly, sometimes great ideas still fall short.</p>
						<h2 class="mt-4">Survival of the Fittest Killed Evolve</h2>
						<p>That was the case with Evolve. An asymmetrical 4v1 shooter from Turtle Rock Studios, who also developed Left 4 Dead under the name Valve South.</p>
						<!-- Wide Image — With Caption -->
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/tailspin/evolve-gameplay.webp" type="image/webp">
								<img src="/img/content/tailspin/evolve-gameplay.jpg" alt="Gameplay of Evolve showing a large monster being attacked by three players with a large structure behind it">
							</picture>
							<figcaption>The gameplay of Evolve from the Steam Store Page</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<!-- End Wide Image — With Caption -->
						<p>Evolve launched with solid player numbers, but quickly declined for a few reasons.</p>
						<ol>
							<li>The <strong>monetization strategy</strong> was increasingly confusing and placed a lot of content behind DLC paywalls.</li>
							<li>The <strong>slow release of content</strong> meant it was updated far slower than many other multiplayer titles.</li>
							<li>Gameplay issues <strong>weren’t patched quickly</strong> enough.</li>
						</ol>
						<!-- Wide Image — With Caption -->
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/tailspin/evolve-launch-day-dlc.webp" type="image/webp">
								<img src="/img/content/tailspin/evolve-launch-day-dlc.jpg" alt="A list of twelve DLC available for Evolve on launch day totalling $85.88">
							</picture>
							<figcaption>DLC available for Evolve on the day of release, credit to <a href="https://youtu.be/ci8I8UArZ5Q?t=12" rel="noopener">nerdSlayer Studios</a> on Youtube</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<!-- End Wide Image — With Caption -->
						<p>Despite a huge amount of hype before release, and critically reviewing well, players weren’t as satisfied with the game in terms of design and variety.</p>
						<p>Updates may have addressed these issues, but a policy at the publisher prevented this. The policy, <a href="https://www.reddit.com/r/mattcolville/comments/8o3681/evolve/e015406/" rel="noopener">according to lead writer Matt Colville</a>, was to only update the game once every three months. This infrequent update schedule did not match player expectations.</p>
						<blockquote>
							<p>“If you release a game that lives and dies on online competitive play, maybe let the DevTeam update the game more often than <em>once every three months</em>.” - Matt Colville</p>
						</blockquote>
						<p>A month in, Evolve was haemorrhaging players in the thousands.</p>
						<!-- Wide Image — With Caption -->
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/tailspin/evolve-stage-2-banner.webp" type="image/webp">
								<img src="/img/content/tailspin/evolve-stage-2-banner.jpg" alt="Evolve Stage 2 promotional banner">
							</picture>
							<figcaption>Evolve was rebranded as Evolve Stage 2, but it could only stem the loss of players</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<!-- End Wide Image — With Caption -->
						<p>Turtle Rock attempted a recovery, with the form of updates that came as season passes, but paying for the game and then these updates was not well received.</p>
						<p>So Evolve entered “stage 2”.</p>
						<p>The game shifted to free to play on PC and saw a substantial bounce in numbers. Sadly, this was not enough.</p>
						<p>The tailspin had been reverted once, but without a strong strategy following the launch of Stage 2 — player counts again declined drastically.</p>
						<!-- Wide Image — With Caption -->
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/tailspin/evolve-player-number-steamchart.webp" type="image/webp">
								<img src="/img/content/tailspin/evolve-player-number-steamchart.jpg" alt="Steam chart graph showing the launch of Evolve Stage 2 pushing the player count to an all time peak in July 2016.">
							</picture>
							<figcaption>Evolve’s entire lifespan, from launch to the discontinuation of dedicated servers</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<!-- End Wide Image — With Caption -->
						<p>Evolve Stage 2, as the free-to-play version was known, was <a href="https://support.2k.com/hc/en-us/articles/360004104913-An-important-announcement-about-Evolve" rel="noopener">taken offline</a> in September 2018. As it required an online connection and the dedicated server binaries were not released publicly, Stage 2 is unplayable.</p>
						<p>The original game, should anyone want to revisit what once was, limps on with peer to peer networking available.</p>
						<h2 class="mt-4">Evolve in another life: Dead by Daylight</h2>
						<p>Evolve was unique on launch, but a year following its initial release another 4v1 multiplayer game hit the market, Dead By Daylight.</p>
						<!-- Wide Image — With Caption -->
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/tailspin/dead-by-daylight-banner-image.webp" type="image/webp">
								<img src="/img/content/tailspin/dead-by-daylight-banner-image.jpg" alt="Dead by Daylight promotional image showing a masked man turned parallel to the camera, flames lighting his face.">
							</picture>
							<figcaption>Dead by Daylight promotional image</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<!-- End Wide Image — With Caption -->
						<p>With an initially mixed launch, Dead by Daylight showed that you can build a player base over time if you play your cards right.</p>
						<!-- Wide Image — With Caption -->
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/tailspin/dead-by-daylight-march-2022-players-steamcharts.webp" type="image/webp">
								<img src="/img/content/tailspin/dead-by-daylight-march-2022-players-steamcharts.jpg" alt="Steam charts showing Dead By Daylight's live player count, with a steady on and off-peak rhythm and a 24 hour peak of 42,522.">
							</picture>
							<figcaption>March 2022 Dead by Daylight player counts, with a steady on and off-peak rhythm</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<!-- End Wide Image — With Caption -->
						<p>At the time of writing, Dead By Daylight maintains a solid player base almost eight years later, peaking in mid-2021.</p>
						<p>In early 2022, Dead by Daylight hit <a href="https://www.pcgamer.com/dead-by-daylight-has-fifty-million-players-and-now-a-boardgame-adaptation/" rel="noopener">50 million</a> players.</p>
						<p>This recovery has been attributed to a solid content schedule, updates to networking that moved away from only peer to peer connections, and more robust social features.</p>
						<h2 id="retention" class="mt-4">Player retention: aiming for a moving target</h2>
						<p>Multiplayer games have unique hurdles to overcome.</p>
						<p>The gameplay itself is only a piece of the puzzle. To retain players over a long time developers need constantly adjust and aim for a shifting target.</p>
						<p>Games are expected to have a longer tail than ever with the live service business model, and the launch of new titles can always attract players away from your game.</p>
						<p>So to retain players, and avoid falling into this tailspin, games must be reactive to the demands of the community and industry.</p>
						<p>Above I’ve outlined games that I feel fell short on this, and how they missed the mark.</p>
						<blockquote class="fail">
							<!-- TODO -->
							<ul>
								<li>image for these elements marketing, monetization, content timeline, community management, network stability, long term progression, new player experience, and more.</li>
								<li>An image with the games and the issue linked</li>
							</ul>
						</blockquote>
						<p>If you’re a game developer and looking to launch a multiplayer game, consider every aspect of your post-launch strategy.</p>
						<p>It isn’t enough to be good. New multiplayer games have to be firing on all cylinders.</p>
						<p>But, if you as a developer manage all this, gamers will fill your servers for years to come.</p>
						<p>Maybe, long after release, when you have moved onto a new project. The community will maintain your legacy.</p>
						<h2 class="mt-4">Afterword: hope is on the horizon</h2>
						<p>Luckily for my personal favourite on this list, there is hope.</p>
						<!-- Wide Image — With Caption -->
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/tailspin/titanfall-2-northstar.webp" type="image/webp">
								<img src="/img/content/tailspin/titanfall-2-northstar.jpg" alt="Promotional image for Titanfall 2's Northstar mod featuring three pilots running towards the camera">
							</picture>
							<figcaption>Titanfall 2’s Northstar mod has revitalised the community around the game.</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<!-- End Wide Image — With Caption -->
						<p>Titanfall 2 has a particularly passionate community who refuse to let the game die. Some of the members of that community have rallied together and launched a mod called <a href="https://github.com/R2Northstar" rel="noopener">Northstar</a>, allowing players to host custom Titanfall 2 matches on privately hosted servers.</p>
						<p>These servers are safer from DDoS attacks, and will hopefully keep players piloting titans and wall running in that game for years to come.</p>
						<p><strong>Remember, it is easier to retain a player than to bring a player back, and retaining a player is hard.</strong></p>
					</div>
				</div>
			</div>
		</section>