---

permalink: /business/contact/
section: business
metaTitle: OneQode™ for Business • Contact Us
metaDescription: Contact the OneQode business team to find out more about our services and how you can get started.
ogImage: og-image.jpg
changefreq: yearly
priority: 0.5
pageSupertitle: Get in touch
canonical: /contact/
pageTitle: Contact our <br class="responsive"> business team
pageSubtitle: Send us a message
form: true

---
{% include _header.liquid %}
		<style>
			section.hero {
				background: linear-gradient(to bottom, transparent 50%, #0c0c0c 100%), radial-gradient(circle at bottom,#002735 0,#000 100%);
			}
			@media (max-width: 64em) {
				.full-height {
					padding-top: 8rem !important;
				}
			}
		</style>
		<section class="hero full-height">
			<div class="container">
				<div class="row top-xs">
					<div class="col-xs-12 col-md-5 my-2">
						<p class="superheading">{{ pageSupertitle }}</p>
						<h1>{{ pageTitle }}<mark class="dot">.</mark></h1>
						<p class="subheading">{{ pageSubtitle }}</p>
					</div>
					<div class="col-xs-12 col-md-7 my-2">
						{% include forms/_business-generic.liquid %}
					</div>
				</div>
			</div>
		</section>
{% include _footer.liquid %}