---
permalink: /contact/business-enterprise/
layout: page.liquid
metaTitle: Contact • Business & Enterprise • OneQode
metaDescription: Start a conversation with our team to talk about how we can transform your organisation — and the world, together.
priority: 0.6
canonical: "https://www.oneqode.com/contact/"
pageSupertitle: Set up a Chat
pageTitle: Let’s get things started
pageSubtitle: Enter your details below to start the conversation
ogImage: og-image.jpg
form: true
---
		<style>
			section.hero {
				background: linear-gradient(to bottom, transparent 50%, #000 100%), radial-gradient(circle at bottom,#002735 0,#000 100%);
			}
			/* Form */
			@media (min-width: 48em) {
				#form-business-contact > div {
					background: #17181C;
					position: sticky;
					border-radius: 15px;
					padding-top: 8rem;
					padding-bottom: 8rem;
				}
				form {
					margin-top: -8rem;
				}
			}
		</style>
		<section class="black-to-footer pb-8">
			<div class="container">
				{% comment %} <form action="https://submit-form.com/QtwLMhYG" data-botpoison-public-key="pk_11d034c7-a37c-4479-a7fc-eabfb1185635" id="form-business-contact"> {% endcomment %}
				<form action="https://submit-form.com/QtwLMhYG" id="form-business-contact">
					<div class="col-xs-12 col-md-10 col-md-offset-1">
						<div class="row">
							<div class="col-xs-12 col-md-8 col-md-offset-2 mobile-text-center">
								<div class="row">
									<div class="col-xs-12">
										<h3>About you:</h3>
									</div>
									<div class="col-xs-12 col-sm-6 mb-1">
										<input type="text" name="1_first_name" placeholder="First name" autocapitalize="words" required autofocus>
									</div>
									<div class="col-xs-12 col-sm-6 mb-1">
										<input type="text" name="2_last_name" placeholder="Last name" autocapitalize="words" required>
									</div>
									<div class="col-xs-12 col-sm-6 mb-1">
										<input type="text" name="3_organisation" placeholder="Organisation" autocapitalize="words" required>
									</div>
									<div class="col-xs-12 col-sm-6 mb-1">
										<input type="email" name="4_email" placeholder="Best email" required>
									</div>
								</div>
								<div class="row mt-2">
									<div class="col-xs-12">
										<h3>Your industry:</h3>
									</div>
									<div class="col-xs-12">
										<select name="6_company-type" id="company-type">
											<option value="" selected disabled>Choose industry</option>
											<option value="Game studio / developer">Information Technology</option>
											<option value="Game publisher">Software</option>
											<option value="Esports organisation">Telecommunications</option>
											<option value="Other">Other</option>
										</select>
									</div>
								</div>
								<div class="row mt-2">
									<div class="col-xs-12">
										<h3>Time Zone:</h3>
									</div>
									<div class="col-xs-12">
										<select name="5_time-zone" required>
											<option value="-12:00">(GMT -12:00) Eniwetok, Kwajalein</option>
											<option value="-11:00">(GMT -11:00) Midway Island, Samoa</option>
											<option value="-10:00">(GMT -10:00) Hawaii</option>
											<option value="-09:50">(GMT -9:30) Taiohae</option>
											<option value="-09:00">(GMT -9:00) Alaska</option>
											<option value="-08:00">(GMT -8:00) Pacific Time (US &amp; Canada)</option>
											<option value="-07:00">(GMT -7:00) Mountain Time (US &amp; Canada)</option>
											<option value="-06:00">(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
											<option value="-05:00">(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
											<option value="-04:50">(GMT -4:30) Caracas</option>
											<option value="-04:00">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
											<option value="-03:50">(GMT -3:30) Newfoundland</option>
											<option value="-03:00">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
											<option value="-02:00">(GMT -2:00) Mid-Atlantic</option>
											<option value="-01:00">(GMT -1:00) Azores, Cape Verde Islands</option>
											<option value="+00:00" selected="selected">(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
											<option value="+01:00">(GMT +1:00) Brussels, Copenhagen, Madrid, Paris</option>
											<option value="+02:00">(GMT +2:00) Kaliningrad, South Africa</option>
											<option value="+03:00">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
											<option value="+03:50">(GMT +3:30) Tehran</option>
											<option value="+04:00">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
											<option value="+04:50">(GMT +4:30) Kabul</option>
											<option value="+05:00">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
											<option value="+05:50">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
											<option value="+05:75">(GMT +5:45) Kathmandu, Pokhara</option>
											<option value="+06:00">(GMT +6:00) Almaty, Dhaka, Colombo</option>
											<option value="+06:50">(GMT +6:30) Yangon, Mandalay</option>
											<option value="+07:00">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
											<option value="+08:00">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
											<option value="+08:75">(GMT +8:45) Eucla</option>
											<option value="+09:00">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
											<option value="+09:50">(GMT +9:30) Adelaide, Darwin</option>
											<option value="+10:00">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
											<option value="+10:50">(GMT +10:30) Lord Howe Island</option>
											<option value="+11:00">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
											<option value="+11:50">(GMT +11:30) Norfolk Island</option>
											<option value="+12:00">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
											<option value="+12:75">(GMT +12:45) Chatham Islands</option>
											<option value="+13:00">(GMT +13:00) Apia, Nukualofa</option>
											<option value="+14:00">(GMT +14:00) Line Islands, Tokelau</option>
										</select>
									</div>
								</div>
								<div class="row mt-2">
									<div class="col-xs-12">
										<h3>How can we help you?</h3>
									</div>
									<div class="col-xs-12 mb-1">
										<textarea id="message-here" name="6_message" placeholder="Tell us a bit about yourself, and what you’d like to chat about." autocapitalize="sentences" rows="4" required></textarea>
									</div>
									<div class="col-xs-12">
										<input type="hidden" name="form" value="Business - contact" />
										<input type="hidden" name="_redirect" value="https://www.oneqode.com/thanks/"/>
										<input type="hidden" name="_error" value="https://www.oneqode.com/error/"/>
										<div class="cf-turnstile" data-sitekey="0x4AAAAAAAOd2Bs5YLeH7xga"></div>
										<button type="submit" class="button mt-1" id="button">Let’s go</button>
										{% comment %} <p id="sending">Please wait...</p>
										<p id="failmsg">
											<strong>Anti-spam failed :(</strong>
											<br>Our spam detection thinks you’re a bot. If you’re reading this, we’re really sorry.
											<br>Please do email us instead at:
											<br>hello <span class="faded">[at]</span> oneqode <span class="faded">[dot]</span> com <span class="faded">[dot]</span> au
										</p> {% endcomment %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>
		<script>
			/**
			* Botpoison form validation
			* Prevents form submissions from bots... I hope
			*/

			{% comment %} var form = document.getElementById("form-business-contact");
			var button = document.getElementById("button");
			var sending = document.getElementById("sending");
			var failmsg = document.getElementById("failmsg");
			form.addEventListener("botpoison-challenge-start", function () {
				button.setAttribute("disabled", "disabled");
				sending.classList.add("in-progress");
			});
			form.addEventListener("botpoison-challenge-success", function () {
				button.removeAttribute("disabled");
				sending.classList.remove("in-progress");
				button.classList.add("success");
			});
			form.addEventListener("botpoison-challenge-error", function () {
				button.removeAttribute("disabled");
				button.classList.add("fail");
				sending.classList.remove("in-progress");
				failmsg.classList.add("block");
			}); {% endcomment %}
			/**
			* Get Querystring data
			* Credit: https://stackoverflow.com/questions/32109475/javascript-form-field-population-from-variable-in-url-query-string
			*/
			function getParameterByName(name) {
				name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
				var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
					results = regex.exec(location.search);
				return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
			}
			document.addEventListener('DOMContentLoaded', function() {
				document.getElementById('message-here').value = getParameterByName('message');
			}, false);
		</script>