			<nav id="switcher" aria-label="Section Switcher">
				<a href="/" id="toggleSection" onclick="sectionSwitcher()" aria-haspopup="true" aria-expanded="false">
					<span>for</span> Home
					<svg width="0.75rem" height="0.75rem" viewBox="0 0 16 16" fill="#fff" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
					</svg>
				</a>
				<ul>
					<li><a href="/business/"><span>for</span> Business</a></li>
					<li><a href="/wholesale/"><span>for</span> Wholesale</a></li>
				</ul>
			</nav>
			<div class="nav-open" onclick="toggleNav()">
				<img src="/img/ico/open.svg" aria-hidden="true">
				&nbsp;Menu</div>
			<nav class="main center" aria-label="Main Navigation">
				<ul>
					<li><a href="/internet/" style="--index: 3">Internet</a></li>
					<li><a href="/gaming/" style="--index: 2">Gaming</a></li>
					<li><a href="{{ global.login.home }}" class="login" style="--index: 1;">Log In</a></li>
				</ul>
				<div class="nav-close" onclick="toggleNav()">
					<img src="/img/ico/close.svg" aria-hidden="true">
					&nbsp;Close
				</div>
			</nav>