			<nav id="switcher" aria-label="Section Switcher">
				<a href="/" id="toggleSection" onclick="sectionSwitcher()" aria-haspopup="true" aria-expanded="false">
					<span>for</span> Gaming
					<svg xmlns="http://www.w3.org/2000/svg" width="0.65rem" height="0.65rem" fill="#fff" viewBox="0 0 24 24">
						<path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/>
					</svg>
				</a>
				<ul>
					<li><a href="/business/"><span>for</span> Business</a></li>
					<li><a href="/wholesale/"><span>for</span> Wholesale</a></li>
				</ul>
			</nav>
			<div class="nav-open" onclick="toggleNav()">
				<img src="/img/ico/open.svg" aria-hidden="true">
				&nbsp;Menu</div>
			<nav class="main" aria-label="Main Navigation">
				<div class="nav-blank" onclick="toggleNav()"></div>
				<ul>
					<li class="has-submenu">
						<a href="#" style="--index: 4" aria-haspopup="true" aria-expanded="false">Solutions 
							<svg xmlns="http://www.w3.org/2000/svg" width="0.65rem" height="0.65rem" fill="#fff" viewBox="0 0 24 24">
								<path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/>
							</svg>
						</a>
						<div class="submenu two-col-mobile">
							<ul>
								<li>
									<a href="/network/">
										Gaming Network
										<span>Premium, low-latency connectivity</span>
									</a>
								</li>
								<li>
									<a href="/game-servers/">
										Game Servers
										<span>Blazing fast computational power</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="has-submenu">
						<a href="/about/" style="--index: 3" aria-haspopup="true" aria-expanded="false">About 
							<svg xmlns="http://www.w3.org/2000/svg" width="0.65rem" height="0.65rem" fill="#fff" viewBox="0 0 24 24">
								<path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/>
							</svg>
						</a>
						<div class="submenu two-col-mobile">
							<ul>
								<li class="parent">
									<a href="/about/">About Us</a>
								</li>
								<li>
									<a href="/media/">Newsroom</a>
								</li>
								<li>
									<a href="/careers/">Careers</a>
								</li>
							</ul>
						</div>
					</li>
					<li><a href="/media/" style="--index: 2" class="mobile-only">Media</a></li>
					<li><a href="/contact/" class="login" style="--index: 1;">Contact</a></li>
				</ul>
				<div class="nav-close" onclick="toggleNav()">
					<img src="/img/ico/close.svg" aria-hidden="true">
					&nbsp;Close
				</div>
			</nav>