			<nav id="switcher" aria-label="Section Switcher">
				<a href="/" id="toggleSection" onclick="sectionSwitcher()" aria-haspopup="true" aria-expanded="false">
					<span>for</span> Gaming
					<svg xmlns="http://www.w3.org/2000/svg" width="0.65rem" height="0.65rem" fill="#fff" viewBox="0 0 24 24">
						<path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/>
					</svg>
				</a>
				<ul>
					<li><a href="/business/"><span>for</span> Business</a></li>
					<li><a href="/wholesale/"><span>for</span> Wholesale</a></li>
				</ul>
			</nav>
			<div class="nav-open" onclick="toggleNav()">
				<img src="/img/ico/open.svg" alt="" aria-hidden="true">
				&nbsp;Menu
			</div>
			<nav class="main" aria-label="Main Navigation">
				<div class="nav-blank" onclick="toggleNav()"></div>
				<ul>
					<li class="has-submenu">
						<a href="#" style="--index: 3" aria-haspopup="true" aria-expanded="false">Platform 
							<svg xmlns="http://www.w3.org/2000/svg" width="0.65rem" height="0.65rem" fill="#fff" viewBox="0 0 24 24">
								<path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/>
							</svg>
						</a>
						<div class="submenu two-col-mobile">
							<ul>
								<li>
									<a href="/network/" style="--order:1">
										Gaming network
										<span>Low latency connectivity</span>
									</a>
								</li>
								<li>
									<a href="/cloud/" style="--order:2">
										Cloud platform
										<span>The high performance cloud</span>
									</a>
								</li>
								<li>
									<a href="/game-servers/" style="--order:3">
										Game servers
										<span>Blazing-fast dedicated servers</span>
								</li>
								<li class="parent">
									<a href="/guam/" style="--order:4">
										APAC Central
										<span>Asia-Pacific’s newest server region</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="has-submenu">
						<a href="/about/" style="--index: 2" aria-haspopup="true" aria-expanded="false">
							About 
							<svg xmlns="http://www.w3.org/2000/svg" width="0.65rem" height="0.65rem" fill="#fff" viewBox="0 0 24 24">
								<path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/>
							</svg>
						</a>
						<div class="submenu two-col-mobile">
							<ul>
								<li>
									<a href="/about/" style="--order:1">About OneQode</a>
								</li>
								<li>
									<a href="/case-study/guam-csgo/" style="--order:2">Case study</a>
								</li>
								<li>
									<a href="/media/" style="--order:3">Newsroom</a>
								</li>
								<li>
									<a href="/careers/" style="--order:4">Careers</a>
								</li>
								<li class="parent">
									<a href="/content/" style="--order:5">
										The Qode
										<span>Stories, articles & resources</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
					<li><a href="/contact/" style="--index: 1;">Contact</a></li>
				</ul>
				<div class="nav-close" onclick="toggleNav()">
					<img src="/img/ico/close.svg" alt="" aria-hidden="true">
					&nbsp;Close
				</div>
			</nav>