			<nav id="switcher" aria-label="Section Switcher">
				<a href="/business/" id="toggleSection" onclick="sectionSwitcher()" aria-haspopup="true" aria-expanded="false">
					<span>for</span> Business
					<svg xmlns="http://www.w3.org/2000/svg" width="0.65rem" height="0.65rem" fill="#fff" viewBox="0 0 24 24">
						<path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/>
					</svg>
				</a>
				<ul>
					<li><a href="/"><span>for</span> Gaming</a></li>
					<li><a href="/wholesale/"><span>for</span> Wholesale</a></li>
				</ul>
			</nav>
			<div class="nav-open" onclick="toggleNav()">
				<img src="/img/ico/open.svg" alt="" aria-hidden="true">
				&nbsp;Menu
			</div>
			<nav class="main" aria-label="Main Navigation">
				<div class="nav-blank" onclick="toggleNav()"></div>
				<ul>
					<li class="has-submenu">
						<a href="#" style="--index: 2" aria-haspopup="true" aria-expanded="false">Services 
							<svg xmlns="http://www.w3.org/2000/svg" width="0.65rem" height="0.65rem" fill="#fff" viewBox="0 0 24 24">
								<path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/>
							</svg>
						</a>
						<div class="submenu">
							<ul>
								<li>Products</li>
								<li>
									<a href="/business/internet/" style="--order:1">
										Internet
										<span>Connect your premises to the world</span>
									</a>
								</li>
								<li>
									<a href="/business/ethernet/" style="--order:2">
										Ethernet
										<span>Secure point-to-point networking</span>
									</a>
								</li>
								<li>
									<a href="/business/servers/" style="--order:3">
										Servers
										<span>Compute, store, and colocation</span>
									</a>
								</li>
							</ul>
							{% comment %}
							<ul class="mt-1">
								<li>by Industry</li>
								<li>
									<a href="#">
										Gaming & eSports
										<span>Low-latency game servers</span>
									</a>
								</li>
								<li>
									<a href="#">
										Property
										<span>Income-generating connectivity</span>
									</a>
								</li>
								<li>
									<a href="/wholesale/">
										IT & Telco
										<span>Connect reliably and affordably</span>
									</a>
								</li>
							</ul>
							{% endcomment %}
							{% comment %}
							<!--
							<style>
								/* Submenu contact button */
								.submenu li a.contact {
									margin: 1.5rem -1.5rem -1.5rem;
									padding: 1.5rem !important;
									background: #1c1d22;
									border-radius: 0 0 10px 10px;
								}
								.submenu li a.contact:hover {
									background: rgb(0 0 0 / 75%);
								}
								.submenu li a.contact svg {
									display: inline-block;
									margin-bottom: -0.1rem;
									margin-right: 0.2rem;
								}
							</style>
							<ul>
								<li>
									<a href="/business/contact/" class="contact hide-mobile">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
											<path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
										</svg>
										 Contact Sales
									</a>
								</li>
							</ul>
							-->
							{% endcomment %}
						</div>
					</li>
					<li><a href="/business/contact/" style="--index: 1">Contact</a></li>
				</ul>
				<div class="nav-close" onclick="toggleNav()">
					<img src="/img/ico/close.svg" alt="" aria-hidden="true">
					&nbsp;Close
				</div>
			</nav>