			<nav id="switcher" aria-label="Section Switcher">
				<a href="/business/" id="toggleSection" onclick="sectionSwitcher()" aria-haspopup="true" aria-expanded="false">
					<span>for</span> Business
					<svg xmlns="http://www.w3.org/2000/svg" width="0.65rem" height="0.65rem" fill="#fff" viewBox="0 0 24 24">
						<path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/>
					</svg>
				</a>
				<ul>
					<li><a href="/"><span>for</span> Home</a></li>
					<li><a href="/wholesale/"><span>for</span> Wholesale</a></li>
				</ul>
			</nav>
			<div class="nav-open" onclick="toggleNav()">
				<img src="/img/ico/open.svg" aria-hidden="true">
				&nbsp;Menu</div>
			<nav class="main" aria-label="Main Navigation">
				<ul>
					<li class="has-submenu">
						<a href="#" style="--index: 3" aria-haspopup="true" aria-expanded="false">Services 
							<svg xmlns="http://www.w3.org/2000/svg" width="0.65rem" height="0.65rem" fill="#fff" viewBox="0 0 24 24">
								<path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/>
							</svg>
						</a>
						<div class="submenu two-col">
							<ul>
								<li>Business</li>
								<li><a href="/business/internet/">Business Internet</a></li>
							</ul>
							<ul>
								<li>Enterprise</li>
								<li><a href="/business/ethernet/">Enterprise Ethernet</a></li>
							</ul>
						</div>
					</li>
					<li><a href="/business/contact/" style="--index: 2">Contact</a></li>
					<li><a href="{{ global.login.business }}" class="login" style="--index: 1">Log In</a></li>
				</ul>
				<div class="nav-close" onclick="toggleNav()">
					<img src="/img/ico/close.svg" aria-hidden="true">
					&nbsp;Close
				</div>
			</nav>