			<nav id="switcher" aria-label="Section Switcher">
				<a href="/" id="toggleSection" onclick="sectionSwitcher()" aria-haspopup="true" aria-expanded="false">
					<span>for</span> Gaming
					<svg xmlns="http://www.w3.org/2000/svg" width="0.65rem" height="0.65rem" fill="#fff" viewBox="0 0 24 24">
						<path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/>
					</svg>
				</a>
				<ul>
					<li><a href="/business/"><span>for</span> Business</a></li>
					<li><a href="/wholesale/"><span>for</span> Wholesale</a></li>
				</ul>
			</nav>
			<div class="nav-open" onclick="toggleNav()">
				<img src="/img/ico/open.svg" alt="" aria-hidden="true">
				&nbsp;Menu
			</div>
			<nav class="main" aria-label="Main Navigation">
				<div class="nav-blank" onclick="toggleNav()"></div>
				<ul>
					<li class="has-submenu">
						<a href="#" style="--index: 3" aria-haspopup="true" aria-expanded="false">Platform 
							<svg xmlns="http://www.w3.org/2000/svg" width="0.65rem" height="0.65rem" fill="#fff" viewBox="0 0 24 24">
								<path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/>
							</svg>
						</a>
						<div class="submenu two-col-mobile">
							<ul>
								<li>
									<a href="/network/" style="--order:1">
										Gaming Network
										<span>Premium international connectivity</span>
									</a>
								</li>
								<li>
									<a href="/game-servers/" style="--order:2">
										Game Servers
										<span>Blazing-fast bare metal</span>
									</a>
								</li>
								<li>
									<a href="/cloud/" style="--order:3">
										Cloud Platform
										<span>The performance gaming cloud</span>
									</a>
								</li>
							</ul>
							<style>
								/* Submenu trial button */
								.submenu li a.trial {
									margin: 1.5rem -1.5rem -1.5rem;
									padding: 1.5rem !important;
									background: #1c1d22;
									border-radius: 0 0 10px 10px;
								}
								@media (max-width: 48em) {
									.submenu li a.trial {
										margin: 1rem auto auto auto;
										padding: .2rem 0 !important;
										background: none;
									}
								}
							</style>
							<ul>
								<li>
									<a href="/request-trial/" class="trial" style="--order:4">
										 Request trial
									</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="has-submenu">
						<a href="/about/" style="--index: 2" aria-haspopup="true" aria-expanded="false">
							About 
							<svg xmlns="http://www.w3.org/2000/svg" width="0.65rem" height="0.65rem" fill="#fff" viewBox="0 0 24 24">
								<path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/>
							</svg>
						</a>
						<div class="submenu two-col-mobile">
							<ul>
								<li class="parent">
									<a href="/about/" style="--order:1">How we’re different</a>
								</li>
								<li style="grid-row: 2">
									<a href="/guam/" style="--order:2">
										Guam
										<span>APAC’s newest server region</span>
									</a>
								</li>
								<li style="grid-row: 2">
									<a href="/case-study/guam-csgo/" style="--order:3">Case Study</a>
								</li>
								<li style="grid-row: 3">
									<a href="/media/" style="--order:4">Newsroom</a>
								</li>
								<li style="grid-row: 3">
									<a href="/careers/" style="--order:5">Careers</a>
								</li>
							</ul>
						</div>
					</li>
					<li><a href="/contact/" style="--index: 1;">Contact</a></li>
				</ul>
				<div class="nav-close" onclick="toggleNav()">
					<img src="/img/ico/close.svg" alt="" aria-hidden="true">
					&nbsp;Close
				</div>
			</nav>