	</main>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-3 py-1 pb-2 mobile-text-center">
					<a class="logomark" href="/" title="Go to the OneQode homepage">
						<img src="/img/symbol.svg" alt="OneQode Logomark/Symbol">
					</a>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3 py-1">
					<p>Our Platform</p>
					<ul>
						<li><a href="/cloud/">High Performance Cloud</a></li>
						<li><a href="/dedicated-servers/">Dedicated Servers</a></li>
						<li><a href="/network/">Global Network</a></li>
						<li><a href="/guam/">APAC Central</a></li>
					</ul>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3 py-1">
					<p>Enterprise Services</p>
					<ul>
						<li><a href="/colocation/">Colocation</a></li>
						<li><a href="/ip-transit/">IP Transit</a></li>
						<li><a href="/backhaul/">Backhaul</a></li>
						<li><a href="/ethernet/">Ethernet</a></li>
					</ul>
				</div>
				<div class="col-xs-6 col-sm-4 col-sm-offset-4 col-md-3 col-md-offset-0 py-1">
					<p>Who we help</p>
					<ul>
						<li><a href="/for/game-industry/">Game Industry</a></li>
						<li><a href="/for/esports/">Esports</a></li>
						<li><a href="/for/business-enterprise/">Business & Enterprise</a></li>
						<li><a href="/for/telco-carrier/">Telco & Carrier</a></li>
					</ul>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3 col-md-offset-3 py-1">
					<p>Help & Support</p>
					<ul>
						<li><a href="/contact/" title="Reach out directly to the OneQode team">Contact us</a></li>
						<li><a href="{{ global.support }}" title="Get help and assistance with your OneQode services" target="_blank" class="external">Get support</a></li>
						<li><a href="https://docs.oneqode.com/" target="_blank" title="OneQode Documentation" class="external">Documentation</a></li>
						<li><a href="/legal/" title="OneQode Terms & Policies">Terms & Policies</a></li>
					</ul>
				</div>
				<div class="col-xs-6 col-sm-4 col-sm-offset-4 col-md-3 col-md-offset-0 py-1">
					<p>Company</p>
					<ul>
						<li><a href="/about/" title="Learn more about what we do">About OneQode</a></li>
						<li><a href="/content/" title="The OneQode Blog">Blog</a></li>
						<li><a href="/careers/" title="See our current vacancies">Careers</a></li>
						<li><a href="/media/" title="Read our latest updates, and get access to press resources"> Newsroom</a></li>
					</ul>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3 py-1">
					<!-- Content -->
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 mt-4">
					<p class="credits text-left">Proudly Australian</p>
				</div>
				<div class="col-xs-12 col-sm-6 mt-4">
					<p class="credits text-right">
						<a href="https://www.linkedin.com/company/oneqode/" rel="noopener" target="_blank">LinkedIn</a> • 
						<a href="https://twitter.com/oneqode" rel="noopener" target="_blank">Twitter</a>
					</p>
				</div>
			</div>
		</div>
	</footer>
	{%- if lazyLoadVideo %}
	<script>
	// Lazy Load Video
	// Source: https://web.dev/lazy-loading-video/
	document.addEventListener("DOMContentLoaded", function() {
		var lazyVideos = [].slice.call(document.querySelectorAll("video.lazy"));

		if ("IntersectionObserver" in window) {
			var lazyVideoObserver = new IntersectionObserver(function(entries, observer) {
				entries.forEach(function(video) {
					if (video.isIntersecting) {
						for (var source in video.target.children) {
							var videoSource = video.target.children[source];
							if (typeof videoSource.tagName === "string" && videoSource.tagName === "SOURCE") {
								videoSource.src = videoSource.dataset.src;
							}
						}

						video.target.load();
						video.target.classList.remove("lazy");
						lazyVideoObserver.unobserve(video.target);
					}
				});
			});

			lazyVideos.forEach(function(lazyVideo) {
				lazyVideoObserver.observe(lazyVideo);
			});
		}
	});
	</script>
	{%- endif %}
</body>
</html>