	</main>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-3 py-1 pb-2">
					<a class="logomark" href="/" title="OneQode • Australia’s 21st Century Telecommunications Provider">
						<img src="/img/symbol.svg" alt="OneQode Logomark/Symbol">
					</a>
				</div>
				<div class="col-sm-6 col-md-3 py-1">
					<p>Who we help</p>
					<ul>
						<li><a href="/" title="Home internet, mobile broadband, and gaming services">Individuals</a></li>
						<li><a href="/business/" title="Internet and connectivity for business and enterprise">Organisations</a></li>
						<li><a href="/wholesale/" title="Wholesale internet services for telco, and managed service providers">Service Providers</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-3 py-1">
					<p>Help & Support</p>
					<ul>
						<li><a href="
							{%- case section -%}
								{%- when "home" -%}
									{{ global.login.home }}
								{%- when "business" -%}
									{{ global.login.business }}
								{%- when "wholesale" -%}
									{{ global.login.wholesale }}
								{%- else -%}
									{{ global.login.home }}
							{%- endcase -%}
							" title="
							{%- case section -%}
								{%- when "home" -%}
									Get help and assistance with your OneQode services
								{%- when "business" -%}
									Get help and assistance with your OneQode for Business Services
								{%- when "wholesale" -%}
									Get help and assistance with your OneQode for Wholesale Services
								{%- else -%}
									Get help and assistance with your OneQode services
							{%- endcase -%}
							" target="_blank" rel="noopener">
								{%- case section -%}
									{%- when "home" -%}
										Get support
									{%- when "business" -%}
										Business support
									{%- when "wholesale" -%}
										Wholesale support
									{%- else -%}
										Get support
								{%- endcase -%}
							</a></li>
						<li><a href="
								{%- case section -%}
									{%- when "home" -%}
										/contact/
									{%- when "business" -%}
										/business/contact/
									{%- when "wholesale" -%}
										/wholesale/contact/
									{%- else -%}
										/contact/
								{%- endcase -%}
							" title="
								{%- case section -%}
									{%- when "home" -%}
										Reach out directly to the OneQode team
									{%- when "business" -%}
										Contact the OneQode business team
									{%- when "wholesale" -%}
										Contact the OneQode wholesale team
									{%- else -%}
										Reach out directly to the OneQode team
								{%- endcase -%}
								">Contact us</a></li>
						<li><a href="
								{%- case section -%}
									{%- when "home" -%}
										/legal/
									{%- when "business" -%}
										/business/legal/
									{%- when "wholesale" -%}
										/wholesale/legal/
									{%- else -%}
										/legal/
								{%- endcase -%}
							" title="
								{%- case section -%}
									{%- when "home" -%}
										OneQode Terms & Policies
									{%- when "business" -%}
										OneQode Terms & Policies for Business Customers
									{%- when "wholesale" -%}
										OneQode Terms & Policies for Wholesale Customers
									{%- else -%}
										OneQode Terms & Policies
								{%- endcase -%}
								">Terms & Policies</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-3 py-1">
					<p>Company</p>
					<ul>
						<li><a href="
								{%- case section -%}
									{%- when "home" -%}
										/about/
									{%- when "business" -%}
										/business/about/
									{%- when "wholesale" -%}
										/wholesale/about/
									{%- else -%}
										/about/
								{%- endcase -%}" title="Learn more about what we do">About OneQode</a></li>
						<li><a href="/careers/" title="See our current vacancies">Careers</a></li>
						<li><a href="/media/" title="Read our latest updates, and get access to press resources">Media Newsroom</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs col-sm-6 mt-4"><p class="credits text-left">Made in Queensland</p></div>
				<div class="col-xs col-sm-6 mt-4">
					<p class="credits text-right">
						<a href="https://www.facebook.com/oneqode/" rel="noopener" target="_blank">Facebook</a> • 
						<a href="https://www.linkedin.com/company/oneqode/" rel="noopener" target="_blank">LinkedIn</a> • 
						<a href="https://twitter.com/oneqode" rel="noopener" target="_blank">Twitter</a>
					</p>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>