	</main>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-3 py-1 pb-2">
					<a class="logomark" href="/" title="OneQode • Australia's 21st Century Telecommunications Provider">
						<img src="../img/symbol.svg" alt="OneQode Logomark/Symbol">
					</a>
				</div>
				<div class="col-sm-6 col-md-3 py-1">
					<p>Who we help</p>
					<ul>
						<li><a href="/" title="Home internet">Individuals</a></li>
						<li><a href="/business" title="Business internet and connectivity">Organisations</a></li>
						<li><a href="/wholesale" title="">Service Providers</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-3 py-1">
					<p>Help & Support</p>
					<ul>
						<li><a href="#">Get Support</a></li>
						<li><a href="/contact/">Contact us</a></li>
						<li><a href="/legal/">Terms & Policies</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-3 py-1">
					<p>Company</p>
					<ul>
						<li><a href="/about/">About OneQode</a></li>
						<li><a href="/careers/">Careers</a></li>
						<li><a href="/media/">Media Newsroom</a></li>
					</ul>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-md-6"><p class="credits text-left">© OneQode IP Pty Ltd</p></div>
				<div class="col-md-6">
					<p class="credits text-right">
						<a href="https://www.facebook.com/oneqode/" rel="noopener" target="_blank">Facebook</a> • 
						<a href="https://www.linkedin.com/company/oneqode/" rel="noopener" target="_blank">LinkedIn</a> • 
						<a href="https://twitter.com/oneqode" rel="noopener" target="_blank">Twitter</a>
					</p>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>