			<nav id="switcher" aria-label="Section Switcher">
				<a href="/wholesale/" id="toggleSection" onclick="sectionSwitcher()" aria-haspopup="true" aria-expanded="false">
					<span>for</span> Wholesale
					<svg width="0.75rem" height="0.75rem" viewBox="0 0 16 16" fill="#fff" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
					</svg>
				</a>
				<ul>
					<li><a href="/"><span>for</span> Home</a></li>
					<li><a href="/business/"><span>for</span> Business</a></li>
				</ul>
			</nav>
			<div class="nav-open" onclick="toggleNav()">
				<img src="/img/ico/open.svg" aria-hidden="true">
				&nbsp;Menu</div>
			<nav class="main" aria-label="Main Navigation">
				<ul>
					<li class="has-submenu">
						<a href="#" style="--index: 4" aria-haspopup="true" aria-expanded="false">Services 
							<svg width="0.75rem" height="0.75rem" viewBox="0 0 16 16" fill="#fff" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
							</svg>
						</a>
						<div class="submenu">
							<ul>
								<li><a href="#">IP Transit</a></li>
								<li><a href="#">Ethernet</a></li>
								<li><a href="#">Backhaul</a></li>
								<li><a href="#">Dark Fibre</a></li>
								<li><a href="#">Co-location</a></li>
							</ul>
						</div>
					</li>
					<li class="has-submenu"><a href="#" style="--index: 2">
						Industries 
						<svg width="0.75rem" height="0.75rem" viewBox="0 0 16 16" fill="#fff" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
							</svg>
						</a>
						<div class="submenu">
							<ul>
								<li><a href="#">Internet Service Provider</a></li>
								<li><a href="#">Retail Service Provider</a></li>
								<li><a href="#">Managed Service Provider</a></li>
							</ul>
						</div>
					</li>
					<li><a href="{{ global.login.wholesale }}" class="login" style="--index: 1">Log In</a></li>
				</ul>
				<div class="nav-close" onclick="toggleNav()">
					<img src="/img/ico/close.svg" aria-hidden="true">
					&nbsp;Close
				</div>
			</nav>