			<nav id="switcher" aria-label="Section Switcher">
				<a href="/business/" id="toggleSection" onclick="sectionSwitcher()" aria-haspopup="true" aria-expanded="false">
					<span>for</span> Business
					<svg width="0.75rem" height="0.75rem" viewBox="0 0 16 16" fill="#fff" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
					</svg>
				</a>
				<ul>
					<li><a href="/"><span>for</span> Home</a></li>
					<li><a href="/wholesale/"><span>for</span> Wholesale</a></li>
				</ul>
			</nav>
			<div class="nav-open" onclick="toggleNav()">
				<img src="/img/ico/open.svg" aria-hidden="true">
				&nbsp;Menu</div>
			<nav class="main" aria-label="Main Navigation">
				<ul>
					<li class="has-submenu">
						<a href="#" style="--index: 4" aria-haspopup="true" aria-expanded="false">Services 
							<svg width="0.75rem" height="0.75rem" viewBox="0 0 16 16" fill="#fff" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
							</svg>
						</a>
						<div class="submenu two-col">
							<ul>
								<li>Business</li>
								<li><a href="/business/internet/">Business Internet</a></li>
								<li><a href="/business/mobile-sims/">Mobile SIMs</a></li>
								<li><a href="/business/sd-wan/">SD-WAN</a></li>
								<li><a href="/business/cloud/">Cloud Services</a></li>
							</ul>
							<ul>
								<li>Enterprise</li>
								<li><a href="/business/enterprise-internet/">Enterprise Internet</a></li>
								<li><a href="/business/international-backhaul/">International Backhaul</a></li>
								<li><a href="/business/national-backhaul/">National Backhaul</a></li>
								<li><a href="/business/metro-backhaul/">Metro Backhaul</a></li>
								<li><a href="/business/private-cloud/">Private Cloud</a></li>
								<li><a href="/business/dedicated-servers/">Dedicated Servers</a></li>
								<li><a href="/business/dark-fibre/">Dark Fibre</a></li>
								<li><a href="/business/data-centre/">Data Centre</a></li>
							</ul>
						</div>
					</li>
					<li class="has-submenu"><a href="#" style="--index: 2">
						Industries 
						<svg width="0.75rem" height="0.75rem" viewBox="0 0 16 16" fill="#fff" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
							</svg>
						</a>
						<div class="submenu">
							<ul>
								<li><a href="/industry/gaming-esports/">Gaming & eSports</a></li>
								<li><a href="/industry/financial-services/">Financial Services</a></li>
								<li><a href="/industry/property/">Property</a></li>
								<li><a href="/wholesale/">IT & Telco</a></li>
							</ul>
						</div>
					</li>
					<li><a href="{{ global.login.home }}" class="login" style="--index: 1">Log In</a></li>
				</ul>
				<div class="nav-close" onclick="toggleNav()">
					<img src="/img/ico/close.svg" aria-hidden="true">
					&nbsp;Close
				</div>
			</nav>