---
layout: release.liquid
section: gaming
metaTitle: OneQode™ Announces “Groundbreaking” New Facility • Press Release
metaDescription: April 1, 2022 — OneQode today unveils a stunning new server region, with construction now underway.
ogImage: oneqode-core.jpg
changefreq: never
priority: 0.4
tags: internal
postType: Press Release
postTitle: "April Fools: OneQode Announces “Groundbreaking” Global Central Facility"
date: 2022-04-01
mediaContact: Jules Verne, Lead Vulcanologist
lazyLoadVideo: true
---
<style>
	.hero {
		background-size: cover !important;
		background-position: center center !important;
	}
	.no-webp .hero {
		background: linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/oneqode-core.jpg");
	}
	.webp .hero {
		background: linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/oneqode-core.webp");
	}
</style>
<p><strong>Brisbane, {{ date | readableDate }}</strong>
<p>OneQode is pleased to announce that construction is underway of <strong>Core Central</strong>, a brand new data centre facility for global real-time applications.</p>
<p>Strategically located <strong>just 6,371 km from Guam, Los Angeles and London</strong>, the server facility is set to transform real-time global connectivity.</p>
<div class="callout col-xs-12 p-2 my-2" id="key-facts">
	<h2>Key facts</h2>
	<ul>
		<li>OneQode is constructing a global central data centre, Core Central.</li>
		<li>Average latency to major capitals is expected to be 45ms</li>
		<li>The facility unlocks truly international multiplayer, real-time applications</li>
		<li>OneQode also introduces an advanced tool for the construction of data centres in new locations</li>
	</ul>
</div>
<h2 class="h3 mt-4">A central location for the world’s gamers</h2>
<p>Core Central is the world's first data centre built from the ground down for low latency connectivity, high performance, and next-gen cooling.</p>
<figure class="my-4">
	<picture>
		<source srcset="/img/media/oneqode-core-dc-latency-map.webp" type="image/webp">
		<img src="/img/media/oneqode-core-dc-latency-map.png" class="opaque" alt="OneQode Core Central DC — Latency Map">
	</picture>
	<figcaption>Latency map for the OneQode Core Central DC</figcaption>
</figure>
<p>Core Central will be launching following winter as cooler temperatures assist in the initial build phase.</p>
<p>The design and challenges of building a central server location is familiar to OneQode, as Core Central is a step forward in our philosophy pioneered by <a href="/guam/">APAC Central</a>, a central server location for Asia-Pacific, built on Guam.</p>
<h2 class="h3 mt-4">Bringing humanity closer together</h2>
<p>“Core Central represents a step beyond anything anyone has done before,” says OneQode CEO Matt Shearing “with unique logistical challenges that go far beyond import taxes.”</p>
<p>Preliminary numbers show that the Core Central data centre will be able to reach global users at a <strong>ping as low as 45ms</strong> average.</p>
<h2 class="h3 mt-4">Construction underway</h2>
<p>Properly compensated interns with training in excavation will be using state of the art S.P.A.D.Es (Solid Plank Apparatus Digging Equipment) technology, as developed by OneQode, to build an access elevator to the data centre.</p>
<p>“The S.P.A.D.E was heavily inspired by my days working in mining,” says OneQode Head of Operations Prakash V “and drew on years of study of what works best in the field of excavation. We just call it what it is.”</p>
<figure class="my-4">
	<picture>
		<source srcset="/img/media/oneqode-core-construction.webp" type="image/webp">
		<img src="/img/media/oneqode-core-construction.jpg" alt="Construction underway for OneQode Core DC">
	</picture>
	<figcaption>Construction underway by compensated interns</figcaption>
</figure>
<p>This elevator trip will be significant, so members of the Core Central team will also be housed on site, in state of the art facilities that have been designed to remain cool despite external temperatures.</p>
<p>“The future of interconnected experiences is looking bright,” says Chief Architect Ben Cooper, who was behind the design “but we probably should have installed a few more air conditioners.”</p>
<p>With the unique location in the centre of earth's core, OneQode is building a truly global backbone to support networks around the globe.</p>
<p>OneQode isn't stopping here. Plans are already in motion to build OneQode’s next facility around the sun, which will provide latency-optimised connectivity throughout the solar system.</p>
<h2 class="mt-4">About OneQode</h2>
<p>OneQode is a global infrastructure as a service (IaaS) company operating a latency-optimised international carrier network and high-performance cloud platform designed for the demands of real-time applications and competitive gaming.</p>