---
layout: post.liquid
section: gaming
metaTitle: OneQode’s Guam Gaming Hub Ready for Action • Press Release
metaDescription: Gamers in the APAC region for the first time have a level playing field for international gaming with the low-latency hub connected via high-capacity undersea fibre.
ogImage: oneqode-cloud-announcement.jpg
changefreq: never
priority: 0.4
tags: internal
postType: Press Release
postTitle: OneQode Unveils Cloud Platform Built for Game Server Hosting
date: 2021-10-04
mediaContact: Matthew Shearing, Chief Executive Officer
---
<style>
	@media only screen and (min-width: 48em) {
		.hero {
			background-size: cover !important;
			background-position: center center !important;
		}
		.no-webp .hero {
			background: url("/img/bg/oneqode-cloud-announce.jpg");
		}
		.webp .hero {
			background: url("/img/bg/oneqode-cloud-announce.webp");
		}
	}
	img {
		border-radius: 10px;
	}
</style>
<p><strong>MEDIA RELEASE</strong></p>
<p><strong>Brisbane, Monday 04 October 2021</strong></p>
<p class="subheading">Platform to provide high-performance compute and access to user pool of more than 1.5 billion gamers</p>
<p><a href="/">OneQode</a>, a Global Infrastructure-as-a-Service (IaaS) company, announced today that their <a href="/cloud/">high-performance cloud platform</a> is ready for service. </p>
<p>Leveraging its extensive, <a href="/network/">latency-optimised carrier network</a> and industry-leading DDoS security protection, the company is now ready to deliver on-demand servers and compute to developers, studios, orchestrators and publishers that seek to access the billions of gamers in the Asia-Pacific region (APAC).</p>
<a href="/img/cloud-platform-screenshot.jpg" rel="noopener">
	<picture>
		<source srcset="/img/cloud-platform-screenshot.webp" type="image/webp">
		<img src="/img/cloud-platform-screenshot.jpg" alt="Screenshot of OneQode's Cloud Dashboard">
	</picture>
</a>
<p class="mb-4" style="font-size: 75%">Screenshot of the OneQode Cloud Platform Interface</p>
<h2>High Performance By Default</h2>
<p>The Gaming Cloud has been built from scratch with a 'high performance by default' mindset. Unlike its competitors, OneQode isn’t repurposing general cloud resources as a 'gaming' product. Rather, the infrastructure is owned and operated by OneQode and built with an obsessive focus on security, performance and interoperability.</p>
<ul>
	<li class="mb-1"><strong>High Clock Compute</strong><br>All vCPUs no less than 3.7Ghz clock speed (compared to the 2.4 - 2.8Ghz commonly used by competitors). This translates to a 25% performance uplift in workloads.</li>
	<li class="mb-1"><strong>Rapid provisioning</strong><br>Servers can be spun up in seconds with liquid provisioning, a no-fuss portal and full containerisation support.</li>
	<li class="mb-1"><strong>DDoS Protected</strong><br>All instances secured by OneQode's <a href="/network/#ddos">end-to-end DDoS protection</a> built into its carrier network by default.</li>
	<li class="mb-1"><strong>Built to an Open Standard</strong><br>Built on <a href="https://www.openstack.org/" target="_blank" rel="noopener">Openstack</a> to integrate with all major tech stacks - including support for <a href="https://kubernetes.io/" target="_blank" rel="noopener">Kubernetes</a>, <a href="https://www.terraform.io/" target="_blank" rel="noopener">Terraform</a>, <a href="https://www.ansible.com/" target="_blank" rel="noopener">Ansible</a> and many others.</li>
	<li><strong>Restful API</strong><br>Cloud environments can be launched and managed on-demand through a friendly RESTful API designed to plug directly into existing orchestration solutions.</li>
</ul>
<p>This makes OneQode’s cloud the leading choice for all realtime workloads – be it gaming, finance, connected experiences and everything in between.</p>
<h2>Proprietary Network and Architecture</h2>
<p>APAC has long been plagued by routing difficulties and a lack of adequate infrastructure. With a burgeoning gaming market (accounting for <a href="https://newzoo.com/insights/trend-reports/newzoo-global-games-market-report-2020-light-version/" target="_blank" rel="noopener">49% of global gaming revenue</a>) and a rising digital centric population, the region has huge potential - but is currently underserved.</p>
<p>The cloud platform is the culmination of a two-year project for OneQode to build a latency-optimised, gaming-first carrier network. Unlike existing cloud solutions that use third party carrier offerings and least-cost routing, OneQode's network uses shortest path routing, sending data over the lowest latency path (not the cheapest path).</p>
<h2>Reaching and Retaining More Users</h2>
<p>The cloud platform is spearheaded by OneQode's unique <a href="/guam/">Guam Gaming Hub</a> - a latency-neutral server location between three continents. Gaming studios, developers and publishers can access a pool of approximately 2 billion gamers at latencies of 100ms or less, all directly from the cloud.</p>
<p>In an age where player retention is of utmost importance and queue times directly impact revenue, OneQode's Guam instances provide a perfect regional backbone - reducing player churn and ensuring games are available in seconds, not minutes.</p>
<h2>Available Now</h2>
<p>For too long, gaming infrastructure has been shackled by solutions built for general workloads. OneQode Cloud is purpose-built for the unique demands of modern multiplayer gaming, providing an unparalleled foundation for real time applications.</p>
<p>Gaming companies wanting to level up can visit the <a href="/cloud/">cloud platform</a> to sign up and get started.</p>
<div class="text-center my-4">
	<h3>Business Enquiries</h3>
	<p>Are you looking to take advantage of our cloud platform?<br> Get in touch with us directly.</p>
	<a href="/contact/" class="button ghost mt-1">Contact Us</a>
</div>