---
layout: release.liquid
metaTitle: OneQode™ Announces First Regional Connectivity Hub in Cooroy, Queensland • Press Release
metaDescription: OneQode, a Queensland-based digital services provider, is commencing operations in a purpose-built data centre in Cooroy.
ogImage: cooroy.jpg
changefreq: never
priority: 0.4
tags: internal
postType: Press Release
postTitle: OneQode Announces Cooroy Connectivity Hub
date: 2020-11-11
mediaContact: Matthew Shearing, Chief Executive Officer
---
<style>
	@media only screen and (min-width: 48em) {
		.hero {
			background-size: cover !important;
			background-position: bottom center !important;
		}
		.no-webp .hero {
			background: url("../../img/bg/cooroy-dc-oneqode.jpg");
		}
		.webp .hero {
			background: url("../../img/bg/cooroy-dc-oneqode.webp");
		}
	}
</style>
<p><strong>MEDIA RELEASE</strong></p>
<p><strong>Cooroy, Wednesday 11 November 2020</strong>: OneQode, a Queensland-based digital services provider, is commencing operations in a purpose-built data centre in Cooroy.</p>
<p>With the COVID pandemic changing how business is done and data needs increasing across the board, regional connectivity has never been more important. OneQode is making good on its commitment to bring better connectivity to regional Queensland by activating its first Digital Hub in Cooroy.</p>
<h2>Smart Town</h2>
<p>The Cooroy Hub will be based from a purpose-built data centre located in the Cooroy Arts and Learning Precinct. Noosa Council believe that the re-imagining of the Council-owned asset as a regional digital hub will provide many benefits to the community.</p>
<a href="../../img/media/welcome-to-cooroy.jpg" target="_blank">
	<picture>
		<source srcset="../../img/media/welcome-to-cooroy.webp" type="image/webp">
		<img src="../../img/media/welcome-to-cooroy.jpg" alt="OneQode Network Map">
	</picture>
</a>
<p style="font-size: 75%">Photo by Craig Franklin <span style="color: #949494">// Wikimedia // <a href="https://creativecommons.org/licenses/by/3.0/au/deed.en" target="_blank" rel="nofollow,noopener" style="color: #949494; text-decoration: none;">CC-BY-3.0</a> // Remixed</span></p>
<p>Noosa Council’s Economic Development Manager, Anthony Dow, has welcomed OneQode’s arrival in Cooroy.</p>
<blockquote>
	<p>“It will bring new connectivity options for the local community and importantly, their expanding investment in the region will see Noosa residents connected to the new international undersea cable landing station in Maroochydore.”</p>
</blockquote>
<h2>Better Connectivity, More Possibilities</h2>
<p>OneQode is engineering the Digital Hub with several goals, which include providing better connectivity, more opportunities and growth for the Noosa hinterland region. From a practical standpoint, the deployment of a genuine edge data centre in the region will provide a number of key benefits.</p>
<p>First and foremost, the Digital Hub will connect Cooroy to the wider OneQode network – providing both high speed Australian connectivity and the fastest connection to Asia and beyond through the new international cable connection at Maroochydore. With points of presence deploying in Guam, Los Angeles, Tokyo and Hong Kong, this means unprecedented connectivity for the region to the rest of the world.</p>
<p>The Hub will also form the centre of a new, high-speed broadband network for the region. OneQode intends to offer a blend of business fibre (within Cooroy and surrounds) and fixed wireless services (for all surrounding areas), from the Hub itself and other assets in the area.</p>
<a href="../../img/media/cooroy-dc.jpg" target="_blank">
	<picture>
		<source srcset="../../img/media/cooroy-dc.webp" type="image/webp">
		<img src="../../img/media/cooroy-dc.jpg" alt="OneQode Network Map">
	</picture>
</a>
<p>Finally, the Hub will provide businesses a secure data centre environment in which to deploy their equipment. This is relevant for both local businesses who want to operate their server infrastructure off-premises and those from other areas such as Brisbane who want non-metropolitan redundancy or disaster recovery options.</p>
<h2>The First Step</h2>
<p>OneQode Group CEO Matthew Shearing said that this is part of a much larger regional project.</p>
<blockquote>
	<p>“The Cooroy digital hub is the first step in a larger deployment throughout the Sunshine Coast, Noosa, Moreton Bay and Wide-Bay areas. With edge connectivity growing increasingly important for modern business and primary production, our focus is on making sure that our corner of the world isn’t left behind. We want everyone to be able to participate in the digital economy of tomorrow.”</p>
</blockquote>
<p>Hub fit-out is now commencing in earnest, with a goal to have it ready for service by January next year. Enquiries are now open for both the Hub itself and broadband connectivity in the area. To stay updated, be sure to follow OneQode on LinkedIn and Facebook.</p>
<p><strong>For data centre enquiries, <a href="mailto:hello@oneqode.com.au" target="_blank">reach out to us directly</a>.</strong></p>
<p><strong>Visit the OneQode <a href="https://oneqode.com.au/" target="_blank">business and residential internet</a> site for other enquiries.</strong></p>