---
layout: post.liquid
metaTitle: OneQode’s Enterprise Network Ready for Service • Press Release
metaDescription: OneQode, an international carrier operating low-latency, high capacity networks today announced that its on-demand enterprise connectivity services are now available throughout Asia-Pacific.
ogImage: global-rollout.jpg
changefreq: never
priority: 0.4
tags: internal
postType: Press Release
postTitle: OneQode’s Enterprise Network Ready For Service Across Asia-Pacific
date: 2021-03-18
mediaContact: Matthew Shearing, Chief Executive Officer
section: business
---
<style>
	@media only screen and (min-width: 48em) {
		.hero {
			background-size: cover !important;
			background-position: bottom center !important;
		}
		.no-webp .hero {
			background: url("/img/bg/global-enterprise-rollout.jpg");
		}
		.webp .hero {
			background: url("/img/bg/global-enterprise-rollout.webp");
		}
	}
</style>
<p><strong>MEDIA RELEASE</strong></p>
<p><strong>Brisbane, Thursday 18 March 2021</strong>: <a href="/">OneQode</a>, an international carrier operating low-latency, high capacity networks today announced that its on-demand enterprise connectivity services are now available throughout Asia-Pacific. A culmination of an extensive deployment during the past year, the network delivers ethernet connectivity, IP transit and private cloud functionality across OneQode’s premium international backbone.</p>
<!-- Other versions -->
<a href="https://oneqode.sfo2.digitaloceanspaces.com/maps/global/oneqode-world-map.png" rel="noopener" target="_blank">
	<picture>
		<source srcset="../../img/media/oneqode-global-rollout-map-small.webp" type="image/webp">
		<img src="../../img/media/oneqode-global-rollout-map-small.jpg" alt="OneQode’s Global Network Deployment Map">
	</picture>
</a>
<!-- Other versions -->
<p style="font-size: 75%">Global rollout map <span style="color: #949494">// Dark Version <a href="https://oneqode.sfo2.digitaloceanspaces.com/maps/global/oneqode-world-map.png" rel="noopener" target="_blank">PNG</a> | <a href="https://oneqode.sfo2.digitaloceanspaces.com/maps/global/oneqode-world-map.pdf" rel="noopener" target="_blank">PDF</a> // Light Version <a href="https://oneqode.sfo2.digitaloceanspaces.com/maps/global/oneqode-world-map-light.png" rel="noopener" target="_blank">PNG</a> | <a href="https://oneqode.sfo2.digitaloceanspaces.com/maps/global/oneqode-world-map-light.pdf" rel="noopener" target="_blank">PDF</a></p>
<p>“The network is built from the ground up to tackle the emergent challenges facing the enterprise world today,” said OneQode CEO, Matthew Shearing. “By building a platform focused on low latency, premium routing and rapid provisioning, we’re helping businesses connect like never before.”</p>
<p>Over the past year, OneQode has embarked on a network rollout spanning three continents and a number of major points of presence. Locations include Brisbane, Guam, Los Angeles, Tokyo, Hong Kong and Sydney with several others on the way - including Toronto, Seattle, Singapore and Chennai. The network is backed by OneQode's proprietary software routing solution and on-demand dedicated servers, making it perfectly suited for companies needing cutting edge connectivity and compute.</p>
<p>“We designed our platform to solve the hardest challenge first - inter-continental gaming,” said OneQode's Chief Product Officer, Ben Cooper. “It's built to get data where it needs to go quickly and reliably. That's as relevant for gaming publishers as it is for private enterprise cloud deployments - and everything in between.”</p>
<p>OneQode's unique products are aimed squarely at solving modern business problems. Through its software-defined backend, it can deploy ethernet, transit and cloud solutions (including bespoke private network solutions) in a fraction of the usual industry lead times. Private cloud resources can also be deployed in latency-neutral locations, such as OneQode's <a href="/about/guam/">Guam connectivity hub</a> - meaning a far smoother experience for networks which span several countries.</p>
<p>More information on solutions can be found on the OneQode website</p>
<p class="text-center">
	<a href="/business/" target="_blank" class="button ghost m-1">Wholesale</a>
	<a href="/wholesale/" target="_blank" class="button ghost m-1">Business</a>
</p>
<h2>About OneQode</h2>
<p><a href="/">OneQode</a> is a next-generation telecommunications provider offering unparalleled speed and connectivity to businesses, gamers, governments, financial institutions and end-users. We operate a low-latency, high-bandwidth connectivity backbone throughout Asia-Pacific with a focus on some of the most demanding network applications. We also deploy high speed last-mile connectivity and edge data solutions - giving end users a truly quality experience, end-to-end.</p>