---
layout: release.liquid
metaTitle: OneQode™ and Game Plus Announce Joint Partnership • Announcement
metaDescription: OneQode is excited to announce a joint partnership with Game Plus
ogImage: game-plus.jpg
changefreq: never
priority: 0.4
tags: internal
postType: Announcement
postTitle: OneQode and Game Plus Announce Joint Partnership
date: 2022-05-13
mediaContact: Michelle Krikowa, Business Development Manager
---
<style>
	.hero {
		background-size: cover !important;
		background-position: center center !important;
	}
	.no-webp .hero {
		background: linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/game-plus.jpg");
	}
	.webp .hero {
		background: linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/game-plus.webp");
	}
</style>
<p>OneQode is excited to announce its partnership with Game Plus! 🥳</p>
<p>As a place for the Australian games industry to connect, <a href="https://gameplus.com.au/" target="_blank">Game Plus</a> is a hub for digital entrepreneurs, allowing them to work alongside one another and share resources, knowledge, and opportunities. It also provides government and industry with access to specialist expertise in interactive entertainment, simulation, and training.</p>
<figure>
	<picture>
		<source srcset="/img/media/game-plus-workspace.webp" type="image/webp">
		<img class="my-4 opaque" src="/img/media/game-plus-workspace.png" alt="A stylised image of a meeting room in a Game Plus coworking space, with the Game Plus logo superimposed">
	</picture>
</figure>
<p>The partnership provides Game Plus members with affordable access to OneQode’s Asia-Pacific-wide network, servers and cloud platform.</p>
<p>Through OneQode’s <a href="/guam/">APAC Central location</a> in Guam, participating Game Plus members will be able to access more than 1.45 billion players on a level playing field, connecting more than 20 countries including Hong Kong, Singapore, Tokyo, and the United States, to a latency-neutral location.</p>
<p>“Our Guam APAC Central hub will help game developers expand their audience to international players. The games industry is growing, and OneQode wants Australian developers to have every opportunity to get more eyes on their hard work” says Michelle Krikowa, OneQode’s Business Development Manager.</p>
<p>OneQode will provide trial credits for their <a href="/cloud/">high-performance cloud platform</a>, and discounts across all services to Game Plus members. There will also be a direct line of support to the OneQode team on the Game Plus Discord server.</p>
<p>“Indie games are made with a lot of passion and talent, but they often don’t get the install base of a AAA game, so to help Game Plus members access more players is an excellent opportunity,” says Jarrod Farquhar-Nicol, Team Leader at Game Plus.</p>
<p>The OneQode team is excited to give independent Australian game studios a stepping stone to Asia through Game Plus. The partnership will unlock more opportunities for Australian developers to reach a global audience.</p>
<h2 class="mt-4">About the companies</h2>
<p>Game Plus is a collaborative workspace that provides developers and tech start-ups across Australia with a supportive community, a coworking space, and a vast amount of shared knowledge and resources.</p>
<p>OneQode is an Australian based infrastructure as a service (IaaS) company operating a latency-optimised international carrier network and high-performance cloud platform designed for the demands of real-time applications and competitive gaming.</p>