---
layout: release.liquid
metaTitle: OneQode and LetsPlay.Live Sign Partnership • Announcement
metaDescription: OneQode and LetsPlay.Live announce a partnership to launch a major esports competition in the Asia-Pacific region.
ogImage: letplaylive-og.jpg
changefreq: never
priority: 0.4
tags: internal
postType: Announcement
postTitle: OneQode, LetsPlay.Live Partner for Asia-Pacific Esports Competition
date: 2023-07-15
mediaContact: Joe Swinn, Chief Marketing Officer
---
<style>
	.hero {
		background-size: cover !important;
		background-position: center center !important;
	}
	.no-webp .hero {
		background: radial-gradient(circle at bottom, transparent 55%, #000), linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/letplaylive.jpg");
	}
	.webp .hero {
		background: radial-gradient(circle at bottom, transparent 55%, #000), linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/letplaylive.webp");
	}
</style>
<p><strong>Sydney, {{ date | readableDate }}</strong> • OneQode is excited to announce its partnership with <a href="https://letsplay.live/" rel="noopener">LetsPlay.Live</a> (LPL), one of the world’s most established esports and gaming content broadcasters.</p>
<p>The partnership will soon deliver a major esports competition for the Asia-Pacific region, with more announcements to follow.</p>
<p>The upcoming competition will will be hosted on both the LetsPlay.Live website and OneQode’s platform, leveraging both OneQode’s latency-optimized Asia-Pacific-wide digital infrastructure, and LPL’s expertise in producing and delivering quality live esports events.</p>
<figure class="my-4">
	<div class="wrapper">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/69E3AhJ7UNw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</figure>
<p>Ben Cooper, Chief Architect of OneQode, said, &quot;Our partnership with LPL has the potential to create the world’s largest gaming region by connecting the entire Asia-Pacific. With an increase in players, teams, and events, we have the opportunity to build an unparalleled esports ecosystem that surpasses anything seen before.&quot;</p>
<p>Matt Shearing, CEO of OneQode, added, &quot;This collaboration with LPL aligns perfectly with OneQode’s mission to build the foundation for the next decade of connected experiences. With this partnership, Asia-Pacific will finally have access to the kind of esports infrastructure enjoyed by players in Europe &amp; North America.&quot;</p>
<p>Duane Mutu, Founder and CEO of LPL, expressed his excitement about the partnership: &quot;We are excited to be working with OneQode on this groundbreaking esports project. Their innovative technology and vision, combined with our unique platform and expertise, will help us bring unparalleled gaming experiences to the Asia-Pacific region and redefine the future of esports.&quot;</p>
<h2 class="mt-4">About LetsPlay.Live</h2>
<p><a href="https://letsplay.live/" rel="noopener">LetsPlay.Live</a> is a global leader in esports and gaming content broadcasting, delivering over 800 hours of live esports every year. The company works with the biggest publishers and top talent to produce expertly crafted broadcasts that push the boundaries of players and technology. Founded in 2015 by Duane Mutu, LPL has a proven track record of delivering successful official and bespoke events for publishers and partners.</p>
<p>LPL has hosted numerous live events in New Zealand and Australia, and operates a fully functional esports website with over 400,000 registered users. The company also has an experienced league operations team for every game title and a dedicated tournament administration team.</p>
<h2 class="mt-4">About OneQode</h2>
<p>OneQode is a digital infrastructure provider operating a high-performance cloud platform and a low-latency network designed for the demands of real-time apps and competitive gaming.</p>
<p>In a regional first, OneQode built APAC Central, a central server region for Asia-Pacific located on the island of Guam. The latency-neutral location provides a level playing field for cross-regional gaming, real-time services and business applications.</p>