---
layout: release.liquid
metaTitle: OneQode Manila Point of Presence Live • Announcement
metaDescription: ["OneQode’s Manila Point of Presence is now operational, enhancing low-latency connectivity and digital infrastructure for
businesses in the Philippines."]
ogImage: og-image.jpg
changefreq: never
priority: 0.4
tags: internal
postType: Announcement
postTitle: OneQode’s Manila Point of Presence is Now Live
date: 2023-09-12
mediaContact: Joe Swinn, Chief Marketing Officer
---
<style>
	.hero {
		background-size: cover !important;
		background-position: center center !important;
	}
	.no-webp .hero {
		background:
			radial-gradient(circle at bottom, transparent 35%, #000),
			linear-gradient(to bottom, transparent 70%, #000),
			url("/img/bg/manila-pop-bg.jpg");
	}
	.webp .hero {
		background:
			radial-gradient(circle at bottom, transparent 35%, #000),
			linear-gradient(to bottom, transparent 70%, #000),
			url("/img/bg/manila-pop-bg.webp");
	}
</style>
<h2 class="h3">Low latency digital infrastructure in the Philippines</h2>
<p>Today we’re excited to announce our newest Point of Presence (PoP) is now live in Manila, Philippines. It’s our first deployment in the Philippines, and another step forward in <a href="/vision-mission-strategy/">our mission</a> to build the foundation for the next decade of connected experiences.</p>
<p><strong><a href="/locations/manila/">Our Manila presence</a></strong> — with low-latency connectivity to Hong Kong, Singapore, Guam and the world — brings the region closer together than ever before.</p>
<p>As the capital city of Asia-Pacific’s most plugged-in nation (where people spend more time online daily than anywhere else in the region), it’s the perfect starting location for our Philippines rollout.</p>
<p>We now have a team in the Philippines and rackspace in 3 excellent data centers which we’ll connect via high-capacity dark fiber.</p>
<figure>
	<picture>
		<source srcset="/img/media/pop-map-manila.webp" type="image/webp">
		<img class="my-2 opaque" src="/img/og/pop-map-manila.jpg"
			alt="OneQode’s Manila map showing our points of presence in three datacenters: VITRO Makati 1, VITRO Makati 2, and Reliance">
	</picture>
</figure>
<h3 class="mt-4">What’s available now?</h3>
<p>We’re now onboarding customers for the following services:</p>
<ul>
	<li><strong><a class="chevron" href="/dedicated-servers/">Dedicated servers</a></strong><br>built to order for businesses that want fast, low-latency compute power in the Philippines.</li>
	<li class="mt-1"><strong><a class="chevron" href="/ip-transit/">IP Transit</a></strong><br>ideal for enterprises seeking latency-optimized internet connectivity with routing designed with superior global connectivity.</li>
	<li class="mt-1"><strong><a class="chevron" href="/ethernet/">Enterprise Ethernet</a></strong><br>private, dedicated prem-to-prem or pop-to-pop connectivity across three continents</li>
	<li class="mt-1"><strong><a class="chevron" href="/colocation/">Colocation</a></strong><br>flexible rackspace solutions in our Manila points of presence with fast, high-quality global connectivity</li>
</ul>
<h3 class="mt-4">What’s coming next?</h3>
<p>This is just the start. We’ll roll out a cloud region in the coming months bringing our <a href="/cloud/">high-performance cloud platform</a> to the Philippines. It’s built for performance and latency-sensitive applications such as game servers and real-time apps.</p>
<p>Each new point of presence is a step towards creating a more connected world — and we’re excited to be getting started in Manila.</p>
<p>If you’d like to partner with us or find out more about our services, <a href="/contact/business-enterprise/">get in touch</a> with one of our team today.</p>
<h2 class="mt-4">About OneQode:</h2>
<p>OneQode is an infrastructure as a service provider operating a latency-optimized international carrier network and high-performance cloud platform designed for the demands of real-time apps and competitive gaming.</p>
<p>In a regional first, OneQode built APAC Central, a central server region for Asia-Pacific located on the island of Guam. The latency-neutral location provides a level playing field for cross-regional gaming, real-time services and business applications.</p>
<p>To learn more, visit <a href="https://www.oneqode.com/">oneqode.com</a>.</p>