---json
{
	"permalink": "media-feed.xml",
	"eleventyExcludeFromCollections": true,
	"metadata": {
		"title": "OneQode™ Newsroom",
		"subtitle": "The latest press releases and product updates from OneQode.",
		"url": "https://oneqode.com/media/",
		"feedUrl": "https://oneqode.com/media-feed.xml",
		"author": {
			"name": "OneQode Media"
		}
	}
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ metadata.title }}</title>
	<subtitle>{{ metadata.subtitle }}</subtitle>
	<link href="{{ metadata.feedUrl }}" rel="self"/>
	<link href="{{ metadata.url }}"/>
	<updated>{{ collections.internal | rssLastUpdatedDate }}</updated>
	<id>{{ metadata.url }}</id>
	<author>
		<name>{{ metadata.author.name }}</name>
		<email>{{ global.mediaEmail }}</email>
	</author>
	{%- for post in collections.internal %}
	{% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
	<entry>
		<title>{{ post.data.postTitle }}</title>
		<link href="{{ absolutePostUrl }}"/>
		<updated>{{ post.date | rssDate }}</updated>
		<id>{{ absolutePostUrl }}</id>
		<content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
	</entry>
	{%- endfor %}
</feed>