---
layout: release.liquid
metaTitle: OneQode Sponsors Guam Middle School Esports Team • Press Release
metaDescription: OneQode is proud to announce its sponsorship of the Bishop Baumgartner Memorial Catholic School Obispos esports team.
ogImage: obispos.png
changefreq: never
priority: 0.4
tags: internal
postType: Press Release
postTitle: OneQode Sponsors Guam Middle School Esports Team
date: 2022-01-31
mediaContact: Matthew Shearing, Chief Executive Officer
---
<style>
	.hero {
		background-size: cover !important;
		background-position: center center !important;
	}
	.no-webp .hero {
		background: linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/obispos.jpg");
	}
	.webp .hero {
		background: linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/obispos.webp");
	}
</style>
<p><strong>Guam, {{ date | readableDate }}</strong>
<p>OneQode is proud to announce its sponsorship of the Bishop Baumgartner Memorial Catholic School (<a href="http://bbmcs.org/">BBMCS</a>) Obispos esports team.</p>
<div class="callout col-xs-12 p-2 my-2" id="key-facts">
	<h2>Key facts</h2>
	<ul>
		<li>OneQode is sponsoring a team of under 15s currently competing in a variety of esports titles.</li>
		<li>OneQode hopes to support the grassroots development of esports in Guam.</li>
	</ul>
</div>
<p>The team of under 15s currently focus on League of Legends, TeamFight Tactics, and Valorant.</p>
<figure>
	<picture>
		<img src="/img/media/obispos-logo.png" alt="The Bishop Baumgartner Memorial Catholic School Obispos esports team logo">
	</picture>
	<figcaption>The Obispos esports team logo</figcaption>
</figure>
<p>“When I was a kid in school and playing games competitively, we didn’t have the kind of support that the school and Mr Cajigal are giving their students,” says Matt Shearing, OneQode CEO. “I’m incredibly excited for the opportunities we can help provide the next generation of gamers in Guam.”</p>
<p>Supporting the development of the esports landscape in Guam is an important part of local outreach to a key location for OneQode.</p>
<p>“We wanted to provide for the community and enhance the esports experience in Guam,” says Austin Guidry, Growth Officer at OneQode.</p>
<p>As they grow, the team is hoping to expand into new games such as CS:GO, Minecraft, and Rocket League.</p>
<div class="wrapper">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/Y41CRUH5nR0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<figcaption>BBMCS' first Valorant scrimmage match against UOG Triton Esports. Post-game, Obispos were given this pep talk by Coach Leverage of the UOG team.</figcaption>
<p>“The sponsorship was the best thing that happened to us, it gives us the motivation to expand beyond the original nine players. We want to lead our island in the new generation of interscholastic sports, once we&#39;ve proven that esports is a great option for kids, we will not stop proving that ‘the new norm’ is a good thing.” says Austin Cajigal, Coach of the Obispos Team.</p>
<p>OneQode looks forward to seeing the Obispos team grow as competitors.</p>
<figure>
	<picture>
		<source srcset="/img/media/obispos-shirt.webp" type="image/webp">
		<img src="/img/media/obispos-shirt.jpg" alt="The Obispos esports team shirt">
	</picture>
	<figcaption>The team shirt</figcaption>
</figure>
<h2 class="mt-4">About OneQode</h2>
<p>OneQode is a global infrastructure as a service (IaaS) company operating a latency-optimized international carrier network and high-performance cloud platform designed for the demands of real-time applications and competitive gaming.</p>
<p><strong>Contact details</strong></p>
<p>OneQode press inquiries: <a href="mailto:media@oneqode.com.au" target="_blank">media@oneqode.com.au</a></p>
<p>General BBMCS inquiries: <a href="mailto:info@bbmcs.org" target="_blank">info@bbmcs.org</a></p>
<div class="text-center my-4">
	<h3>Guam is APAC Central<mark class="dot">.</mark></h3>
	<p>OneQode operates Asia-Pacific’s newest server region in Guam, unlocking cross-regional gaming for millions of gamers.</p>
	<a href="/locations/guam/" class="button ghost mt-1">Guam Servers</a>
</div>