---
layout: release.liquid
metaTitle: OneQode signs MOU with Cocos • Announcement
metaDescription: OneQode announces signs a Memorandum of Understanding with Cocos, a game engine provider and marketplace for developers
ogImage: oneqode-cocos-partnership.jpg
changefreq: never
priority: 0.4
tags: internal
postType: Announcement
postTitle: OneQode and Cocos sign memorandum of understanding
date: 2022-07-04
mediaContact: Joe Swinn, Chief Marketing Officer
---
<style>
	.hero {
		background-size: cover !important;
		background-position: center center !important;
	}
	.no-webp .hero {
		background: radial-gradient(circle at bottom, transparent 55%, #000), linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/cocos-pr-hero.jpg");
	}
	.webp .hero {
		background: radial-gradient(circle at bottom, transparent 55%, #000), linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/cocos-pr-hero.webp");
	}
	#key-facts {
		background: #333;
		border-radius: 15px;
	}
	@media screen and (min-width: 64em) {
		/* Keyfacts */
		#key-facts {
			background: #17181C;
		}
	}
	#key-facts li {
		margin-bottom: 1rem;
	}
	#key-facts:last-child {
		margin-bottom: 0;
	}
</style>
</style>
<p><strong>Brisbane, {{ date | readableDate }}</strong>
<p>OneQode has signed a Memorandum of Understanding with YAJI Software, creators of the Cocos Engine.
</p>
<div class="callout col-xs-12 p-2 my-2" id="key-facts">
	<h2>Key facts</h2>
	<ul>
		<li>OneQode has signed a Memorandum of Understanding with China-based YAJI Software, the team behind the Cocos Engine and Cocos2d-x.</li>
		<li>Cocos2d-x is the world’s most popular open source engine engine framework.</li>
		<li>The OneQode network will be available through the Cocos Marketplace, allowing OneQode to provide a frictionless experience for developers on the platform.</li>
	</ul>
</div>
<p>The agreement will place OneQode’s network offering in the Cocos Marketplace, giving developers using the engine direct access to OneQode’s high performance network.</p>
<p><a href="https://www.cocos.com/" target="_blank">Cocos</a> will be able to expand its service by partnering with OneQode, providing OneQode’s high-performance cloud and network capability to its 1.4 million registered developers and 1.6 billion gamers.</p>
<figure>
	<picture>
		<source srcset="/img/media/oneqode-cocos-partnership.webp" type="image/webp">
		<img class="my-4 opaque" src="img/og/oneqode-cocos-partnership.jpg" alt="The OneQode and Cocos logos side by side.">
	</picture>
</figure>
<p>“With Cocos’ reach in the market, OneQode is ready to bring our high-end server infrastructure to a wider range of developers through the Cocos platform,” says Eric Yip, Executive Vice President at OneQode.</p>
<p>OneQode will bring high-quality infrastructure to Cocos’ network of primarily mobile developers. </p>
<p>Games powered through the OneQode network on the Cocos Marketplace will be able to reach a broader global userbase than ever before.</p>
<p>“By partnering with OneQode our network of talented developers will be able to get their games in the hands of more players than ever before,” says a person from Cocos hopefully.</p>
<p>Using both Cocos’ engine and OneQode's network will allow developers to deliver a seamless experience across their titles.</p>