---
layout: release.liquid
section: 
metaTitle: OneQode Signs Memorandum of Understanding With TY Solution • Press Release
metaDescription: OneQode announces signs a Memorandum of Understanding with TY Solution, an international IT service provider that provides enterprise solutions.
ogImage: OneQode-pldt-partner.png
changefreq: never
priority: 0.4
tags: internal
postType: Press Release
postTitle: OneQode Signs Memorandum of Understanding With TY Solution
date: 2022-07-22
mediaContact: Eric Yip, Executive Vice President
lazyLoadVideo: true
---
<style>
	.hero {
		background-size: 80% !important;
		background-position: center center !important;
	}
	.no-webp .hero {
		background: radial-gradient(circle at bottom, transparent 55%, #000), linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/ty-solutions-mou-hero.jpg");
	}
	.webp .hero {
		background: radial-gradient(circle at bottom, transparent 55%, #000), linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/ty-solutions-mou-hero.webp");
	}
	#key-facts {
		background: #333;
		border-radius: 15px;
	}
	@media screen and (min-width: 64em) {
		/* Keyfacts */
		#key-facts {
			background: #17181C;
		}
	}
	#key-facts li {
		margin-bottom: 1rem;
	}
	#key-facts:last-child {
		margin-bottom: 0;
	}
</style>
<p><strong>Brisbane, {{ date | readableDate }}</strong>
<p>OneQode and TY Solution have signed a memorandum of understanding, aiming to become strategic partners for expansion across Asia and beyond.</p>
<div class="callout col-xs-12 p-2 my-2" id="key-facts">
	<h2>Key facts</h2>
		<ul>
			<li>OneQode has signed a memorandum of understanding with TY Solution, a leading international ICT service provider in APEC.</li>
			<li>TY Solution will be expanding its service offering by partnering with OneQode, leveraging OneQode’s cloud to connect their userbase to the world.</li>
			<li>OneQode aims to grow its footprint by connecting with the respected TY Solution and providing their customers with high-quality infrastructure.</li>
		</ul>
</div>
<p>TY Solution and OneQode are excited to work together to bring more powerful infrastructure to users across the Asian market. </p>
<p>In accordance with the agreement, OneQode will be providing cloud infrastructure to bolster TY Solution’s product offering as they expand globally.</p>
<p>“TY Solution will be an important partner for OneQode with their strong reputation in the sector, and we’re excited to bring our advanced cloud compute to their product offering,” says Matt Shearing, OneQode CEO.</p>
<p>By partnering with OneQode’s TY Solution will be able to provide customers with designed for high-performance, top-of-the-line cloud capacity.</p>
<p>“TY Solution wants the best for our customers, and as we expand into new markets we need to keep our offering as robust as possible. With OneQode as a channel partner, we are excited to bring the next generation of interconnected experiences to our customers at the highest fidelity,” says <strong>SUBJECT TO TY SOLUTION APPROVAL</strong> / PROVIDING ALTERNATIVE QUOTE.</p>
<p>In the future OneQode and TY Solution hope this cooperation will deepen to offer state of the art cloud compute to consumers across Asia-Pacific and beyond.</p>
<h2 class="mt-4">About OneQode</h2>
<p>OneQode is a global infrastructure as a service (IaaS) company operating a latency-optimised international carrier network and <a href='https://oq.swinn.dev/cloud/'>high-performance cloud platform</a> designed for the demands of real-time applications and competitive gaming.</p>
<h2 class="mt-4">About TY Solution:</h2>
<p>TY Solution is an international IT service provider that provides enterprises with solutions including cloud computing, international data centers, IT hardware and software, and weak electricity, including products and operation and maintenance services.</p>