---
layout: release.liquid
section: gaming
metaTitle: OneQode™ Acquires PacificES • Press Release
metaDescription: OneQode announces its acquisition of PacificES, a game server provider for competitive gaming.
ogImage: pacifices.jpg
changefreq: never
priority: 0.4
tags: internal
postType: Press Release
postTitle: OneQode Acquires PacificES
date: 2022-03-29
mediaContact: Matthew Shearing, Chief Executive Officer
lazyLoadVideo: true
---
<style>
	.hero {
		background-size: cover !important;
		background-position: center center !important;
	}
	.no-webp .hero {
		background: linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/pes-acquisition.jpg");
	}
	.webp .hero {
		background: linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/pes-acquisition.webp");
	}
</style>
<p><strong>Brisbane, {{ date | readableDate }}</strong>
<p>Today OneQode announces its acquisition of game server provider <a href="https://www.pacifices.net/" target="_blank">PacificES</a>.</p>
<div class="callout col-xs-12 p-2 my-2" id="key-facts">
	<h2>Key facts</h2>
	<ul>
		<li>OneQode has acquired PacificES, which provides servers for games in Australia primarily for the professional Counter-Strike: Global Offensive community.</li>
		<li>PacificES has become a OneQode brand, bringing the strengths of the OneQode network to the PacificES userbase.</li>
		<li>PacificES’s team are remaining involved following the acquisition.</li>
	</ul>
</div>
<p>PacificES provides a platform for reliable and performant cloud gaming instances predominantly focused on Counter-Strike: Global Offensive.</p>
<a href="https://oneqode.sfo2.digitaloceanspaces.com/images/pacifices-website-homepage-highres.jpg" target="_blank">
	<figure>
		<picture>
			<source srcset="/img/media/pacifices-website-homepage.webp" type="image/webp">
			<img src="/img/media/pacifices-website-homepage.png" alt="Stylised image of the PacificES’ website homepage with their logo superimposed">
		</picture>
	</figure>
</a>
<p>Through the acquisition, OneQode acquires a powerful platform that enables end-users to spin up high-performance cloud game servers with ease and simplicity.</p>
<p>PacificES customers will have their servers augmented by the OneQode network, increasing speed and decreasing latency. By joining OneQode, the PacificES platform will also expand its footprint across Asia-Pacific.</p>
<p>The <a href="https://pacifices.cloud" target="_blank">PacificES cloud platform</a> provides a powerful addition to the <a href="/cloud/">OneQode Gaming Cloud</a> portfolio. With it, studios will be able to integrate community server functionality directly into their games, while retaining ultimate control over their IP.</p>
<p>“OneQode is passionate about returning community server functionality to games,” says Matt Shearing, OneQode CEO. “Acquiring PacificES allows us to provide game developers with a way to increase community engagement and revenue potential, and ultimately, make their games last longer.”</p>
<p>In future, OneQode also hopes to assist <a href="/esports/">tournament organisers</a> and gaming organisations in running esports-specific implementations of the PacificES technology on the OneQode platform.</p>
<p>“By teaming up with OneQode, PacificES is ready to make awesome, more awesome. Our strengths align to create something that’s greater than the sum of its parts, and I’m excited to see where it goes,” says Brendon Gough, founder of PacificES, on the acquisition.</p>
<figure>
	<video
		class="lazy"
		poster="/img/media/pacifices-cloud-csgo-server-creation-process.jpg"
		aria-label="The PacificES CS:GO cloud game server creation process"
		width="800"
		height="656"
		autoplay muted loop playsinline disableRemotePlayback
	>
		<source
			data-src="https://oneqode.sfo2.digitaloceanspaces.com/videos/pacifices-cloud-csgo-server-creation-process.mp4"
			type="video/mp4"
		>
	</video>
	<figcaption>The PacificES CS:GO cloud game server creation process</figcaption>
</figure>
<h2 class="mt-4">About OneQode</h2>
<p>OneQode is a global infrastructure as a service (IaaS) company operating a latency-optimised international carrier network and high-performance cloud platform designed for the demands of real-time applications and competitive gaming.</p>