---
layout: release.liquid
section: 
metaTitle: Oracle and OneQode announce partnership • Press Release
metaDescription: Oracle and OneQode partner to deliver integrated solutions to Asia-Pacific enterprise
ogImage: OneQode-pldt-partner.png
changefreq: never
priority: 0.4
tags: internal
postType: Press Release
postTitle: OneQode partners with Oracle
date: 2022-09-30
mediaContact: Matthew Shearing, Chief Executive Officer
lazyLoadVideo: true
---
<style>
	.hero {
		background-size: cover !important;
		background-position: center center !important;
	}
	.no-webp .hero {
		background: radial-gradient(circle at bottom, transparent 55%, #000), linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/pldt-mou-hero.jpg");
	}
	.webp .hero {
		background: radial-gradient(circle at bottom, transparent 55%, #000), linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/pldt-mou-hero.webp");
	}
	#key-facts {
		background: #333;
		border-radius: 15px;
	}
	@media screen and (min-width: 64em) {
		/* Keyfacts */
		#key-facts {
			background: #17181C;
		}
	}
	#key-facts li {
		margin-bottom: 1rem;
	}
	#key-facts:last-child {
		margin-bottom: 0;
	}
</style>
<p><strong>Brisbane, {{ date | readableDate }}</strong>
<p>OneQode & Oracle are proud to announce our partnership for high-performance infrastructure across Asia-Pacific and beyond</p>
<div class="callout col-xs-12 p-2 my-2" id="key-facts">
	<h2>Key facts</h2>
	<ul>
		<li>OneQode and Oracle are partnering to develop integrated cloud solutions for Asia-Pacific and beyond.</li>
		<li>Oracle will be able to integrate APAC Central into its broader product offering, allowing for region wide approaches.</li>
		<li>OneQode’s high-performance latency optimised cloud compute along with Oracle&#39;s enterprise cloud will set a new high standard for latency and connectivity across APAC.</li>
	</ul>
</div>
<p>The partnership is poised to set a new regional standard for cloud computing across the region. </p>
<a href="https://oneqode.sfo2.digitaloceanspaces.com/images/oneqode-mou-signing-2.jpg" rel="noopener">
	<figure>
		<picture>
			<source srcset="/img/media/oneqode-mou-signing-2-lowres.webp" type="image/webp">
			<img class="my-2" src="/img/media/oneqode-mou-signing-2-lowres.jpg" alt="OneQode PLDT MOU signing ceremony at CommunicAsia 2022. From left to right are Victor Genuino II, President and CEO of ePLDT, Albert Villa-Real, President and CEO of PLDT Global, Ben Cooper, Chief Architect at OneQode, and Lay Khuan Soh, Head of Carrier at OneQode">
		</picture>
	</figure>
</a>
<p>Both OneQode and Oracle see gaming as the key first step and are excited to tackle all aspects of a highly connected future together.</p>
<p>“I’m incredibly excited. Oracle has a global footprint and a significant pedigree. They’ve got a proven track record as an excellent partner. We see it as a 1+1=3 moment that allows us to give offerings to customers that they won’t be able to get anywhere else,” said Matt Shearing, OneQode CEO. “Ultimately they [the customers] will be the real winners.”</p>
<p>OneQode is hopeful for further integration into the Oracle ecosystem to provide our industry-leading latency-optimised cloud to enterprise customers for all purposes.</p>
<p>“By leveraging OneQode’s presence in APAC, Oracle will be able to bolster their offering for cross-region solutions,” said Ben Cooper, OneQode Chief Product Officer.</p>
<p>This partnership is part of a strategic push to offer the highest quality enterprise cloud offerings across business use cases, beginning with a focus on gaming before branching into other areas. </p>
<p>“With OneQode’s unique cloud we’ll be able to offer industry-leading latency-optimised solutions to our wide customer base,” says [Oracle spokesperson] “the current level of integration is an exciting first step.”</p>
<h2 class="mt-4">About OneQode</h2>
<p>OneQode is a global infrastructure as a service (IaaS) company operating a latency-optimised international carrier network and <a href="/cloud/">high-performance cloud platform</a> designed for the demands of real-time applications and competitive gaming.</p>
<h2 class="mt-4">About Oracle</h2>
<p>PLDT Global Corporation (PGC), the international arm of the Philippines’ largest integrated telco network PLDT Inc., is a technology services company that provides high-quality communications infrastructure and innovative platforms to its network of carriers, enterprise customers, and distribution partners enabling them to achieve their desired connectivity, reach, and market relevance.</p>