---
layout: post.liquid
section: business
metaTitle: OneQode’s Guam Gaming Hub Ready for Action • Press Release
metaDescription: For the very first time, gamers in the APAC region have a level playing field for international gaming, with the hub connected at low latency via high-capacity undersea fibre.
ogImage: guam-gaming-hub.jpg
changefreq: never
priority: 0.4
tags: internal
postType: Press Release
postTitle: OneQode’s Guam Gaming Hub Ready for Action
date: 2021-03-11
mediaContact: Matthew Shearing, Chief Executive Officer
---
<style>
	@media only screen and (min-width: 48em) {
		.hero {
			background-size: cover !important;
			background-position: center center !important;
		}
		.no-webp .hero {
			background: url("../../img/bg/guam-gaming-hub.jpg");
		}
		.webp .hero {
			background: url("../../img/bg/guam-gaming-hub.webp");
		}
	}
	.pdf-link a {
		text-decoration: none;
		color: #999;
		display: block;
	}
	.gaming p.pdf {
		color: #00a8e4;
	}
	.gaming:hover p.pdf {
		color: #00b0f0;
	}
</style>
<p><strong>MEDIA RELEASE</strong></p>
<p><strong>Guam, Thursday 11 March 2021</strong></p>
<p>OneQode is thrilled to announce that its <a href="/about/guam/">Gaming Hub in Guam</a> is now open for business, offering a brand-new latency-neutral game server location in the heart of Asia-Pacific.</p>
<p>For the very first time, gamers in the APAC region have a level playing field for international gaming, with the Guam Hub connected to the surrounding nations at low latency via high-capacity undersea fibre.</p>
<p>Thanks to the Hub, game publishers, developers, and server providers have access to dedicated server capacity and co-location facilities on the unique island of Guam.</p>
<h2>Guam: a solution to the inter-regional gameplay problem</h2>
<p>Gaming in Asia-Pacific has long been at the mercy of latency. Gamers have been forced to either play local on hyper-regionalised servers or put up with a jittery international experience.</p>
<p>The issue is predominantly geographical. Because of the dispersed nature of the population and the complexities of subsea networks, the challenge for many server providers has been locating a neutral ‘hub’ location which ticks all the boxes to serve the massive regional population.</p>
<p>OneQode, the first provider to operate on the <a href="/media/oneqode-fastest-path-to-asia/">fastest submarine fibre cable to Asia</a> from Australia's east coast, built the Guam Gaming Hub on the US territory of Guam to provide low-latency game servers for the regions gamers.</p>
<p>From Guam, OneQode's international network can reach between 3 and 5 billion people with under 100ms of latency - the sweet spot for most online games.</p>
<a href="https://oneqode.sfo2.digitaloceanspaces.com/maps/guam/oneqode-guam-game-hub-latency.png" target="_blank" rel="noopener" target="_blank">
	<picture>
		<source srcset="/img/media/oneqode-guam-game-hub-latency.webp" type="image/webp">
		<img src="/img/media/oneqode-guam-game-hub-latency.jpg" alt="Latency Map to OneQode’s Guam Gaming Hub">
	</picture>
</a>
<p>Because the Hub is roughly equidistant from surrounding nations, players can now meet on the same digital terms - whether they're located in China, Japan, India or Australia.</p>
<p>For Ben Cooper, Chief Product Officer at OneQode, this has been a long time coming:</p>
<blockquote>
	<p>“I began to work on the Guam hub concept in 2016. The goal was to find a place with the best latency to as many people as possible. Much easier said than done - but thanks to the team alongside me at OneQode, our carrier partners and RTI, Guam is finally ready to act as a gaming hub. We’re really excited to share this with the world and change gaming in the Asia-Pacific region, for good.”</p>
</blockquote>
<h2>A latency optimised network</h2>
<p>OneQode's Gaming Hub is the culmination of a major international deployment and plugs directly into a backbone purpose-built to provide a premium, low-latency experience across the board. Boasting several core routing locations throughout Asia-Pacific, the OneQode network is fed by high-capacity submarine links and integrates with many of the largest local providers in each location.</p>
<p>By making a concerted effort to get as close to end-users as possible, the network prioritises user experience over lowest-cost paths. It also leverages OneQode's proprietary, software-defined core routing equipment and heavy-duty DDoS filters and scrubbers, providing resiliency and reliability.</p>
<p>The result? Accessible, latency-focused services on a network obsessively built to get packets where they need to go as quickly (and securely) as possible.</p>
<h2>Benefits for developers and publishers</h2>
<p>For those looking to take advantage of the Gaming Hub opportunity, the benefits are significant. Developers and publishers can solve their server population issue by removing the need for large amounts of regional gaming servers. Instead, operators can now headquarter their operations in the Hub and allow the approximately 1.5B gamers in APAC to connect in one homogenised location. </p>
<a href="https://oneqode.sfo2.digitaloceanspaces.com/maps/guam/oneqode-guam-game-hub-network.png" target="_blank" rel="noopener" target="_blank">
	<picture>
		<source srcset="/img/media/oneqode-guam-game-hub-network.webp" type="image/webp">
		<img src="/img/media/oneqode-guam-game-hub-network.jpg" alt="Map of Countries Connected to OneQode’s Guam Gaming Hub">
	</picture>
</a>
<p>Infrastructure costs can also be significantly reduced. Because deployment in many disparate regions is no longer necessary, businesses can access the world's largest gaming market cheaper and easier than ever. Further, OneQode's carrier network engineers handle network-related tasks directly, so companies get world-class network expertise by default.</p>
<h2>Benefits for gamers</h2>
<p>Finally (and most importantly), users can connect from many areas that were previously underserved. For example, gamers on Australia's east coast can now connect to their counterparts in Asia at latencies as low as 63 milliseconds - more than halving the typical latency to Asian servers. This is borne out in many other locations around APAC.</p>
<h2>Open for business</h2>
<p>OneQode's Gaming Hub is open for business now. Several eSports tournaments are also in the works with a league to follow later in the year.</p>
<p>OneQode's international network footprint is also expanding and the team are working hard to connect directly in more locations over the next six months. This will mean latency will continue to drop as new routes come online.
</p>
<p><strong>Connectivity in Asia-Pacific is levelling up and everyone's invited. Come change the game with us.</strong></p>
<div class="text-center my-4">
	<h3>Business Enquiries</h3>
	<p>For companies looking to take advantage of the unique opportunity presented by OneQode's gaming hub, get in touch directly.</p>
	<a href="/business/contact/" class="button ghost mt-1">Contact Us</a>
</div>
<div class="row my-2 pdf-link">
	<div class="col-xs-12 mb-1">
		<a href="https://oneqode.sfo2.digitaloceanspaces.com/documents/oneqode-for-game-developers-publishers-and-server-providers.pdf" target="_blank" rel="noopener" title="OneQode™ for Gaming &amp; eSports Organisations">
			<div class="box glowing gaming">
				<p class="my-1 pdf">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" id="file" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0H4zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z"></path>
					</svg>
					 View PDF
				</p>
				<h3 class="mb-1">Gaming &amp; eSports Industry</h3>
				<h2 class="mb-0">Low-latency gaming<mark class="dot">.</mark></h2>
				<p>Our value proposition for game developers, publishers and server providers</p>
			</div>
		</a>
	</div>
</div>
<p>For our business and wholesale services which leverage the unique OneQode network, you can find more information on our website.</p>
<p><a href="https://www.linkedin.com/company/oneqode/" rel="noopener" target="_blank">Follow us on LinkedIn</a> for further updates in the coming weeks.</p>