---
layout: release.liquid
metaTitle: OneQode Signs MOU with Cocos • Announcement
metaDescription: OneQode announces the signing of a Memorandum of Understanding with Cocos, a game engine provider and marketplace for developers
ogImage: oneqode-cocos-partnership.jpg
changefreq: never
priority: 0.4
tags: internal
postType: Press Release
postTitle: OneQode and Cocos Sign Memorandum of Understanding
date: 2022-07-07
mediaContact: Joe Swinn, Chief Marketing Officer
---
<style>
	.hero {
		background-size: cover !important;
		background-position: center center !important;
	}
	.no-webp .hero {
		background: radial-gradient(circle at bottom, transparent 55%, #000), linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/cocos-pr-hero.jpg");
	}
	.webp .hero {
		background: radial-gradient(circle at bottom, transparent 55%, #000), linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/cocos-pr-hero.webp");
	}
</style>
</style>
<p><strong>Brisbane, {{ date | readableDate }}</strong>
<p>OneQode has signed a Memorandum of Understanding with YAJI Software, creators of the Cocos Engine.
</p>
<div class="callout col-xs-12 p-2 my-2" id="key-facts">
	<h2>Key facts</h2>
	<ul>
		<li>OneQode has signed a Memorandum of Understanding with China-based YAJI Software, the team behind the Cocos Engine and Cocos2d-x.</li>
		<li>Cocos2d-x is one of the world’s most popular open source engines.</li>
		<li>The OneQode cloud platform will be available through the Cocos Marketplace, allowing OneQode to provide a frictionless experience for developers using the Cocos Engine.</li>
	</ul>
</div>
<p>The agreement will place OneQode’s cloud offering in the Cocos Marketplace, giving developers using the engine direct access to OneQode’s high-performance compute and latency-optimized network.</p>
<p><a href="https://www.cocos.com/" target="_blank">Cocos</a> will be able to expand its service by partnering with OneQode, providing OneQode’s cloud and network capability to its 1.4 million registered developers and 1.6 billion gamers.</p>
<figure>
	<picture>
		<source srcset="/img/media/oneqode-cocos-partnership.webp" type="image/webp">
		<img class="my-4 opaque" src="/img/og/oneqode-cocos-partnership.jpg" alt="The OneQode and Cocos logos side by side.">
	</picture>
</figure>
<p>“With Cocos’ reach in the market, OneQode is ready to bring our high-end cloud infrastructure to a wider range of developers through the Cocos platform,” says Eric Yip, Executive Vice President at OneQode.</p>
<p>Cocos’ provides industry standard tools for its network of primarily mobile developers. </p>
<p>Games powered by OneQode on the Cocos Marketplace will be able to reach a broader global userbase, serve more concurrent users, and give players a smoother experience than currently possible with existing providers.</p>
<p>“With the expansive reach of OneQode's global cloud and network infrastructure, our network of talented developers hosting their games on the low latency high performance platform will put their game in the hands of more players than ever before,” says Luke Stapley, Overseas Marketing Director at Cocos.</p>
<p>Using Cocos’ engine and OneQode's cloud, developers will be able to deliver a superior experience across their titles.</p>
<h2 class="mt-4">About OneQode</h2>
<p>OneQode is a global infrastructure as a service (IaaS) company operating a latency-optimized international carrier network and <a href="/cloud/">high-performance cloud platform</a> designed for the demands of real-time applications and competitive gaming.</p>
<h2 class="mt-4">About Cocos Engine</h2>
<p>Founded in Xiamen, China on December 30, 2011, YAJI Software, the official team of Cocos Engine, has independently developed a series products, including the second generation game engine “Cocos Creator”, and the world's most popular open source engine framework “Cocos2d-x”, relying on its profound technical background and years experience in the Game Industry.<p>
<p>Cocos effectively enables developers to create games for all major platforms, including iOS, Android, Facebook Instant Games, WeChat Mini Games, HTML5 as well as desktop platforms.</p>