---
layout: post.liquid
metaTitle: OneQode Delivers Fastest Path to Asia from Australia’s East Coast • Press Release
metaDescription: RTI and OneQode jointly announce today that international layer-2 carrier connectivity is now active from the Sunshine Coast, Queensland
ogImage: rti-map.jpg
changefreq: never
priority: 0.4
tags: internal
postType: Press Release
postTitle: OneQode Delivers Fastest Path to Asia from Australia’s East Coast
date: 2021-01-19
mediaContact: Matthew Shearing, Chief Executive Officer
---
<style>
	@media only screen and (min-width: 48em) {
		.hero {
			background-size: cover !important;
			background-position: bottom center !important;
		}
		.no-webp .hero {
			background: url("../../img/bg/rti-cable-map.jpg");
		}
		.webp .hero {
			background: url("../../img/bg/rti-cable-map.webp");
		}
	}
</style>
<p><strong>MEDIA RELEASE</strong></p>
<p class="subheading">Global connectivity brings security and diversity</p>
<p>Singapore and Sunshine Coast, 15 January 2021 – <a href="https://www.rticable.com/" rel="noopener">RTI Connectivity Pte. Ltd</a>. (RTI) and the <a href="/">OneQode Group</a> (OneQode) jointly announce today that international layer-2 carrier connectivity is now active from the Sunshine Coast, Queensland.</p>
<p>Today’s announcement celebrates the successful activation of OneQode’s international connectivity over the RTI sub-sea network. Through their construction of the JGA-S, JGA-N and SEA-US cables, RTI has created an enviable sub-sea cable network with the goal of connecting the wider APAC region. That mission included a high-capacity fibre branch terminating in Maroochydore, Queensland – and it is this branch which OneQode is now leveraging to provide unparalleled connectivity to people in Queensland.</p>
<p>Russ Matulich, RTI’s Founder and CEO said <blockquote>“The Sunshine Coast and wider Queensland area is home to many companies doing amazing things. RTI is passionate about unlocking latent potential in regions we connect our cables to, and we believe there’s an incredible amount of potential here. Connecting Queensland to the world will remove the region’s dependency on other capital cities and allow people to do business like never before.”</blockquote></p>
<a href="https://oneqode.sfo2.digitaloceanspaces.com/rti-cable-apac-map.jpg" target="_blank" rel="nofollow,noopener">
	<picture>
		<source srcset="../../img/media/rti-cable-apac-map.webp" type="image/webp">
		<img src="../../img/media/rti-cable-apac-map.jpg" alt="OneQode Network Map">
	</picture>
</a>
<p style="font-size: 75%">Image: <span style="color: #949494">RTI</p>
<p>Matthew Shearing, OneQode’s CEO sees this as the beginning of a new era in the Sunshine State.</p>
<blockquote>
	<p>“Building a next-gen international carrier network is a critical step in enabling everyone in Australia to participate in the digital economy of tomorrow. Queenslanders have been underserved for a long time – this means that the 5 million plus residents in the region will soon be able to access the connectivity they deserve, including the fastest route from here to Asia.</p>
	<p>This wouldn’t be possible, however, without the foresight of everyone involved. The Queensland Government, RTI, Sunshine Coast Council and everyone else associated with the cable project are to be commended for building such an important project for the future. This investment in the region will provide benefits for years to come.”</p>
</blockquote>
<p>With a direct link back to Brisbane active and a robust network of international Points of Presence, OneQode is now ready to provide <a href="/business/ethernet/">international enterprise and business connectivity</a> from Australia to Asia, the United States and beyond. The international network will also power its <a href="/about/guam/">Gaming Hub in Guam</a> (a latency-neutral hub serving approximately 1.5 billion gamers throughout APAC) and its <a href="/internet/">last-mile broadband network</a> now deploying throughout South-East Queensland.</p>
<p>For RTI, this is only the beginning. “We’re committed to our mission of revolutionising global connectivity by building the infrastructure APAC needs for the next several decades,” says Mr Matulich. “We’ll continue to deliver network diversity, neutral connectivity and operational efficiency across all telecom sectors and to customers searching for true value.”</p>
<p><strong>RTI Enquiries, Shota Masuda <a href="mailto:smasuda@rticable.com" target="_blank">smasuda@rticable.com</a></strong></p>
<p><strong>OneQode Enquiries, Matthew Shearing <a href="mailto:matt@oneqode.com.au" target="_blank">matt@oneqode.com.au</a></strong></p>