---
layout: release.liquid
section: 
metaTitle: OneQode™ Signs Memorandum of Understanding With PLDT Global • Press Release
metaDescription: OneQode announces signs a Memorandum of Understanding with PLDT Global, the largest telecommunications company in the Philippines.
ogImage: OneQode-pldt-partner.png
changefreq: never
priority: 0.4
tags: internal
postType: Press Release
postTitle: OneQode Signs Memorandum of Understanding With PLDT Global
date: 2022-06-02
mediaContact: Matthew Shearing, Chief Executive Officer
lazyLoadVideo: true
---
<style>
	.hero {
		background-size: cover !important;
		background-position: center center !important;
	}
	.no-webp .hero {
		background: radial-gradient(circle at bottom, transparent 55%, #000), linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/pldt-mou-hero.jpg");
	}
	.webp .hero {
		background: radial-gradient(circle at bottom, transparent 55%, #000), linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/pldt-mou-hero.webp");
	}
	#key-facts {
		background: #333;
		border-radius: 15px;
	}
	@media screen and (min-width: 64em) {
		/* Keyfacts */
		#key-facts {
			background: #17181C;
		}
	}
	#key-facts li {
		margin-bottom: 1rem;
	}
	#key-facts:last-child {
		margin-bottom: 0;
	}
</style>
<p><strong>Singapore, {{ date | readableDate }}</strong>
<p>Today OneQode and PLDT signed a memorandum of understanding at CommunicAsia 2022.</p>
<div class="callout col-xs-12 p-2 my-2" id="key-facts">
	<h2>Key facts</h2>
	<ul>
		<li>The memorandum of understanding brings OneQode’s network closer to the Philippines through PLDT.</li>
		<li>Users in the Philippines will soon be able to access OneQode’s network and cloud.</li>
		<li>The Philippines offers the perfect backup route for OneQode’s existing Singaporean presence to reach APAC Central in Guam.</li>
	</ul>
</div>
<p>By signing the memorandum of understanding, PLDT has helped to fast track the deployment of OneQode’s cloud presence in Manila.</p>
	<figure>
		<picture>
			<source srcset="\img\og\oneqode-pldt-partner.webp" type="image/webp">
			<img class="opaque" src="\img\og\OneQode-pldt-partner.png" alt="Stylised image of the PacificES’ website homepage with their logo superimposed">
		</picture>
	</figure>
</a>
<p>Senior members of both teams recognise the countless possibilities of future cooperation.</p>
<p>Jeff Mendoza, APAC Enterprise and Carrier Sales Head at PLDT Global said, “We’re excited to team up with OneQode to deliver unmatched gameplay interactivity and further drive gamer engagement in the region, including in the Philippines.”</p>
<p>With the largest telecommunications company in the Philippines onboard, the high-speed OneQode network is one step closer to all gamers across the Asia Pacific region.</p>
<p>“The Philippines is in a very strategic location for OneQode, and ensure that gamers using PLDT in the Philippines get the best latency to APAC Central,” said OneQode Chief Architect Ben Cooper.</p>
<p>With this announcement from it has never been a better time to be a gamer in the Philippines.</p>
<p>“We are thrilled for this partnership to come to fruition and further elevate the gaming experience for over 43 million active players in the Philippines,” said Albert Villa-Real, PLDT Global </p>
<p>The benefits reach beyond the Philippines. A presence in Manila will also provide existing OneQode users in Singapore with a redundant connection, should disruptions occur between Guam and Singapore.</p>
<p>“By working with PLDT we can put Filipino gamers on the world stage,” said OneQode CEO Matt Shearing.</p>
<h2 class="mt-4">About OneQode</h2>
<p>OneQode is a global infrastructure as a service (IaaS) company operating a latency-optimised international carrier network and high-performance cloud platform designed for the demands of real-time applications and competitive gaming.</p>
<h2 class="mt-4">About PLDT Global</h2>
<p>PLDT is the Philippines’ largest fully integrated telco company. Through its principal business groups — from fixed line to wireless — PLDT offers a wide range of telecommunications and digital services across the Philippines’ most extensive fiber optic backbone, and fixed line and cellular networks.
</p>
<p>PLDT is listed on the Philippine Stock Exchange (PSE:TEL) and its American Depositary Shares are listed on the New York Stock Exchange (NYSE:PHI). PLDT has one of the largest market capitalizations among Philippine — listed companies.</p>
<p>Further information can be obtained by visiting <a href="https://main.pldt.com/" rel="noopener">main.pldt.com</a></p>