---
layout: post.liquid
section: gaming
metaTitle: OneQode’s Guam Gaming Hub Ready for Action • Press Release
metaDescription: Gamers in the APAC region for the first time have a level playing field for international gaming with the low-latency hub connected via high-capacity undersea fibre.
ogImage: guam-gaming-hub.jpg
changefreq: never
priority: 0.4
tags: internal
postType: Press Release
postTitle: OneQode Launches Asia-Pacific Gaming Hub in Guam
date: 2021-03-29
mediaContact: Matthew Shearing, Chief Executive Officer
---
<style>
	@media only screen and (min-width: 48em) {
		.hero {
			background-size: cover !important;
			background-position: center center !important;
		}
		.no-webp .hero {
			background: url("/img/bg/guam-gaming-hub.jpg");
		}
		.webp .hero {
			background: url("/img/bg/guam-gaming-hub.webp");
		}
	}
	.pdf-link a {
		text-decoration: none;
		color: #999;
		display: block;
	}
	.gaming p.pdf {
		color: #00a8e4;
	}
	.gaming:hover p.pdf {
		color: #00b0f0;
	}
</style>
<p><strong>MEDIA RELEASE</strong></p>
<p><strong>Guam, Monday 29 March 2021</strong></p>
<p>Australian telecommunications startup <a href="/">OneQode</a> has launched a world-first gaming hub on the island of Guam as a brand new, latency-neutral server location to connect hundreds of millions of gamers across the Asia-Pacific region.</p>
<p>Until now, because of unbalanced connection latencies between the major gaming hotspots, cross-border intra-regional gameplay has been out of reach for many of the region’s gamers. With Guam located at roughly equal distances from the major surrounding nations and connected via high-capacity undersea fibre, OneQode’s gaming hub creates a level playing field for the region. </p>
<a href="https://oneqode.sfo2.digitaloceanspaces.com/maps/guam/oneqode-guam-game-hub-latency.png" rel="noopener" target="_blank">
	<picture>
		<source srcset="/img/media/oneqode-guam-game-hub-latency.webp" type="image/webp">
		<img src="/img/media/oneqode-guam-game-hub-latency.png" alt="Latency Map to OneQode’s Guam Gaming Hub">
	</picture>
</a>
<p style="font-size: 75%">Latency to Guam from nearby countries <span style="color: #949494">//</span> <a href="https://oneqode.sfo2.digitaloceanspaces.com/maps/guam/oneqode-guam-game-hub-latency-light.png" rel="noopener" target="_blank">Download Light Version</a></p>
<p>The <a href="/guam/">Guam gaming hub</a> creates the possibility of new regional eSports tournaments, in spite of travel restrictions. Gamers from most of the surrounding nations, including China, Japan, Australia, and the Philippines, will now be able to play on a more equal footing, without giving an unfair advantage to any one side, or requiring previously remote players to travel internationally.</p>
<p>For Ben Cooper, OneQode’s Chief Product Officer, this has been a long time coming:</p>
<blockquote>
	<p>“I began to work on the Guam hub concept in 2016. The goal was to find a place with the best latency to as many people as possible. Much easier said than done - but thanks to the team alongside me at OneQode, our carrier partners and RTI Cable, Guam is finally ready to act as a gaming hub. We’re excited to share this with the world and change gaming in the Asia-Pacific region for good.”</p>
</blockquote>
<p>The Guam gaming hub is the culmination of a major international deployment for OneQode, who were the first provider to operate on the fastest submarine cable to Asia from Australia’s east coast. It plugs directly into OneQode’s low-latency network, purpose-built to provide a premium connectivity experience. Boasting several core routing locations throughout Asia-Pacific, the network is fed by high-capacity submarine links and integrates with many of the largest local providers in each location.</p>
<p>Thanks to the Hub, game publishers, developers and server providers can now access dedicated server capacity and co-location facilities on the unique island of Guam, and gamers from across the region will be able to play together at lower latencies than ever before.</p>
<p>OneQode are now accepting orders for Hub deployments. Several APAC eSports tournaments are in the works with a league to follow later in the year.</p>
<p><strong>Stay tuned.</strong></p>
<div class="text-center my-4">
	<h3>Business Enquiries</h3>
	<p>Are you looking to take advantage of the unique Guam game server opportunity? Get in touch with us directly.</p>
	<a href="/business/contact/" class="button ghost mt-1">Contact Us</a>
</div>
<div class="row my-2 pdf-link">
	<div class="col-xs-12 mb-1">
		<a href="/game-servers/" title="Game Servers for Gaming &amp; eSports Organisations">
			<div class="box glowing gaming">
				<h3 class="my-1">Gaming &amp; eSports Industry</h3>
				<h2 class="mb-0">Low-latency gaming<mark class="dot">.</mark></h2>
				<p>Our value proposition for game developers, publishers and server providers</p>
			</div>
		</a>
	</div>
</div>