---
layout: release.liquid
metaTitle: Australia’s Newest Carrier Lands in the Sunshine State • Press Release
metaDescription: OneQode™ is ready to launch its digital services from the Sunshine Coast direct to its Brisbane CBD Points of Presence.
changefreq: never
ogImage: scls.jpg
priority: 0.4
tags: internal
postType: Press Release
postTitle: Australia’s Newest Carrier Lands in the Sunshine State
date: 2020-07-22
mediaContact: Matthew Shearing, Chief Executive Officer
---
<style>
	@media only screen and (min-width: 48em) {
		.hero {
			background-size: cover !important;
			background-position: bottom center !important;
		}
		.no-webp .hero {
			background: url("../../img/bg/sunshine-coast-landing-station.jpg");
		}
		.webp .hero {
			background: url("../../img/bg/sunshine-coast-landing-station.webp");
		}
	}
</style>
<p><strong>MEDIA RELEASE</strong></p>
<p><strong>Maroochydore, Wednesday 22 July 2020</strong>: A better connected South-East Queensland (SEQ) has arrived.</p>
<p>OneQode, Australia’s first carrier to deploy equipment and commence operations out of the Sunshine Coast Cable Landing Station (<strong>CLS</strong>), is now ready to launch its digital services from the Sunshine Coast direct to its Brisbane CBD Points of Presence (Equinix BR1 &amp; NextDC B2). With the lowest latency path to East Asia from Brisbane, this network is set to provide unparalleled speed to all Queenslanders – ushering in a new era of internet connectivity.</p>
<h2>Better connectivity for Queensland</h2>
<p>Until now, all Queensland traffic has been required to route through Sydney data centres before leaving Australian shores – meaning high latency and infrastructure expense. By putting down roots at the new CLS, OneQode is severing the Sydney dependence and ensuring that Queensland has dedicated international routes.</p>
<p>These routes provide significant benefits for many sectors which depend on international networks including high-frequency share trading, esports and gaming. A more efficient route out of Australia will also make the internet better for users above the NSW Central Coast, particularly given the current post-COVID paradigm.</p>
<p>Built to provide a genuine broadband alternative and solve the ‘<em>last mile</em>’ problem once and for all, the CLS deployment is the precursor to a much wider rollout in the Sunshine Coast. By avoiding legacy copper, HFC, FTTN and FTTC deployments, OneQode’s independently-owned network will equip Sunshine Coast residents to participate in the digital economy of the future.</p>
<p>OneQode Group CEO Matthew Shearing said he was looking forward to a better connected future for the Sunshine Coast.</p>
<p>“The Sunshine Coast Council can’t be commended enough on their proactive approach to building infrastructure for the future. The CLS and access to international cable are just two of many ways they’re helping businesses like us make a meaningful difference to the lives of local residents and SMEs.”</p>
<h2>High-Skilled Jobs for Local Communities</h2>
<p>OneQode is investing heavily in the Sunshine Coast region and expects that the growth of their network will result in a significant number of jobs for locals. “At a time where most telcos are laying staff off and cutting costs, we’re hiring across the board,” Mr Shearing said. “We believe now is the best time to be building for the future and working to create more opportunities for locals.”</p>
<p>OneQode anticipates this effect will be replicated in the other regions in which they are deploying infrastructure, including the Moreton Bay Regional Council and the Brisbane City Council. At its core, the company sees itself as a facilitator of digital transformation and believes that by solving the underlying connectivity problem in the region, it can provide the perfect platform for local businesses to flourish.</p>
<p>“South East Queensland is in a unique position,” said Mr Shearing. “With this new connectivity and investment by forward-thinking councils like the SCC, QLD is becoming an incredibly attractive destination for local and international SMEs. All the ingredients are there to become one of the leading digital hubs in the Southern Hemisphere.”</p>
<a href="../../img/media/qld-coast-map.jpg" target="_blank">
	<picture>
		<source srcset="../../img/media/qld-coast-map.webp" type="image/webp">
		<img src="../../img/media/qld-coast-map.jpg" alt="OneQode Network Map">
	</picture>
</a>
<h2>Carrier-grade</h2>
<p>OneQode has a rigorous internal network auditing process and is building their carrier network to strict protocols and high standards. The goal is to ensure superior services can be enjoyed by all consumers and businesses.</p>
<p>OneQode Chief Architect, Ben Cooper, said customers on the network will be able to take advantage of the lowest latencies to East Asia and faster connectivity to the United States, bringing numerous benefits to their daily internet experience.</p>
<p>“Routes out of the Cable Landing Station offer the lowest latency to Asia and the US for internet users in Queensland. This will revolutionise what Queenslanders can do and how they operate in the global economy.”</p>
<p>“The OneQode team is working hard on our carrier-class core network with facilities planned in Caboolture and Petrie. This will enable local councils and businesses to access the digital economy like never before – while enabling large content and internet companies to deploy their services at the edge. Ultimately, our goal is to bring content providers closer to end users – which will mean a better experience for everyone.”</p>
<p>“OneQode is deploying DWDM over dark fibre to enable Ultra-Speed services. We will offer a full suite of carrier-grade services such as high-capacity fibre, wavelength and ethernet services from our Brisbane PoPs through to our facilities at Caboolture and Petrie and through to the Sunshine Coast Cable Landing Station.”</p>
<h2>Making Australia Top-10 Again</h2>
<p>The Sunshine Coast deployment is the first step in OneQode’s blueprint to bring lightning-fast connectivity to all Australians. As part of its “<i>sick of the status quo</i>” strategy, it is obsessively committed to building a high-speed network which delivers unparalleled experiences for residential, business and enterprise customers.</p>
<p>For residents in the Sunshine Coast and select areas of north Brisbane, this will soon be a reality. Expressions of interest are now open on the <a href="https://oneqode.com.au/">OneQode website</a>, allowing real-time notifications when their areas become active. For businesses and carriers with enquiries, they are encouraged to reach out via the contact section of the website.</p>