---
layout: release.liquid
metaTitle: Oracle Partners With OneQode • Press Release
metaDescription: Today Oracle and OneQode announce a partnership to deliver joint solutions to gaming and enterprise customers in Asia-Pacific
ogImage: oracle-oneqode.jpg
changefreq: never
priority: 0.4
tags: internal
postType: Press Release
postTitle: Oracle Partners With OneQode to Deliver Joint Asia-Pacific Solutions
date: 2022-10-03
mediaContact: Matthew Shearing, Chief Executive Officer
---
<style>
	.hero {
		background-size: cover !important;
		background-position: center center !important;
	}
	.no-webp .hero {
		background: linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/oracle.jpg");
	}
	.webp .hero {
		background: linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/oracle.webp");
	}
	#key-facts {
		background: #333;
		border-radius: 15px;
	}
	@media screen and (min-width: 64em) {
		/* Keyfacts */
		#key-facts {
			background: #17181C;
		}
	}
	#key-facts li {
		margin-bottom: 1rem;
	}
	#key-facts:last-child {
		margin-bottom: 0;
	}
</style>
<p><strong>Sydney, {{ date | readableDate }}</strong>
<p>Oracle and OneQode today announce their partnership to bring joint cloud & infrastructure solutions to enterprise customers in the Asia-Pacific region, with a particular focus on gaming and high-performance applications.</p>
<div class="callout col-xs-12 p-2 my-2" id="key-facts">
	<h2>Key facts</h2>
	<ul>
		<li>The two companies will develop integrated solutions for customers in the Asia-Pacific region</li>
		<li>Oracle will integrate OneQode’s high-performance cloud and network services into their Oracle Cloud Infrastructure (OCI) solutions offering</li>
		<li>OneQode will integrate Oracle’s services, including OCI’s leading database and security products, into their cloud platform</li>
	</ul>
</div>
<p>Digitisation is occurring rapidly in Asia-Pacific and performance demands are similarly increasing post-COVID. Oracle is leading the way as the partner of choice for enterprise customers across the region, leveraging its extensive cloud, database and security offerings. OneQode are addressing emergent needs in growing niche industries with a latency-optimised telecommunications network, high-performance compute platform and a new Asia-Pacific hub on the island of Guam.</p>
<p>The companies will jointly develop whole-of-region solutions for game industry and enterprise customers, integrating their respective service offerings and exploring wider opportunities to deliver high-performance solutions for customers.</p>
<picture>
	<img class="my-2" src="/img/og/oracle-oneqode.jpg" alt="Oracle & OneQode logos against a blurred abstract background">
</picture>
<p style="color: #ff9c9d;">“This is the space for a quote (or multiple quotes) from an Oracle representative about their thoughts on a partnership with OneQode, what it means for  customers and the future. OCI is built to deliver better performance for enterprise customers, and we’re pleased to be working with OneQode to  deliver high-performance solutions to our customers in the game industry and enterprise space”, says Jane Doe, XYZ at Oracle.</p>
<p>“We’re incredibly excited. Oracle are leaders in their field, with a global footprint, extensive application suite and significant infrastructure pedigree. Further, they’ve got a proven track record as an excellent partner,” said Matt Shearing, OneQode CEO. “Similarly, OneQode are obsessive about delivering high-performance solutions for customers in industries like gaming. This partnership is therefore a real <em>‘one plus one equals three’</em> where together, we’ll be delivering unrivalled solutions for our customers.”</p>
<p>Oracle and OneQode will work to bring combined solutions to their customers, integrate their services and introduce Direct Connect functionality between OCI and OneQode Cloud. Going forward, Oracle and OneQode will also continue to explore new opportunities to bring high-performance solutions to users in spaces like gaming and beyond.</p>
<h2 class="mt-4">About Oracle</h2>
<p>Oracle offers integrated suites of applications plus secure, autonomous infrastructure in the Oracle Cloud. For more information about Oracle (NYSE: ORCL), please visit us at <a href="https://www.oracle.com/" rel="noopener">www.oracle.com</a>.</p>
<h2 class="mt-4">About OneQode</h2>
<p>OneQode is an infrastructure as a service provider operating a latency-optimised international carrier network and high-performance cloud platform designed for the demands of real-time apps and competitive gaming. To learn more, go to <a href="https://www.oneqode.com">oneqode.com</a>.</p>
<h2 class="mt-4">Trademarks</h2>
<p>Oracle, Java, and MySQL are registered trademarks of Oracle Corporation.</p>