---
layout: release.liquid
metaTitle: Oracle Partners With OneQode • Press Release
metaDescription: Today Oracle and OneQode announce a partnership to deliver joint solutions to gaming and enterprise customers in Asia-Pacific
ogImage: oracle-oneqode.jpg
changefreq: never
priority: 0.4
tags: internal
postType: Press Release
postTitle: Oracle Partners With OneQode to Deliver Joint Asia-Pacific Solutions
date: 2022-10-03
mediaContact: Matthew Shearing, Chief Executive Officer
---
<style>
	.hero {
		background-size: cover !important;
		background-position: center center !important;
	}
	.no-webp .hero {
		background: linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/oracle.jpg");
	}
	.webp .hero {
		background: linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/oracle.webp");
	}
	#key-facts {
		background: #333;
		border-radius: 15px;
	}
	@media screen and (min-width: 64em) {
		/* Keyfacts */
		#key-facts {
			background: #17181C;
		}
	}
	#key-facts li {
		margin-bottom: 1rem;
	}
	#key-facts:last-child {
		margin-bottom: 0;
	}
</style>
<p><strong>Sydney, {{ date | readableDate }}</strong>
<p>Oracle and OneQode today announce their partnership to bring joint cloud & network solutions to game industry and enterprise customers in the Asia-Pacific region.</p>
<div class="callout col-xs-12 p-2 my-2" id="key-facts">
	<h2>Key facts</h2>
	<ul>
		<li>The two companies will develop integrated solutions for customers in the Asia-Pacific region</li>
		<li>Oracle will integrate OneQode’s network and cloud services into their Oracle Cloud Infrastructure (OCI) solutions offering</li>
		<li>OneQode will integrate Oracle’s services, including OCI’s database and security products, into their cloud platform</li>
	</ul>
</div>
<p>The companies will jointly develop whole-of-region solutions for game industry and enterprise customers, integrate their service offerings and explore wider opportunities to deliver high-performance solutions for customers in the region.</p>
<picture>
	<img class="my-2" src="/img/og/oracle-oneqode.jpg" alt="Oracle & OneQode logos against a blurred abstract background">
</picture>
<p style="color: #ff9c9d;">“This is the space for a quote (or three) from an Oracle representative about their thoughts on a partnership with OneQode, what it means for customers and the future. OCI is built to deliver better performance for enterprise customers, and we’re pleased to be working with OneQode to deliver high-performance solutions to our customers in the game industry and enterprise space”, says Jane Doe, XYZ at Oracle.</p>
<p>“I’m incredibly excited. Oracle has a global footprint and a significant pedigree. They’ve got a proven track record as an excellent partner,” said Matt Shearing, OneQode CEO. “We see it as a 1 + 1 = 3 moment that allows us to give offerings to customers that they won’t be able to get anywhere else. Ultimately our customers will be the real winners.”</p>
<p>Oracle and OneQode will work to bring combined solutions to their customers, integrate their services and introduce Direct Connect functionality between OCI and OneQode Cloud. Oracle and OneQode will continue to explore new opportunities to bring high-performance connected experiences to customers in the gaming space and beyond.</p>
<h2 class="mt-4">About Oracle</h2>
<p>Oracle offers integrated suites of applications plus secure, autonomous infrastructure in the Oracle Cloud. For more information about Oracle (NYSE: ORCL), please visit us at <a href="https://www.oracle.com/" rel="noopener">www.oracle.com</a>.</p>
<h2 class="mt-4">About OneQode</h2>
<p>OneQode is an infrastructure as a service provider operating a latency-optimised international carrier network and high-performance cloud platform designed for the demands of real-time apps and competitive gaming. To learn more, go to <a href="https://www.oneqode.com">oneqode.com</a>.</p>
<h2 class="mt-4">Trademarks</h2>
<p>Oracle, Java, and MySQL are registered trademarks of Oracle Corporation.</p>