---
layout: release.liquid
metaTitle: OneQode Announces Access To Oracle Cloud via FastConnect • Press Release
metaDescription: FastConnect connections within the Oracle Cloud Singapore, Tokyo, Sydney and Phoenix regions will provide dedicated, low-latency data exchange.
ogExternal: "https://oneqode2.sgp1.cdn.digitaloceanspaces.com/images/oracle-oneqode-opengraph.gif"
ogImage: oracle-oneqode.jpg
changefreq: never
priority: 0.4
tags: internal
postType: Press Release
postTitle: OneQode Announces Access to Oracle Cloud Infrastructure via FastConnect
date: 2023-06-23
mediaContact: Joe Swinn, Chief Marketing Officer
---
<style>
	.hero {
		background-size: cover !important;
		background-position: center center !important;
	}
	.no-webp .hero {
		background: linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/oracle.jpg");
	}
	.webp .hero {
		background: linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/oracle.webp");
	}
</style>
<p><strong>Sydney, {{ date | readableDate }}</strong> • OneQode, a leading digital infrastructure platform designed for the demands of real-time apps and competitive gaming, and member of Oracle PartnerNetwork (OPN), today announced it will offer connectivity to Oracle Cloud through <a href="https://cloud.oracle.com/networking" target="_blank">Oracle Cloud Infrastructure (OCI) FastConnect</a>.</p>
<p>OCI FastConnect connections within the Oracle Cloud Singapore, Tokyo, Sydney and Phoenix regions will provide dedicated, low-latency data exchange for customers, enabling enterprise cloud connectivity to OCI from trusted enterprise data centers. This enables both OneQode and Oracle customers fast, private access to OCI’s 42 cloud regions around the world.</p>
</div>
<div class="col-xs-12 col-md-10">
	<figure class="my-2">
		<a href="https://oneqode2.sgp1.digitaloceanspaces.com/images/oneqode-oracle-fastconnect-map-highres.png" target="_blank">
			<picture>
				<source srcset="/img/media/oneqode-oracle-fastconnect-map.webp" type="image/webp">
				<img src="/img/media/oneqode-oracle-fastconnect-map.jpg" alt="A map of the OneQode network with physical FastConnect locations annotated in Singapore, Tokyo, Sydney and Los Angeles" class="opaque">
			</picture>
		</a>
		<figcaption>A map of the new FastConnect locations at OneQode datacenters</figcaption>
	</figure>
</div>
<div class="col-xs-12 col-md-8">
<p>This announcement follows OneQode’s recent <a href="/media/oracle-partnership/">collaboration with Oracle</a>, unveiled in December. This collaboration sees both parties providing enhanced offerings to enterprise customers in the Asia Pacific region, particularly to those requiring performance solutions, low-latency networking or whole-of-region reach.</p>
<p>With OCI, customers benefit from best-in-class security, consistent high performance, simple predictable pricing, and the tools and expertise needed to bring enterprise workloads to cloud quickly and efficiently.</p>
<p>With access to Oracle Cloud through OCI FastConnect, OneQode and Oracle customers will benefit from enhanced connectivity and access to resources across Asia Pacific, improving performance for enterprise applications. OneQode and Oracle will also collaborate on regional digital transformation solutions in the coming months.</p>
<p>“We’re thrilled to further our relationship with Oracle and unlock even more value for our respective customers through OCI FastConnect,” said Matt Shearing, CEO of OneQode. “Asia Pacific is particularly underserved and OneQode and Oracle both have a shared commitment to solving these regional challenges. There’s huge potential for the joint solutions we’ll now be able to offer.”</p>
<p>Oracle and OneQode will now work to implement joint solutions for enterprise customers across the Asia Pacific region, including those in underserved locations like the Philippines, Indonesia and the Pacific Islands.</p>
<h2 class="mt-4">About Oracle PartnerNetwork</h2>
<p>Oracle PartnerNetwork (OPN) is Oracle’s partner program designed to enable partners to accelerate the transition to cloud and drive superior customer business outcomes. The OPN program allows partners to engage with Oracle through track(s) aligned to how they go to market: Cloud Build for partners that provide products or services built on or integrated with Oracle Cloud; Cloud Sell for partners that resell Oracle Cloud technology; Cloud Service for partners that implement, deploy and manage Oracle Cloud Services; and License &amp; Hardware for partners that build, service or sell Oracle software licenses or hardware products. Customers can expedite their business objectives with OPN partners who have achieved Expertise in a product family or cloud service. To learn more visit: <a href="http://www.oracle.com/partnernetwork" target="_blank">http://www.oracle.com/partnernetwork</a></p>
<h3 class="mt-2">Trademarks</h3>
<p>Oracle, Java, MySQL and NetSuite are registered trademarks of Oracle Corporation. NetSuite was the first cloud company--ushering in the new era of cloud computing.</p>
<h2 class="mt-4">About OneQode</h2>
<p>OneQode is a digital infrastructure provider operating a high-performance cloud platform and a low-latency network designed for the demands of real-time apps and competitive gaming.</p>
<p>In a regional first, OneQode built APAC Central, a central server region for Asia-Pacific located on the island of Guam. The latency-neutral location provides a level playing field for cross-regional gaming, real-time services and business applications.</p>