---
layout: release.liquid
metaTitle: Oracle Partners With OneQode • Press Release
metaDescription: Today Oracle and OneQode announce a partnership to deliver joint solutions to gaming and enterprise customers in Asia-Pacific
ogImage: oracle-oneqode.jpg
changefreq: never
priority: 0.4
tags: internal
postType: Press Release
postTitle: Oracle Teams Up With OneQode to Deliver Low-Latency Gaming Solutions Across Asia-Pacific
date: 2022-11-14
mediaContact: Matthew Shearing, Chief Executive Officer
---
<style>
	.hero {
		background-size: cover !important;
		background-position: center center !important;
	}
	.no-webp .hero {
		background: linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/oracle.jpg");
	}
	.webp .hero {
		background: linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/oracle.webp");
	}
	#key-facts {
		background: #333;
		border-radius: 15px;
	}
	@media screen and (min-width: 64em) {
		/* Keyfacts */
		#key-facts {
			background: #17181C;
		}
	}
	#key-facts li {
		margin-bottom: 1rem;
	}
	#key-facts:last-child {
		margin-bottom: 0;
	}
</style>
<p><strong>Sydney, {{ date | readableDate }}</strong>
<p>OneQode, Global Infrastructure-as-a-Service (IaaS) company, today announced its collaboration with Oracle to bring cloud and infrastructure solutions to enterprise customers in the Asia-Pacific region, with a particular focus on gaming, virtual and augmented reality and other high-performance applications.</p>
<div class="callout col-xs-12 p-2 my-2" id="key-facts">
	<h2>Key facts</h2>
	<ul>
		<li>The two companies will develop integrated solutions for customers in the Asia-Pacific region</li>
		<li>Oracle will integrate OneQode’s high-performance cloud and network services into their Oracle Cloud Infrastructure (OCI) solutions </li>
		<li>OneQode will integrate Oracle’s services, including OCI’s leading database and security products, into their cloud platform like Oracle Autonomous Database, MySQL Heatwave and Oracle Exadata Cloud Service</li>
	</ul>
</div>
<p>With gaming adoption reaching an all-time high during the pandemic and the rise of the Metaverse, digital entertainment is rapidly growing in Asia-Pacific and performance demands are showing no signs of slowing post-COVID.</p>
<p>With its extensive cloud, database, and security offerings, Oracle is leading the way as the partner of choice for enterprise customers across the region. Leveraging this, OneQode is addressing emergent needs in growing niche industries with a latency-optimised telecommunications network, high-performance compute platform and a new Asia-Pacific hub on the island of Guam.</p>
<p>The companies will develop regional solutions for the gaming industry and enterprise customers, integrating their respective service offerings and exploring wider opportunities to deliver high-performance solutions for customers.</p>
<picture>
	<img class="my-2" src="/img/og/oracle-oneqode.jpg" alt="Oracle & OneQode logos against a blurred abstract background">
</picture>
<p>“We’re incredibly excited. Oracle is a leader in its field, with a global footprint, extensive application suite and significant infrastructure pedigree. Further, it has a proven track record as an excellent collaborator,” said Matt Shearing, OneQode CEO. “Similarly, OneQode is committed to delivering high-performance solutions for customers in industries like gaming. We are thrilled to team up with Oracle on delivering key solutions to our customers.”</p>
<p>OneQode will work with Oracle to bring combined solutions to their customers, integrate their services and introduce Oracle FastConnect functionality between OCI and OneQode Cloud. Going forward, Oracle and OneQode will also continue to explore new opportunities to bring high-performance solutions to users in spaces like gaming and beyond.</p>
<h2 class="mt-4">About Oracle PartnerNetwork</h2>
<p>Oracle PartnerNetwork (OPN) is Oracle's partner program designed to help enable partners to accelerate the transition to cloud and drive superior customer business outcomes. The OPN program helps allow partners to engage with Oracle through track(s) aligned to how they go to market: Cloud Build for partners that provide products or services built on or integrated with Oracle Cloud; Cloud Sell for partners that resell Oracle Cloud technology; Cloud Service for partners that implement, deploy and manage Oracle Cloud Services; and License & Hardware for partners that build, service or sell Oracle software licenses or hardware products. Customers can expedite their business objectives with OPN partners who have achieved Expertise in a product family or cloud service. To learn more visit: <a href="https://www.oracle.com/partnernetwork" rel="noopener">https://www.oracle.com/partnernetwork</a>.</p>
<h2 class="mt-4">About OneQode</h2>
<p>OneQode is an infrastructure as a service provider operating a latency-optimised international carrier network and high-performance cloud platform designed for the demands of real-time apps and competitive gaming. To learn more, go to <a href="https://www.oneqode.com">oneqode.com</a>.</p>
<h2 class="mt-4">Trademarks</h2>
<p>Oracle, Java, and MySQL are registered trademarks of Oracle Corporation.</p>