---
layout: release.liquid
metaTitle: Oracle Teams Up With OneQode • Press Release
metaDescription: Both companies will be able to provide enhanced offerings to enterprise customers in the Asia-Pacific region, with a focus on gaming, XR and other high-performance applications.
ogExternal: "https://oneqode2.sgp1.cdn.digitaloceanspaces.com/images/oracle-oneqode-opengraph.gif"
ogImage: oracle-oneqode.jpg
changefreq: never
priority: 0.4
tags: internal
postType: Press Release
postTitle: Oracle Teams Up With OneQode to Deliver Low-Latency Solutions Across Asia-Pacific
date: 2022-12-15
mediaContact: Matthew Shearing, Chief Executive Officer
---
<style>
	.hero {
		background-size: cover !important;
		background-position: center center !important;
	}
	.no-webp .hero {
		background: linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/oracle.jpg");
	}
	.webp .hero {
		background: linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/oracle.webp");
	}
</style>
<p><strong>Sydney, {{ date | readableDate }}</strong> OneQode, Global Infrastructure-as-a-Service (IaaS) company, today announced it has joined Oracle PartnerNetwork (OPN).</p>
<p>With OneQode now an OPN member, both companies will be able to provide enhanced offerings to enterprise customers in the Asia-Pacific region, with a particular focus on gaming, virtual and augmented reality and other high-performance applications.</p>
<p>With gaming adoption reaching an all-time high during the pandemic and the rise of the Metaverse, digital entertainment is rapidly growing in Asia-Pacific and performance demands are showing no signs of slowing post-COVID. However this growing demand for rich, interactive content is putting a strain on networks.</p>
<p>With its extensive cloud, database, and security offerings, Oracle is leading the way as the partner of choice for enterprise customers across the region. OneQode is similarly addressing emergent needs in growing niche industries with a latency-optimised telecommunications network, high-performance compute platform and a new Asia-Pacific hub on the island of Guam.</p>
<p>As part of Oracle PartnerNetwork, OneQode can provide more value for gaming and enterprise customers across APAC, as well as integrate their respective service offerings and explore wider opportunities to deliver high-performance solutions for customers.</p>
<p>In addition to having access to OneQode’s infrastructure, it will also give prospective customers access to Oracle Cloud Infrastructure (OCI)’s leading database and security products which are built into OneQode’s platform such as Oracle Autonomous Database, MySQL Heatwave and Oracle Exadata Cloud Service.</p>
<p>“We’re incredibly excited. Oracle is a leader in its field, with a global footprint, extensive application suite and significant infrastructure pedigree. Further, it has a proven track record as an excellent collaborator,” said Matt Shearing, OneQode CEO. “Similarly, OneQode is committed to delivering high-performance solutions for customers in industries like gaming. We are thrilled to team up with Oracle to deliver key solutions to our customers.”</p>
<p>OneQode now has the ability to engage with Oracle to bring combined solutions to customers, integrate their services and introduce Oracle FastConnect functionality between OCI and OneQode Cloud. Going forward, OneQode will continue to explore new opportunities under OPN to bring high-performance solutions to users throughout Asia-Pacific and beyond.</p>
<h2 class="mt-4">About OneQode</h2>
<p>OneQode is an infrastructure as a service provider operating a latency-optimised international carrier network and high-performance cloud platform designed for the demands of real-time apps and competitive gaming. To learn more, go to <a href="https://www.oneqode.com">oneqode.com</a>.</p>
<h2 class="mt-4">About Oracle PartnerNetwork</h2>
<p>Oracle PartnerNetwork (OPN) is Oracle's partner program designed to help enable partners to accelerate the transition to cloud and drive superior customer business outcomes. The OPN program helps allow partners to engage with Oracle through track(s) aligned to how they go to market: Cloud Build for partners that provide products or services built on or integrated with Oracle Cloud; Cloud Sell for partners that resell Oracle Cloud technology; Cloud Service for partners that implement, deploy and manage Oracle Cloud Services; and License & Hardware for partners that build, service or sell Oracle software licenses or hardware products. Customers can expedite their business objectives with OPN partners who have achieved expertise in a product family or cloud service. To learn more visit: <a href="https://www.oracle.com/partnernetwork" rel="noopener">https://www.oracle.com/partnernetwork</a>.</p>
<h2 class="mt-4">Trademarks</h2>
<p>Oracle, Java, and MySQL are registered trademarks of Oracle Corporation.</p>