---
layout: release.liquid
section: gaming
metaTitle: OneQode™ Acquires PacificES • Press Release
metaDescription: OneQode announces its acquisition of PacificES, a game server provider.
ogImage: obispos.png
changefreq: never
priority: 0.4
tags: internal
postType: Press Release
postTitle: OneQode Acquires PacificES
date: 2022-04-01
mediaContact: Matthew Shearing, Chief Executive Officer
---
<!-- to do:
provide og image
change date for when published 
change link-->

<style>
	.hero {
		background-size: cover !important;
		background-position: center center !important;
	}
	.no-webp .hero {
		background: linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/obispos.jpg");
	}
	.webp .hero {
		background: linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/obispos.webp");
	}
	#key-facts {
		background: #333;
		border-radius: 15px;
	}
	@media screen and (min-width: 64em) {
		/* Keyfacts */
		#key-facts {
			background: #17181C;
		}
	}
	#key-facts li {
		margin-bottom: 1rem;
	}
	#key-facts:last-child {
		margin-bottom: 0;
	}
</style>
<p><strong>Guam, {{ date | readableDate }}</strong>
<p>Today OneQode announces its acquisition of game server provider . (<a href="https://www.pacifices.net//">PacificES</a>)</p>
<div class="callout col-xs-12 p-2 my-2" id="key-facts">
	<h2>Key facts</h2>
	<ul>
		<li>OneQode is acquiring PacificES, which provides servers for games in Australia primarily for the professional Counter Strike: Global Offensive community.</li>
		<li>PacificES is becoming a OneQode brand, allowing the strengths of the OneQode network to be brough to the PacificES userbase.</li>
		<li>PacificES's team will remain involved following the acquisition.</li>
	</ul>
</div>
<p>PacificES is a service provider built with a focus on performance and reliability aimed primarily at the Counter Strike: Global Offensive community.</p>
<figure>
	<picture>
		<img src="/img/media/obispos-logo.png" alt="The Bishop Baumgartner Memorial Catholic School Obispos esports team logo">
	</picture>
	<figcaption>The Obispos esports team logo</figcaption>
</figure>
<p>For OneQode this means access to an existing customer base of players who value high performance networks and will feel right at home on the OneQode cloud. </p>
<p>PacificES customers will gain access to the OneQode network, and by joining OneQode, PacificES will be able to expand its footprint across Asia-Pacific. Players in Asia-Pacific using PacificES will be able to leverage OneQode's high performance cloud compute and unique APAC Central backbone for community servers in titles such as Counter Strike: Global Offensive, Team Fortress 2, Minecraft, and more.</p>
<p>"OneQode is passionate about returning community server functionality to games," says Matt Shearing, OneQode CEO.</p>
<p>In future, OneQode hopes to integrate community servers on games that run on the OneQode platform.</p>
<p>"By teaming up with OneQode PacificES is ready to make awesome more awesome. Our strengths align to create something that's greater than the sum of its parts, and I'm excited to see where it goes," says Brendon Gough on the acquisition. </p>
<figure>
	<picture>
		<source srcset="/img/media/obispos-shirt.webp" type="image/webp">
		<img src="/img/media/obispos-shirt.jpg" alt="The Obispos esports team shirt">
	</picture>
	<figcaption>The team shirt</figcaption>
</figure>
<h2 class="mt-4">About OneQode</h2>
<p>OneQode is a global infrastructure as a service (IaaS) company operating a latency-optimised international carrier network and high-performance cloud platform designed for the demands of real-time applications and competitive gaming.</p>
<p><strong>Contact details</strong></p>
<p>OneQode press inquiries: <a href="mailto:media@oneqode.com.au" target="_blank">media@oneqode.com.au</a></p>
<div class="text-center my-4">
	<h3>Guam is APAC Central<mark class="dot">.</mark></h3>
	<p>OneQode operates Asia-Pacific’s newest server region in Guam, unlocking cross-regional gaming for millions of gamers.</p>
	<a href="/guam/" class="button ghost mt-1">Guam Servers</a>
</div>