---
layout: release.liquid
section: gaming
metaTitle: OneQode™ Sponsors Guam Middle School Esports Team • Press Release
metaDescription: OneQode is proud to announce its sponsorship of the Bishop Baumgartner Memorial Catholic School Obispos esports team.
ogImage: obispos.png
changefreq: never
priority: 0.4
tags: internal
postType: Press Release
postTitle: OneQode Sponsors Guam Middle School Esports Team
date: 2022-01-31
mediaContact: Matthew Shearing, Chief Executive Officer
---
<style>
	.hero {
		background-size: cover !important;
		background-position: center center !important;
	}
	.no-webp .hero {
		background: linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/obispos.jpg");
	}
	.webp .hero {
		background: linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/obispos.webp");
	}
	#key-facts {
		background: #333;
		border-radius: 15px;
	}
	@media screen and (min-width: 64em) {
		/* Keyfacts */
		#key-facts {
			background: #17181C;
		}
	}
	#key-facts li {
		margin-bottom: 1rem;
	}
	#key-facts:last-child {
		margin-bottom: 0;
	}
</style>
<h1> OneQode and Game Plus announce joint partnership </h1>
<p>OneQode is excited to announce its partnership with Game Plus!</p>
<p>As a place for the Australian games industry to connect, Game Plus is important support system for countless independent developers across Australia. </p>
<p>Together, the partnership will give Game Plus members discounts and credits for OneQode’s Guam Servers and Cloud Platform, and discounts on all OneQode services.</p>
<p>This will provide access to a latency neutral network across South-East Asia to Game Plus members, helping them expand their games into a new market.</p>
<p>“Our Guam APAC Central hub will help game developers expand their audience to international players. The Australian games industry is growing, and we want developers to have the every opportunity to get more eyes on their hard work” says Michelle Krikowa, OneQode&#39;s Business Development Manager.</p>
<p>OneQode is excited to join the Game Plus community and will have a presence in the Game Plus discord, giving members direct access to OneQode support.</p>
<p>“Indie games are made with a lot of passion and talent, but they often don’t get the install base of a AAA game, so to help Game Plus members access more players is an excellent opportunity” says Jarrod Farquhar-Nicol, Team Leader at Game Plus.</p>
<p>The OneQode team is excited to give the Australian independent games studios a stepping stone to Asia through Game Plus, and power their work flow with cloud compute.</p>
<hr />
<p>Game Plus is a collaborative workspace that provides developers and tech start-ups across Australia with a supportive community, a coworking space, and a vast amount of shared knowledge and resources.</p>
<p>OneQode is an Australian based infrastructure as a service (IaaS) company operating a latency-optimised international carrier network and high-performance cloud platform designed for the demands of real-time applications and competitive gaming.</p>
<p>&nbsp;</p>
