---
layout: release.liquid
metaTitle: Telin & OneQode Announce Strategic Partnership • Press Release
metaDescription: The strategic partnership between Telin and OneQode is expected to create colocation and connectivity partnerships in Singapore, Indonesia, Guam and Australia.
ogImage: oneqode-telin.jpg
changefreq: never
priority: 0.4
tags: internal
postType: Press Release
postTitle: Telin and OneQode Announce Strategic Partnership
date: 2023-01-17
mediaContact: Joe Swinn, Chief Marketing Officer
---
<style>
	.hero {
		background-size: cover !important;
		background-position: center center !important;
	}
	.no-webp .hero {
		background: radial-gradient(circle at bottom, transparent 55%, #000), linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/indonesia-telin-mou.jpg");
	}
	.webp .hero {
		background: radial-gradient(circle at bottom, transparent 55%, #000), linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/indonesia-telin-mou.webp");
	}
</style>
<h2 class="h3">Improving Connectivity in Singapore, Indonesia, Guam & Australia</h2>
<p><strong>Hawaii, {{ date | readableDate }}</strong> • PT Telekomunikasi Indonesia International (Telin), a subsidiary of PT Telkom Indonesia Tbk (Telkom) that focuses on the international telecommunication business, and OneQode Singapore Pte. Ltd. (OneQode), a global Infrastructure-as-a-Service (IaaS) company operating a latency-optimized international carrier network and high-performance cloud platform, have announced a Memorandum of Understanding (MoU) to collaborate on a joint go-to-market strategy for global Managed Internet and network and application performance optimization services.</p>
<p>The strategic partnership between Telin and OneQode is expected to create colocation and connectivity partnerships in Singapore, Indonesia, Guam and Australia.</p>
<figure class="my-4">
	<a href="https://oneqode2.sgp1.cdn.digitaloceanspaces.com/images/2023-01-17-oneqode-telin-mou-signing-ceremony-ptc23-2.jpg" rel="noopener">
		<picture>
			<source srcset="/img/media/2023-01-17-oneqode-telin-mou-signing-ceremony-ptc23-2-lowres.webp" type="image/webp">
			<img class="my-2" src="/img/media/2023-01-17-oneqode-telin-mou-signing-ceremony-ptc23-2-lowres.jpg" alt="OneQode Telin MOU signing ceremony at PTC'23 in Honolulu, Hawaii.">
		</picture>
	</a>
	<figcaption>From left to right: <strong>M. Rofik</strong> - EVP Wholesale Services Division Telkom Indonesia; <strong>YB. Priyatmo Hadi</strong> - Assistant Deputy from Indonesia Ministry of State Owned Enterprise, <strong>Ben Cooper</strong> - Chief Architect of OneQode, <strong>Kharisma</strong> - Chief Commercial Officer of Telin, <strong>Bogi Witjaksono</strong> - Director of Wholesale and International Services Telkom Indonesia, <strong>Budi Satria Dharma Purba</strong> - Chief Executive Officer of Telin</figcaption>
</figure>
<p>The signing ceremony was held at the Rainbow Tower Corner King, Hilton Hawaiian Village, Waikiki Beach Resort in Honolulu, Hawaii, during the 2023 Pacific Telecommunications Council (PTC). Telin was represented by its Chief Commercial Officer, Kharisma, and OneQode was represented by its Co-Founder and Chief Architect, Ben Cooper. The signing was witnessed by the Director of Wholesale and International Services of Telkom Indonesia, Bogi Witjaksono, and the Chief Executive Officer of Telin, Budi Satria Dharma Purba (Budi).</p>
<p>Telin Chief Executive Officer Budi Satria Dharma Purba, said, <em>“We are very pleased to announce the joint collaboration with OneQode for co-location and connectivity in Singapore, Indonesia, Guam and Australia. Telin is committed to paving the way for our partners and customers to connect in more ways than ever. This partnership will meet the rapidly growing demand for high-speed connectivity by introducing innovative technologies that elevate the customer experience. We hope this collaboration will expand our global presence in Asia Pacific and beyond.”</em></p>
<p>Matthew Shearing, the Chief Executive Officer of OneQode, commented, <em>“We’re excited to partner with Telin to collaborate on joint solutions across the region. Asia-Pacific’s infrastructure needs are growing and partnerships like this mean both parties can provide even more value for our customers. We’re particularly looking forward to working with Telin to enhance our Indonesian presence and bring better outcomes to customers across Asia-Pacific”</em>.</p>
<p>Ben Cooper, OneQode’s Chief Architect added <em>“Through this partnership we will be able to deploy domestic cloud capacity to Indonesia, bringing low-latency and high-performance services to customers and end-users there. Telin is rapidly positioning Indonesia as a leading hub for South-East Asia, and it’s a pleasure to work with their exceptional team. We are honored to be a part of their efforts to empower Indonesian startups and companies, helping them to connect and succeed on a global scale”.</em></p>
<p>Telin and OneQode combined global reach will extend Telin’s capabilities beyond Indonesia and further accelerate digital transformation in Asia Pacific.</p>
<h2 class="mt-4">About Telin</h2>
<p>PT Telekomunikasi Indonesia International (Telin) is a subsidiary of PT Telkom Indonesia, Tbk (Telkom), a state-owned telecommunication and network service provider. Telin focuses on international telecommunication business to manage and develop its business lines abroad. Telin global infrastructures includes 222,260 kilometres of cable system length, among others; 58 Points of Presences (PoP), 10 global offices, and more than 19 Tier II to Tier IV Data Centres operates in Singapore, Hong Kong, Timor Leste, and Indonesia. Through Telkom Group strategy and reliable networks and infrastructures, Telin can provide high-quality services that reach all parts of the world to Enable Your Global Digital Business and Solution. </p>
<p>Learn more about us in <a href="http://www.telin.net" rel="noopener">www.telin.net</a>.</p>
<h2 class="mt-4">About OneQode</h2>
<p>OneQode is an infrastructure as a service provider operating a latency-optimized international carrier network and high-performance cloud platform designed for the demands of real-time apps and competitive gaming. In a regional first, OneQode built APAC Central, a central server region for Asia-Pacific located on the island of Guam. The latency-neutral location provides a level playing field for cross-regional gaming, real-time services and business applications.</p>
<p>To learn more, visit <a href="https://www.oneqode.com/">oneqode.com</a>.</p>
<p><a href="https://www.linkedin.com/company/oneqode/">LinkedIn</a> | <a href="https://twitter.com/OneQode">Twitter</a></p>