---
layout: release.liquid
metaTitle: OneQode Launches Cloud Regions in Tokyo and Hong Kong • Announcement
metaDescription: OneQode is excited to launch new cloud regions in Tokyo and Hong Kong
ogImage: game-plus.jpg
changefreq: never
priority: 0.4
tags: internal
postType: Announcement
postTitle: OneQode and Game Plus Announce Joint Partnership
date: 2022-05-13
mediaContact: Idk yet
---
<style>
	.hero {
		background-size: cover !important;
		background-position: center center !important;
	}
	.no-webp .hero {
		background: linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/game-plus.jpg");
	}
	.webp .hero {
		background: linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/game-plus.webp");
	}
</style>
<p>Today OneQode announces our cloud capacity has launched in Hong Kong and Tokyo.</p>
<p>Key Facts</p>
	<ul>
		<li>OneQode’s high-end and latency-optimised cloud compute is now available in new regions with more to launch soon.</li>
		<li>Tokyo and Hong Kong users will gain access to a local OneQode server for the most latency-sensitive applications.</li>
		<li>OneQode’s new cloud regions provide access to the overall network that----</li>
	</ul>
<p>With the launch of cloud capacity in two new regions, OneQode has greatly expanded its cloud capacity. </p>
<p>As with other OneQode regions, Hong Kong and Tokyo have been optimised for high speed and low latency, making them ideal for the most latency-sensitive applications that could not run from elsewhere in the region.</p>
<p>-image-</p>
<p>“With Hong Kong, OneQode has officially got a foot in the door with the Chinese market,” says OneQode Executive Vice President Eric Yip, “and we look forward to seeing how we can continue to grow our presence there.”</p>
<p>“The high density of Tokyo and the market demands for high-end seamless connectivity means having a cloud presence there has always been a priority. We’re very excited to see it finally deployed and ready for use,”; Says OneQode Chief Product Officer Ben Cooper.</p>
<p>With the addition of more regions, OneQode continues its focus on building an accessible cloud that connects users across Asia-Pacific to a latency-optimised network built for the next generation of internet experiences.</p>
<h2 class="mt-4">About the companies</h2>
<p>Game Plus is a collaborative workspace that provides developers and tech start-ups across Australia with a supportive community, a coworking space, and a vast amount of shared knowledge and resources.</p>
<p>OneQode is an Australian based infrastructure as a service (IaaS) company operating a latency-optimised international carrier network and high-performance cloud platform designed for the demands of real-time applications and competitive gaming.</p>