---
section: gaming
metaTitle: The Vision, Mission & Strategy of OneQode™ • Matt Shearing
metaDescription: Building the foundation for the next decade of connected experiences.
ogImage: vision-mission-strategy.jpg
changefreq: never
priority: 0.4
tags: internal
postType: Blog Post
postTitle: The Vision, Mission & Strategy of OneQode
date: 2021-12-14
mediaContact: Matthew Shearing, Chief Executive Officer
---
{% include _header.liquid %}
<style>
	.no-webp section.hero {
		background:	linear-gradient(to bottom, rgba(0,0,0,0.2), #000),
					url(/img/bg/oq-globe.jpg) top center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.webp section.hero {
		background:	linear-gradient(to bottom, rgba(0,0,0,0.2), #000),
					url(/img/bg/oq-globe.webp) top center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	blockquote {
		margin: 2rem 0 2rem 0;
		padding: 2rem;
		border-left: 6px solid #cecece;
	}
	blockquote > :first-child {
		margin-top: 0;
	}
	blockquote > :last-child {
		margin-bottom: 0;
	}
	blockquote > * {
		color: #cecece;
	}
	p.shout-out {
		font-family: "Poppins", sans-serif;
		font-weight: 600;
		font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
		margin: 2rem 0 2rem 2rem;
		background: -webkit-linear-gradient(0deg, #00b0f0, #00597f);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.signature {
		margin-left: 0;
		max-width: 360px;
	}
	@media (max-width: 64em) {
		blockquote {
			background: #333;
		}
		p.shout-out {
			margin-left: 1.5rem;
		}
		.signature {
			margin-left: 0;
			max-width: 300px;
		}
	}
</style>
		<section class="hero media">
			<div class="container">
				<div class="row middle-xs">
					<div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
						<p class="superheading">{{ postType }}</p>
						<h1>{{ postTitle }}<mark class="dot">.</mark></h1>
						<p>Matt Shearing, Chief Executive Officer <span class="faded">• {{ date | readableDate }}</span></p>
					</div>
				</div>
			</div>
		</section>
		<section class="py-4">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>As OneQode heads into 2022 with a successful funding round completed (and oversubscribed!) with the goal of taking our products to the market and expanding the company, it’s important that we clearly dictate where we’re going, and why we’re going there.</p>
						<p>We’re a team of 20 people right now, but we’ll soon be a lot larger — so having a clear vision, mission and strategy is important.</p>
						<p>The great thing about authoring a piece like this in 2021 is that a lot of founders that have walked this path before. I’ve taken significant inspiration for this framework from Brian Armstrong, founder and CEO of Coinbase, and <a href="https://blog.coinbase.com/the-vision-mission-and-strategy-for-coinbase-944b79a64a7c" target="_blank" rel="nofollow noopener">his regular pieces</a> on this topic.</p>
						<p>His framework is as follows:</p>
						<blockquote cite="https://blog.coinbase.com/the-vision-mission-and-strategy-for-coinbase-944b79a64a7c"><p><strong>Vision: the why</strong></p>
						<p>Why are you doing what you’re doing? How do you want the world to be different in ten years?</p>
						<p><strong>Mission: the what</strong></p>
						<p>What are you going to do to help create that future? What single broad statement sums up what you doing?</p>
						<p><strong>Strategy: the how</strong></p>
						<p>How are you going to accomplish that mission? What different steps will you take to get there year over year?</p>
						</blockquote>
						<p>By dictating this, we can know what we’re doing, why we’re doing it and how we’re going to achieve it.</p>
						<h2 class="mt-4" id="vision">Vision: the why</h2>
						<h3 class="mt-2">The evolving digital economy</h3>
						<p>We are increasingly living online. This sounds obvious, but it’s easy to underestimate just how much our lives have changed in a relatively short period of time.</p>
						<p>Twenty years ago the thought of physical storefronts shuttering while online stores thrive, face-to-face meetings going extinct and moving online, or entertainment being accessible on-demand to anyone with an internet connection would have seemed almost impossible, but they are now norms in our daily lives.</p>
						<p>These examples (and many more) are evidence of the gargantuan shift in our species’ interactions brought on by the internet’s proliferation. They’re coupled with an <strong>increasingly voracious appetite for fidelity and emphasis on direct connection</strong>.</p>
						<p>As a result, mainstream use-cases for the internet are trending towards real-time applications and demanding higher levels of detail and data than ever before.</p>
						<h3 class="mt-2">Digital is accelerating</h3>
						<p>The kicker? This isn’t slowing down. <strong>Connectivity is becoming the currency</strong> of our time.</p>
						<p>Like so many things, we can look to the world of multiplayer gaming for an idea of what’s coming.</p>
						<p>Gamers these days are playing less small matches (i.e. Starcraft 2, CS:GO) or huge scale MMORPGs (WoW, Guild Wars) with each other. Rather, we’ve seen the emergence of large-scale fast paced multiplayer, such as battle royale games (Fortnite, Apex Legends) and mobile arenas (Free Fire, PUBG:Mobile).</p>
						<p><strong>The trend is to feature more players, larger worlds, higher fidelity and more real-time interactions between them.</strong></p>
						<p>But even non-gamers (a declining population) are benefiting as the technological advancements bleed through to video conferencing, virtual events and collaborative experiences.</p>
						<p>Soon, we’ll see this in a whole new tranche of applications, including augmented and virtual reality workplace solutions.</p>
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1" id="remote-work-stats">
						<img class="my-4 opaque" src="/img/media/vision-mission-strategy/statistic-1-work-remotely-some-of-the-time-rest-of-career-buffer.png" alt="Illustrated statistic from Buffer showing 97.6% of people would like to remotely (at least some of the time) for the rest of their career.">
						<img class="my-4 opaque" src="/img/media/vision-mission-strategy/statistic-2-people-on-your-team-different-time-zones-buffer.png" alt="A horizontal bar chart showing that 74% of teams are in multiple time zones">
						<img class="my-4 opaque" src="/img/media/vision-mission-strategy/statistic-3-number-of-time-zones-company-spans-buffer.png" alt="A chart showing how many time zones companies span, with 59% of companies covering between 2 and 5 time zones">
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p>In short, <strong>people are becoming comfortable with having meaningful connections online.</strong> And while our infrastructure has worked passably for most current applications, there are some big issues on the horizon as we move into this next epoch.</p>
						<h3 class="mt-2">The problem: the infrastructure isn’t ready!</h3>
						<p>The genesis of these coming challenges is not new.</p>
						<p>I experienced this personally more than 15 years ago, running an international gaming organisation which started in <em>Freelancer</em> — a multiplayer space sim made by Chris Roberts. Boasting a massive star system brimming with human and AI pilots, <em>Freelancer</em> servers were self-hosted and drew players from all over the world. Different organisations had virtual wars, trade routes, treaties and events with each other, and we participated in this heavily. Or at least, we did our best to participate.</p>
						<figure>
							<video class="lazy" poster="/img/media/vision-mission-strategy/freelancer-screen-cap.jpg" autoplay muted loop playsinline width="800" height="450">
								<source data-src="https://oneqode.sfo2.digitaloceanspaces.com/videos/freelancer-battle-gif.mp4" type="video/mp4">
							</video>
							<figcaption class="mt-0 text-left">An epic battle in Freelancer // <a href="https://www.youtube.com/watch?v=1DSbwFJil5g" target="_blank" rel="noopener">Video by Chronicron</a></figcaption>	
						</figure>
						<p>Most of the player base on our servers were from North America, Australia and Asia. With the servers hosted in the US, this brought big challenges for those in other places — <strong>huge pings, rubber banding and server capacity issues</strong>.</p>
						<p><em>Freelancer</em> had ’twitch based’ combat — meaning milliseconds mattered — and battles could be happening in flashpoints across many star systems. Add to this hundreds of players and NPCs going about their daily tasks across a huge universe, and the servers themselves struggled to keep up.</p>
						<p>This cocktail of demanding requirements meant players were generally fighting the servers/latency as much as they were fighting each other.</p>
						<p>In the end, it got so bad that most PvP combat tactics would revolve around accounting for the lag. Soon, these frustrations boiled over and <strong>inter-continental communities fractured</strong>, with players preferring more ’local’ servers.</p>
						<p>My organisation pivoted to a mainly Aussie focus as a result, predominantly playing Battlefield 2 and Counter Strike: Source. To this day, I’m left with the thought of <strong>what could have been if there was a genuine ’middle ground’</strong> connecting the US, Australia and Asia — somewhere that facilitated cross-border connectivity and had high-performance servers up to the task of running a virtual universe.</p>
						<p><strong>The experience like I had above is not rare.</strong> Nor has it improved markedly with time.</p>
						<p>Sure, there have been incremental improvements (Discord, chat applications, last-mile connectivity), but the larger issue — cross-continental, real-time interactions — has not been solved.</p>
						<blockquote>
							<p><strong>Figure narration 1</strong></p>
							<ul>
							<li><strong>illustrative images for the stuff below</strong></li>
							</ul>
							<p><strong>Figure narration 2</strong></p>
						</blockquote>
						<h3 class="mt-2">So why is this?</h3>
						<p>Put simply, the internet isn’t built the way it needs to be. There are some key ingredients holding us back from realising our real-time connected future:</p>
						<ul>
							<li class="mb-1"><strong>Latency optimisation</strong><br>Current carriers do not optimise for latency, they optimise for cost. Their philosophy is to take a connection and to hand it off to someone else’s network as cheaply and quickly as possible — regardless of where that is or how long it takes to get there. That’s OK for your Netflix — but not if you’re trying to have a shared experience from thousands of kilometres apart!</li>
							<li class="mb-1"><strong>Stability</strong><br>Many of these experiences will require stable connectivity, with minimal packet loss and jitter — something not prioritised by most modern carriers.</li>
							<li class="mb-1"><strong>Strategic centrality</strong><br>To connect billions, you need to host infrastructure in locations that are conducive for that purpose. Until now, this has not been a priority nor a focus for infrastructure providers.</li>
							<li class="mb-1"><strong>High-performance</strong><br>The kinds of applications we envision for our future (and the many thousands that are still yet to be thought of) will have a consistent thread — the trend towards more detail, more fidelity and more demanding operational requirements. It will require fit-for-purpose infrastructure built for high-performance.</li>
						</ul>
						<p>So that begs the question — where do we want things to go and what are we doing about it? This is the backdrop for which our Vision, Mission and Strategy form the manifesto for us to address what we believe is one of the greatest needs of our time.</p>
						<h3 class="mt-2">Our three core ‘imagine’ themes:</h3>
						<p>We’ve developed three ‘imagine’ themes as a thought exercise to communicate how we want things to change with our connectivity infrastructure.</p>
						<ol>
							<li class="mb-1">Imagine if people could have meaningful connections with each other, anywhere in the world, without needing to worry about distance or latency</li>
							<li class="mb-1">Imagine if cloud infrastructure was powerful, accessible and made sure connections got where they needed to go as quickly as possible.</li>
							<li>Imagine if innovators, creators and studios could provide billions of people from many different nations with the ability to connect with each other on the same platform, on-demand.</li>
						</ol>
						<h3 class="mt-2">Our vision statement</h3>
						<p>This can be distilled into a <strong>single vision statement:</strong></p>
						<p class="shout-out">Imagine a world where the difference between physical and digital connectivity are imperceptible.</p>
						<p>In a world where our three imagine themes and vision statement are a reality,
						</p>
						<ul>
							<li class="mb-1">a game studio can build a game like <em>Freelancer</em> and expect it to just work</li>
							<li class="mb-1">young gamers anywhere in the world can start global organisations and not feel like they’re fighting with the technology</li>
							<li class="mb-1">infrastructure enables virtual connections that are indistinguishable from physical connections</li>
							<li>borders mean nothing and people connect like never before</li>
						</ul>
						<p>And that’s a world worth building.</p>
						<h2 class="mt-4" id="mission">Mission: the what</h2>
						<p>If our vision is for billions of people to connect together in high-fidelity on digital applications, how do we achieve this vision? This is our <strong>mission</strong> — what we’re trying to achieve in the world and how we can help bring this about.</p>
						<p>This went through a number of iterations, but ultimately settled on this:</p>
						<p class="shout-out">Our mission is to build the foundation for the next decade of connected experiences.</p>
						<p>This captures the essence of what we’re trying to do as a company. We are building <strong>foundational infrastructure</strong>.</p>
						<p>Everything we’ve built so far, network, servers and cloud, are all focused on getting data where it needs to go as quickly as possible. We’ve unlocked low-latency gaming for millions of players across three continents, and are providing high-performance-by-default servers for cutting-edge workloads.</p>
						<p>Our first use case, gaming, will clearly benefit from this design philosophy. But <strong>gaming is just one of a myriad of future technologies</strong> that will harness real-time virtual experiences, and our infrastructure will be uniquely positioned to enable these kinds of emergent applications.</p>
						<p>That is our mission — to build the foundation for those businesses, and those experiences. If we achieve this mission, we’ll make our vision become reality.</p>
						<h3 class="mt-2">Serving billions</h3>
						<p>When can we say we’ve achieved this mission? For us, that will be when OneQode’s infrastructure has connected at least one billion end-users, through all the various businesses that build on our platform.</p>
						<p>The biggest limiting factor in meaningful online experiences is the amount of people that can share those experiences.</p>
						<p>Currently the design of the internet is, ironically, limited by locality. Carriers and providers, even those with an international presence, only make an effort to serve their local area well. A complex web of incentives has assured this, but our goal is to disrupt that ingrained thinking.</p>
						<p>As our reliance on deeply connected technology grows, the underlying design of the internet itself must change to support it. Without changing that structure, truly mass-scale, intercontinental experiences will remain out of reach.</p>
						<blockquote>
							<p>Image showing OneQode’s reach with the heatmap</p>
						</blockquote>
						<p>Our model was built to enable this. Even now, we have the framework in place for people to build applications connecting billions, at high fidelity. This in turn makes it possible for people anywhere — particularly developing economies — to access opportunities they never would have had prior. It will also allow those same people to <strong>genuinely participate</strong> in new emergent ecosystems as they mature.</p>
						<h3 class="mt-2">Gaming first</h3>
						<p>Short term, we are focusing on gaming. Our technology will enable people to interact and play with a far larger player base than they are used to.</p>
						<p>We’ve already shown the prototype for this with our recent tournament, which had players from Mongolia to Australia compete against each other for the very first time — something impossible before the OneQode platform.</p>
						<p>Gaming is really just the first step though, preparing for what’s to come. Longer term, the platform we’re building has far wider applications and implications.</p>
						<p>From virtual, global offices to VR shopping malls and many, many other usecases, <strong>we’re creating an open foundation for online experiences which connect not millions, but billions.</strong></p>
						<p>If we can do that in a manner that promotes entrepreneurial innovation, open commerce and value exchange, the benefits will be revolutionary.</p>
						<p>We’ll explore the potential implications for developing economies in a later post, but this increase in opportunity is central to everything we’re doing.</p>
						<h2 class="mt-4" id="strategy">Strategy: the how</h2>
						<p>We’ve dealt with why we’re building OneQode and what’s driving us. Now we turn to the fun part — <strong>how</strong> we’re going to get this done.</p>
						<h3 class="mt-2">1. Build a high-performance IaaS framework</h3>
						<p>The first step is to build a high performance Infrastructure as a Service (IaaS) framework. We’ve already been working at this for the last 18 months, and while we’ve completed what we’re calling ‘stage 1’, expanding this framework is critical for the long-term achievement of our mission.</p>
						<p>So what is this framework?</p>
						<blockquote>Diagram: private carrier network > regional hubs > local PoPs > performance servers</blockquote>
						<p>It starts with our <strong>private international carrier network</strong>, which is designed to pick up data as close as possible to the user and deliver it quickly, optimising for reduced latency by default (unlike existing carriers, who optimise for cost).</p>
						<p>Our regional backbone uses <strong>network hubs</strong> we locate at ‘crossroads’, where sub-sea cables meet and we can serve the maximum number of people with acceptable latency. Our <a href="/guam/">first connectivity hub is located in Guam</a>.</p>
						<p>From there, we establish local <strong>Points of Presence</strong> (PoPs) in other key locations, designed to pick up user data and serve more latency sensitive applications.</p>
						<p>Once those are established, we install <strong>high-performance servers</strong> at each location and put them behind our premium DDoS protection, which shields our network and servers from malicious denial-of-service attacks known to target gaming and other real-time applications.</p>
						<p>Finally, we integrate it all into our <strong>cloud platform</strong>, providing a portal and API layer for on-demand access. This allows developers to access all the benefits of our network, hubs and servers in one place.</p>
						<p>So what do we need to do from here to achieve our mission?</p>
						<ol>
						<li class="mb-1"><strong>Expand our framework</strong> by deploying regional backbone locations in the Americas, India and the sub-continent, Europe, Africa and the Middle-East.</li>
						<li class="mb-1"><strong>Bolster our cloud presence</strong> to complement each location and grow to meet increasing demand.</li>
						<li><strong>Continue to build strong relationships</strong> with last-mile network providers, orchestrators, publishers, studios and vendors.</li>

						</ol>
						<p>If we’re achieving the above, OneQode’s footprint will grow from Asia-Pacific to global, with increasing capacity on our cloud and more last-mile carriers interconnecting with us at our various locations.</p>
						<h3 class="mt-2">2. Become the leading gaming IaaS provider</h3>
						<p>As we’ve built the first wave of our high-performance IaaS platform, we’re now ready to enter the second phase of the strategy: adoption. For us, this starts with <strong>gaming</strong>.</p>
						<p>Gaming is one of, if not the most, performance-sensitive application verticals on the internet.</p>
						<p>This market is massive with a direct need. Right now, game servers (in Asia-Pacific particularly) are hyper-localised. It’s difficult for gamers to play across regions and the infrastructure is far behind North America and Europe.</p>
						<p>Despite that, it is the largest region by gaming revenue in the world — and this is only growing.</p>
						<blockquote>
							<p>20% YoY growth</p>
							<p>1.5B gamers</p>
							<p>$80B revenue (maybe show slide)</p>
						</blockquote>
						<p>Our most immediate goal is to address this. If we are to lay it out in mission form, it is:</p>
						<p class="shout-out">To be the pre-eminent gaming Infrastructure as a Service Provider for Asia Pacific</p>
						<p>And on a slightly longer timeframe:</p>
						<p class="shout-out">To be the pre-eminent gaming Infrastructure as a Service Provider for the world.</p>
						<p>Apart from our marketing and sales strategy, a key component for achieving this is something truly profound — playing games!</p>
						<p>Having games, particularly competitive games, playing on our servers and connectivity hubs (like Guam) is important social proof to demonstrate why we’re the pre-eminent gaming infrastructure provider.</p>
						<p>It’s why we’re investing heavily into partnerships with tournament organisers and game studios at the moment, and will continue striving for new ways to support the gaming ecosystem with our technology.</p>
						<p>Ultimately, if we’re achieving this mission, game studios, orchestrators and providers will be able to:</p>
						<ul>
						<li class="mb-1">keep queue times low and off-peak latencies acceptable in far smaller margins;</li>
						<li class="mb-1">serve a larger user pool than ever before;</li>
						<li class="mb-1">build games supporting more players, higher tickrates, larger maps/universes and more server-side features in general; and</li>
						<li>never feel like their infrastructure is letting them, or their players, down.</li>

						</ul>
						<p>Overall, gamers should be feeling like they’re queuing faster, waiting less time for a game, playing against a more varied range of opponents and <strong>playing more expansive games</strong>. Our eventual vision for this is that studios will use our infrastructure to build games which are unparralleled in immersion and player reach.</p>
						<h3 class="mt-2">3. Become the leading on-demand platform for connected experiences</h3>
						<p>To make sure we can meet our customers’ evolving needs, a key part of our strategy will be iterating heavily on both infrastructure and product.</p>
						<p>Just like any solid foundation, we’ll be looking to both build horizontally on that foundation and also add features vertically which can help serve our customers better, increase the depth and utility of our products, and cement our position in the market.</p>
						<p>Some key aspects we’ll be focused on as part of this strategy:</p>
						<ul>
						<li class="mb-1"><strong>Enterprise solutions</strong><br>
						We’ll increasingly build an enterprise arm which can take our world-class infrastructure profile and build fit-for-purpose solutions for businesses pushing boundaries.</li>
						<li class="mb-1"><strong>Product improvement and iteration</strong><br>
						Both horizontal and vertical improvement of our IaaS platform, from increased cloud features through to expanded network reach and presence. Will include a raft of unique software-side developments to serve key customer types.</li>
						<li class="mb-1"><strong>Strategic acquisitions</strong><br>
						Acquiring businesses and software which are complementary for our mission. Primary targets include niche cloud solutions, diverse networks or products which can be significantly improved with access to our platform.</li>
						<li class="mb-1"><strong>Wholesale and white-labelling</strong><br>
						We’ll work with large companies who already move in the IaaS space to supplement their offerings via whitelabelling or offerings on their marketplace.</li>
						<li class="mb-1"><strong>Partnerships</strong><br>
						We work with anyone and everyone and this won’t change anytime soon. We’ll continue to be hyper-focused on forming partnerships which improve our products and incentivise win-win outcomes.</li>

						</ul>
						<h2 class="mt-4" id="summary">In summary</h2>
						<p>OneQode is not only focused on improving connected experiences but <strong>enabling new types of real-time applications</strong>.This starts for us with gaming, but the foundation we’re building has far greater potential.</p>
						<p>As OneQode stretches its metaphorical legs, we’ll focus on serving businesses in complementary verticals, particularly those which can benefit from the unique network and infrastructure that we’ve built.</p>
						<p>Gaming is the harbinger of what’s coming and it needs high-performance connectivity and compute across the board.</p>
						<p>We’re building the foundation for this now, so people everywhere can benefit in the future.</p>
						<p>We hope you join us on this journey, we couldn’t be more excited to see where it takes us.</p>
						<img class="signature block mt-4" src="/img/media/vision-mission-strategy/matt-signature.png" alt="Matt Shearing" class="signature">
						<p class="superheading">Matt Shearing, CEO</p>
					</div>
				</div>
			</div>
		</section>
		<section class="py-8 black-to-footer">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
						<h2>That’s it<mark class="dot">.</mark> That’s the article<mark class="dot">.</mark></h2>
						<p class="subheading">Thinking of taking on the world? We’d love to help.</p>
					</div>
				</div>
				<div class="row mt-4 icons">
					<div class="col-xs-6 col-md-4 mb-2 mt-1">
						<a href="/network/" class="box glowing">
							<img class="mt-2" src="/img/ico/connection2.svg" alt="">
							<h2 class="mt-2">Network</h2>
							<p class="hide-mobile">Latency-optimised connectivity</p>
						</a>
					</div>
					<div class="col-xs-6 col-md-4 mb-2 mt-1">
						<a href="/game-servers/" class="box glowing">
							<img class="mt-2" src="/img/ico/server.svg" alt="">
							<h2 class="mt-2">Game Servers</h2>
							<p class="hide-mobile">Compute, storage and colocation</p>
						</a>
					</div>
					<div class="col-xs-6 col-md-4 mb-2 mt-1">
						<a href="/cloud/" class="box glowing">
							<img class="mt-2" src="/img/ico/cloud.svg" alt="">
							<h2 class="mt-2">Cloud Platform</h2>
							<p class="hide-mobile">The high performance cloud</p>
						</a>
					</div>
				</div>
			</div>
		</section>
<script>
// Source: https://web.dev/lazy-loading-video/
document.addEventListener("DOMContentLoaded", function() {
	var lazyVideos = [].slice.call(document.querySelectorAll("video.lazy"));

	if ("IntersectionObserver" in window) {
		var lazyVideoObserver = new IntersectionObserver(function(entries, observer) {
			entries.forEach(function(video) {
				if (video.isIntersecting) {
					for (var source in video.target.children) {
						var videoSource = video.target.children[source];
						if (typeof videoSource.tagName === "string" && videoSource.tagName === "SOURCE") {
							videoSource.src = videoSource.dataset.src;
						}
					}

					video.target.load();
					video.target.classList.remove("lazy");
					lazyVideoObserver.unobserve(video.target);
				}
			});
		});

		lazyVideos.forEach(function(lazyVideo) {
			lazyVideoObserver.observe(lazyVideo);
		});
	}
});
</script>
{% include _footer.liquid %}