			<div id="network-map" class="map">	
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3840 2480" aria-labelledby="maptitle mapdescription" role="img">
					<title id="maptitle">OneQode Global Network Rollout Map</title>
					<desc id="mapdescription">A world map centred on Asia-Pacific showing the OneQode network connecting Sydney, the Sunshine Coast, Guam, the Philippines, Singapore, Taiwan, Hong Kong, South Korea, Japan, Russia, India, Oman, Hawaii, Vancouver, and the United States</desc>
					<g id="cables">
						<g class="active" id="sunshine_coast_guam">
							<path d="M1725.1,1926.5s38.4-3.4,48.4,0" />
						</g>
						<g class="active" id="brisbane_sydney">
							<path d="M1722.6,1943.7c0,0-27.7,44.4-25.5,118.9"/>
						</g>
						<g class="active" id="melbourne_syd">
							<path d="M1616.5,2132.7a46.9,46.9,0,0,1,2.1-4.5" />
							<path d="M1623,2120.2c18.9-31,50-47.6,65.2-54.2" />
							<path d="M1692.4,2064.3c3-1.2,4.7-1.7,4.7-1.7" />
						</g>
						<g class="active" id="guam_sydney">
							<path d="M1697.1,2061.3c123-19.4,64.1-310.4,64.1-310.4s-24.5-104-26.1-227.7S1593,1223.3,1593,1223.3" />
						</g>
						<g class="active" id="adelaide_syd">
							<path d="M1517.4,2078.9l4.8-1.2" />
							<path d="M1532,2075.4c24.5-5.1,78.6-14.3,155.1-14.1" />
							<path d="M1692.1,2061.3h5" />
						</g>
						<g class="active" id="singapore_perth">
							<path d="M1175.7,2040.9l-4.4-2.3" />
							<path d="M1162.4,2033.6c-55.7-32.5-265.7-174.6-200.3-440,6.2-23.2,37.9-31.7,41.3-51s11.4-44.9-41.6-102.5" />
							<path d="M958.3,1436.4l-3.4-3.6" />
						</g>
						<g class="active" id="perth_syd">
							<path d="M1697.1,2061.3l-4.5-2.2" />
							<path d="M1683.4,2054.8c-143.9-63.2-439.8-23.9-497.8-15.4" />
							<path d="M1180.6,2040.1l-4.9.8" />
						</g>
						<g class="active" id="darwin_sydney">
							<path d="M1380.7,1680.7l4.2,2.8" />
							<path d="M1393,1689.3c41.1,30.4,178.7,142.5,299.3,363.3" />
							<path d="M1694.7,2056.9l2.4,4.4" />
						</g>
						<g class="active" id="darwin_brisbane">
							<path d="M1722.1,1943.6l-2.8-4.1" />
							<path d="M1713.3,1931.7c-25.3-31.7-110.4-124-323.9-246.1" />
							<path d="M1385.1,1683.1l-4.4-2.4" />
						</g>
						<g class="active" id="darwin_adelaide">
							<path d="M1380.7,1680.7l3.2,3.8" />
							<path d="M1389.9,1692.2c31.7,41.7,134.3,191.7,127.9,376.8" />
							<path d="M1517.6,2073.9c-.1,1.7-.2,3.3-.2,5" />
						</g>
						<g class="coming-soon" id="philippines_darwin">
							<path d="M1294.2,1335.4s.1,1.8.2,5" />
							<path d="M1294.7,1350.3c2.1,43.4,12.6,173.6,65.4,282.6" />
							<path d="M1362.3,1637.4c.8,1.5,1.5,3,2.3,4.4" />
						</g>
						<g class="active" id="chennai_singapore">
							<path d="M590.3,1235.5l4.2,2.7" />
							<path d="M603.1,1243.6c42.3,26.5,179.1,108.9,251.2,114.8,38.4,2,53.1,78.3,90.7,76.5" />
							<path d="M950.1,1434.2a35.9,35.9,0,0,0,4.8-1.4l3,4" />
						</g>
						<g class="coming-soon" id="muscat_perth">
							<path d="M275,1041.6a11.4,11.4,0,0,1,4.9-1.1" />
							<path d="M289.5,1042.9c112.5,51.5,608.1,907.3,876.6,995.2" />
							<path d="M1170.9,2039.6l4.8,1.3" />
						</g>
						<g class="active" id="singapore_hong_kong">
							<path d="M1135.1,1062.5s-.3,1.7-1.1,4.9" />
							<path d="M1131.6,1077c-12.3,47.8-59.3,205.8-170.5,348" />
							<path d="M958,1428.9l-3.1,3.9" />
						</g>
						<g class="coming-soon" id="singapore_philippines">
							<path d="M1294.2,1335.4l-4.7-1.5" />
							<path d="M1279.6,1331.1c-43.1-10.6-175.5-29-317.2,94.9" />
							<path d="M958.6,1429.5l-3.7,3.3" />
						</g>
						<g class="active" id="hong_kong_tokyo">
							<path d="M1538.3,826.9s-9.7,317.6-403.2,235.6" />
						</g>
						<g class="active" id="seoul_busan_osaka_tokyo">
							<path d="M1538.3,826.9a48.6,48.6,0,0,1-3.9,3.1" />
							<path d="M1525.8,835.3a99,99,0,0,1-55.8,12.4c-40.9-3.1-62.8,22.1-95.4-5-16.6-13.8-22.1-24-23.6-30.7" />
							<path d="M1350.6,807a9.3,9.3,0,0,1,1.4-4.7" />
						</g>
						<g class="active" id="vladivostok_tokyo">
							<path d="M1437.3,697.4l4.2,2.6" />
							<path d="M1450.2,706c22.6,16.4,68.5,55.3,85.5,111" />
							<path d="M1537.1,822.1a42.1,42.1,0,0,1,1.2,4.8" />
						</g>
						<g class="active" id="tokyo_guam">
							<path d="M1538.3,826.9s-32.4,232.1,54.7,396.4" />
						</g>
						<g class="active" id="hong_kong_guam">
							<path d="M1135.1,1062.5l3.8,3.2" />
							<path d="M1146.7,1071.7c36.3,26.9,162.4,105.9,436.5,150.1" />
							<path d="M1588.1,1222.5l4.9.8" />
						</g>
						<g class="active" id="philippines_guam">
							<path d="M1294.2,1335.4l5,.4" />
							<path d="M1309.5,1336.3c43.9,1,173.7-5.3,276.4-105.8" />
							<path d="M1589.5,1226.9l3.5-3.6" />
						</g>
						<g class="active" id="guam_los_angeles">
							<path d="M1593,1223.3s681.8-313.7,1445.4-370.2" />
						</g>
						<g class="active" id="guam_hawaii">
							<path d="M1593,1223.3l4.9-1.1" />
							<path d="M1607.7,1220c82.9-18.7,503.8-108.8,868.6-103.1" />
							<path d="M2481.3,1117h5" />
						</g>
						<g class="active" id="sydney_hawaii">
							<path d="M2486.3,1117.1s-.4,1.6-1.3,4.8" />
							<path d="M2482.2,1131.5c-33.4,114.7-273.7,876.1-775.1,928.9" />
							<path d="M1702.1,2060.9l-5,.4" />
						</g>
						<g class="active" id="hawaii_los_angeles">
							<path d="M2486.3,1117.1s.6-1.7,1.9-4.7" />
							<path d="M2492.5,1103.5c24.6-46.7,134.8-200.6,536-249.2" />
							<path d="M3033.4,853.7l5-.6" />
						</g>
						<g class="coming-soon" id="tokyo_portland">
							<path d="M2923.8,672.6h-5" />
							<path d="M2908.9,672.6c-112,.4-828.3,8.8-1360.9,151.7" />
							<path d="M1543.2,825.6l-4.9,1.3" />
						</g>
						<g class="coming-soon" id="tokyo_seattle">
							<path d="M2911.3,626.8l-5,.3" />
							<path d="M2896.3,627.7C2785.1,634.3,2080,681.1,1548,824.3" />
							<path d="M1543.2,825.6l-4.9,1.3" />
						</g>
						<g class="coming-soon" id="hawaii_portland">
							<path d="M2923.8,672.6l-4.2,2.6" />
							<path d="M2911.2,680.5c-64.3,41.3-355.8,236.7-421.8,427.1" />
							<path d="M2487.8,1112.3l-1.5,4.8" />
						</g>
						<g class="coming-soon" id="vancouver_seattle">
							<path d="M2911.3,626.8c0,0-0.6-1.8-1.9-4.6"/>
							<path d="M2903.7,611.1c-2.9-4.9-6.6-10.3-11-15.1"/>
							<path d="M2888.3,591.6c-1.2-1.1-2.5-2.2-3.9-3.1"/>
						</g>
						<g class="active" id="seattle_portland_bay_area_la">
							<path d="M3038.4,853.1c0,0-1.7-0.2-4.8-1.3"/>
							<path d="M3024.8,847.8c-12.5-6.7-32.4-21.9-55.1-55.8c-31.3-49.3-42.5-100.3-45.8-119.5c-2.1-12-6.5-27-9.4-36.5"/>
							<path d="M2912.9,631.5c-1-3-1.6-4.7-1.6-4.7"/>
						</g>
						<g class="coming-soon" id="chicago_ashburn">
							<path d="M3429.5,726.4l4.9.4" />
							<path d="M3444.4,728.2c24.1,3.9,76.1,15.2,148.7,47.6" />
							<path d="M3597.7,777.9l4.5,2.1" />
						</g>
						<g class="coming-soon" id="toronto_new_york">
							<path d="M3637,738.6l-4.8-1.3" />
							<path d="M3622.9,734.5c-20.4-6.5-58.1-20.8-80.7-43.2" />
							<path d="M3538.9,687.8l-3.3-3.8" />
						</g>
						<g class="coming-soon" id="chicago_toronto">
							<path d="M3429.5,726.4l4.9-1" />
							<path d="M3443.7,723.3c19.9-4.7,56.6-15.2,84-33.6" />
							<path d="M3531.6,687l4-3" />
						</g>
						<g class="coming-soon" id="ashburn_new_york">
							<path d="M3602.2,780l2.4-4.4" />
							<path d="M3609.3,768c4.8-7.1,11.7-16.3,20.2-23.6" />
							<path d="M3633,741.5l4-2.9" />
						</g>
						<g class="coming-soon" id="vancouver_toronto">
							<path d="M2884.4,588.4l4.9-.8" />
							<path d="M2899.1,586c76.6-11.7,433.2-56.5,628.7,91.8" />
							<path d="M3531.7,680.9l3.9,3.1" />
						</g>
						<g class="active" id="perth_sydney">
							<path class="cls-33" d="M1175.7,2040.9s-28.3-4.3-25,48.3c7.2,115.3,486.6,128.7,546.4,43.9,28.9-40.9,0-71.8,0-71.8" />
						</g>
						<g class="active" id="guam_manila">
							<path d="M1226.37,1203.64s-7.32-11.58-10-25.97c-5.14-27.65-3.75-65.31,25.13-48.61,115.33,66.68,313.9,89.43,351.13,93.88" />
						</g>
						<g class="active" id="manila_hong_hong">
							<path d="m1226.37,1203.64s-76.74-46.03-91.65-141.52" />
						</g>
						<g class="active" id="davao_manado">
							<path d="M1283.85,1437.05s14.05-27.39,10-101.99" />
						</g>
						<g class="coming-soon" id="guam_png">
							<path d="M1605.18,1556.33s27.01,8.29-12.55-333.4" />
							<path id="cross_png" d="M1632.18,1629.47s-7.33-49.97-27.01-73.13" />
						</g>
						<g class="coming-soon" id="omaha-cables">
							<path id="omaha_ny" d="M3355.14,785.97s106.45-8.31,281.51-47.72" />
							<path id="la_omaha" d="M3037.97,852.69s108.92-43.76,317.17-66.72" />
							<path id="seattle_omaha" d="M2910.94,626.41s179.62,130.25,444.2,159.56" />
						</g>
						<g class="coming-soon" id="singapore_kuching">
							<path d="M1053.4,1432.16c-12.12-34.1-88.03,6.77-98.92,.25" />
						</g>
						<g class="active" id="singapore-guam-igg">
							<path d="M1283.85,1437.05s-69.89-27.23-85.9,0c-17.44,29.67-20.56,129.68-50.81,120.34" />
							<path d="M954.48,1432.41s74.63,89.74,192.65,124.98" />
						</g>
						<g class="coming-soon" id="igg-branches">
							<path d="M1147.13,1557.39c-13.22-.75-34.05,32.57-55.29,31.62" />
							<path d="M1001.16,1572.03s16.85-11.4,29.37-66.63" />
						</g>
						<g class="coming-soon" id="darwin_igg">
							<path d="M1147.13,1557.39c1.67,.5,3.23,1.06,4.72,1.65" />
							<path d="M1161.08,1563.45c5.4,2.79,10.72,5.5,18.19,6.75,150.75,20.17,154.36,30.19,154.36,30.19,0,0,24.04,16.17,43.45,70.3" />
							<path d="M1378.76,1675.52c.53,1.55,1.05,3.14,1.57,4.75" />
						</g>
					</g>
					<g id="labels">
						<text class="active" transform="translate(1416 2170)">Melbourne</text>
						<text class="coming-soon" transform="translate(1346 2121)">Adelaide</text>
						<text class="coming-soon" transform="translate(1056 2062)">Perth</text>
						<text class="active" transform="translate(1721 2103)">Sydney</text>
						<text class="active" transform="translate(1789 1965)">Brisbane</text>
						<text class="active" transform="translate(1791 1912)">Sunshine Coast</text>
						<text class="coming-soon" transform="translate(1235 1675)">Darwin</text>
						<text class="coming-soon" transform="translate(837.15 1598.1)">Jakarta</text>
						<text class="coming-soon" transform="translate(1008.68 1645.9)">Surabaya</text>
						<text class="active" transform="translate(781 1469)">Singapore</text>
						<text class="coming-soon" transform="translate(1048.9 1466.46)">Kuching</text>
						<text class="coming-soon" transform="translate(612 1227)">Chennai</text>
						<text class="active" transform="translate(1253.39 1204.42)">Manila</text>
						<text class="coming-soon" transform="translate(1311.89 1366.77)">Davao</text>
						<text class="coming-soon" transform="translate(1291.91 1463.09)">Manado</text>
						<text class="active" transform="translate(965 1038)">Hong Kong</text>
						<text class="coming-soon" transform="translate(255 1156)">Muscat</text>
						<text class="active" transform="translate(1642 1255)">Guam (APAC Central)</text>
						<text class="coming-soon" transform="translate(2542 1160)">Hawaii</text>
						<text class="active" transform="translate(2875 919)">Los Angeles</text>
						<text class="active" transform="translate(2797 804)">Bay Area</text>
						<text class="coming-soon" transform="translate(2726 550)">Canada West</text>
						<text class="coming-soon" transform="translate(3400 600)">Canada East</text>
						<text class="active" transform="translate(2554 670)">American Northwest</text>
						<text class="coming-soon" transform="translate(3250 810)">American Northeast</text>
						<text class="coming-soon" transform="translate(1378 665)">Vladivostok</text>
						<text class="coming-soon" transform="translate(1240 840)">Seoul</text>
						<text class="active" transform="translate(1562 859)">Tokyo</text>
					</g>
					<g id="legend">
						<rect class="cls-1" x="3155" y="2010" width="398" height="190" rx="6" />
						<text class="active" transform="translate(3201 2087)">Active</text>
						<text class="coming-soon" transform="translate(3201 2144)">Planned</text>
						<g id="cables-legend">
							<line class="active" x1="3364" y1="2077" x2="3495" y2="2077"/>
							<line class="coming-soon" x1="3364" y1="2135" x2="3495" y2="2135"/>
						</g>
					</g>
				</svg>
				<picture>
					<source srcset="/img/world-map-asia-pacific-hd.webp" type="image/webp" media="(max-width: 1920px)">
					<source srcset="/img/world-map-asia-pacific-4k.webp" type="image/webp" media="(min-width: 1920px)">
					<img src="/img/world-map-asia-pacific-hd.jpg" alt="OneQode Global Network Rollout Map">
				</picture>
			</div>