			<div id="network-map" class="map">	
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3840 2820" aria-labelledby="maptitle mapdescription" role="img">
					<title id="maptitle">OneQode Global Network Rollout Map</title>
					<desc id="mapdescription">A world map centred on Asia-Pacific showing the OneQode network connecting Sydney, the Sunshine Coast, Guam, the Philippines, Singapore, Taiwan, Hong Kong, South Korea, Japan, Russia, India, Oman, Hawiai, Vancouver, and the United States</desc>
					<g class="coming-soon">
						<path id="muscat-perth" d="m39.52,1426.29c224.96,0,332.79,907.03,913.47,907.03"/>
						<path id="davao-darwin" d="m1107.59,1689.39c54.89,41.43-14.29,185.86,91.04,309.08"/>
						<path id="surabaya-darwin" d="m1198.63,1998.46c-51.19-65.29-53.84-90.47-164.48-90.47-49.86,0-48.69-26.27-98.76-26.27-31.98,0-34.66,33.07-34.66,33.07"/>
						<path id="jakarta-singapore" d="m835.21,1818.6c23.26,34.84-2.24,66.16-19.26,83.18"/>
						<path id="singapore-davao" d="m764.45,1780.59c40.24-37.86,188.55-142.55,343.15-91.21"/>
						<path id="singapore-kuching" d="m873.3,1779.81c-25.35-22.12-77.17-12.19-108.85.78"/>
						<path id="singapore-bangkok" d="m711.24,1584.9c0,66.47,53.2,92.06,53.2,195.7"/>
						<path id="guam-port-moresby" d="m1456.96,1952.78c0-28.72-11.9-51.57-26.98-65.18,26.98-68.73-27.27-201.88-15.08-297.62"/>
						<path id="tokyo-seattle" d="m1341.95,1216.07c340.08-163.19,616.9-224.91,1552.32-224.91"/>
						<path id="tokyo-portland" d="m1341.95,1216.07c465.62-159.49,651.89-171.09,1548.12-171.09"/>
						<path id="hawaii-portland" d="m2349.63,1474.08c0-235.94,204.44-374.87,540.44-429.11"/>
						<path id="seattle-vancouver" class="cls-5" d="m2894.27,991.16c0-9.71-13.33-35.87-16.39-40.49"/>
						<path id="seattle-chicago" d="m2894.27,991.16c246.42,0,350.12,36.63,428.06,130.84"/>
						<path id="los-angeles-omaha" d="m2954.66,1238.65c111.44,0,276.95-25.93,367.66-116.64"/>
						<path id="vancouver-toronto" d="m2877.88,950.67c347.93,0,507.35,0,688.62,121.71"/>
						<path id="chicago-toronto" d="m3435.72,1105.75c31.57-33.37,89.35-33.37,130.77-33.37"/>
						<path id="omaha-new-york" d="m3656.72,1125.8c-85.56,38.02-243.12,34.53-334.39-3.8"/>
						<path id="toronto-new-york" d="m3566.5,1072.38c29.22,0,83.91,26.71,90.22,53.42"/>
						<path id="chicago-ashburn" d="m3602.99,1163.83c-58.62-64.74-167.27-58.08-167.27-58.08"/>
						<path id="ashburn-new-york" d="m3602.99,1163.83c21.7,0,47.71-15.69,53.73-38.02"/>
						<path id="guam-palau" d="m1252.26,1684.24s43.58,23.8,98.85-23.75"/>
					</g>
					<g class="active">
						<path id="perth-sydney" d="m1516.04,2352.24c0,86.43-25.64,127.34-258.75,127.34s-353.3-27.22-348.74-94.94c2.18-32.39,44.45-51.32,44.45-51.32"/>
						<path id="melbourne-sydney" d="m1516.04,2352.24c-44.89,5.79-83.87,38.02-92.24,76.05"/>
						<path id="adelaide-sydney" d="m1516.04,2352.24c-50.08-12.19-133.07-16.09-200.1,20.2"/>
						<path id="darwin-sydney" d="m1198.63,1998.46c144.71,60.34,291.58,270.06,317.4,353.78"/>
						<path id="darwin-adelaide" d="m1198.63,1998.46c93.96,90.4,117.3,206.33,117.3,373.98"/>
						<path id="darwin-brisbane" d="m1198.63,1998.46c117.3,20.3,263.46,112.26,348,248.57"/>
						<path id="sydney-hawaii" d="m1516.04,2352.24c595.52,0,833.6-439.21,833.6-878.16"/>
						<path id="guam-hawaii" d="m2349.63,1474.08c-737.75,0-934.73,115.89-934.73,115.89"/>
						<path id="guam-sydney" d="m1516.04,2352.24c93.57-93.57,111.35-312.19,41.22-474.84-49.81-115.5-142.35-134.42-142.35-287.44"/>
						<path id="sunshine-coast-guam" d="m1541.55,2216.98c23-8.8,43.15,3.58,43.15,3.58"/>
						<path id="sunshine-coast-brisbane" d="m1546.63,2247.03c0-19.53-5.08-30.05-5.08-30.05"/>
						<path id="hong-kong-guam" d="m933.69,1438.48c105.42,89.03,316.44,29.55,481.21,151.49"/>
						<path id="singapore-perth" d="m764.45,1780.59c43.08,8.67,55.58,37.9,51.51,67.27-5.97,43.03-57.84,76.27-76.02,144.94-21.13,79.82,5.88,261.37,213.06,340.51"/>
						<path id="chennai-singapore" d="m384.5,1602.14c7.62,74.05,110.08,124.04,216.42,97.82,54.58-13.46,81.71,8.94,110.09,49.03,22.03,31.11,33.77,31.6,53.44,31.6"/>
						<path id="hong-kong-tokyo" d="m933.69,1438.48c192.23,71.41,408.26-89.82,408.26-222.41"/>
						<path id="tokyo-guam" d="m1341.95,1216.07c51.93,50.87,72.95,170.18,72.95,373.9"/>
						<path id="vladivostok-tokyo" d="m1212.23,1077.66c60.52,32.19,110.52,95.73,129.72,138.41"/>
						<path id="osaka-tokyo" d="m1341.95,1216.07c-20.72,19.42-74.55,18.08-74.55,18.08"/>
						<path id="busan-osaka" d="m1267.4,1234.15c-20.37,0-33.76,9.32-62.04,9.32-16.28,0-37.07-6.68-49.4-14.84"/>
						<path id="seoul-busan" d="m1131.22,1182.02c0,25.99,14.54,39.94,24.73,46.62"/>
						<path id="guam-davao-one" d="m1414.9,1589.97c-23.26,23.26-86.85,141.03-264.28,141.03"/>
						<path id="guam-davao-two" d="m1150.62,1731c-33.14,0-43.03-22.4-43.03-41.61"/>
						<path id="guam-manado" d="m1146.78,1731c-35.23-.71-45.88,27.6-45.88,50.24"/>
						<path id="singapore-manado" d="m1100.9,1781.24s-16.05-16.36-32.6-20.03c-77.14-17.08-49.99,120.5-132.91,120.5-100.18,0-92.02-111.19-170.95-101.12"/>
						<path id="singapore-hong-kong" d="m764.45,1780.59c120.95-95.54,169.24-186.83,169.24-342.11"/>
						<path id="perth-sydney-2" d="m952.99,2333.32c192.37-74.1,380.65-60.94,563.04,18.92"/>
						<path id="brisbane-sydney" d="m1546.63,2247.03s13.34,61.28-30.59,105.22"/>
						<path id="guam-manila" d="m1040.51,1570.48c-37.09-24.33-37.41-62.12-8.43-70.51,63.32-18.33,253.85,90,382.83,90"/>
						<path id="hong-kong-manila" d="m933.69,1438.48c11.21,34.35,39.35,125.72,106.82,132"/>
						<path id="guam-los-angeles" d="m1414.9,1589.97c340.59-340.59,774.31-351.32,1539.76-351.32"/>
						<path id="hawaii-los-angeles" d="m2349.63,1474.08c437.38,0,567.06-103.64,605.03-235.44"/>
						<path id="bay-area-los-angeles" d="m2888.75,1175.77c10.77,18.53,44.83,49.1,65.92,62.88"/>
						<path id="seattle-bay-area" d="m2894.27,991.16c-11.47,37.71-8.41,157.54-5.52,184.61"/>
					</g>
					<g id="pops">
						<circle id="sydney" cx="1516.04" cy="2352.24" r="10"/>
						<circle id="melbourne" cx="1423.79" cy="2428.29" r="10"/>
						<circle id="manila" cx="1039.9" cy="1570.52" r="10"/>
						<circle id="hong-kong" cx="933.69" cy="1438.48" r="10"/>
						<circle id="los-angeles" cx="2954.66" cy="1238.65" r="10"/>
						<circle id="bay-area" cx="2888.75" cy="1175.77" r="10"/>
						<circle id="seattle" cx="2894.27" cy="991.16" r="10"/>
						<circle id="tokyo" cx="1341.95" cy="1216.07" r="10"/>
						<circle id="guam" cx="1414.9" cy="1589.97" r="10"/>
						<circle id="singapore" cx="764.45" cy="1780.59" r="10"/>
						<circle id="brisbane" cx="1546.63" cy="2247.03" r="10"/>
						<circle id="sunshine-coast" cx="1541.55" cy="2216.98" r="10"/>
						{%- comment %}
						<circle id="adelaide" cx="1315.54" cy="2372.01" r="10"/>
						<circle id="perth" cx="952.99" cy="2333.32" r="10"/>
						<circle id="surabaya" cx="900.74" cy="1914.78" r="10"/>
						<circle id="jakata" cx="815.95" cy="1901.78" r="10"/>
						<circle id="kuching" cx="873.3" cy="1779.81" r="10"/>
						<circle id="bangkok" cx="711.24" cy="1584.9" r="10"/>
						<circle id="chennai" cx="384.5" cy="1602.14" r="10"/>
						<circle id="seoul" cx="1131.22" cy="1182.02" r="10"/>
						<circle id="vladivostok" cx="1212.23" cy="1077.66" r="10"/>
						<circle id="ashburn" cx="3603.72" cy="1163.56" r="10"/>
						<circle id="omaha" cx="3322.33" cy="1122" r="10"/>
						<circle id="chicago" cx="3435.72" cy="1105.75" r="10"/>
						<circle id="toronto" cx="3566.5" cy="1072.38" r="10"/>
						<circle id="new-york" cx="3656.72" cy="1125.8" r="10"/>
						<circle id="vancouver" cx="2877.88" cy="950.67" r="10"/>
						<circle id="portland" cx="2890.17" cy="1044.98" r="10"/>
						<circle id="hawaii" cx="2349.63" cy="1474.08" r="10"/>
						<circle id="busan" cx="1155.96" cy="1228.63" r="10"/>
						<circle id="osaka" cx="1267.4" cy="1234.15" r="10"/>
						<circle id="davao" cx="1107.59" cy="1689.39" r="10"/>
						<circle id="palau" cx="1252.26" cy="1684.24" r="10"/>
						<circle id="manado" cx="1100.9" cy="1781.24" r="10"/>
						<circle id="port-moresby" cx="1456.96" cy="1952.78" r="10"/>
						<circle id="muscat" cx="39.52" cy="1426.29" r="10"/>
						<circle id="darwin" cx="1198.63" cy="1998.46" r="10"/>
						{% endcomment %}
					</g>
					<g id="labels">
						<text class="active" transform="translate(1370.4 1227.65)">Tokyo</text>
						<text class="active" transform="translate(2918.61 986.06)">Seattle</text>
						<text class="active" transform="translate(2915.87 1156.38)">Bay Area</text>
						<text class="active" transform="translate(2977.5 1271.3)">Los Angeles</text>
						<text class="active" transform="translate(768.7 1416.79)">Hong Kong</text>
						<text class="active" transform="translate(621.58 1813.74)">Singapore</text>
						<text class="active" transform="translate(1437.59 1620.36)">Guam (APAC Central)</text>
						<text class="active" transform="translate(929.81 1594.26)">Manila</text>
						<text class="active" transform="translate(1600.1 2213.15)">Sunshine Coast</text>
						<text class="active" transform="translate(1582.6 2269.17)">Brisbane</text>
						<text class="active" transform="translate(1532.89 2389.88)">Sydney</text>
						<text class="active" transform="translate(1258.5 2437.02)">Melbourne</text>
						<text class="coming-soon" transform="translate(964.1 2372.01)">Perth</text>
						<text class="coming-soon" transform="translate(1168.49 2378.52)">Adelaide</text>
						<text class="coming-soon" transform="translate(1372.5 2008.3)">Port Moresby</text>
						<text class="coming-soon" transform="translate(1089.94 2034.18)">Darwin</text>
						<text class="coming-soon" transform="translate(2371.17 1512.42)">Hawaii</text>
						<text class="coming-soon" transform="translate(2913.56 1056.47)">Portland</text>
						<text class="coming-soon" transform="translate(2900.98 916.11)">Vancouver</text>
						<text class="coming-soon" transform="translate(3684.68 1137)">New York</text>
						<text class="coming-soon" transform="translate(3608.84 1201.83)">Ashburn</text>
						<text class="coming-soon" transform="translate(3578.69 1053.71)">Toronto</text>
						<text class="coming-soon" transform="translate(3307.04 1085.17)">Chicago</text>
						<text class="coming-soon" transform="translate(3190.15 1128.41)">Omaha</text>
						<text class="coming-soon" transform="translate(1119.17 1668.24)">Davao</text>
						<text class="coming-soon" transform="translate(1138.23 1792.06)">Manado</text>
						<text class="coming-soon" transform="translate(1259.03 1665.78)">Palau</text>
						<text class="coming-soon" transform="translate(887.59 1759.74)">Kuching</text>
						<text class="coming-soon" transform="translate(1223.82 1285.45)">Osaka</text>
						<text class="coming-soon" transform="translate(1052.61 1259.53)">Busan</text>
						<text class="coming-soon" transform="translate(593.4 1564.44)">Bangkok</text>
						<text class="coming-soon" transform="translate(1027.28 1184.39)">Seoul</text>
						<text class="coming-soon" transform="translate(1036.99 1056.01)">Vladivostok</text>
						<text class="coming-soon" transform="translate(914.4 1951.9)">Surabaya</text>
						<text class="coming-soon" transform="translate(773.8 1946.58)">Jakarta</text>
						<text class="coming-soon" transform="translate(254.88 1581.26)">Chennai</text>
						<text class="coming-soon" transform="translate(61.47 1396.04)">Muscat</text>
					</g>
					<g id="legend">
						<rect x="3155" y="2010" width="398" height="190" rx="6" />
						<text class="active" transform="translate(3201 2087)">Active</text>
						<text class="coming-soon" transform="translate(3201 2144)">Planned</text>
						<g id="cables-legend">
							<line class="active" x1="3364" y1="2077" x2="3495" y2="2077"/>
							<line class="coming-soon" x1="3364" y1="2135" x2="3495" y2="2135"/>
						</g>
					</g>
				</svg>
				<picture>
					<source srcset="/img/world-map-asia-pacific-hd.webp" type="image/webp" media="(max-width: 1920px)">
					<source srcset="/img/world-map-asia-pacific-4k.webp" type="image/webp" media="(min-width: 1920px)">
					<img src="/img/world-map-asia-pacific-hd.jpg" alt="OneQode Global Network Rollout Map Background">
				</picture>
			</div>