		<div id="network-map">	
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3840 3287" aria-labelledby="maptitle mapdescription" role="img">
				<title id="maptitle">OneQode Network Map</title>
				<desc id="mapdescription">A map of Asia-Pacific showing the OneQode network connecting Sydney, the Sunshine Coast, Guam, the Philippines, Singapore, Taiwan, Hong Kong, South Korea, Japan, Russia, and the United States</desc>
				<g id="cables">
					<polyline id="sydney-brisbane-sunshine-coast-guam" points="1505.24 2785.33 1535.67 2604.44 1705.51 2512.59" />
					<line id="guam-usa" x1="1345.67" y1="1594.67" x2="3372.85" y2="1055.85" />
					<polyline id="sydney-guam" points="1504.11 2785.94 1678.04 2691.11 1766.33 2117.33 1345.67 1594.67" />
					<polyline id="south-korea" points="976.41 1064.22 1039.82 1195.41 1345.67 1594.67" />
					<line id="guam-japan" x1="1345.67" y1="1594.67" x2="1265.3" y2="1046.22" />
					<line id="guam-hong-kong" x1="678.63" y1="1372" x2="1345.67" y2="1594.67" />
					<line id="guam-taiwan" x1="816.33" y1="1361.78" x2="796.85" y2="1411.46" />
					<polyline id="guam-singapore" points="810.61 1416.06 730.78 1628 431.81 1899.41" />
					<line id="japan-russia" x1="1230.63" y1="992.74" x2="1129.3" y2="846.96" />
					<polyline id="guam-philippines" points="914.78 1756.59 932.33 1796.89 1345.67 1594.67" />
				</g>
				<g id="labels">
					<text class="cls-2" transform="translate(1395.81 1636.52)">Guam</text>
					<text class="cls-2" transform="translate(1294.88 1055.85)">Japan</text>
					<text class="cls-2" transform="translate(831.18 1377.31)">Taiwan</text>
					<text class="cls-2" transform="translate(520.91 1352.38)">Hong Kong</text>
					<text class="cls-2" transform="translate(868.99 1684.93)">Philippines</text>
					<text class="cls-2" transform="translate(453.11 1920.9)">Singapore</text>
					<text class="cls-2" transform="translate(1064.33 824.91)">Russia</text>
					<text class="cls-2" transform="translate(743.29 1038.71)">South Korea</text>
					<text class="cls-2" transform="translate(1705.51 2621.62)">Australia</text>
					<text class="cls-2" transform="translate(3218.38 1055.85)">USA</text>
				</g>
			</svg>
			<picture>
				<source srcset="/img/asia-pacific-map-bg.webp" type="image/webp">
				<img src="/img/asia-pacific-map-bg.jpg" alt="OneQode Network Map">
			</picture>
		</div>