		<style>
			/*
				Pulses
				Credit to Florin Pop - https://www.florin-pop.com/blog/2019/03/css-pulse-effect/
			*/
			span.pulse {
				border-radius: 50%;
				height: 0.75rem;
				width: 0.75rem;
				background: rgba(0, 176, 240, 1);
				box-shadow: 0 0 0 0 rgba(0, 176, 240, 1);
				animation: pulse 2s infinite;
				display: inline-block;
				position: absolute;
				z-index: 3;
			}
			@keyframes pulse {
				0% {
					transform:
						scale(0.95)
						translate(-50%, -50%);
					box-shadow: 0 0 0 0 rgba(0, 176, 240, 0.7);
				}
				70% {
					transform:
						scale(1)
						translate(-50%, -50%);
					box-shadow: 0 0 0 10px rgba(0, 176, 240, 0);
				}
				
				100% {
					transform:
						scale(0.95)
						translate(-50%, -50%);
					box-shadow: 0 0 0 0 rgba(0, 176, 240, 0);
				}
			}
			span.pulse.sunshine-coast {
				left: 40.3%;
				top: 73.7%;
			}
			span.pulse.brisbane {
				left: 40.4%;
				top: 75.2%;
			}
			span.pulse.sydney {
				left: 39.6%;
				top: 80.1%;
			}
			span.pulse.melbourne {
				left: 37.2%;
				top: 83.9%;
			}
			span.pulse.apac-central {
				left: 37%;
				top: 45.2%;
			}
			span.pulse.tokyo {
				left: 35.2%;
				top: 28%;
			}
			span.pulse.hong-kong {
				left: 24.6%;
				top: 38.3%;
			}
			span.pulse.singapore {
				left: 20.2%;
				top: 54%;
			}
			span.pulse.manila {
				left: 27.1%;
				top: 44.2%;
			}
			span.pulse.los-angeles {
				left: 76.7%;
				top: 29.1%;
			}
			#pops-map text {
				font-size: 38px;
			}
			/* Mobile Overrides */
			@media screen and (max-width: 64em) {
				#pops-map text {
					display: none;
				}
				span.pulse {
					height: 0.75rem;
					width: 0.75rem;
				}
			}
		</style>
		<div id="pops-map" class="map">
			<div id="pops">
				<span class="pulse sunshine-coast"></span>
				<span class="pulse brisbane"></span>
				<span class="pulse sydney"></span>
				<span class="pulse melbourne"></span>
				<span class="pulse apac-central"></span>
				<span class="pulse tokyo"></span>
				<span class="pulse hong-kong"></span>
				<span class="pulse singapore"></span>
				<span class="pulse manila"></span>
				<span class="pulse los-angeles"></span>
			</div>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4096 2305.35" aria-labelledby="maptitle mapdescription" role="img">
				<title id="maptitle">OneQode Global Points of Presence</title>
				<desc id="mapdescription">A world map centred on Asia-Pacific showing the OneQode Points of Presence in Sydney, Brisbane, Sunshine Coast, Guam (APAC Central), Tokyo, Hong Kong & Los Angeles</desc>
					<g class="transit">
						<path id="perth-sydney" d="M1623.13,1844.82c0,91.31-27.09,134.52-273.35,134.52s-373.24-28.75-368.42-100.3c2.31-34.22,46.96-54.21,46.96-54.21" />
						<path id="melbourne-sydney" d="M1623.13,1844.82c-47.42,6.12-88.6,40.17-97.45,80.34" />
						<path id="adelaide-sydney" d="M1623.13,1844.82c-52.9-12.88-140.58-17-211.4,21.34" />
						<path id="darwin-sydney" d="M1287.81,1471.07c152.88,63.75,308.04,285.3,335.31,373.74" />
						<path id="darwin-adelaide" d="M1287.81,1471.07c99.26,95.5,123.92,217.97,123.92,395.09" />
						<path id="darwin-brisbane" d="M1287.81,1471.07c123.92,21.44,278.32,118.59,367.63,262.59" />
						<path id="sydney-hawaii" d="M1623.13,1844.82c629.12,0,880.63-463.99,880.63-927.71" />
						<path id="guam-hawaii" d="M2503.76,917.11c-779.38,0-987.48,122.43-987.48,122.43" />
						<path id="guam-sydney" d="M1623.13,1844.82c98.85-98.85,117.64-329.81,43.54-501.63-52.62-122.02-150.38-142.01-150.38-303.65" />
						<path id="sunshine-coast-guam" d="M1650.08,1701.92c24.3-9.29,45.59,3.79,45.59,3.79" />
						<path id="sunshine-coast-brisbane" d="M1655.45,1733.67c0-20.63-5.37-31.74-5.37-31.74" />
						<path id="hong-kong-guam" d="M1007.92,879.5c111.37,94.05,334.3,31.22,508.36,160.04" />
						<path id="singapore-perth" d="M829.13,1240.91c45.51,9.16,58.72,40.04,54.41,71.07-6.3,45.46-61.11,80.57-80.31,153.12-22.32,84.33,6.22,276.12,225.09,359.73" />
						<path id="chennai-singapore" d="M427.74,1052.39c8.05,78.23,116.29,131.04,228.63,103.34,57.66-14.22,86.32,9.44,116.3,51.79,23.27,32.87,35.67,33.39,56.45,33.39" />
						<path id="hong-kong-tokyo" d="M1007.92,879.5c203.08,75.44,431.3-94.89,431.3-234.96" />
						<path id="tokyo-guam" d="M1439.22,644.53c54.86,53.74,77.07,179.78,77.07,395" />
						<path id="vladivostok-tokyo" d="M1302.18,498.31c63.94,34.01,116.76,101.13,137.04,146.22" />
						<path id="osaka-tokyo" d="M1439.22,644.53c-21.89,20.51-78.76,19.1-78.76,19.1" />
						<path id="busan-osaka" d="M1360.46,663.64c-21.52,0-35.66,9.85-65.54,9.85-17.19,0-39.17-7.05-52.19-15.68" />
						<path id="seoul-busan" d="M1216.6,608.56c0,27.45,15.36,42.19,26.13,49.25" />
						<path id="guam-davao-one" d="M1516.28,1039.53c-24.58,24.58-91.75,148.99-279.19,148.99" />
						<path id="guam-davao-two" d="M1237.09,1188.52c-35.01,0-45.46-23.66-45.46-43.96" />
						<path id="guam-manado" d="M1233.03,1188.52c-37.22-.75-48.46,29.16-48.46,53.07" />
						<path id="singapore-manado" d="M1184.57,1241.59s-16.95-17.28-34.44-21.16c-81.5-18.05-52.81,127.3-140.41,127.3-105.83,0-97.21-117.46-180.59-106.83" />
						<path id="singapore-hong-kong" d="M829.13,1240.91c127.77-100.93,178.79-197.37,178.79-361.41" />
						<path id="perth-sydney-2" d="M1028.31,1824.83c203.23-78.28,402.13-64.38,594.81,19.99" />
						<path id="brisbane-sydney" d="M1655.45,1733.67s14.09,64.74-32.32,111.15" />
						<path id="guam-manila" d="M1120.76,1018.94c-39.18-25.7-39.53-65.62-8.91-74.49,66.9-19.36,268.18,95.08,404.43,95.08" />
						<path id="hong-kong-manila" d="M1007.92,879.5c11.84,36.29,41.57,132.82,112.84,139.45" />
						<path id="guam-los-angeles" d="M1516.28,1039.53c359.81-359.81,818-371.15,1626.65-371.15" />
						<path id="hawaii-los-angeles" d="M2503.76,917.11c462.06,0,599.06-109.49,639.17-248.72" />
						<path id="bay-area-los-angeles" d="M3073.29,601.96c11.38,19.57,47.36,51.87,69.64,66.43" />
						<path id="seattle-bay-area" d="M3079.12,406.93c-12.12,39.84-8.88,166.43-5.83,195.03" />
					</g>
				<g id="labels">
					<text class="active" transform="translate(1469.27 656.77)">Tokyo</text>
					<text class="active" transform="translate(3167.05 702.88)">Los Angeles</text>
					<text class="active" transform="translate(833.62 856.57)">Hong Kong</text>
					<text class="active" transform="translate(668 1298)">Singapore</text>
					<text class="active" transform="translate(1540.26 1071.63)">Guam (APAC Central)</text>
					<text class="active" transform="translate(1002 1080)">Manila</text>
					<text class="active" transform="translate(1711.93 1697.87)">Sunshine Coast</text>
					<text class="active" transform="translate(1693.44 1757.06)">Brisbane</text>
					<text class="active" transform="translate(1640.93 1884.57)">Sydney</text>
					<text class="active" transform="translate(1351 1984)">Melbourne</text>
				</g>
			</svg>
			<picture>
				<source srcset="/img/world-map-asia-pacific-hd.webp" type="image/webp" media="(max-width: 1920px)">
				<source srcset="/img/world-map-asia-pacific-4k.webp" type="image/webp" media="(min-width: 1920px)">
				<img src="/img/world-map-asia-pacific-hd.jpg" alt="OneQode Global Network Rollout Map">
			</picture>
		</div>