<svg xmlns="http://www.w3.org/2000/svg" width="542" height="105" viewBox="0 0 542 105" aria-labelledby="diagramtitle diagramdescription" class="sla-diagram" role="img">
	<title id="diagramtitle">SLA Service Credits Scheme</title>
	<desc id="diagramdescription">0% credit for under 4 hours, 10% credit for 4 to 6 hours, 20% credit for 6 to 12 hours, and 30% credit for more than 12 hours"</desc>
	<style type="text/css">
	.text {
		fill: #fff;
		font-size: 20;
		font-family: "Poppins", sans-serif;
		font-weight: 600;
	}

	.blue1 {
		fill: #002735;
	}
	</style>
	<g id="Group_3" data-name="Group 3" transform="translate(-811 -318)">
		<line id="Line_2" data-name="Line 2" y2="11.5" transform="translate(1218.5 379)" fill="none" stroke="#fff" stroke-width="2" />
		<text id="_12_hrs" data-name="12 hrs" transform="translate(1217 416)" class="text">
			<tspan x="0" y="0">12 hrs</tspan>
		</text>
	</g>
	<g id="Group_2" data-name="Group 2" transform="translate(-811 -318)">
		<line id="Line_2-2" data-name="Line 2" y2="11.5" transform="translate(1082.5 379)" fill="none" stroke="#fff" stroke-width="2" />
		<text id="_6_hrs" data-name="6 hrs" transform="translate(1077 416)" class="text">
			<tspan x="0" y="0">6 hrs</tspan>
		</text>
	</g>
	<g id="Group_1" data-name="Group 1" transform="translate(-811 -318)">
		<line id="Line_2-3" data-name="Line 2" y2="11.5" transform="translate(946.5 379)" fill="none" stroke="#fff" stroke-width="2" />
		<text id="_4_hrs" data-name="4 hrs" transform="translate(946 416)" class="text">
			<tspan x="0" y="0">4 hrs</tspan>
		</text>
	</g>
	<g id="Group_4" data-name="Group 4" transform="translate(-811 -318)">
		<path id="Rectangle_3" data-name="Rectangle 3" d="M10,0H136a0,0,0,0,1,0,0V61a0,0,0,0,1,0,0H10A10,10,0,0,1,0,51V10A10,10,0,0,1,10,0Z" transform="translate(811 318)" class="blue1" opacity="0.4" />
		<text id="_0_" data-name="0%" transform="translate(879 356)" class="text">
			<tspan x="-13.81" y="0">0%</tspan>
		</text>
	</g>
	<g id="Group_5" data-name="Group 5" transform="translate(-811 -318)">
		<rect id="Rectangle_5" data-name="Rectangle 5" width="135" height="61" transform="translate(1082 379) rotate(180)" class="blue1" opacity="0.6" />
		<text id="_10_" data-name="10%" transform="translate(1015 356)" class="text">
			<tspan x="-17.11" y="0">10%</tspan>
		</text>
	</g>
	<g id="Group_6" data-name="Group 6" transform="translate(-811 -318)">
		<rect id="Rectangle_6" data-name="Rectangle 6" width="136" height="61" transform="translate(1218 379) rotate(180)" class="blue1" opacity="0.8" />
		<text id="_20_" data-name="20%" transform="translate(1150 356)" class="text">
			<tspan x="-19.47" y="0">20%</tspan>
		</text>
	</g>
	<g id="Group_7" data-name="Group 7" transform="translate(-811 -318)">
		<path id="Rectangle_4" data-name="Rectangle 4" d="M10,0H135a0,0,0,0,1,0,0V61a0,0,0,0,1,0,0H10A10,10,0,0,1,0,51V10A10,10,0,0,1,10,0Z" transform="translate(1353 379) rotate(180)" class="blue1" />
		<text id="_30_" data-name="30%" transform="translate(1286 356)" class="text">
			<tspan x="-19.8" y="0">30%</tspan>
		</text>
	</g>
</svg>