---
layout: page.liquid
metaTitle: OneQode™ • About Our Business
metaDescription: OneQode is an Australian telecommunications carrier on a mission to make latency undetectable.
changefreq: monthly
priority: 0.9
pageSupertitle: By Gamers, For Gamers
pageTitle: The network<br class="responsive"> gamers <mark>deserve</mark>
pageSubtitle: OneQode provides the network and infrastructure that makes real-time, lag-free applications possible
---
<style>

	section.hero {
		background: linear-gradient(to bottom, transparent 70%, #000), radial-gradient(circle at bottom,rgb(0,39,53) 0%,rgb(0,0,0) 100%);
	}

	/* Brands */
	.company .box {
		padding: 1rem;
		text-align: center;
		border: 1px solid #333;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		box-shadow: 0px 0px 0px 0px #002735;
		opacity: 0.6;
		background: #000;
		margin-bottom: 1.2rem;
	}
	.company .box,
	.company .box p,
	.company .box h3,
	.company .box img {
		transition: all 0.2s;
	}
	.company .box img {
		width: min(10rem, 100%);
		height: 6rem;
	}
	.company .box img.hyperion {
		width: min(11rem, 100%);
	}
	.company .box img.oneqode {
		width: min(14rem, 100%);
	}
	.company a {
		text-decoration: none;
		color: #fff;
		display: block;
	}
	.company .box h3 {
		text-transform: uppercase;
		font-size: 1.25rem;
		color: #fff;
	}
	.company .box:hover {
		background: rgba(0, 0, 0, 0.8);
		border: 1px solid #666;
		box-shadow: 0px 0px 25px 0px #002735;
		opacity: 1;
	}
	h4 {
		margin-top: 1rem;
	}

	/* Features -- What We're Doing */
	.feature {
		background: #1c1d22;
		margin-top: 4rem;
		padding: 4rem;
		border-radius: 15px;
		background: #1c1d22 no-repeat right;
		background-size: contain;
	}
	.feature.guam {
		background-position: left;
	}
	.feature .button {
		font-size: 1rem;
	}

	/* Feature WebP Backgrounds */
	.webp .feature.submarine {
		background-image: linear-gradient(90deg, #1c1d22 60%, rgba(28,29,34,0.7) 100%), url(../img/company-submarine-sunshine-coast-landing-station.webp);
	}
	.no-webp .feature.submarine {
		background-image: linear-gradient(90deg, #1c1d22 60%, rgba(28,29,34,0.7) 100%), url(../img/company-submarine-sunshine-coast-landing-station.jpg);
	}
	.webp .feature.guam {
		background-image: linear-gradient(270deg, #1c1d22 60%, rgba(28,29,34,0.7) 100%), url(../img/company-guam-aerial-view.webp);
	}
	.no-webp .feature.guam {
		background-image: linear-gradient(270deg, #1c1d22 60%, rgba(28,29,34,0.7) 100%), url(../img/company-guam-aerial-view.jpg);
	}
	.webp .feature.lastmile {
		background-image: linear-gradient(90deg, #1c1d22 60%, rgba(28,29,34,0.7) 100%), url(../img/company-last-mile-oneqode-wireless.webp);
	}
	.no-webp .feature.lastmile {
		background-image: linear-gradient(90deg, #1c1d22 60%, rgba(28,29,34,0.7) 100%), url(../img/company-last-mile-oneqode-wireless.jpg);
	}
	/* Mobile Styles */
	@media (max-width: 48em) {
		.feature {
			background-size: cover;
			text-align: center;
		}
		.center-mobile {
			text-align: center;
		}
	}
	@media (min-width: 48em) {
		/* Move up on desktop */
		.network {
			margin-top: -16rem;
		}
	}
</style>
<section class="py-8">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-8 col-md-offset-2">
				<h2>Low<mark class="dot">.</mark> Latency<mark class="dot">.</mark> Gaming<mark class="dot">.</mark></h2>
				<p>Founded in 2019 and headquartered in Australia, OneQode is a privately-funded telecommunications carrier. We operate a low-latency international carrier network and custom-built high performance servers.</p>
			</div>
		</div>
	</div>
</section>
<section class="pt-4 push-forward">
	<div class="container">
		<div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
			<p class="superheading">Why OneQode?</p>
			<h2>Intercontinental reach<mark class="dot">,</mark><br class="responsive"> uncompromising speed<mark class="dot">.</mark></h2>
			<p class="subheading">Strategic locations across three continents reach<br class="responsive"> hundreds of millions of gamers at low latency</p>
		</div>
	</div>
</section>
<section class="network">
	{% include diagrams/_network-map.liquid %}
</section>
<section>
	<div class="container">
		<div class="row mt-8 feature submarine">
			<div class="col-md-6">
				<h3>Connecting Australia to<br class="responsive"> the world, fast.</h3>
				<p>The first carrier to go operational on the fastest cable to Asia from Australia's east coast.</p>
				<a class="button ghost" href="/media/oneqode-deploys-in-sunshine-coast-landing-station/">Learn More
					<svg width="1rem" height="1rem" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
					</svg>
				</a>
			</div>
		</div>
		<div class="row feature guam">
			<div class="col-md-6 col-md-offset-6">
				<h3>Creating a smoother internet for Asia-Pacific</h3>
				<p>The first to deploy infrastructure in Guam purpose-designed for smoother real-time regional internet applications.</p>
				<a class="button ghost" href="/guam/">Guam
					<svg width="1rem" height="1rem" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
					</svg>
				</a>
			</div>
		</div>
	</div>
</section>
<section class="pt-4 companies">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
				<p class="superheading">What we do</p>
				<h2>Internet<mark class="dot">,</mark> connectivity<mark class="dot">,</mark> <br class="responsive">and gaming<mark class="dot">.</mark></h2>
				<p>Building a world where incredible internet is the baseline.</p>
			</div>
		</div>
		<div class="row company mt-4">
			<div class="col-sm-6 col-md-4">
				<a href="/business/internet/" title="OneQode • Superfast Internet Service Provider">
					<div class="box">
						<img src="../img/logo.svg" title="OneQode Business Internet" class="oneqode">
						<h3>Business Internet</h3>
						<p>Fast, affordable internet for Australian businesses</p>
					</div>
				</a>
			</div>
			<div class="col-sm-6 col-md-4">
				<a href="https://metroxc.com" target="_blank" rel="noopener" title="MetroXC • Data Center Cross Connects">
					<div class="box">
						<img src="../img/brand/metroxc-logo.svg" title="MetroXC" class="hyperion">
						<h3>Fibre Cross-Connects</h3>
						<p>Connecting datacentres affordably for business & enterprises</p>
					</div>
				</a>
			</div>
			<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
				<a href="https://hyperion-servers.com" target="_blank" rel="noopener" title="Hyperion Servers • Game Server Hosting in Guam">
					<div class="box">
						<img src="../img/brand/hyperion-servers-logo.svg" title="Hyperion Servers" class="hyperion">
						<h3>Game Server Hosting</h3>
						<p>Low latency, high-performance game servers</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
<section class="black-to-footer py-4">
	<div class="container text-center">
		<h2>Our team</h2>
		{% include parts/_team.liquid %}
	</div>
</section>