			<div class="row icons mobile-flex">
				<div class="col-xs-12 col-sm-6 col-lg-4 my-2">
					<a href="/business/internet/" class="box glowing">
						<img class="mt-2" src="/img/ico/business-internet.svg" alt="">
						<h3>Business Internet</h3>
						<p>Low-latency business internet</p>
					</a>
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-4 my-2">
					<a href="/business/ethernet/" class="box glowing">
						<img class="mt-2" src="/img/ico/ethernet.svg" alt="">
						<h3>Enterprise Ethernet</h3>
						<p>Point-to-point connectivity</p>
					</a>
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-4 my-2">
					<a href="/business/co-location/" class="box glowing">
						<img class="mt-2" src="/img/ico/server.svg" alt="">
						<h3>Server Co-location</h3>
						<p>Data centre rack space</p>
					</a>
				</div>
			</div>