			<div class="row icons mobile-flex">
				<div class="col-xs-6 col-md-4 mb-2 mt-1">
					<a href="/business/internet/" class="box glowing">
						<img class="mt-2" src="/img/ico/business-internet.svg" alt="">
						<h2>Internet</h2>
						<p class="hide-mobile">Low-latency internet</p>
					</a>
				</div>
				<div class="col-xs-6 col-md-4 mb-2 mt-1">
					<a href="/business/ethernet/" class="box glowing">
						<img class="mt-2" src="/img/ico/ethernet.svg" alt="">
						<h2>Ethernet</h2>
						<p class="hide-mobile">Secure private networking</p>
					</a>
				</div>
				<div class="col-xs-6 col-xs-offset-3 col-md-offset-0 col-md-4 mb-2 mt-1">
					<a href="/business/servers/" class="box glowing">
						<img class="mt-2" src="/img/ico/server.svg" alt="">
						<h2>Servers</h2>
						<p class="hide-mobile">Compute and colocation</p>
					</a>
				</div>
			</div>