			<div class="row icons">
				<div class="col-xs-12 col-md-4 col-md-offset-2 mb-2 mt-1">
					<a href="/ip-transit/" class="box">
						<img class="mt-2" src="/img/ico/connection2.svg" alt="">
						<h3>IP Transit</h3>
						<p class="hide-mobile">Scalable bandwidth on our low-latency network</p>
					</a>
				</div>
				<div class="col-xs-12 col-md-4 mb-2 mt-1">
					<a href="/backhaul/" class="box">
						<img class="mt-2" src="/img/ico/connection.svg" alt="">
						<h3>Backhaul</h3>
						<p class="hide-mobile">High speed national and international backhaul</p>
					</a>
				</div>
			</div>