			<div class="row icons mobile-flex">
				<div class="col-xs-6 col-md-3 mb-2 mt-1">
					<a href="/wholesale/ip-transit/" class="box glowing">
						<img class="mt-2" src="/img/ico/connection2.svg" alt="">
						<h3>IP Transit</h3>
						<p>Scalable bandwidth on our low-latency intercontinental network</p>
					</a>
				</div>
				<div class="col-xs-6 col-md-3 mb-2 mt-1">
					<a href="/wholesale/backhaul/" class="box glowing">
						<img class="mt-2" src="/img/ico/connection.svg" alt="">
						<h3>Backhaul</h3>
						<p>Ethernet and wavelength national and international backhaul</p>
					</a>
				</div>
				<div class="col-xs-6 col-md-3 mb-2 mt-1">
					<a href="/wholesale/dark-fibre/" class="box glowing">
						<img class="mt-2" src="/img/ico/nodes.svg" alt="">
						<h3>Dark Fibre</h3>
						<p>Unlit point-to-point<br class="responsive"> fibre optic links</p>
					</a>
				</div>
				<div class="col-xs-6 col-md-3 mb-2 mt-1">
					<a href="/wholesale/data-centre/" class="box glowing">
						<img class="mt-2" src="/img/ico/server.svg" alt="">
						<h3>Data Centre</h3>
						<p>Compute and rackspace within our global data centres</p>
					</a>
				</div>
			</div>