			<div class="row icons mobile-flex">
				<div class="col-xs-6 col-md-4 mb-2 mt-1">
					<a href="/wholesale/ip-transit/" class="box glowing">
						<img class="mt-2" src="/img/ico/connection2.svg" alt="">
						<h3>IP Transit</h3>
						<p>Scalable bandwidth on our low-latency network</p>
					</a>
				</div>
				<div class="col-xs-6 col-md-4 mb-2 mt-1">
					<a href="/wholesale/backhaul/" class="box glowing">
						<img class="mt-2" src="/img/ico/connection.svg" alt="">
						<h3>Backhaul</h3>
						<p>High speed national and international backhaul</p>
					</a>
				</div>
				<div class="col-xs-6 col-md-4 mb-2 mt-1">
					<a href="/wholesale/co-location/" class="box glowing">
						<img class="mt-2" src="/img/ico/server.svg" alt="">
						<h3>Co-location</h3>
						<p>Rackspace within our global data centres</p>
					</a>
				</div>
			</div>