---
permalink: /backhaul/
layout: page.liquid
metaTitle: Backhaul • National & International Capacity • OneQode
metaDescription: Connect globally with the OneQode backhaul network. We provide ethernet and wavelength backhaul over an international network. Submarine capacity, wet and dry paths available.
changefreq: monthly
priority: 0.5
ogImage: backhaul.jpg
pageSupertitle: Backhaul
pageTitle: Low latency backhaul across Asia-Pacific
pageSubtitle: National & international submarine capacity <br class="responsive"> delivered over ethernet, waves, or dark fibre
form: true
---
	<style>
		.no-webp .hero {
			background: linear-gradient(to bottom, transparent 80%, #000), url("/img/bg/backhaul-queensland-australia.jpg") no-repeat bottom center;
			background-size: cover;
		}
		.webp .hero {
			background: linear-gradient(to bottom, transparent 80%, #000), url("/img/bg/backhaul-queensland-australia.webp") no-repeat bottom center;
			background-size: cover;
		}
		.no-webp .why-us {
			background: linear-gradient(to bottom, #000 0%, rgba(0,0,0,0.4) 50%, #0c0c0c 100%), url("/img/bg/oneqode-network-map.jpg") no-repeat bottom center;
			background-size: cover;
		}
		.webp .why-us {
			background: linear-gradient(to bottom, #000 0%, rgba(0,0,0,0.4) 50%, #0c0c0c 100%), url("/img/bg/oneqode-network-map.webp") no-repeat bottom center;
			background-size: cover;
		}
		.lengths .num,.lengths .mc {
			font-family: Poppins, sans-serif;
			font-weight: 600;
			display: block;
		}
		.lengths .num {
			font-size: 3rem;
			line-height: 1;
		}
		.lengths .mc {
			font-size: 1rem;
			margin-bottom: 0.5rem;
		}
	</style>
	<section class="text-center pb-8">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
					<h2 class="h3">Fast, seamless connectivity with the region’s premium backhaul provider<mark class="dot">.</mark></h2>
					<p class="subheading faded">Why choose OneQode for backhaul?</p>
				</div>
				<div class="col-xs-12 col-md-6 col-md-offset-3">
					<ul class="ticks large">
						<li>Speeds from 100Mbps to 100Gbps</li>
						<li>Fastest paths across Asia-Pacific</li>
						<li>Rapid provisioning and delivery</li>
						<li>Choice of delivery methods</li>
						<li>Easy online management</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="py-4" id="on-net-facilities">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
					<h2 class="text-center">On-Net Facilities</h2>
					{% include parts/_pops.liquid %}
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-5 col-md-offset-1 my-1 p-2">
					<h4>Backhaul Partners</h4>
					<p>OneQode is partnered with RTI, AAPT, Telstra, and China Mobile International to provide you a complete, unique backhaul offering so you can save money, reduce latency and improve uptime.</p>
				</div>
				<div class="col-xs-12 col-md-5 my-1 p-2">
					<h4>Delivery</h4>
					<p>Instant, automated provisioning over a choice of interfaces: OneQode ONNI, Megaport VXC, EdgeXC or metropolitan ethernet/dark fibre.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-5 col-md-offset-1 my-1 p-2">
					<h4>Contract & SLA</h4>
					<p class="mb-2">Choose a 0, 12, 24 or 36-month contract, all under the <a href="/legal/">friendly OneQode terms</a>. The service is covered under the Standard OneQode SLA</p>
					<p class="sla">
						<span class="num">99.95%</span> 
						<span class="up">uptime</span> 
						<span class="ex">excluding planned outages</span>
					</p>
				</div>
				<div class="col-xs-12 col-md-5 my-1 p-2">
					<h4>SLA Credit Scheme</h4>
					<p class="mb-2">If there is an unplanned outage, we have an SLA credit scheme in place to give you account credit for a percentage of your monthly spend.</p>
					{% include diagrams/_sla-service-credits.liquid %}
				</div>
			</div>
		</div>
	</section>
	<section class="pt-4" id="start">
		<div class="container">
			<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
				<h2>Request a backhaul quote<mark class="dot">:</mark></h2>
				<p>Enter your details in the form below to get started with backhaul services from OneQode.</p>
			</div>
			<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
				{% include forms/_wholesale-backhaul.liquid %}
			</div>
		</div>
	</section>
	<section class="full-height pb-8 why-us">
		<div class="container">
			<div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
				<p class="superheading">Why OneQode?</p>
				<h2>Intercontinental reach<mark class="dot">,</mark><br class="responsive"> uncompromising speed<mark class="dot">.</mark></h2>
				<p class="subheading">As the world moves forward,<br class="responsive"> you won’t be held back</p>
				<p>OneQode provide access to international data capacity to locations around the globe. With a range of point-to-point and point-to-multipoint services available, we provide high capacity, easy to deploy solutions.</p>
				<p><a href="/about/" class="button m-1 mt-2">Learn More</a><a href="#start" class="button ghost m-1 mt-2">Get started</a></p>
			</div>
		</div>
	</section>