---
permalink: /exadata/
metaTitle: Oracle Exadata in Manila, Philippines • OneQode
metaDescription: The high performance cloud platform for the Asia-Pacific. Faster CPUs, better performance, unique regions, lower latency.
changefreq: monthly
priority: 0.9
pageSupertitle: Oracle Exadata in Manila
pageTitle: The power of Oracle Exadata is coming to the Philippines
pageSubtitle: A sovereign deployment of Exadata<br class="responsive"> for high performance enterprise
ogImage: og-image.jpg
preconnect: ["https://oneqode2.sgp1.cdn.digitaloceanspaces.com"]
font: hack
---
{% include _header.liquid %}
		<style>
			body {
				overflow-x: hidden;
			}
			.no-webp .hero {
				background: linear-gradient(to bottom, rgba(0,0,0,0.2) 70%, #000), url("/img/bg/oracle.jpg");
				background-size: cover;
			}
			.webp .hero {
				background: linear-gradient(to bottom, rgba(0,0,0,0.2) 70%, #000), url("/img/bg/oracle.webp");
				background-size: cover;
			}
			section.hero {
				min-height: 100vh;
			}
			.exadata-image {
				position: relative;
			}
			.exadata-image img {
				mix-blend-mode: lighten;
				mask-image: linear-gradient(to bottom, black 60%, transparent);
				-webkit-mask-image: linear-gradient(to bottom, black 60%, transparent);
			}
			.oracle-partner {
				max-height: 4rem;
			}
			#overview {
				position: relative;
			}
			#overview .bg-video .overlay {
				background: linear-gradient(to bottom, #000, transparent 20%, transparent 80%, #000);
			}
			@media screen and (max-width: 64em) {
				#overview {
					background: linear-gradient(to bottom, #000, transparent 30%, transparent 70%, #000), url("/img/bg/thumb-oracle-exadata-embers.jpg") no-repeat center center;
					background-size: cover;
				}
			}
			/* Stats */
			.stat {
				background: -webkit-linear-gradient(258deg, #fff, #999);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
			.stat span {
				font-size: 2.5rem;
			}
			span.unit {
				font-size: 1.8rem;
				display: inline-block;
			}
			#impact {
				position: relative;
				z-index: 1;
				background: linear-gradient(135deg, #141419 0%, #141419 5%,transparent 5%, transparent 10%, #141419 10%, #141419 15%,transparent 15%,transparent 20%, #141419 20%, #141419 25%,transparent 25%,transparent 30%, #141419 30%, #141419 35%,transparent 35%,transparent 40%, #141419 40%, #141419 45%,transparent 45%,transparent 50%, #141419 50%, #141419 55%,transparent 55%,transparent 60%, #141419 60%, #141419 65%,transparent 65%,transparent 70%, #141419 70%, #141419 75%,transparent 70%,transparent 80%, #141419 80%, #141419 85%,transparent 85%,transparent 90%, #141419 90%, #141419 95%,transparent 95%);
				background-size: 2em 2em;
				background-color: #000000;
			}
			#impact::after {
				display: block;
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(to bottom, #000, transparent 30%, transparent 70%, #000);
				opacity: 1;
				z-index: -1;
			}
			/* User Type Selector */
			select#user-type {
				display: inline;
				width: auto;
			}
			/* Map Credit */
			.location-bg {
				position: relative;
			}
			.credit {
				position: absolute;
				transform: rotate(-90deg);
				right: 0;
				top: 0;
				padding: 0.3rem 0.5rem;
				border-radius: 0.3rem .3rem 0 0;
				font-size: 0.8rem;
				transform-origin: right bottom;
				border: 1px solid #333;
				color: #ccc;
			}
			.credit a {
				font-size: unset;
			}
			/* ↓ Responsive Styles ↓ */
			@media (min-width: 75em) {
				h1 {
					font-size: 3rem !important;
				}
			}
			@media (min-width: 64em) {
				h1 {
					font-size: 3rem;
				}
				.exadata-image img {
					position: absolute;
					max-width: 640px;
				}
				.stat {
					text-align: left;
				}
				.no-webp .location-bg {
					background: url("/img/bg/location-map-manila.jpg") no-repeat center right;
					background-size: contain;
				}
				.webp .location-bg {
					background: url("/img/bg/location-map-manila.webp") no-repeat center right;
					background-size: contain;
				}
			}
			@media (min-width: 48em) {
				ul.ticks {
					max-width: 70%;
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					grid-gap: 1.5rem 2rem;
				}
				.oracle-partner {
					margin-left: 0;
				}
			}
			@media (min-width: 48em) and (max-width: 64em) {
				h1 {
					font-size: 2.5rem;
				}
			}
			@media (max-width: 64em) {
				section.hero {
					margin-top: 4rem;
				}
				.location-bg .devices-only {
					margin-top: -8rem;
				}
				.credit {
					top: 75%;
					transform: rotate(-90deg) scale(0.8);
				}
			}
			@media (max-width: 48em) {
				.xs\:mt-4 {
					padding-top: 4rem;
				}
				.xs\:pt-0 {
					padding-top: 0rem;
				}
				.xs\:mb-2 {
					margin-bottom: 2rem;
				}
			}
		</style>
		<section class="hero">
			<div class="container">
				<div class="row top-xs">
					<div class="col-xs-12 col-md-8 text-left mobile-text-center">
						{%- if pageSupertitle %}
						<p class="superheading">{{ pageSupertitle }}</p>
						{%- endif %}
						<h1>{{ pageTitle }}<mark class="dot">.</mark></h1>
						<p class="subheading">{{ pageSubtitle }}</p>
						<ul class="ticks mt-2">
							<li>Located in the Philippines</li>
							<li>Next-gen DB performance</li>
							<li>Low latency connectivity</li>
							<li>Local support included</li>
						</ul>
						<p class="mt-2 mb-0"><a href="#" class="button">Book a meeting</a></p>
						<img class="oracle-partner mt-2" src="/img/partners/oracle-partner.svg" alt="Oracle Partner">
					</div>
					<div class="col-xs-12 col-md-4 exadata-image pt-4">
						<picture>
							<source srcset="/img/oracle-exadata-machine.webp" type="image/webp">
							<img src="/img/oracle-exadata-machine.jpg" alt="Oracle Exadata X10M Database Machine" class="opaque">
						</picture>
					</div>
				</div>
			</div>
		</section>
		<section id="overview" class="py-4">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-7">
						<h2 class="mb-0">The world’s fastest database machine, right here in the heart of Manila</h2>
						<p class="subheading faded">Exclusively available for the first time with OneQode</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-5">
						<p><strong>OneQode, Asia-Pacific’s fastest digital infrastructure provider, is bringing Oracle Exadata, the leading database platform, to the Philippines.</strong></p>
						<p>We’re putting Exadata X10M hardware — the newest and fastest ever — in our Manila datacenter facility, connected to Oracle Cloud Infrastructure via our low-latency global network.</p>
						<p>Now available for order, ambitious enterprises can secure long-term pricing by speaking to our solutions team today.</p>
					</div>
					<div class="col-xs-10 col-xs-offset-1 col-md-offset-3 col-md-4 mt-1 xs:mt-4">
						<div class="stat"><span>3x <span class="unit">faster</span></span> transaction throughput</div>
						<div class="stat"><span>3.6x <span class="unit">faster</span></span> database queries</div>
						<div class="stat"><span>2.6x <span class="unit">faster</span></span> storage server queries</div>
						<div class="stat"><span>2.6x <span class="unit">faster</span></span> in-memory analytics scans</div>
						<figcaption class="text-left mobile-text-center">Oracle Exadata X10M database machine compared against competitor products</figcaption>
					</div>
				</div>
			</div>
			<div class="bg-video">
				<div class="overlay"></div>
				<video autoplay loop muted poster="/img/bg/thumb-oracle-exadata-embers.jpg">
					<source src="https://oneqode2.sgp1.cdn.digitaloceanspaces.com/videos/oracle-exadata-glowing-embers.mp4" type="video/mp4">
				</video>
			</div>
		</section>
		<section id="impact" class="py-4 xs:pt-0">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-7 mb-4 xs:mb-2">
						<h2 class="mb-0">The platform that powers 75% of the Fortune Global 100</h2>
						<p class="subheading faded">Thousands of the world's top enterprises move faster with Oracle Exadata</p>
						<p>Exadata supports the largest data warehouses and the most critical deployments around the world, from financial data processing, to retail, ecommerce, and process manufacturing.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 col-md-5 my-2">
						<h3>Next-level customer experiences</h3>
						<p>Exadata accelerates data processing across your business, speeding up online transaction processing, boosting application performance and enhancing analytics capabilities to enable faster, better business.</p>
					</div>
					<div class="col-xs-10 col-md-5 col-md-offset-1 my-2">
						<h3>Peak data performance</h3>
						<p>World-leading database performance unleashes the full potential of your enterprise applications with lightning-fast processing, real-time analytics, faster reporting, and faster decision-making.</p>
					</div>
					<div class="col-xs-10 col-md-5 my-2">
						<h3>Supercharged efficiency</h3>
						<p>Automated tuning, market-leading database consolidation, powerful development tools and flexible consumption give you massive efficiency, as well as the capability to rapidly build apps that harness your data.</p>
					</div>
					<div class="col-xs-10 col-md-5 col-md-offset-1 my-2">
						<h3>Phenomenal cost savings</h3>
						<p>Massive improvements to infrastructure performance, automation and efficiency bring extreme value, lowering your overall costs, whilst giving you unprecedented power and capability to deliver incredible results.</p>
					</div>
				</div>
			</div>
		</section>
		<section id="benefits">
			<div class="container">
				<div class="row text-center">
					<div class="col-xs-12 col-md-6 col-md-offset-3 mb-2">
						<p class="subheading">Benefits for: &nbsp;
							<select id="user-type" onchange="userType()">
								<option value="business-users-benefits">Business users</option>
								<option value="database-expert-benefits">Database experts</option>
								<option value="it-team-leaders">IT team leaders</option>
							</select>
						</p>
					</div>
				</div>
				<!-- Business users -->
				<div class="row mt-1 interactive" id="business-users-benefits">
					<div class="col-xs-12 col-sm-4 p-1 mb-2">
						<h3>Faster transactions, reporting & analytics</h3>
						<p class="faded">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
					</div>
					<div class="col-xs-12 col-sm-4 p-1 mb-2">
						<h3>Real-time transactional data analysis</h3>
						<p class="faded">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
					</div>
					<div class="col-xs-12 col-sm-4 p-1 mb-2">
						<h3>Deliver projects and services faster</h3>
						<p class="faded">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
					</div>
				</div>
				<!-- Database experts -->
				<div class="row mt-1 interactive" id="database-expert-benefits" style="display: none;">
					<div class="col-xs-12 col-sm-4 p-1 mb-2">
						<h3>Effortlessly manage all data types, workloads and styles</h3>
						<p class="faded">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
					</div>
					<div class="col-xs-12 col-sm-4 p-1 mb-2">
						<h3>Rapidly build, test and deploy services</h3>
						<p class="faded">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
					</div>
					<div class="col-xs-12 col-sm-4 p-1 mb-2">
						<h3>Complete compatibility with Oracle Cloud</h3>
						<p class="faded">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
					</div>
				</div>
				<!-- IT team leaders -->
				<div class="row mt-1 interactive" id="it-team-leaders" style="display: none;">
					<div class="col-xs-12 col-sm-4 p-1 mb-2">
						<h3>Free up time through smart automation</h3>
						<p class="faded">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
					</div>
					<div class="col-xs-12 col-sm-4 p-1 mb-2">
						<h3>Mission-critical cloud databases made easy</h3>
						<p class="faded">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
					</div>
					<div class="col-xs-12 col-sm-4 p-1 mb-2">
						<h3>Reduce database and infrastructure costs</h3>
						<p class="faded">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
					</div>
				</div>
			</div>
		</section>
		<section class="location-bg py-4 mobile-text-center">
			<div class="container push-forward">
				<div class="row middle-md py-8">
					<div class="col-xs-12 col-md-5">
						<h2 class="mb-1">Hosted in Manila, connected to the world<mark class="dot">.</mark></h2>
						<p><strong>Host the most performance-intensive applications at our Hong Kong locations and deliver services at low latency via our global network.</strong></p>
						<p class="mb-0">PLDT, Globe, ConvergeICT, Source Telecom & Eastern Communications.</p>
						<p class="mb-0"><a class="chevron" href="/about/">About OneQode</a></p>
					</div>
				</div>
			</div>
			<div class="devices-only">
				<picture>
					<source srcset="/img/bg/location-map-manila-mobile.webp" type="image/webp">
					<img src="/img/bg/location-map-manila-mobile.jpg" alt="A map illustrating our Hong Kong data centers (Mega-I, Global Switch and Equinix HK1) and international connectivity to Mainland China, Guam, Tokyo and Singapore" class="opaque">
				</picture>
			</div>
			<div class="credit">© <a href="https://www.openstreetmap.org/copyright" rel="nofollow" target="_blank">OpenStreetMap</a> contributors</div>
		</section>
		<section class="py-8 black-to-footer">
			<div class="container">
				<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
					<h2>Register your interest and <br class="responsive">set up a meeting today<mark class="dot">.</mark></h2>
					<p class="subheading">Talk to our enterprise database solutions specialists</p>
					<p class="mt-2">
						<a href="#" class="button m-1">Book a meeting</a>
					</p>
				</div>
			</div>
		</section>
		<script>
			// Organisation Type Switcher
			function userType() {
				select = document.getElementById("user-type").value;
				// Select all interactive bits and hide them
				function hideStuff() {
					const interactive = Array.from(document.getElementsByClassName("interactive"));
						interactive.forEach(item => {
							item.style.display = "none";
						});
				}
				switch(select) {
					case "it-team-leaders":
						hideStuff();
						document.getElementById("it-team-leaders").style.display = "flex";
						break;
					case "business-users-benefits":
						hideStuff();
						document.getElementById("business-users-benefits").style.display = "flex";
						break;
					case "database-expert-benefits":
						hideStuff();
						document.getElementById("database-expert-benefits").style.display = "flex";
						break;
				}
			}
		</script>
{% include _footer.liquid %}