---
permalink: /network/latency/
ignore: true
layout: page.liquid
heroSmall: true
metaTitle: Network Latency Statistics • OneQode
metaDescription: Inter-region performance measurements and statistics for the OneQode global network.
changefreq: monthly
priority: 0.8
pageSupertitle: Network Performance
pageTitle: Inter-region<br class="responsive"> latency statistics
pageSubtitle: PoP to PoP round trip time for the OneQode network
font: hack
---
		<style>
			.hero {
				background: #000 !important;
			}
			tbody tr th {
				text-align: left;
				font-family: Mulish, sans-serif;
				font-weight: 600;
			}
			.hovered {
				background: #1c1d22;
			}
			#pingTable tbody tr:hover {
				background: #1c1d22;	
			}
			#pingTable tbody td:hover {
				background: #666;
			}
			.green {
				color: #0f0;
			}
			.note {
				font-family: Poppins, sans-serif;
				font-weight: 600;
				color: #999;
				line-height: 1.2;
			}
			.text-small {
				font-size: 1rem;
			}
		</style>
		<div class="black-to-footer pb-8">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<h2 class="h3">APAC Central <span class="faded">Latency Table</span></h2>
				<div class="responsive-table">
					<table>
						<thead>
							<tr class="text-right">
								<th>&nbsp;</th>
								<th>Sydney</th>
								<th>Brisbane</th>
								<th>Tokyo</th>
								<th class="nowrap">Hong Kong<mark>*</mark></th>
								<th>Melbourne</th>
								<th>Singapore</th>
								<th class="nowrap">Los Angeles</th>
								<th class="nowrap">Bay Area</th>
							</tr>
						</thead>
						<tbody class="monospace text-right">
							<tr>
								<th>Guam</th>
								<td>70.2</td>
								<td>65.0</td>
								<td>28.7</td>
								<td>40.0</td>
								<td>81.8</td>
								<td>64.7</td>
								<td>108.7</td>
								<td>117.1</td>
							</tr>
						</tbody>
					</table>
				</div>
				<h2 class="h3 mt-4">Asia-Pacific <span class="faded">Latency Table</span></h2>
				<div class="responsive-table">
					<table id="pingTable">
						<col />
						<col />
						<col />
						<col />
						<col />
						<col />
						<col />
						<col />
						<thead>
							<tr class="text-right">
								<th>&nbsp;</th>
								<th>Guam</th>
								<th>Sydney</th>
								<th>Brisbane</th>
								<th>Tokyo</th>
								<th class="nowrap">Hong Kong<mark>*</mark></th>
								<th>Melbourne</th>
								<th>Singapore</th>
							</tr>
						</thead>
						<tbody class="monospace text-right">
							<tr>
								<th>Guam</th>
								<td class="green">0.0</td>
								<td>70.2</td>
								<td>65.0</td>
								<td>28.7</td>
								<td>40.0</td>
								<td>81.8</td>
								<td>64.7</td>
							</tr>
							<tr>
								<th>Sydney</th>
								<td>70.2</td>
								<td class="green">0.0</td>
								<td>11.8</td>
								<td>98.8</td>
								<td>110.2</td>
								<td>11.7</td>
								<td>134.8</td>
							</tr>
							<tr>
								<th>Brisbane</th>
								<td>65.0</td>
								<td>11.8</td>
								<td class="green">0.0</td>
								<td>93.6</td>
								<td>105.0</td>
								<td>23.4</td>
								<td>129.6</td>
							</tr>
							<tr>
								<th>Tokyo</th>
								<td>28.7</td>
								<td>98.8</td>
								<td>93.6</td>
								<td class="green">0.0</td>
								<td>47.1</td>
								<td>110.4</td>
								<td>93.3</td>
							</tr>
							<tr>
								<th class="nowrap">Hong Kong<mark>*</mark></th>
								<td>40.0</td>
								<td>110.2</td>
								<td>105.0</td>
								<td>47.1</td>
								<td class="green">0.0</td>
								<td>121.8</td>
								<td class="faded">Nil</td>
							</tr>
							<tr>
								<th>Melbourne</th>
								<td>81.8</td>
								<td>11.7</td>
								<td>23.4</td>
								<td>110.4</td>
								<td>121.8</td>
								<td class="green">0.0</td>
								<td>146.4</td>
							</tr>
							<tr>
								<th>Singapore</th>
								<td>64.7</td>
								<td>134.8</td>
								<td>129.6</td>
								<td>93.3</td>
								<td class="faded">Nil</td>
								<td>146.4</td>
								<td class="green">0.0</td>
							</tr>
						</tbody>
					</table>
				</div>
				<h2 class="h3 mt-4">US ↔ APAC <span class="faded">Latency Table</span></h2>
				<div class="responsive-table">
					<table id="pingTable2">
						<col />
						<col />
						<col />
						<col />
						<col />
						<col />
						<col />
						<col />
						<col />
						<col />
						<thead>
							<tr class="text-right">
								<th>&nbsp;</th>
								<th class="nowrap">Los Angeles</th>
								<th class="nowrap">Bay Area</th>
								<th>Guam</th>
								<th>Sydney</th>
								<th>Brisbane</th>
								<th>Tokyo</th>
								<th class="nowrap">Hong Kong<mark>*</mark></th>
								<th>Melbourne</th>
								<th>Singapore</th>
							</tr>
						</thead>
						<tbody class="monospace text-right">
							<tr>
								<th class="nowrap">Los Angeles</th>
								<td class="green">0.0</td>
								<td>8.5</td>
								<td>108.0</td>
								<td>178.8</td>
								<td>173.6</td>
								<td>137.2</td>
								<td>148.0</td>
								<td>190.4</td>
								<td>173.2</td>
							</tr>
							<tr>
								<th class="nowrap">Bay Area</th>
								<td>8.5</td>
								<td class="green">0.0</td>
								<td>117.0</td>
								<td>187.2</td>
								<td>182.0</td>
								<td>145.6</td>
								<td>157.0</td>
								<td>198.8</td>
								<td>181.6</td>
							</tr>
						</tbody>
					</table>
				</div>
				<p class="note text-small mt-2"><mark>* Asterisked latency figures are historical estimates. AAG cable is under repair at time of measurement • GU ↔ HK route affected</mark></p>
			</div>
		</div>
		<script>
			(() => {
				const pingTable = document.getElementById("pingTable");
				const cols = pingTable.querySelectorAll("col");
				const events = {
					mouseover: e => {
						const t = e.target.closest("td");
						if (t) {
							const cellIndex = t.cellIndex;
							for (let i = 0, n = cols.length; i < n; i++) {
								cols[i].classList[i === cellIndex ? "add" : "remove"]("hovered");
							}
						}
					},
					mouseout: e => {
						const t = e.target;
						if (t.nodeName === "TD" && !t.contains(e.relatedTarget)) {
							cols[t.cellIndex].classList.remove("hovered");
						}
					}
				};
				for (let event in events) {
					pingTable.addEventListener(event, events[event]);
				}
			})();
		</script>