---
layout: page.liquid
heroSmall: true
section: gaming
metaTitle: Pricing • Cloud Platform • OneQode™
metaDescription: Pick a region to see cloud instance pricing and costs with OneQode.
changefreq: monthly
priority: 0.5
pageTitle: Cloud <br class="responsive"> platform pricing
pageSubtitle: Pick a region below to see pricing
---
{% comment %}
<!-- 

	!TODO:

	* Page title
	* Meta Description
	* Jump to [cloud instances | storage | data transfer]

 -->
{% endcomment %}
		<style>
			section.hero {
				background: linear-gradient(to bottom, transparent 50%, #000 100%), radial-gradient(circle at bottom,#002735 0,#000 100%);
			}
			/* Form */
			.text-small {
				font-size: 1rem;
			}
		</style>
		<aside class="callout">
			<div class="container">
				<a href="/contact/" class="col-xs-12 p-2">
					<h2 class="mt-0 mb-0">Need lots of cloud? Volume discounts available.</h2>
					<span>
						Contact Us
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
						</svg>
					</span>
				</a>
			</div>
		</aside>
		<section class="pb-8">
			<div class="container">
				<div class="row mb-8">
					<div class="col-xs-12 py-2">
						<h3 class="mobile-text-center">Cloud Instances</h3>
						<div class="responsive-table">
							<table>
								<thead>
									<tr>
										<th>Name</th>
										<th>Clock Speed</th>
										<th>vCPUs</th>
										<th>RAM</th>
										<th>SSD</th>
										<th class="text-right">Hourly</th>
										<th class="text-right">Monthly <span class="text-small">(Est.)</span></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="nowrap">xe.tiny <span class="tag">Xeon</span></td>
										<td class="nowrap">3.7 GHz</td>
										<td>1</td>
										<td class="nowrap">0.5 GB</td>
										<td class="nowrap">XX GB</td>
										<td class="text-right">$0.017</td>
										<td class="text-right">$12.99</td>
									</tr>
									<tr>
										<td class="nowrap">xe.small <span class="tag">Xeon</span></td>
										<td class="nowrap">3.7 GHz</td>
										<td>1</td>
										<td class="nowrap">1 GB</td>
										<td class="nowrap">XX GB</td>
										<td class="text-right">$0.022</td>
										<td class="text-right">$16.43</td>
									</tr>
									<tr>
										<td class="nowrap">xer.small <span class="tag">Xeon</span></td>
										<td class="nowrap">3.7 GHz</td>
										<td>1</td>
										<td class="nowrap">2 GB</td>
										<td class="nowrap">XX GB</td>
										<td class="text-right">$0.024</td>
										<td class="text-right">$18.03</td>
									</tr>
									<tr>
										<td class="nowrap">xe.medium <span class="tag">Xeon</span></td>
										<td class="nowrap">3.7 GHz</td>
										<td>2</td>
										<td class="nowrap">2 GB</td>
										<td class="nowrap">XX GB</td>
										<td class="text-right">$0.032</td>
										<td class="text-right">$24.02</td>
									</tr>
									<tr>
										<td class="nowrap">xer.medium <span class="tag">Xeon</span></td>
										<td class="nowrap">3.7 GHz</td>
										<td>2</td>
										<td class="nowrap">4 GB</td>
										<td class="nowrap">XX GB</td>
										<td class="text-right">$0.046</td>
										<td class="text-right">$34.02</td>
									</tr>
									<tr>
										<td class="nowrap">xemr.small <span class="tag">Xeon</span></td>
										<td class="nowrap">3.7 GHz</td>
										<td>1</td>
										<td class="nowrap">8 GB</td>
										<td class="nowrap">XX GB</td>
										<td class="text-right">$0.058</td>
										<td class="text-right">$42.49</td>
									</tr>
									<tr>
										<td class="nowrap">xe.large <span class="tag">Xeon</span></td>
										<td class="nowrap">3.7 GHz</td>
										<td>4</td>
										<td class="nowrap">16 GB</td>
										<td class="nowrap">XX GB</td>
										<td class="text-right">$0.157</td>
										<td class="text-right">$114.98</td>
									</tr>
									<tr>
										<td class="nowrap">xemr.medium <span class="tag">Xeon</span></td>
										<td class="nowrap">3.7 GHz</td>
										<td>2</td>
										<td class="nowrap">16 GB</td>
										<td class="nowrap">XX GB</td>
										<td class="text-right">$0.116</td>
										<td class="text-right">$84.97</td>
									</tr>
									<tr>
										<td class="nowrap">xer.large <span class="tag">Xeon</span></td>
										<td class="nowrap">3.7 GHz</td>
										<td>4</td>
										<td class="nowrap">32 GB</td>
										<td class="nowrap">XX GB</td>
										<td class="text-right">$0.226</td>
										<td class="text-right">$164.98</td>
									</tr>
									<tr>
										<td class="nowrap">xer.2xlarge <span class="tag">Xeon</span></td>
										<td class="nowrap">3.7 GHz</td>
										<td>8</td>
										<td class="nowrap">64 GB</td>
										<td class="nowrap">XX GB</td>
										<td class="text-right">$0.452</td>
										<td class="text-right">$330.03</td>
									</tr>
									<tr>
										<td class="nowrap">xe.2xlarge <span class="tag">Xeon</span></td>
										<td class="nowrap">3.7 GHz</td>
										<td>8</td>
										<td class="nowrap">64 GB</td>
										<td class="nowrap">XX GB</td>
										<td class="text-right">$0.335</td>
										<td class="text-right">$244.99</td>
									</tr>
									<tr>
										<td class="nowrap">xer.3xlarge <span class="tag">Xeon</span></td>
										<td class="nowrap">3.7 GHz</td>
										<td>16</td>
										<td class="nowrap">120 GB</td>
										<td class="nowrap">XX GB</td>
										<td class="text-right">$0.952</td>
										<td class="text-right">$695.03</td>
									</tr>
								</tbody>
							</table>
						</div>
						<p class="faded">xe = Intel® Xeon® processor operating at 3.7 GHz+</p>
						<p class="faded">*r = RAM</p>
						<p class="faded">*mr = More RAM</p>
						<h3 class="mobile-text-center mt-2">Image Storage</h3>
						<h3 class="mobile-text-center mt-2">Block Storage</h3>
						<h3 class="mobile-text-center mt-2">Bandwidth</h3>
						<h3 class="mobile-text-center mt-2">Data Transfer</h3>
					</div>
				</div>
			</div>
		</section>
		<section class="pb-8 black-to-footer">
			<div class="container">
				<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
					<h2>Can’t see what<br class="responsive"> you’re looking for<mark class="dot">?</mark></h2>
					<p class="subheading">Need a custom solution or a bulk order?</p>
					<p><a href="/contact/" class="button ghost mt-2">Contact Us</a></p>
				</div>
			</div>
		</section>
		<script>

			/**
			*	Pricing Calculators: Cloud
			*	Takes our pricing and calculates when inputs change
			*/

		</script>