---
layout: page.liquid
heroSmall: true
section: gaming
metaTitle: Pricing • Cloud Platform • OneQode™
metaDescription: Pick a region to see cloud instance pricing and costs with OneQode.
changefreq: monthly
priority: 0.5
pageTitle: Cloud <br class="responsive"> platform pricing
pageSubtitle: Pick a region below to see pricing
---
{% comment %}
<!-- 

	!TODO:

	* Page title
	* Meta Description
	* Jump to [cloud instances | storage | data transfer]
	* Ticks - features in pricing (flat pricing)

 -->
{% endcomment %}
		<style>
			section.hero {
				background: linear-gradient(to bottom, transparent 50%, #000 100%), radial-gradient(circle at bottom,#002735 0,#000 100%);
			}
			/* Form */
			.text-small {
				font-size: 1rem;
			}
			.note {
				font-family: Poppins, sans-serif;
				font-weight: 600;
				color: #999;
				line-height: 1;
			}
			.input-group {
				max-width: 100%;
				display: flex;
				align-items: center;
			}
			.input-group-text {
				padding-left: 1rem;
			}
			.bg-dark {
				background: #333;
				border-radius: 15px;
			}
			@media (min-width: 48em) {
				/* Price bg */
				.bg-dark {
					background: #17181C;
					position: sticky;
					top: 6rem;
				}
			}
		</style>
		<aside class="callout">
			<div class="container">
				<a href="/contact/" class="col-xs-12 p-2">
					<h2 class="mt-0 mb-0">Need lots of cloud? Volume discounts available.</h2>
					<span>
						Contact Us
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
						</svg>
					</span>
				</a>
			</div>
		</aside>
		<section class="pb-8">
			<div class="container">
				<div class="row mb-8">
					<div class="col-xs-12">
						<h3 class="mobile-text-center">Cloud Instances</h3>
						<p>All current instances use Intel® Xeon® processors operating at 3.7 GHz+</p>
						<div class="responsive-table">
							<table>
								<thead>
									<tr>
										<th>Name</th>
										<th class="text-right">vCPUs</th>
										<th class="text-right">RAM</th>
										<th class="text-right">SSD</th>
										<th class="text-right">Hourly</th>
										<th class="text-right">Monthly <span class="text-small">(Est.)</span></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="nowrap">xe.tiny</td>
										<td class="text-right">1</td>
										<td class="text-right nowrap">0.5 <span class="faded">GB</span></td>
										<td class="text-right nowrap">32 <span class="faded">GB</span></td>
										<td class="text-right">$0.017</td>
										<td class="text-right">$12.99</td>
									</tr>
									<tr>
										<td class="nowrap">xe.small</td>
										<td class="text-right">1</td>
										<td class="text-right nowrap">1 <span class="faded">GB</span></td>
										<td class="text-right nowrap">32 <span class="faded">GB</span></td>
										<td class="text-right">$0.022</td>
										<td class="text-right">$16.43</td>
									</tr>
									<tr>
										<td class="nowrap">xer.small</td>
										<td class="text-right">1</td>
										<td class="text-right nowrap">2 <span class="faded">GB</span></td>
										<td class="text-right nowrap">32 <span class="faded">GB</span></td>
										<td class="text-right">$0.024</td>
										<td class="text-right">$18.03</td>
									</tr>
									<tr>
										<td class="nowrap">xemr.small</td>
										<td class="text-right">1</td>
										<td class="text-right nowrap">8 <span class="faded">GB</span></td>
										<td class="text-right nowrap">128 <span class="faded">GB</span></td>
										<td class="text-right">$0.058</td>
										<td class="text-right">$42.49</td>
									</tr>
									<tr>
										<td class="nowrap">xe.medium</td>
										<td class="text-right">2</td>
										<td class="text-right nowrap">2 <span class="faded">GB</span></td>
										<td class="text-right nowrap">64 <span class="faded">GB</span></td>
										<td class="text-right">$0.032</td>
										<td class="text-right">$24.02</td>
									</tr>
									<tr>
										<td class="nowrap">xer.medium</td>
										<td class="text-right">2</td>
										<td class="text-right nowrap">4 <span class="faded">GB</span></td>
										<td class="text-right nowrap">76 <span class="faded">GB</span></td>
										<td class="text-right">$0.046</td>
										<td class="text-right">$34.02</td>
									</tr>
									<tr>
										<td class="nowrap">xemr.medium</td>
										<td class="text-right">2</td>
										<td class="text-right nowrap">16 <span class="faded">GB</span></td>
										<td class="text-right nowrap">96 <span class="faded">GB</span></td>
										<td class="text-right">$0.116</td>
										<td class="text-right">$84.97</td>
									</tr>
									<tr>
										<td class="nowrap">xe.large</td>
										<td class="text-right">4</td>
										<td class="text-right nowrap">16 <span class="faded">GB</span></td>
										<td class="text-right nowrap">128 <span class="faded">GB</span></td>
										<td class="text-right">$0.157</td>
										<td class="text-right">$114.98</td>
									</tr>
									<tr>
										<td class="nowrap">xer.large</td>
										<td class="text-right">4</td>
										<td class="text-right nowrap">32 <span class="faded">GB</span></td>
										<td class="text-right nowrap">128 <span class="faded">GB</span></td>
										<td class="text-right">$0.226</td>
										<td class="text-right">$164.98</td>
									</tr>
									<tr>
										<td class="nowrap">xer.2xlarge</td>
										<td class="text-right">8</td>
										<td class="text-right nowrap">64 <span class="faded">GB</span></td>
										<td class="text-right nowrap">256 <span class="faded">GB</span></td>
										<td class="text-right">$0.452</td>
										<td class="text-right">$330.03</td>
									</tr>
									<tr>
										<td class="nowrap">xe.2xlarge</td>
										<td class="text-right">8</td>
										<td class="text-right nowrap">64 <span class="faded">GB</span></td>
										<td class="text-right nowrap">256 <span class="faded">GB</span></td>
										<td class="text-right">$0.335</td>
										<td class="text-right">$244.99</td>
									</tr>
									<tr>
										<td class="nowrap">xer.3xlarge</td>
										<td class="text-right">16</td>
										<td class="text-right nowrap">120 <span class="faded">GB</span></td>
										<td class="text-right nowrap">512 <span class="faded">GB</span></td>
										<td class="text-right">$0.952</td>
										<td class="text-right">$695.03</td>
									</tr>
								</tbody>
							</table>
						</div>
						<p class="note text-small">Pricing in USD excluding tax</p>
					</div>
					<div class="col-xs-12 col-sm-6">
						<h3 class="mobile-text-center mt-4">Image Storage</h3>
						<p>Image storage is charged at $X/GB/hr</p>
						<div class="col-xs-12 p-2 bg-dark">
							<div class="row">
								<div class="col-xs-5 col-sm-4">
									<div class="input-group">
										<input type="number" id="#image-storage-value" value="10"><span class="input-group-text">GB</span>
									</div>
								</div>
								<div class="col-xs-6 col-xs-offset-1 col-sm-7 col-sm-offset-1">
									<p class="mt-0 mb-0">$1.40<span class="faded">/hr</span><br>$219.03<span class="faded">/mo<span class="text-small"> (est)</span></span></p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<h3 class="mobile-text-center mt-4">Block Storage</h3>
						<p>Block storage is charged at $X/GB/hr</p>
						<div class="col-xs-12 p-2 bg-dark">
							<div class="row">
								<div class="col-xs-5 col-sm-4">
									<div class="input-group">
										<input type="number" id="#block-storage-value" value="10"><span class="input-group-text">GB</span>
									</div>
								</div>
								<div class="col-xs-6 col-xs-offset-1 col-sm-7 col-sm-offset-1">
									<p class="mt-0 mb-0">$1.40<span class="faded">/hr</span><br>$219.03<span class="faded">/mo<span class="text-small"> (est)</span></span></p>
								</div>
							</div>
						</div>
						<p class="faded">All data is replicated 3 times across 3 locations</p>
					</div>
					<div class="col-xs-12 py-2">
						<h3 class="mobile-text-center mt-4">Bandwidth</h3>
						<h3 class="mobile-text-center mt-4">Data Transfer</h3>
					</div>
				</div>
			</div>
		</section>
		<section class="pb-8 black-to-footer">
			<div class="container">
				<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
					<h2>Can’t see what<br class="responsive"> you’re looking for<mark class="dot">?</mark></h2>
					<p class="subheading">Need a custom solution or a bulk order?</p>
					<p><a href="/contact/" class="button ghost mt-2">Contact Us</a></p>
				</div>
			</div>
		</section>
		<script>

			/**
			*	Pricing Calculators: Cloud
			*	Takes our pricing and calculates when inputs change
			*/

		</script>