/*


			.:++ooo+/:.    
		  :oooooooooooo+-  
		`+ooo+-`` `.:oooo/ 
		/ooo/        `+ooo-
		oooo.  `:///: :ooo/
		/ooo/   .+ooo++ooo-
		`+ooo+-.``:oooooo/ 
		  :ooooooo-.oooo+` 
			.:++ooo:`/oooo-

	  OneQode Parent Company Site

	- - - - - - - - - - - - - - - -
	T A B L E  O F  C O N T E N T S
	- - - - - - - - - - - - - - - -

	# Layout
	# Header & Footer
	# Typography
	# Links & Buttons
	# Forms
	# Sections
	# Content
	# Responsive Overrides

	- - - - - - - - - - - - - - - -

	Author: Joe Swinn
	Credit: Tea, StackOverflow, Codepen, Mozilla

	- - - - - - - - - - - - - - - -

	Breakpoints:
	<48em — xs | 48-64em — sm | 64-75 — md | >75 — lg

*/

html {
	scroll-behavior: smooth;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - -
LAYOUT
 - - - - - - - - - - - - - - - - - - - - - - - - - - - */

body {
	background: #000;
	color: #fff;
	margin: 0;
	width: 100%;
	min-height: 100%;
}
footer,
main {
	margin: 0 auto;
}
.container {
	max-width: 1200px;
	padding: 2rem 1rem;
	margin: 0 auto;
}
@media (min-width: 1350px) {
	.container {
		width: 100%;
	}
}
/* Tablet */
@media (max-width: 1350px) {
	.container {
		width: 90%;
	}
}
/* Mobile */
@media (max-width: 768px) {
	br.responsive {
		display: none;
	}
	section:last-child {
		padding-bottom: 4rem;
	}
}
/* Helpers */
.m-1 {
	margin: 1rem;
}
.mt-0 {
	margin-top: 0;
}
.mt-1 {
	margin-top: 1rem;
}
.mt-2 {
	margin-top: 2rem;
}
.mt-4 {
	margin-top: 4rem;
}
.mt-8 {
	margin-top: 8rem;
}
.mb-0 {
	margin-bottom: 0;
}
.mb-1 {
	margin-bottom: 1rem;
}
.mb-2 {
	margin-bottom: 2rem;
}
.mb-4 {
	margin-bottom: 4rem;
}
.mb-8 {
	margin-bottom: 8rem;
}
.ml-0 {
	margin-left: 0;
}
.ml-1 {
	margin-left: 1rem;
}
.ml-2 {
	margin-left: 2rem;
}
.my-0 {
	margin-top: 0;
	margin-bottom: 0;
}
.my-1 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.my-2 {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.my-4 {
	margin-top: 4rem;
	margin-bottom: 4rem;
}
.my-8 {
	margin-top: 8rem;
	margin-bottom: 8rem;
}
.p-1 {
	padding: 1rem;
}
.p-2 {
	padding: 2rem;
}
.p-4 {
	padding: 4rem;
}
.pt-2 {
	padding-top: 2rem;
}
.pt-4 {
	padding-top: 4rem;
}
.pt-8 {
	padding-top: 8rem;
}
.pb-0 {
	padding-bottom: 0;
}
.pb-2 {
	padding-bottom: 2rem;
}
.pb-4 {
	padding-bottom: 4rem;
}
.pb-8 {
	padding-bottom: 8rem;
}
.py-0 {
	padding-top: 0;
	padding-bottom: 0;
}
.py-1 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.py-2 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.py-4 {
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.py-8 {
	padding-top: 8rem;
	padding-bottom: 8rem;
}
.block {
	display: block !important;
}
.place-content-center {
	place-content: center;
}
.skip-grid {
	display: contents;
}

/* Images */
figure, video {
	width: 100%;
	margin: 0;
}
figcaption {
	text-align: center;
	margin-top: 2rem;
	font-size: 1rem !important;
}
img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
video.full-width {
	height: auto;
}
/* Responsive Video */
.wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - -
HEADER & FOOTER
 - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	padding: 1.5rem 0;
	z-index: 999;
	background-color: rgba(0,0,0,0);
	transition: all 0.2s;
	border-bottom: 1px solid rgba(28,29,34,0);
}
#header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
}

/* Header On Scroll */
#header.sticky {
	background: rgba(0,0,0,0.8);
	backdrop-filter: blur(10px);
	padding: 0.5rem 0;
	border-bottom: 1px solid #1c1d22;
}
#header.sticky .logo img {
	height: 2.25rem;
	transition: all 0.2s;
}

/* Logo */
.logo.center {
	display: block;
	margin: 0 auto;
}
.logo img {
	height: 2.75rem;
	transition: all 0.2s;
}

/* Navigation */
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav a {
	color: #fff;
	font-family: Poppins, sans-serif;
	font-weight: 600;
	font-size: 1.2rem;
	text-decoration: none;
	transition: all 0.2s;
}

/* Main Menu */
nav.main > ul > li {
	display: inline-block;
}
nav.main a {
	padding: 1.5rem;
}
nav.main a.login {
	color: #999;
}
nav.main a:hover,
nav.main a:focus,
nav.main .submenu a:focus,
footer ul a:hover,
footer ul a:focus {
	color: #00b0f0;
}
nav.main > ul > li:last-of-type a {
	padding-right: 0;
}
li.has-submenu > a {
	padding-right: 0.8rem;
}
li.has-submenu.open > a {
	color: #00b0f0;
}
li.has-submenu.open > a svg,
li.has-submenu > a:hover svg,
li.has-submenu > a:focus svg {
	fill: #00b0f0;
}
li.has-submenu > a svg {
	margin-left: 0.1rem;
	transition: all 0.2s;
}
li.has-submenu.open > a svg {
	transform: rotateX(180deg);
}
li.has-submenu.open .submenu {
	visibility: visible;
	opacity: 1;
	animation: moveup 0.2s ease-out forwards;
}
li.has-submenu .submenu li a {
	opacity: 0;
	visibility: hidden;
}
li.has-submenu.open .submenu li a {
	animation: moveup 0.2s ease-out forwards;
	animation-delay: calc(0.075s * var(--order));
}
@keyframes moveup {
	from {
		transform: translateY(10px);
		opacity: 0;
		visibility: hidden;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
		visibility: visible;
	}
}
.submenu {
	display: grid;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s;
}
.submenu li {
	font-size: 1rem;
	color: #999;
	text-transform: uppercase;
}
.submenu li a {
	font-size: 1.2rem;
	text-transform: none;
	display: block;
	padding: 0.2rem 0;
	font-family: Mulish, sans-serif;
	font-weight: 300;
}
/* Submenu link description line */
.submenu li a span {
	display: block;
	color: #cecece;
	font-size: 0.8rem;
	transition: all 0.2s;
}
.submenu li a:hover span,
.submenu li a:focus span {
	color: #00b0f0;
}
/* Submenu Icons */
.submenu a.linked-icon {
    display: flex;
}
.submenu a.linked-icon svg {
    width: 1.25rem;
    height: 1.25rem;
    margin-top: 0.25rem;
}
.submenu a.linked-icon div {
	margin-left: 1.2rem;
}
	/* Menu: Tablet and Above */
	@media (min-width: 48em) {
		.submenu {
			background: rgba(0,0,0,0.9);
			border: 1px solid #333;
			margin-top: 1rem;
			border-radius: 10px;
			position: absolute;
			padding: 1.5rem;
			overflow: hidden;
		}
		.mobile-only {
			display: none !important;
		}
		.submenu li:not(:first-of-type) {
			margin-top: 1rem;
		}
		/* Submenu link to section */
		li.parent a {
			background: #0c0c0c;
			margin: -1.5rem -1.5rem 1.5rem -1.5rem;
			border-bottom: 1px solid #333;
			padding: 1.2rem 1.5rem;
		}
		li:last-child.parent a {
			margin: 1.5rem -1.5rem -1.5rem -1.5rem;
			border-bottom: none;
			border-top: 1px solid #333;
		}
	}
	/* Menu: Mobile */
	@media (max-width: 48em) {
		.submenu {
			padding: 0 1rem;
			display: none;
			background: none;
			border: none;
			position: initial;
			margin: 0;
		}
		.submenu li:not(:first-of-type) {
			margin-top: 0;
		}
		li.has-submenu.open .submenu {
			display: grid;
		}
		nav.main.active .submenu li a {
			padding: 0.2rem 0;
			font-size: 1.1rem;
		}
		.submenu li a span {
			display: none;
		}
		.submenu a.linked-icon svg {
			margin-top: 0;
		}
		.submenu a.linked-icon div {
			margin-left: 0.6rem;
		}
		.submenu.two-col-mobile ul {
			display: grid;
			grid-template-columns: repeat( auto-fit, minmax(10rem, 1fr) );
			gap: 1rem;
			margin-top: 0;
		}
		li.parent a {
			background: none;
			margin: initial;
			border: initial;
			padding: initial;
		}
	}

.nav-close,
.nav-open,
.nav-blank {
	display: none;
}

/* Mobile Nav Controls */
.trigger {
	color: #fff;
	text-transform: uppercase;
}

/* Footer */
footer {
	background: #0c0c0c;
}
footer .container {
	padding: 2rem 0.75rem;
}
footer p {
	margin: 0;
	color: #999;
	text-transform: uppercase;
	letter-spacing: 0.12rem;
	font-size: 1rem;
}
footer .credits {
	color: #828282;
	text-transform: unset;
	letter-spacing: normal;
}
footer .credits a {
	text-decoration: none;
	color: #828282;
}
footer .credits a:hover,
footer .credits a:focus {
	color: #fff;
}
footer .credits.text-left {
	margin-left: 2.5rem;
}
footer .credits.text-left::before {
	content: '';
	position: absolute;
	width: 1.8rem;
	height: 1.8rem;
	background: url("/img/ico/kangaroo.svg") no-repeat;
	background-size: cover;
	margin-left: -2.5rem;
	opacity: 0.6;
}
footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
footer ul a {
	text-decoration: none;
	display: block;
	padding: 0.25rem 0;
	color: #fff;
}
footer ul li:first-child > a {
    margin-top: 0.5rem;
}
.logomark img {
	margin-left: 0;
	max-width: 4rem;
	display: inline-block;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - -
TYPOGRAPHY
 - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* Standard */
body {
	font-family: Mulish, sans-serif;
	font-weight: 300;
	font-size: 1.25rem;
	line-height: 1.5;
}
strong {
	font-weight: 800;
}
.monospace {
	font-family: Hack, monospace;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6,
p.subheading,
.stat,
summary,
p.price {
	font-family: Poppins, sans-serif;
	font-weight: 600;
	line-height: 1.1;
	letter-spacing: -0.02em;
	margin: 0 0 2rem 0;
}
h1 {
	font-size: 4rem;
}
h2,
.media h1,
.career h1 {
	font-size: 3rem;
}
h3,
.h3 {
	font-size: 2rem;
}
h4 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}
p.subheading {
	font-size: 1.75rem;
	margin: 0.5rem auto;
	padding: 0;
	line-height: 1.3;
}
p.superheading {
	color: #4f94cc;
	text-transform: uppercase;
	letter-spacing: 0.12rem;
	margin-bottom: 1rem;
}
/* Highlight */
mark {
	background: none;
	color: #00b0f0;
}
.faded, figcaption {
	color: #999;
}
/* Blue Dot */
mark.dot {
	font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
	margin-left: -2px;
}
/* Alignment */
.text-center {
	text-align: center;
}
.text-left,
ul {
	text-align: left;
}
.text-right {
	text-align: right;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - -
LINKS AND BUTTONS
 - - - - - - - - - - - - - - - - - - - - - - - - - - - */
a {
	color: #00b0f0;
	transition: all 0.2s;
}
a:hover,
a:focus {
	color: #00597f;
}
a.chevron {
	white-space: nowrap;
	text-decoration-color: transparent;
}
a.chevron:hover,
a.chevron:focus {
	text-decoration-color: #004460;
}
a.chevron::after {
	width: 1.2rem;
	height: 1.2rem;
	margin-left: 0.2rem;
	margin-bottom: 0.2rem;
	vertical-align: middle;
	display: inline-block;
	content: " ";
	background: currentColor;
	mask: url(/img/ico/chevron.svg) no-repeat center;
	-webkit-mask: url(/img/ico/chevron.svg) no-repeat center;
	-webkit-mask-size: cover;
	mask-size: cover;
	transition: background 0.2s;
}
a.chevron:hover::after,
a.chevron:focus::after,
a.external:hover::after,
a.external:focus::after {
	background: currentColor;
}
a.external::after {
	width: 0.75rem;
	height: 0.75rem;
	margin-left: 0.5rem;
	vertical-align: baseline;
	display: inline-block;
	content: " ";
	background: currentColor;
	mask: url(/img/ico/external.svg) no-repeat center;
	-webkit-mask: url(/img/ico/external.svg) no-repeat center;
	-webkit-mask-size: cover;
	mask-size: cover;
	transition: background 0.2s;
}
.button {
	background: #00b0f0;
	border: 2px solid #00b0f0;
	border-radius: 10px;
	color: #fff;
	display: inline-block;
	padding: 0.75rem 2rem;
	font-family: Poppins, sans-serif;
	font-weight: 600;
	letter-spacing: 0.25rem;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.2s;
}
.button:hover,
.button:focus {
	background-color: #00597f;
	color: #fff;
}
.button.ghost {
	background: none;
	color: #00b0f0;
	border-color: #00b0f0;
}
.button.ghost:hover,
.button.ghost:focus {
	color: #fff;
	background: rgba(0,89,127,0.5);
}
.callout a {
	color: #fff;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: rgb(79 148 204 / 16%);
	border-radius: 10px;
	border: 1px solid transparent;
}
.callout a:hover {
	border-color: #666;	
}
.callout h2 {
	font-size: 1.25rem;
}
.callout span {
	display: inline-flex;
	white-space: nowrap;
	font-size: 1rem;
	font-family: "Poppins",sans-serif;
	font-weight: 600;
	letter-spacing: 0.12rem;
	text-transform: uppercase;
}
.callout span svg {
	display: inline-flex;
	margin-top: 0.2rem;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - -
TABLES
 - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.responsive-table {
	width: 100%;
	max-width: 100%;
	overflow-x: auto;
}
table {
	border: none;
	border-radius: 10px;
	border-spacing: 0;
	width: 100%;
	overflow-x: auto;
	padding: 0;
}
table td,
table th {
	padding: 1rem;
	border-bottom: 1px solid #666;
	vertical-align: top;
}
tbody tr:last-child td,
tbody tr:last-child th {
	border-bottom: none;
}
table td:first-child,
table th:first-child {
	padding-left: 0;
}
table td:last-child,
table th:last-child {
	padding-right: 0;
}
table thead {
	font-weight: 600;
	text-align: left;
}
.nowrap {
	white-space: nowrap;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - -
FORMS
 - - - - - - - - - - - - - - - - - - - - - - - - - - - */
button[type=submit] {
	cursor: pointer;
}
input,
select,
textarea {
	display: block;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
	font-weight: 600;
	line-height: 1.5;
	width: 100%;
	max-width: 100%;
	padding: 1rem;
	background: none;
	color: #fff;
	border: 2px solid #999;
	border-radius: 10px;
	transition: all 0.2s;
}
input::placeholder,
textarea::placeholder {
	color: #999;
	transition:  all 0.2s;
}
select {
	color: #999;
}
select option,
select optgroup {
	background: #333;
}
select optgroup[label] {
	color: #999;
}
select option {
	color: #00b0f0;
}
input:hover,
select:hover,
textarea:hover {
	border: 2px solid #fff;
	color: #fff;
	outline: none;
}
input:hover::placeholder,
textarea:hover::placeholder {
	color: #fff;
}
input:focus,
select:focus,
textarea:focus {
	border: 2px solid #00b0f0;
	color: #00b0f0;
	outline: none;
}
input:focus::placeholder,
select:focus::placeholder,
textarea:focus::placeholder {
	color: #00b0f0;
}
textarea {
	height: initial;
	resize: vertical;
}
/* Botpoison Validation */
#sending {
	display: none;
}
#sending.in-progress {
	display: inline-block;
	margin-left: 1rem;
}
button[type=submit]:disabled {
	background: #333;
	border-color: #999;
	cursor: wait;
}
.success,
.success:hover,
.success:focus {
	background: #1f4421;
	border-color: #4CAF50;
}
.fail,
.fail:hover,
.fail:focus {
	background: #500404;
	border-color: #f00;
	text-align: left;
}
#failmsg {
	display: none;
	background: #1d0000;
	border: 2px solid #500404;
	border-radius: 10px;
	padding: 1rem;
	font-size: 1rem;
}
/* International Phone Numbers */
.iti__country-list {
	background-color: #333 !important;
	border: 2px solid #ccc !important;
	border-radius: 10px;
}
.iti {
	width: 100%;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - -
SECTIONS
 - - - - - - - - - - - - - - - - - - - - - - - - - - - */

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
section.full-height {
	min-height: 100vh !important;
}
section.hero {
	background: radial-gradient(circle at bottom,#002735 0%,#000000 100%);
	text-align: left;
	min-height: 80vh;
}
section.hero.condensed {
	min-height: 50vh;
	padding-top: 4rem;
}
.push-forward {
	position: relative;
	z-index: 2;
}

/* Background colours*/
.black {
	background: #000;
}
.black-to-mid {
	background: linear-gradient(to bottom, #000, #1c1d22);
}
.black-to-footer {
	background: linear-gradient(to bottom, #000, #0c0c0c);
}
.mid-to-black {
	background: linear-gradient(to bottom, #1c1d22, #000);
}
.mid-to-footer {
	background: linear-gradient(to bottom, #1c1d22, #0c0c0c);
}
.mid {
	background: #1c1d22;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - -
CONTENT
 - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.sla-diagram {
	max-width: 100%;
}
/* Big text links - careers and media */
.linked {
	padding-top: 0;
}
.linked a {
	display: flex;
	flex-direction: column;
	color: #999;
	text-decoration: none;
}
.linked * {
	transition: all 0.2s;
}
.linked h3 {
	font-size: 2.5rem;
	margin: 0;
}
.linked p {
	margin: 0;
	color: #666;
}
.linked p:first-of-type {
	font-weight: 600;
}
.linked p:last-of-type {
	font-size: 1rem;

}
.linked a:hover h3,
.linked a:focus h3 {
	color: #fff;
}
.linked a:hover p,
.linked a:focus p {
	color: #999;
}
/* The standard linked box */
.box {
	border-radius: 10px;
}
.box.glowing {
	text-decoration: none;
	color: #fff;
	padding: 1rem;
	text-align: center;
	border: 1px solid #333;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	opacity: 0.9;
	background: rgba(0, 39, 53, 0.2);
}
.box.glowing,
.box.glowing p,
.box.glowing h2,
.box.glowing h3,
.box.glowing img {
	transition: all 0.2s;
}
.box.glowing h2 {
	font-size: 2rem;
	color: #999;
	margin-bottom: 0;
}
.box.glowing h3 {
	text-transform: uppercase;
	font-size: 1.25rem;
	color: #999;
}
.box.glowing:hover, .box.glowing:focus {
	background: rgba(0, 39, 53, 0.6);
	border: 1px solid #666;
	opacity: 1;
}
.box.glowing:hover img,
.box.glowing:focus img {
	opacity: 1;
}
.box.glowing:hover h2,
.box.glowing:focus h2,
.box.glowing:hover h3,
.box.glowing:focus h3 {
	color: #fff;
}
.box.glowing:hover p,
.box.glowing:focus p {
	color: #fff;
}
/* Row with icons */
.icons img {
	max-width: 5rem;
	opacity: 0.75;
}
.icons h3 {
	min-height: 1.5rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
}
.icons p {
	color: #999;
}
/* Standalone icons */
.icon {
	width: 5rem;
	height: 5rem;
	margin-left: auto;
	margin-right: auto;
	background: linear-gradient(145deg, #00b0f0, #1b5469);
	-webkit-mask-size: cover !important;
	mask-size: cover !important;
}
/* Press page */
.press-info,
.applicant-info {
	background: rgba(0,0,0,0.2);
	border: 1px solid #142a31;
	word-break: break-word;
}
.press-info h2,
.applicant-info h2 {
	font-size: 1rem;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 1rem;
}
.press-info :last-child {
	margin-bottom: 0;
}
.rss-link svg {
	max-width: 0.5em;
}
/* Statistics */
.stat {
	text-align: center;
}
.stat span {
	display: block;
	font-size: 4rem;
	margin-bottom: 0;
}
/* FAQs */
summary {
	font-size: 1.5rem;
	list-style: none;
	margin-top: 2rem;
	color: #fff;
	padding: 0.5rem;
	transition: color 0.2s;
}
summary::-webkit-details-marker {
	display: none;
}
details summary::before { 
	content: url("/img/ico/plus-circle-fill.svg");
	margin-right: 0.5rem;
}
details[open] summary {
	color: #00b0f0;
}
details[open] summary::before { 
	content: url("/img/ico/dash-circle-fill.svg");
}
details[open] p:first-child {
	margin-top: 0;
}
/* Ticked list */
ul.ticks {
	list-style: none;
	padding: 0 0 0 2rem;
	display: inline-block;
	line-height: 1.3;
}
ul.ticks li {
	margin-bottom: 0.5rem;
}
ul.ticks li:last-of-type {
	margin-bottom: 0;
}
ul.ticks li::before {
	content: '';
	position: absolute;
	height: 1.4rem;
	width: 1.4rem;
	background: url("/img/ico/check.svg") center / cover no-repeat;
	margin-left: -2rem;
	margin-top: 0.2rem;
}
ul.ticks.large {
	font-size: 1.75rem;
	padding-left: 2.5rem;
}
ul.ticks.large li::before {
	height: 1.75rem;
	width: 1.75rem;
	margin-top: 0.3rem;
	margin-left: -2.5rem;
}
/* No List*/
ul.no-style {
	list-style: none;
	padding-left: 0;
	margin: 0;
}
/* Tags */
.tag {
	font-size: 0.8rem;
	padding: 0rem 0.4rem;
	border-radius: 4px;
	display: inline-block;
	vertical-align: middle;
	background: #999;
	color: #000;
}
.wet {
	background: #00597f;
	color: #fff;
}
.dry {
	background: #4f94cc;
	color: #000;
}
/* SLAs & Pricing */
.sla,
.pricing {
	font-family: Poppins, sans-serif;
	font-weight: 600;
}
.sla .num,
.pricing .price {
	font-size: 3rem;
	line-height: 1;
}
.sla .up,
.pricing .time {
	font-size: 2rem;
	margin-bottom: 0.5rem;
}
.sla .ex {
	display: block;
	color: #999;
	line-height: 1;
	font-size: 1rem;
}
/* Team Profiles */
.profile picture img {
	display: block;
	max-width: 90%;
	opacity: 1;
}
.profile a {
	text-align: center;
	text-decoration: none;
	opacity: 0.75;
	display: block;
	color: #fff;
}
.profile a:hover,
.profile a:focus {
	opacity: 1;
}
.profile span {
	display: block;
	font-size: 1rem;
	margin-bottom: 2rem;
	color: #999;
}
.profile h3 {
	margin: 1.5rem 0 0.5rem 0;
	font-size: 1.25rem;
	transition: all 0.2s;
}
.profile a:hover h3,
.profile a:focus h3 {
	color: #00b0f0;
}
/* Network Map */
.map {
	position: relative;
	display: block;
	width: 100%;
}
.map svg {
	position: absolute;
	z-index: 1;
	width: 100%;
}
.map img {
	opacity: 1;
	width: 100%;
}
.map text {
	font-size: 31px;
	font-family: Poppins, sans-serif;
	font-weight: 600;
}
.map text.active {
	fill: #fff;
}
.map text.coming-soon {
	fill: #999;
}
.map path,
.map line {
	fill: none;
	stroke-miterlimit: 10;
	stroke-width: 3;
}
.map .active path,
.map #legend line.active {
	stroke: #00b0f0;
	stroke-width: 4;
	stroke-dasharray: 15;
	stroke-dashoffset: 510;
	animation: maplines 2s linear infinite;
}
@keyframes maplines {
	100% {
		stroke-dashoffset: 0;
	}
}
.map .coming-soon path,
.map #legend line.coming-soon,
.map .transit path,
.map #legend line.transit {
	stroke: #00597f;
	stroke-dasharray: 10 10;
}
.map .transit path,
.map #legend line.transit {
	stroke-dashoffset: 400;
	animation: maplines 2s linear infinite;
}
.map #legend rect {
	fill: #4f94cc;
	opacity: 0.2;
}
/* Abbreviations */
abbr[title] {
	cursor: help;
}
/* Key Facts & Takeaways */
#key-facts,
#key-takeaways {
	background: #333;
	border-radius: 15px;
}
#key-facts li,
#key-takeaways li {
	margin-bottom: 1rem;
}
#key-facts :last-child,
#key-facts li:last-child,
#key-takeaways :last-child,
#key-takeaways li:last-child {
	margin-bottom: 0;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - -
RESPONSIVE OVERRIDES
 - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Desktop Only */
@media (min-width: 64em) {
	.devices-only {
		display: none !important;
	}
	picture img {
		opacity: 0.75;
		transition: opacity 0.2s;
	}
	picture:hover img,
	picture:focus img {
		opacity: 1;
	}
	picture img.opaque {
		opacity: 1;
	}
	footer > * {
		opacity: 0.75;
		transition: all 0.2s;
	}
	footer:hover > *,
	footer:focus-within > * {
		opacity: 1;
	}
	/* Key Facts & Takeaways */
	#key-facts,
	#key-takeaways {
		background: #17181C;
	}
}

/* Tablet */
@media (max-width: 64em) {
	h1 {
		font-size: 3rem;
	}
	.logo img, #header.sticky .logo img {
		height: 2.5rem;
	}
	.sm-mt-4 {
		margin-top: 4rem;
	}
	nav.main a {
		padding: 0.5rem;
		font-size: 1rem;
	}
}

/* Mobile */
@media (max-width: 48em) {
	.hide-mobile {
		display: none !important;
	}
	.mobile-text-center {
		text-align: center;
	}
	/* Mobile Menu */
	#header .container {
		justify-content: center;
		flex-direction: column;
	}
	#header {
		position: absolute;
		border-bottom: rgba(0,0,0,0);
	}
	nav#switcher {
		margin-left: auto;
		margin-top: 0.4rem;
	}
	nav#switcher > a,
	nav#switcher ul a {
		font-size: 1rem;
	}
	/* Header On Scroll */
	#header.sticky {
		padding: 1.5rem 0;
		background-color: rgba(0,0,0,0);
		border-bottom: rgba(0,0,0,0);
		backdrop-filter: none;
	}
	nav.main li {
		display: block;
	}
	nav.main {
		position: fixed;
		top:0;
		left: 0;
		background: rgba(0,0,0,0.9);
		width: 100vw;
		height: calc(100% - 3.5rem); /* Rem should match .nav-[open|close] height */
		display: flex;
		flex-direction: column;
		align-items: center;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.5s;
		overflow-y: scroll;
	}
	nav.active {
		opacity: 1;
		visibility: visible;
		z-index: 1;
	}
	nav.main ul,
	nav.main li {
		width: 100%;
	}
	nav.main > ul {
		margin-top: auto;
		margin-bottom: 0.75rem;
		display: flex;
		flex-direction: column-reverse;
	}
	nav.main a {
		font-size: 1.5rem;
		padding: 1rem;
		text-align: left;
		display: block;
		opacity: 0;
		transition: none;
	}
	nav.main > ul > li:last-of-type a {
		padding-right: 1rem; /* Overwrites desktop rightmost alignment*/
	}
	nav.main.active a {
		opacity: 1;
		transition: opacity 0.5s;
		transition-timing-function: ease-in-out;
		transition-delay: calc(0.1s * var(--index));
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav.main.active a.linked-icon {
		justify-content: revert;
	}
	nav.main.center.active a {
		justify-content: center;
	}
	body.active {
		overflow: hidden;
	}
	.nav-open,
	.nav-close {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100vw;
		height: 3.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		font-size: 1rem;
		letter-spacing:0.4rem;
		z-index: 1;
		border-top: 1px solid #1c1d22;
	}
	.nav-open img,
	.nav-close img {
		margin: 0;
	}
	.nav-close {
		background: rgba(0,0,0,1);
		z-index: 2;
	}
	.nav-open {
		background: #000;
	}
	.nav-blank {
		display: block;
		flex: 1;
		width: 100%;
	}
	section.hero {
		text-align: center;
		padding-top: 2rem;
	}
	footer .credits {
		text-align: center;
	}
	footer .container {
		padding-bottom: 8rem;
	}
	/* Mobile fonts */
	h1 {
		font-size: 2rem;
	}
	h2,
	.media h1,
	.career h1 {
		font-size: 1.6rem;
	}
	h3,
	.h3 {
		font-size:  1.3rem;
	}
	.linked h3 {
		font-size: 1.3rem;
	}
	h4 {
		font-size:  1.1rem;
	}
	p.subheading {
		font-size: 1.2rem;
	}
	body,
	p,
	li,
	a {
		font-size: 1rem;
	}
	input,
	select,
	textarea {
		font-size: 1.2rem;
	}
	figcaption {
		font-size: 0.8rem;
	}
	.stat span {
		font-size: 3rem;
	}
	ul.ticks li::before,
	ul.ticks.large li::before {
		height: 1.4rem;
		width: 1.4rem;
		margin-top: 0rem;
		margin-left: -2rem;
	}
	/* Links */
	.button {
		font-size: 0.9rem;
		padding: 0.65rem 1.4rem;
	}
	.brands a img {
		opacity: 1;
	}
	a.chevron::after {
		width: 0.9rem;
		height: 0.9rem;
	}
	.callout a {
		flex-direction: column;
		align-items: flex-start;
	}
	.callout span {
		margin-top: 1rem;
	}
	.rss-link svg {
		max-width: 1em;
	}
	/* Don't animate maps */
	.map .active path,
	.map .coming-soon path,
	.map #legend line.active {
		animation: none;
		stroke-width: 6;
	}
	/* Glowing boxes */
	.box.glowing img {
		opacity: 1 !important;
		max-width: 3rem;
	}
	.box.glowing h2,
	.box.glowing h3 {
		color: #fff;
	}
	.box.glowing h2 {
		font-size: 1.3rem;
		margin-bottom: 2rem;
	}
	/* Contact form: sending prompt */
	#sending.in-progress {
		display: block;
		margin-left: 0;
	}
}
/* Very small phones */
@media screen and (max-width: 340px) {
	section.hero,
	section.hero.condensed {
		padding-top: 4rem;
	}
	h1 {
		font-size: 1.8rem;
	}
}