---
layout: page.liquid
section: wholesale
metaTitle: Our Value Proposition for Wholesale • OneQode
metaDescription: If you're a service provider, OneQode offers a lightning-fast low-latency network with great service and rapid deployment. Here's what that looks like...
changefreq: yearly
priority: 0.8
pageSupertitle: Wholesale ISP
pageTitle: Your <mark>21st century</mark><br class="responsive"> telco partner
pageSubtitle: Affordable high speed, <br class="responsive">low-latency data capacity
---
	<style>
	/*.no-webp .hero {
		background: url("/img/bg/backhaul-queensland-australia.jpg") no-repeat bottom center;
		background-size: cover;
	}

	.webp .hero {
		background: url("/img/bg/backhaul-queensland-australia.webp") no-repeat bottom center;
		background-size: cover;
	}*/
	section.hero {
		background: linear-gradient(to bottom, transparent 70%, #000), radial-gradient(circle at bottom,rgb(0,39,53) 0%,rgb(0,0,0) 100%);
	}
	.icon {
		width: 5rem;
		height: 5rem;
		margin-left: auto;
		margin-right: auto;
		background: linear-gradient(145deg, #00b0f0, #002735);
		-webkit-mask-size: cover !important;
		mask-size: cover !important;
	}
	.icon.path {
		mask: url(/img/ico/nodes2.svg) no-repeat center;
		-webkit-mask: url(/img/ico/nodes2.svg) no-repeat center;
	}
	.icon.asia {
		mask: url(/img/ico/sd-wan.svg) no-repeat center;
		-webkit-mask: url(/img/ico/sd-wan.svg) no-repeat center;
	}
	.icon.gauge {
		mask: url(/img/ico/fast.svg) no-repeat center;
		-webkit-mask: url(/img/ico/fast.svg) no-repeat center;
	}
	.icon.routing {
		mask: url(/img/ico/cpu-secure.svg) no-repeat center;
		-webkit-mask: url(/img/ico/cpu-secure.svg) no-repeat center;
	}
	.icon.obnni {
		mask: url(/img/ico/ethernet2.svg) no-repeat center;
		-webkit-mask: url(/img/ico/ethernet2.svg) no-repeat center;
		display: inline-block;
		width: 1em;
		height: 1em;
		margin-bottom: -0.4rem;
	}
	@media (min-width: 48em) {
		/* Move up on desktop */
		.network {
			margin-top: -16rem;
		}
	}
	@media (max-width: 48em) {
		.icons p {
			display: block;
		}
	}
	</style>
	<!-- Page Content -->
	<section class="push-forward pt-8" id="start">
		<div class="container">
			<div class="row">
				<div class="col-xs col-md-8 col-md-offset-2 text-center">
					<h2>A <mark>low-latency</mark>, easy to use<br class="responsive"> international network<mark class="dot">.</mark></h2>
					<p class="subheading">Enterprise connectivity made simple</p>
					<p>OneQode helps ISPs, MSPs, and IT consulting firms deploy lightning-fast solutions for their customers on our high-speed intercontinental network.</p>
					<p>With a hyperfast network offering the lowest latency connection to <a href="/about/guam/">Guam</a> and Asia, We’re engineering Australia’s network of the future.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="network">
		{% include diagrams/_network-map.liquid %}
	</section>
	<section class="black">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
					<h2>Why OneQode<mark class="dot">?</mark></h2>
					<p>In addition to a dedicated account manager,<br class="responsive"> you'll access a range of benefits:</p>
					<ul class="ticks">
						<li>Unique low-latency routes via <a href="/about/guam/">Guam</a></li>
						<li>Fast deployment and time-to-value</li>
						<li>Super-competitive wholesale rates</li>
						<li>Easy online management</li>
					</ul>
				</div>
			</div>
			<div class="row mt-2 icons text-center">
				<div class="col-xs col-md-5 col-md-offset-1 my-1 p-2">
					<div class="icon gauge"></div>
					<h3>Fastest switches</h3>
					<p>We use industry-leading Arista switches across our network</p>
				</div>
				<div class="col-xs col-md-5 my-1 p-2">
					<div class="icon asia"></div>
					<h3>Fastest route to Asia</h3>
					<p>The <a href="/media/oneqode-deploys-in-sunshine-coast-landing-station/">first carrier operational</a> on the fastest route to Asia from Australia’s east coast</p>
				</div>
			</div>
			<div class="row icons text-center">
				<div class="col-xs col-md-5 col-md-offset-1 my-1 p-2">
					<div class="icon routing"></div>
					<h3>Proprietary routing</h3>
					<p>Our custom in-house routing solution shaves milliseconds, further reducing latency</p>
				</div>
				<div class="col-xs col-md-5 my-1 p-2">
					<div class="icon path"></div>
					<h3>Shortest paths</h3>
					<p>Traffic is sent along the shortest possible network path, and we adopt new paths as they become available</p>
				</div>
			</div>
		</div>
	</section>
	<section class="black py-8">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
					<h2>Points of Presence</h2>
					<p class="subheading">On-Net facilities across Asia-Pacific</p>
				</div>
				<div class="col-xs-12 col-md-6 col-md-offset-3 mt-2">
					{% include parts/_pops.liquid %}
				</div>
			</div>
		</div>
	</section>
	<section class="black py-8">
		<div class="container">
			<div class="row" id="obnni">
				<div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
					<h2 class="mt-1">The <mark>OBNNI</mark> <div class="icon obnni"></div></h2>
					<p class="subheading">Your gateway to our Global Points of Presence</p>
					<p>An <abbr title="OneQode Business Network to Network Interface">OBNNI</abbr>, is a network-to-network interface with the OneQode ecosystem. All our enterprise and wholesale services can pass over an OBNNI, and we provide these for free.</p>
					<p>An OBNNI represents a physical location on one of our switches in one of our global points of presence. Once you have created a cross-connect to your OBNNI, we can seamlessly deliver OneQode services to your network.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="black py-8">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
					<h2>Our people</h2>
					<p class="subheading">Experienced, capable, effective.</p>
					<p>The OneQode team is second-to-none, bringing experience from across the IT and Telco industries to create a world-class Australian network.</p>
				</div>
				<div class="col-xs-12">
					{% include _team.liquid %}
				</div>
			</div>
		</div>
	</section>
	<section class="black-to-mid py-8">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
					<h2>OneQode wholesale services</h2>
					{% include services/_wholesale.liquid %}
				</div>
			</div>
		</div>
	</section>
	<section class="mid-to-footer py-8">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
					<h2>Want to get started?</h2>
					<p>Reach out to our team to learn more and get connected to the OneQode network.</p>
					<p><a href="/wholesale/contact/" class="button ghost m-1 mt-2">Contact us</a></p>
				</div>
			</div>
		</div>
	</section>