---
layout: page.liquid
section: wholesale
metaTitle: Our Wholesale Network • OneQode
metaDescription: If you're a service provider, OneQode offers a lightning-fast low-latency network with great service and rapid deployment. Here's what that looks like...
changefreq: yearly
priority: 0.8
pageSupertitle: Wholesale Network
pageTitle: High-speed, affordable data capacity
pageSubtitle: Extend globally with national and, <br class="responsive">international data capacity
---
	<style>
	/*.no-webp .hero {
		background: url("/img/bg/backhaul-queensland-australia.jpg") no-repeat bottom center;
		background-size: cover;
	}

	.webp .hero {
		background: url("/img/bg/backhaul-queensland-australia.webp") no-repeat bottom center;
		background-size: cover;
	}*/
	section.hero {
		background: linear-gradient(to bottom, transparent 70%, #000), radial-gradient(circle at bottom,rgb(0,39,53) 0%,rgb(0,0,0) 100%);
	}
	.no-webp .why-us {
		background: linear-gradient(to bottom, #1c1d22 0%, rgba(28, 29, 34, 0.4) 60%, rgba(12, 12, 12, 0) 70%, #0c0c0c 100%), url("/img/bg/oneqode-network-map.jpg") no-repeat bottom center;
		background-size: cover;
	}

	.webp .why-us {
		background: linear-gradient(to bottom, #1c1d22 0%, rgba(28, 29, 34, 0.4) 60%, rgba(12, 12, 12, 0) 70%, #0c0c0c 100%), url("/img/bg/oneqode-network-map.webp") no-repeat bottom center;
		background-size: cover;
	}
	</style>
	<!-- Page Content -->
	<section class="black-to-footer py-8" id="start">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
					<h2>Under construction</h2>
					<h3 id="obnni">Make sure to include OBNNI detail</h3>
				</div>
			</div>
			<div class="col-xs-12 text-center">
				<p><a href="/wholesale/about/" class="button m-1 mt-2">Our Network</a><a href="/wholesale/contact/" class="button ghost m-1 mt-2">Contact us</a></p>
			</div>
		</div>
	</section>