---

section: wholesale
metaTitle: OneQode for Wholesale • Wholesale Internet Provider
metaDescription: Australian wholesale internet provider providing low-latency enterprise internet solutions including IP transit, ethernet, backhaul, dark fibre and co-location.
changefreq: monthly
priority: 1
pageTitle: Wholesale Internet Solutions
pageSubtitle: Australia's next-gen wholesale<br class="responsive"> internet service provider.
heroLinktext: Learn More
heroLinkurl: /wholesale/about/
ogImage: og-image.jpg

---
{% include _header.liquid %}
	<!-- Page-Specific Styles -->
	<style>
		/* 4K Background Image */
		@media (min-width: 1920px) {
			.no-webp .hero {
				background: url("/img/bg/wholesale-header-hd.jpg") bottom right;
				background-size: cover;
			}
			.webp .hero {
				background: url("/img/bg/wholesale-header-4k.webp") bottom right;
				background-size: cover;
			}
		}
		/* Regular Background Image */
		@media (max-width: 1920px) {
			.no-webp .hero {
				background: url("/img/bg/wholesale-header-hd.jpg") bottom right;
				background-size: cover;
			}
			.webp .hero {
				background: url("/img/bg/wholesale-header-hd.webp") bottom right;
				background-size: cover;
			}
		}
	</style>

	<!-- Page Content -->
	<section class="hero">
		<div class="container">
			<div class="row middle-xs">
				<div class="col-md-8">
					<h1>{{ pageTitle }}<mark class="dot">.</mark></h1>
					<p class="subheading">{{ pageSubtitle }}</p>
					<a href="{{ heroLinkurl }}" class="button ghost mt-2">{{ heroLinktext }}</a>
				</div>
			</div> 
		</div>
	</section>
	<section class="black py-4">
		<div class="container">
			<div class="row icons mobile-flex">
				<div class="col-xs-6 col-md-4 mb-2 mt-1">
					<a href="/wholesale/ip-transit/" class="box glowing">
						<img class="mt-2" src="/img/ico/connection2.svg" alt="A connected globe, representing our IP transit services">
						<h3>IP Transit</h3>
						<p>Scalable bandwidth on our low-latency intercontinental network</p>
					</a>
				</div>
				<div class="col-xs-6 col-md-4 mb-2 mt-1">
					<a href="/wholesale/backhaul/" class="box glowing">
						<img class="mt-2" src="/img/ico/connection.svg" alt="Connections across the world, representing an international backhaul network">
						<h3>Backhaul</h3>
						<p>Scalable bandwidth on our low-latency intercontinental network</p>
					</a>
				</div>
				<div class="col-xs-6 col-md-4 mb-2 mt-1">
					<a href="/wholesale/dark-fibre/" class="box glowing">
						<img class="mt-2" src="/img/ico/nodes.svg" alt="Nodes connected by lines in a hub and spoke, representing dark fibre">
						<h3>Dark Fibre</h3>
						<p>Scalable bandwidth on our low-latency intercontinental network</p>
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="black-to-footer py-4">
		<div class="container">
			<div class="col-md-10 col-md-offset-1 text-center">
				<p class="superheading">Why OneQode?</p>
				<h2>Premium network<mark class="dot">,</mark><br class="responsive"> rapid delivery<mark class="dot">.</mark></h2>
				<p class="subheading">An easy-going telco that puts you first<mark class="dot">.</mark></p>
				<p>We focus on deployment speed, operational efficiency,
				and providing value for money.</p>
				<p>With more than 60 years of combined experience across all areas of the telco industry, our team have expertise in network architecture, glass pulling, engineering, legal, and telco operations.</p>
				<p><a href="/wholesale/about/" class="button mt-2 m-1">Learn more</a><a href="/wholesale/contact/" class="button ghost">Contact</a></p>
			</div>
		</div>
	</section>
{% include _footer.liquid %}