---
layout: page-left.liquid
section: wholesale
metaTitle: OneQode for Wholesale • Wholesale Internet Provider
metaDescription: Australian wholesale internet provider providing low-latency enterprise internet solutions including IP transit, backhaul, dark fibre and co-location.
changefreq: monthly
priority: 1
pageTitle: Wholesale internet solutions
pageSubtitle: Australia's next-gen wholesale<br class="responsive"> internet service provider.
heroLinktext: Learn More
heroLinkurl: /wholesale/about/
ogImage: og-image.jpg
---
	<!-- Page-Specific Styles -->
	<style>
		/* 4K Background Image */
		@media (min-width: 1920px) {
			.no-webp .hero {
				background: url("/img/bg/wholesale-header-hd.jpg") bottom right;
				background-size: cover;
			}
			.webp .hero {
				background: url("/img/bg/wholesale-header-4k.webp") bottom right;
				background-size: cover;
			}
		}
		/* Regular Background Image */
		@media (max-width: 1920px) {
			.no-webp .hero {
				background: url("/img/bg/wholesale-header-hd.jpg") bottom right;
				background-size: cover;
			}
			.webp .hero {
				background: url("/img/bg/wholesale-header-hd.webp") bottom right;
				background-size: cover;
			}
		}
		.icons p {
			margin-top: 0;
		}
	</style>
	<section class="black py-4">
		<div class="container">
			{% include services/_wholesale.liquid %}
		</div>
	</section>
	<section class="black-to-footer py-4">
		<div class="container">
			<div class="col-md-10 col-md-offset-1 text-center">
				<p class="superheading">Why OneQode?</p>
				<h2>Premium network<mark class="dot">,</mark><br class="responsive"> rapid delivery<mark class="dot">.</mark></h2>
				<p class="subheading">An easy-going telco that puts you first<mark class="dot">.</mark></p>
				<p>We focus on deployment speed, operational efficiency,
				and providing value for money.</p>
				<p>With more than 60 years of combined experience across all areas of the telco industry, our team have expertise in network architecture, glass pulling, engineering, legal, and telco operations.</p>
				<p><a href="/wholesale/about/" class="button mt-2 m-1">Learn more</a><a href="/wholesale/contact/" class="button ghost">Contact</a></p>
			</div>
		</div>
	</section>