---
section: wholesale
metaTitle: $3/Mbps Low Latency IP Transit • OneQode
metaDescription: Get insanely fast IP Transit with great pricing from Australia's challenger wholesale internet transit provider. Highly redundent global connectivity.
changefreq: yearly
priority: 0.8
pageSupertitle: Internet Transit
pageTitle: <mark>$3/Mbps</mark> Low latency Global IP Transit
pageSubtitle: Connect globally with affordable, <br class="responsive">next-gen internet transit
---
{% include _header.liquid %}
	<style>
	.no-webp .hero {
		background: url("/img/bg/earth.jpg") no-repeat bottom center;
		background-size: cover;
	}

	.webp .hero {
		background: url("/img/bg/earth.webp") no-repeat bottom center;
		background-size: cover;
	}

	.no-webp .why-us {
		background: linear-gradient(to bottom, #1c1d22 0%, rgba(28, 29, 34, 0.4) 60%, rgba(12, 12, 12, 0) 70%, #0c0c0c 100%), url("/img/bg/oneqode-network-map.jpg") no-repeat bottom center;
		background-size: cover;
	}

	.webp .why-us {
		background: linear-gradient(to bottom, #1c1d22 0%, rgba(28, 29, 34, 0.4) 60%, rgba(12, 12, 12, 0) 70%, #0c0c0c 100%), url("/img/bg/oneqode-network-map.webp") no-repeat bottom center;
		background-size: cover;
	}
	</style>
	<!-- Page Content -->
	<section class="hero">
		<div class="container">
			<div class="row middle-xs">
				<div class="col-md-8">
					<h1>{{ pageTitle }}<mark class="dot">.</mark></h1>
					<p class="subheading">{{ pageSubtitle }}</p>
				</div>
			</div>
		</div>
	</section>
	<section class="blue py-2">
		<div class="container">
			<div class="col-md-10 col-md-offset-1 text-center">Rapid deployment ▪ Dual-stack IPv4 / IPv6 ▪ Global Peering</div>
		</div>
	</section>
	<section class="black py-8" id="start">
		<div class="container">
			<div class="col-md-10 col-md-offset-1 text-center">
				<p>FORM WILL GO HERE</p>
				<a href="#" class="button mt-4">Get started</a>
			</div>
		</div>
	</section>
	<section class="mid-to-black pt-8">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
					<h2>Key benefits of <br class="responsive">OneQode IP transit<mark class="dot">:</mark></h2>
				</div>
				<div class="col-xs-12 col-md-6 col-md-offset-3">
					<ul class="ticks large">
						<li>A range of speeds available</li>
						<li>Highly redundant paths</li>
						<li>Vast peering opportunities</li>
						<li>Something to do with BGP or routes</li>
						<li>Proprietary DDoS protection</li>
					</ul>
				</div>
			</div>
			<div class="row mt-8">
				<div class="col-xs-12 col-md-10 col-md-offset-1">
					<h3 class="text-center">Our 2020 IP Transit Pricing</h3>
					<div class="responsive-table">
						<table>
							<thead>
								<tr>
									<td>Service</td>
									<td class="text-right">MRC</td>
									<td>Contract</td>
									<td class="text-right">NRC</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>100MBps (ethernet)</td>
									<td class="text-right">$7,123</td>
									<td>12 Months</td>
									<td class="text-right">$9,999</td>
								</tr>
								<tr>
									<td>1GBps (ethernet)</td>
									<td class="text-right">$9,123</td>
									<td>0 Months</td>
									<td class="text-right">$9,247</td>
								</tr>
								<tr>
									<td>100GBps (wave)</td>
									<td class="text-right">$12,123</td>
									<td>36 Months</td>
									<td class="text-right">$24,977</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="black-to-mid py-4">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1">
					<h3>How our internet transit works</h3>
				</div>
				<div class="col-xs-12 col-md-5 col-md-offset-1">
					<h4>Basic Information</h4>
					<p>Keywords: global ip transit, internet transit, internet transit cost, ip transit pricing, internet transit provider, ip transit provider</p>
					<p>Dual Stack IPv4 & IPv6, AS Number</p>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					<h4>Available Locations</h4>
					<div class="responsive-table">
						<table>
							<tbody>
								<tr>
									<td>Queensland</td>
									<td>
										<ul class="no-style">
											<li>NextDC B1</li>
											<li>NextDC B2</li>
											<li>Equinix BR1</li>
											<li>Sunshine Coast Landing</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>New South Wales</td>
									<td>
										<ul class="no-style">
											<li>NextDC S1</li>
											<li>NextDC S2</li>
											<li>Equinix SY1-5</li>
											<li>Global Switch</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>International</td>
									<td>
										<ul class="no-style">
											<li>Coresite LA2</li>
											<li>@Tokyo</li>
											<li>GNC Guam</li>
											<li>HK Mega-I</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-xs-12 col-md-5">
					<h4>Peering Policy</h4>
					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
					<h4>IP Transit Pricing</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="full-height pt-4 pb-8 why-us">
		<div class="container">
			<div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
				<p class="superheading">Why OneQode?</p>
				<h2>Our network spans<br class="responsive"> 3 continents<mark class="dot">.</mark></h2>
				<p class="subheading">The only carrier with international<br class="responsive"> connectivity via the Sunshine Coast cable<mark class="dot">.</mark></p>
				<p>Want to go international? OneQode provide access to international data capacity to locations around the globe.</p>
				<p>With a range of point-to-point and point-to-multipoint services available, we provide high capacity, easy to deploy solutions.</p>
				<p>We can deliver any service within Australia over either of the two Australian legs of the JGA South Submarine Cable</p>
				<p><a href="#start" class="button mt-2">Get started</a></p>
			</div>
		</div>
	</section>
{% include _footer.liquid %}