---
permalink: /locations/hong-kong/
layout: location.liquid
metaTitle: Low Latency Hong Kong Cloud Server Hosting • OneQode
metaDescription: Get low latency Hong Kong cloud servers with OneQode, the cloud computing provider for Asia-Pacific. Cloud hosting built for performance.
changefreq: monthly
priority: 0.8
breadcrumb: Hong Kong
pageTitle: Low latency Hong Kong cloud services
pageSubtitle: High performance cloud servers in HK
---
		<!-- Page-Specific Styles -->
		<style>
			/* Regular Background Image */
			.no-webp .hero {
				background: linear-gradient(to bottom, rgba(0,0,0,0.2) 50%, #000), url("/img/bg/earth.jpg") no-repeat bottom center;
				background-size: cover;
			}
			.webp .hero {
				background: linear-gradient(to bottom, rgba(0,0,0,0.2) 50%, #000), url("/img/bg/earth.webp") no-repeat bottom center;
				background-size: cover;
			}
			/* Desktop styles */
			@media (min-width: 64em) {
				.no-webp .location-bg {
					background: url("/img/bg/location-map-hong-kong.jpg") no-repeat center right;
					background-size: contain;
				}
				.webp .location-bg {
					background: url("/img/bg/location-map-hong-kong.webp") no-repeat center right;
					background-size: contain;
				}
			}
		</style>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 mobile-text-center">
						<h2>OneQode {{ breadcrumb }} services</h2>
					</div>
					<div class="col-xs-12">
						<div class="row location-services">
							<div class="col-xs-12 col-sm col-md-4 mb-1">
								<a href="/cloud/" class="box left">
									<h3 class="mb-1">High performance cloud</h3>
									<p class="faded my-0">The world's fastest cloud servers featuring:</p>
									<ul>
										<li>Dedicated CPUs @ 3.7 GHz+</li>
										<li>Volume & object storage</li>
										<li>Cloud firewall</li>
										<li>Cloud load balancers</li>
										<li>OpenStack API</li>
									</ul>
								</a>
							</div>
							<div class="col-xs-12 col-sm col-md-4 mb-1">
								<a href="/dedicated-servers/" class="box left">
									<h3 class="mb-1">Dedicated servers</h3>
									<p class="faded my-0">Built to order custom dedicated servers, available within 3 weeks</p>
								</a>
								<a href="/colocation/" class="box left">
									<h3 class="mb-1">Colocation</h3>
									<p class="faded my-0">Rack space in our {{ breadcrumb }} locations</p>
								</a>
							</div>
							<div class="col-xs-12 col-sm col-md-4 mb-1">
								<a href="/ethernet/" class="box left">
									<h3 class="mb-1">Enterprise Ethernet</h3>
									<p class="faded my-0">Secure, private, latency-optimized international connectivity</p>
								</a>
								<a href="/ip-transit/" class="box left">
									<h3 class="mb-1">IP Transit</h3>
									<p class="faded my-0">High quality commercial internet services</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="py-4 text-center">
			<div class="container">
				<div class="row mobile-flex icons">
					<div class="col-xs-10 col-xs-offset-1 col-sm col-sm-offset-0 p-2 mb-1">
						<div class="icon lightning"></div>
						<h4 class="mt-2">Less lag</h4>
						<p class="faded">A latency-optimized network that delivers your traffic faster</p>
					</div>
					<div class="col-xs-10 col-xs-offset-1 col-sm col-sm-offset-0 p-2 mb-1">
						<div class="icon cpu"></div>
						<h4 class="mt-2">More performance</h4>
						<p class="faded">Faster CPUs support the most demanding computational workloads</p>
					</div>
					<div class="col-xs-10 col-xs-offset-1 col-sm col-sm-offset-0 p-2 mb-1">
						<div class="icon network"></div>
						<h4 class="mt-2">Further reach</h4>
						<p class="faded">Private fast-lanes to the major internet providers and services</p>
					</div>
				</div>
			</div>
		</section>
		<section id="network" class="pb-4">
			<div class="container">
				<div class="row middle-xs text-center push-forward">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p class="superheading">Low latency</p>
						<h2>A next-gen network that delivers <br class="responsive">your traffic in milliseconds<mark class="dot">.</mark></h2>
					</div>
					<div class="col-xs-12 col-md-6 col-md-offset-3">
						<p class="mt-0">From Hong Kong to mainland China or the world, our network sends your packets at lightning-speed.</p>
						<p><a href="/network/" class="chevron">Global network</a></p>
					</div>
				</div>
				<div class="svg-holder mt-4 mb-8">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1364 1364">
						<defs>
							<linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
								<stop offset="0"/>
								<stop offset="0.803" stop-opacity="0.8" stop-color="#000"/>
								<stop offset="1" stop-opacity="0" stop-color="#000" />
							</linearGradient>
							<radialGradient id="radial-gradient" cx="0.5" cy="0.5" r="0.5" gradientTransform="translate(0 -0.014) scale(1 1.028)" gradientUnits="objectBoundingBox">
								<stop offset="0" stop-opacity="0" />
								<stop offset="0.776" stop-color="#00b0f0" stop-opacity="0" />
								<stop offset="1" stop-color="#00b0f0" stop-opacity="0.129" />
							</radialGradient>
						</defs>
						<g>
							<circle cx="681.5" cy="681.5" r="681.5" transform="translate(1 1)" fill="url(#radial-gradient)">
								<animate begin="0.3s" dur="2s" attributeName="r" values="671.5;681.5;671.5" keyTimes="0;0.8;1" repeatCount="indefinite" />
							</circle>
							<circle cx="480.5" cy="480.5" r="480.5" transform="translate(202 202)" fill="url(#radial-gradient)">
								<animate begin="0.2s" dur="2s" attributeName="r" values="470.5;480.5;470.5" keyTimes="0;0.7;1" repeatCount="indefinite" />
							</circle>
							<circle cx="270.5" cy="270.5" r="270.5" transform="translate(412 412)" fill="url(#radial-gradient)">
								<animate begin="0.1s" dur="2s" attributeName="r" values="260.5;270.5;260.5" keyTimes="0;0.6;1" repeatCount="indefinite" />
							</circle>
						</g>
						<rect width="1364" height="682" fill="url(#linear-gradient)"/>
						<g id="pulse" transform="translate(-278 -2113)">
							<circle cx="62" cy="62" r="62" transform="translate(898 2733)" fill="#00b0f0">
								<animate dur="2s" attributeName="r" values="0;62;0" keyTimes="0;0.7;1" repeatCount="indefinite" />
								<animate dur="2s" attributeName="opacity" values="1;0;0" keyTimes="0;0.7;1" repeatCount="indefinite" />
							</circle>
							<g transform="matrix(1, 0, 0, 1, 278, 2113)">
								<circle cx="24" cy="24" r="24" transform="translate(658 658)" fill="#00b0f0">
									<animate dur="2s" attributeName="r" values="24;26;24" keyTimes="0;0.7;1" repeatCount="indefinite" />
								</circle>
							</g>
						</g>
					</svg>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-10 col-md-offset-1 logo-grid">
						<div><img src="/img/partners/netvigator.svg" alt="Netvigator"></div>
						<div><img src="/img/partners/smartone.svg" alt="SmarTone"></div>
						<div><img src="/img/partners/hong-kong-broadband-network-ltd.svg" alt="Hong Kong Broadband Network"></div>
						<div><img src="/img/partners/china-telecom.png" alt="China Telecom"></div>
						<div><img src="/img/partners/china-unicom.svg" alt="China Unicom"></div>
						<div><img src="/img/partners/cloudflare.svg" alt="Cloudflare"></div>
						<div><img src="/img/partners/pccw-global.svg" alt="PCCW Global"></div>
						<div><img src="/img/competitors/aws-amazon-web-services.svg" alt="AWS (Amazon Web Services)"></div>
						<div><img src="/img/competitors/microsoft-azure.svg" alt="Microsoft Azure"></div>
						<div><img src="/img/competitors/tencent-cloud.svg" alt="Tencent Cloud"></div>
						<div><img src="/img/partners/console-connect.png" alt="Console Connect"></div>
						<div><img src="/img/competitors/alibaba-cloud.svg" alt="Alibaba Cloud"></div>
						<div><img src="/img/partners/megaport.svg" alt="Megaport"></div>
						<div><img src="/img/partners/china-mobile.svg" alt="China Mobile"></div>
						<div><img src="/img/partners/hkt.svg" alt="HKT (Hong Kong Telecom)"></div>
					</div>
					<div class="col-xs-12"><figcaption>Direct interconnections with the major cloud, communications and last-mile internet providers</figcaption></div>
				</div>
			</div>
		</section>
		<section class="location-bg py-4 mobile-text-center">
			<div class="container push-forward">
				<div class="row middle-md py-8">
					<div class="col-xs-12 col-md-5">
						<h2 class="mb-1">The fastest digital infrastructure in HK<mark class="dot">.</mark></h3>
						<p><strong>Host the most performance-intensive applications at our Hong Kong locations and deliver services at low latency via our global network.</strong></p>
						<p class="mb-0">OneQode operate compute and network services from three datacenters in Hong Kong: Global Switch, iAdvantage MEGA-i, and Equinix HK1.</p>
						<p class="mb-0"><a class="chevron" href="/about/">About OneQode</a></p>
					</div>
				</div>
			</div>
			<div class="devices-only">
				<picture>
					<source srcset="/img/bg/location-map-hong-kong-mobile.webp" type="image/webp">
					<img src="/img/bg/location-map-hong-kong-mobile.jpg" alt="A map illustrating our Hong Kong data centers (Mega-I, Global Switch and Equinix HK1) and international connectivity to Mainland China, Guam, Tokyo and Singapore" class="opaque">
				</picture>
			</div>
		</section>
		<section id="test-ip" class="py-4 text-center">
			<div class="container">
				<div class="row middle-xs push-forward">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<h3>Test your connection to <br class="responsive">our Hong Kong infrastructure<mark class="dot">.</mark></h3>
					</div>
					<div class="col-xs-12 col-md-6 col-md-offset-3">
						<p class="mt-0">Use the test IP address below or our <a href="{{ global.lg }}" rel="noopener">looking glass</a> to check routing, latency and performance.</p>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-xs-12 col-md-6 col-md-offset-3 ping-command">
						<code><span class="faded">ping </span><strong class="nowrap" title="Copy to clipboard">103.151.65.12</strong></code>
					</div>
				</div>
				<div class="row mt-4">
					<div class="col-xs-12 col-md-6 col-md-offset-3">
						<figcaption class="mt-0">Having trouble? Submit your <a href="/contact/network-feedback/">network feedback</a>.</figcaption>
					</div>
				</div>
			</div>
		</section>
		<section class="black-to-footer pt-4 pb-8">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
						<h2>Get started with a <br class="responsive">cloud account today<mark class="dot">.</mark></h2>
						<p class="subheading faded">Sign up for a cloud account, or contact our team</p>
						<p class="mt-2"><a href="/cloud/signup/" class="button m-1">Sign up</a> <a href="/contact/" class="button ghost m-1">Contact us</a></p>
					</div>
				</div>
			</div>
		</section>