---
layout: page.liquid
metaTitle: Locations • Global Network & Cloud Regions • OneQode
metaDescription: OneQode’s cloud regions and network points of presence in locations across Asia-Pacific and beyond.
changefreq: monthly
priority: 0.9
ogImage: og-image.jpg
pageSupertitle: Regions
pageTitle: Locations
pageSubtitle: Cloud regions and network points of presence
---
		<!-- Page-Specific Styles -->
		<style>
			.hero {
				background-size: cover !important;
				background-position: bottom center;
			}
			/* Regular Background Image */
			.no-webp .hero {
				background: linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/guam-header.jpg") 60%;
			}
			.webp .hero {
				background: linear-gradient(to bottom, transparent 70%, #000), url("/img/bg/guam-header.webp") 60%;
			}
		</style>
		<section class="black-to-footer pt-8 pb-4">
			<div class="container push-forward">
				<div class="row middle-xs text-center">
					<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
						<h2>How our locations are designed<mark class="dot">:</mark></h2>
						<p class="subheading faded">Here’s what our architecture looks like</p>
					</div>
					<div class="col-xs-12 col-md-6 col-md-offset-3">
						<p><strong>TODO:</strong> See <a href="https://atroposjs.com/docs" rel="nofollow noopener">Atropos</a></p>
					</div>
				</div>
			</div>
		</section>