---
layout: page.liquid
heroSmall: true
metaTitle: Global Network Locations • OneQode
metaDescription: See instance pricing and calculate data transfer and storage costs for OneQode’s high-performance cloud.
changefreq: monthly
priority: 0.5
pageTitle: Global network locations
pageSubtitle: Our points of presence across Asia-Pacific and beyond
hideLivePops: true
---
		<style>
			.map {
				margin-top: -100rem;
				z-index: -4;
				opacity: 0.25;
			}
		</style>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<div class="row">
							<div class="col-xs-12 text-center mb-4">
								<h2>Cloud regions</h2>
								<p class="subheading faded">Full region: cloud, network, servers and colocation</p>
							</div>
							<div class="col-xs-6 mb-1">
								<a href="/locations/guam/" class="box left">
									<h3 class="mb-0">Guam (APAC Central)</h3>
								</a>
							</div>
							<div class="col-xs-6 mb-1">
								<a href="/locations/hong-kong/" class="box left">
									<h3 class="mb-0">Hong Kong</h3>
								</a>
							</div>
							<div class="col-xs-6 mb-1">
								<a href="/locations/singapore/" class="box left">
									<h3 class="mb-0">Singapore</h3>
								</a>
							</div>
							<div class="col-xs-6 mb-1">
								<a href="/locations/tokyo/" class="box left">
									<h3 class="mb-0">Tokyo</h3>
								</a>
							</div>
							<div class="col-xs-12 text-center mt-8 mb-4">
								<h2>All points of presence</h2>
								<p class="subheading faded">Network, servers and colocation services</p>
								<p>We deliver network (ethernet, IP transit, backhaul), dedicated servers and colocation services in the following facilities:</p>
							</div>
							<div class="col-xs-12">
								{% include parts/_pops.liquid %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="network">
{% include diagrams/_network-map.liquid %}
			<figcaption class="mt-0">Global network rollout map <span style="color: #949494">// <a href="https://oneqode2.sgp1.cdn.digitaloceanspaces.com/maps/global/oneqode-world-map.pdf" rel="noopener" target="_blank">Full map PDF</a></figcaption>
		</section>
		<section class="py-8 black-to-footer">
			<div class="container">
				<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
					<h2>Need something specialized<mark class="dot">?</mark></h2>
					<p class="subheading faded">Get in touch with our team to start the conversation</p>
					<p class="mt-2">
						<a href="/contact/business-enterprise/" class="button ghost m-1">Contact us</a>
					</p>
				</div>
			</div>
		</section>