---
layout: page.liquid
heroSmall: true
metaTitle: Global Network & Cloud Locations • OneQode
metaDescription: See all OneQode Cloud regions and network points of presence in Asia-Pacific and North America.
changefreq: monthly
priority: 0.5
pageTitle: Global locations
pageSubtitle: OneQode network points of presence
---
		<style>
			section.hero {
				background: none;
			}
			#network-map {
				z-index: -1;
				margin-top: -12rem;
			}
			@media (min-width: 48em) {
				#network-map {
					margin-top: -18rem;
				}
			}
			@media (min-width: 75em) {
				#network-map {
					margin-top: -32rem;
				}
			}
		</style>
		<section class="network">
{% include diagrams/_network-map.liquid %}
			<figcaption class="mt-0">Global network rollout map // <a href="https://oneqode2.sgp1.cdn.digitaloceanspaces.com/maps/global/oneqode-world-map.pdf" class="external faded" rel="noopener" target="_blank" title="Download map in PDF format">PDF</a> // <a href="https://oneqode2.sgp1.cdn.digitaloceanspaces.com/maps/global/oneqode-world-map.pdf" class="external faded"
				rel="noopener" target="_blank" title="View map as PNG image">PNG</a></figcaption>
		</section>
		<section id="stats">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-4 py-1">
						<div class="stat"><span>{{ global.points-of-presence }}</span> points of presence</div>
					</div>
					<div class="col-xs-12 col-sm-4 py-1">
						<div class="stat"><span>{{ global.cloud-regions }}</span> public cloud regions</div>
					</div>
					<div class="col-xs-12 col-sm-4 py-1">
						<div class="stat"><span>{{ global.countries-in-reach }}</span> countries in reach</div>
					</div>
				</div>
			</div>
		</section>
		<section class="mt-4">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<div class="row">
							<div class="col-xs-12 text-center mb-4">
								<h2>Cloud regions</h2>
								<p class="subheading faded">Full region: cloud, network, servers and colocation</p>
							</div>
							<div class="col-xs-12 col-sm-6 mb-1">
								<a href="/locations/guam/" class="box">
									<h3 class="mb-0">Guam (APAC Central)</h3>
								</a>
							</div>
							<div class="col-xs-12 col-sm-6 mb-1">
								<a href="/locations/hong-kong/" class="box">
									<h3 class="mb-0">Hong Kong</h3>
								</a>
							</div>
							{%- comment %}
							<div class="col-xs-12 col-sm-6 mb-1">
								<a href="/locations/singapore/" class="box">
									<h3 class="mb-0">Singapore</h3>
								</a>
							</div>
							<div class="col-xs-12 col-sm-6 mb-1">
								<a href="/locations/tokyo/" class="box">
									<h3 class="mb-0">Tokyo</h3>
								</a>
							</div>
							{%- endcomment %}
							<div class="col-xs-12 text-center mt-8 mb-4">
								<h2>All points of presence</h2>
								<p class="subheading faded">Network, servers and colocation services</p>
								<p>We deliver network (ethernet, IP transit, backhaul), dedicated servers and colocation services in the following facilities:</p>
							</div>
							<div class="col-xs-12">
								{% include parts/_pops.liquid %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="py-8 black-to-footer">
			<div class="container">
				<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
					<h2>Contact our business team<mark class="dot">.</mark></h2>
					<p class="subheading faded">Get in touch to start the conversation</p>
					<p class="mt-2">
						<a href="/contact/business-enterprise/" class="button ghost m-1">Contact us</a>
					</p>
				</div>
			</div>
		</section>