---
ignore: true
eleventyExcludeFromCollections: true
metaTitle: OneQode • Icons
metaDescription: All OneQode icons on a page. Manually updated list.
pageSupertitle: Design
pageTitle: Icons
pageSubtitle: This is a manually-updated list of icons used by OneQode
layout: page.liquid
---
<style>
	p.faded {
		font-size: 1rem;
	}
	.col-md-2 {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
</style>
<section class="black-to-footer py-8 text-center">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/around-the-world.svg">
				<p class="faded">around-the-world.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/business-internet.svg">
				<p class="faded">business-internet.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/check.svg">
				<p class="faded">check.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/chevron.svg">
				<p class="faded">chevron.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/close.svg">
				<p class="faded">close.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/cloud-connection.svg">
				<p class="faded">cloud-connection.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/cloud-services.svg">
				<p class="faded">cloud-services.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/cloud.svg">
				<p class="faded">cloud.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/colocation.svg">
				<p class="faded">colocation.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/connection.svg">
				<p class="faded">connection.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/connection2.svg">
				<p class="faded">connection2.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/cpu-secure.svg">
				<p class="faded">cpu-secure.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/cpu.svg">
				<p class="faded">cpu.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/cpu2.svg">
				<p class="faded">cpu2.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/dash-circle-fill.svg">
				<p class="faded">dash-circle-fill.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/data-center.svg">
				<p class="faded">data-center.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/ddos.svg">
				<p class="faded">ddos.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/enterprise-internet.svg">
				<p class="faded">enterprise-internet.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/ethernet.svg">
				<p class="faded">ethernet.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/ethernet2.svg">
				<p class="faded">ethernet2.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/external.svg">
				<p class="faded">external.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/fast.svg">
				<p class="faded">fast.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/file.svg">
				<p class="faded">file.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/fingerprint.svg">
				<p class="faded">fingerprint.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/guam.svg">
				<p class="faded">guam.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/kangaroo.svg">
				<p class="faded">kangaroo.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/last-mile.svg">
				<p class="faded">last-mile.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/latency.svg">
				<p class="faded">latency.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/latency2.svg">
				<p class="faded">latency2.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/lightning.svg">
				<p class="faded">lightning.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/metro-backhaul.svg">
				<p class="faded">metro-backhaul.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/money.svg">
				<p class="faded">money.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/nodes.svg">
				<p class="faded">nodes.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/nodes2.svg">
				<p class="faded">nodes2.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/open.svg">
				<p class="faded">open.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/play-fast.svg">
				<p class="faded">play-fast.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/plus-circle-fill.svg">
				<p class="faded">plus-circle-fill.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/population.svg">
				<p class="faded">population.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/sd-wan.svg">
				<p class="faded">sd-wan.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/server.svg">
				<p class="faded">server.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/support.svg">
				<p class="faded">support.svg</p>
			</div>
			<div class="col-xs-6 col-md-2 p-2">
				<img src="/img/ico/switch.svg">
				<p class="faded">switch.svg</p>
			</div>
		</div>
	</div>
</section>