	<style>
	.no-webp .why-us {
		background: linear-gradient(to bottom, #1c1d22 0%, rgba(28, 29, 34, 0.4) 30%, rgba(12, 12, 12, 0) 60%, #0c0c0c 100%), url("/img/bg/oneqode-network-map.jpg") no-repeat bottom center;
		background-size: cover;
	}
	.webp .why-us {
		background: linear-gradient(to bottom, #1c1d22 0%, rgba(28, 29, 34, 0.4) 30%, rgba(12, 12, 12, 0) 60%, #0c0c0c 100%), url("/img/bg/oneqode-network-map.webp") no-repeat bottom center;
		background-size: cover;
	}
	</style>
	<section class="full-height pt-4 pb-8 why-us">
		<div class="container">
			<div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
				<p class="superheading">Why OneQode?</p>
				<h2>The <mark>low-latency</mark><br class="responsive"> business network<mark class="dot">.</mark></h2>
				<p class="subheading">Finally, a business telco with a focus on speed</p>
				<p>OneQode helps ambitious businesses connect at blazing-fast speeds.</p>
				<p>You’ll get low-latency connectivity to the world over the fastest route to Asia from Australia’s east coast, as well as great support and easy online management.</p>
				<p><a href="/business/#about" class="button m-1 mt-2">Learn more</a><a href="#start" class="button ghost m-1 mt-2">Get started</a></p>
			</div>
		</div>
	</section>