<style>
	aside.christmas {
		background: #760000;
		border-radius: 10px;
	}
	aside.christmas h4 {
		font-size: 1rem;
		color: #fff;
		letter-spacing:0.2rem;
		text-transform: uppercase;
	}
	aside.christmas p {
		color: #d5c4c4;
		font-size: 1rem;
		margin-bottom: 0;
	}
</style>
<aside class="christmas col-xs-12 p-2 mb-2 text-left">
	<h4>🎄 2021 Christmas Closure</h4>
	<p>Our team are currently out of office for Christmas, returning January 4th 2022. If you submit a form, we won’t be able to respond until we’re back.</p>
</aside>