						<!-- Key Takeaways -->
						<div class="callout col-xs-12 p-2 my-2" id="key-takeaways">
							<h2>Key takeaways</h2>
							<ul>
								<li>OneQode is constructing a global central data centre, Core Central.</li>
								<li>Average latency to major capitals is expected to be 45ms</li>
								<li>The facility unlocks truly international multiplayer, real-time applications</li>
								<li>OneQode also introduces an advanced tool for the construction of data centres in new locations</li>
							</ul>
						</div>
						<!-- End Key Takeaways -->



						<!-- Inline Image -->
						<picture>
							<source srcset="/img/content/story/australia-cables-from-east-coast-oneqode-brisbane-sunshine-coast-sydney.webp" type="image/webp">
							<img class="opaque my-4" src="/img/content/story/australia-cables-from-east-coast-oneqode-brisbane-sunshine-coast-sydney.jpg" alt="A map of the eastern coast of Australia, showing most cables connecting from the south at Sydney, with OneQode located north in Brisbane, and the new Sunshine Coast Cable departing slightly north of Brisbane, showing that it was the perfect cable to send our traffic over.">
						</picture>
						<!-- End Inline Image -->



						<!-- Inline Video -->
						<figure class="my-4">
							<video
								class="lazy full-width"
								poster="/img/content/story/star-trek-ball-catch-miss.jpg"
								aria-label="A Star Trek character misses a catch (of a ball) because of their delayed reactions"
								width="448"
								height="352"
								autoplay muted loop playsinline disableRemotePlayback
							>
								<source
									data-src="https://oneqode2.sgp1.cdn.digitaloceanspaces.com/videos/star-trek-ball-catch-miss.mp4"
									type="video/mp4"
								>
							</video>
						</figure>
						<!-- End Inline Video -->



						<!-- Wide Image -->
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<picture>
							<source srcset="/img/content/story/sunshine-coast-pineapple-sunshine-coast-jga-s-cable.webp" type="image/webp">
							<img src="/img/content/story/sunshine-coast-pineapple-sunshine-coast-jga-s-cable.jpg" alt="A two part image: on the left, the Big Pineapple tourist attraction, on the right, the Sunshine Coast Cable Landing Station">
						</picture>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<!-- End Wide Image -->




						<!-- Wide Image — With Caption -->
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<picture>
								<source srcset="/img/content/story/sunshine-coast-pineapple-sunshine-coast-jga-s-cable.webp" type="image/webp">
								<img src="/img/content/story/sunshine-coast-pineapple-sunshine-coast-jga-s-cable.jpg" alt="A two part image: on the left, the Big Pineapple tourist attraction, on the right, the Sunshine Coast Cable Landing Station">
							</picture>
							<figcaption>The wonders of the Sunshine Coast</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<!-- End Wide Image — With Caption -->




						<!-- Wide Video -->
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<video
							class="lazy full-width"
							poster="/img/content/story/thanos-fine-ill-do-it-myself.jpg"
							aria-label="Thanos from Age of Ultron saying &#39;Fine. I’ll do it myself&#39;"
							width="498"
							height="216"
							autoplay muted loop playsinline disableRemotePlayback
						>
							<source
								data-src="https://oneqode2.sgp1.cdn.digitaloceanspaces.com/videos/thanos-fine-ill-do-it-myself.mp4"
								type="video/mp4"
							>
						</video>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<!-- End Wide Video -->




						<!-- Wide YouTube Embed — With Caption -->
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<div class="wrapper">
								<iframe width="560" height="315" src="https://www.youtube.com/embed/AbSehcT19u0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
							<figcaption>Hal from Malcolm in the Middle fixing a light bulb</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<!-- End Wide YouTube Embed — With Caption -->





						<!-- Wide Gfycat Embed — With Caption -->
					</div>
					<div class="col-xs-12 col-md-10 col-md-offset-1 my-4">
						<figure>
							<div class="wrapper">
								<iframe src="https://gfycat.com/ifr/AnxiousPowerlessCatfish?controls=0" frameborder="0" scrolling="no" width="100%" height="100%" style="position:absolute;top:0;left:0;" allowfullscreen></iframe>
							</div>
							<figcaption>Gameplay from Titanfall 2&#39;s Angel City gameplay trailer</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<!-- End Wide Gfycat Embed — With Caption -->




						<!-- Extra-Wide Image -->
					</div>
					<div class="col-xs-12 mt-1 mb-4">
						<picture>
							<source srcset="/img/content/story/australia-cables-from-east-coast-oneqode-brisbane-sunshine-coast-sydney.webp" type="image/webp">
							<img src="/img/content/story/australia-cables-from-east-coast-oneqode-brisbane-sunshine-coast-sydney.jpg" alt="A map of the eastern coast of Australia, showing most cables connecting from the south at Sydney, with OneQode located north in Brisbane, and the new Sunshine Coast Cable departing slightly north of Brisbane, showing that it was the perfect cable to send our traffic over.">
						</picture>
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<!-- End Extra-Wide Image -->