			<style>
				.globe.container {
					position: relative;
					display: block;
					width: 100%;
					padding: 0;
				}
				.globe-locations {
					z-index: 1;
					position: absolute;
					width: 100%;
					height: 100%;
				}
				/*
				Pulses
				Credit to Florin Pop - https://www.florin-pop.com/blog/2019/03/css-pulse-effect/
				*/
				.pulse {
					border-radius: 50%;
					height: 0.7rem;
					width: 0.7rem;
					background: rgba(0, 176, 240, 1);
					box-shadow: 0 0 0 0 rgba(0, 176, 240, 1);
					animation: pulse 2s infinite;
					display: inline-block;
					position: absolute;
				}
				@keyframes pulse {
					0% {
						transform:
							scale(0.95)
							translate(-50%, -50%);
						box-shadow: 0 0 0 0 rgba(0, 176, 240, 0.7);
					}
					70% {
						transform:
							scale(1)
							translate(-50%, -50%);
						box-shadow: 0 0 0 10px rgba(0, 176, 240, 0);
					}
					
					100% {
						transform:
							scale(0.95)
							translate(-50%, -50%);
						box-shadow: 0 0 0 0 rgba(0, 176, 240, 0);
					}
				}
				.pulse.guam 		{	left: 59.5%;	top: 53.6%;	}
				.pulse.singapore 	{	left: 34.9%;	top: 51.7%;	}
				.pulse.hong-kong	{	left: 43.7%;	top: 45%;	}
				.pulse.tokyo		{	left: 58.9%;	top: 42.7%;	}
				.globe-locations .label {
					position: absolute;
					text-align: center;
					font-family: Poppins, sans-serif;
					font-weight: 600;
					white-space: nowrap;
					font-size: 1.1rem;
				}
				.globe-locations .label.cloud {
					z-index: 2;
					color: #fff;
				}
				.globe-locations .label.cloud a span {
					background: #1c1d22;
					padding: 0.1rem 0.5rem;
					border-radius: 5px;
					border: 1px solid #999;
					color: #fff;
					transition: all 0.1s;
				}
				.globe-locations .label.cloud a:hover span,
				.globe-locations .label.cloud a:focus span {
					background: #333;
					border: 1px solid #fff;
					color: #fff;
				}
				.globe-locations .label:not(.cloud) {
					z-index: 1;
					/*color: #9baab5;*/
					color: #617483;
					font-size: 60%;
				}
				.globe-locations .label.active {
					color: #a5c3d9;
				}
				.globe-locations .label span {
					position: absolute;
					transform: translateX(-50%);
				}
				.label.guam 		{	left: 59.3%;	top: 49.7%;	}
				.label.singapore 	{	left: 34.7%;	top: 47.6%;	}
				.label.hong-kong 	{	left: 43.5%;	top: 41%;	}
				.label.tokyo 		{	left: 58.7%;	top: 38.7%;	}
				.label.sydney 		{	left: 56.7%;	top: 75.4%;	}
				.label.melbourne	{	left: 47.8%;	top: 75.9%;	}
				.label.brisbane		{	left: 59.9%;	top: 72.2%;	}
				.label.los-angeles	{	left: 87.4%;	top: 42.6%;	}
				.label.seattle		{	left: 86.5%;	top: 37.5%;	}
				.label.vancouver	{	left: 85.6%;	top: 35.4%;	}
				.label.chennai		{	left: 26.6%;	top: 40.1%;	}
				.label.muscat		{	left: 19.6%;	top: 32.5%;	}
				.label.hawaii		{	left: 77.9%;	top: 49.5%;	}
				.label.vladivostok	{	left: 50.9%;	top: 34.2%;	}
				.label.seoul		{	left: 49.1%;	top: 39.7%;	}
				.label.manila		{	left: 41.4%;	top: 48.9%;	}
				.label.davao		{	left: 48.2%;	top: 54.5%;	}
				.label.jakarta		{	left: 29.0%;	top: 55.4%;	}
				.label.surabaya		{	left: 34.0%;	top: 59.0%;	}
				.label.darwin		{	left: 45.5%;	top: 64.6%;	}
				.label.perth		{	left: 32.0%;	top: 68.8%;	}
				.globe svg {
					position: absolute;
					z-index: 0;
					width: 100%;
				}
				.globe svg path {
					fill: none;
					stroke: #27ade4;
					stroke-width: 1;
					stroke-linecap: round;
					stroke-miterlimit: 10;
					stroke-dasharray: 6;
					stroke-dashoffset: 216;
					animation: globelines 2s linear infinite;
				}
				@keyframes globelines {
					100% {
						stroke-dashoffset: 0;
					}
				}
				.globe img {
					mix-blend-mode: lighten;
				}
				.globe picture {
					position: relative;
				}
				/* This stops the globe having stars on top (because of its mix blend mode) */
				.globe picture:after {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 72.5%;
					height: 72.5%;
					border-radius: 50%;
					content: " ";
					background: #000;
					z-index: -1;
				}
				/* Mobile Globe Overrides */
				@media (max-width: 64em) {
					.globe-locations .label span {
						transform: translateX(-50%) translateY(-50%);
						font-size: 65%;
					}
					.globe-locations .label:not(.cloud) {
						font-size: 46%;
					}
					span.pulse {
						height: 0.5rem;
						width: 0.5rem;
					}
					.globe svg path {
						/*stroke-width: 4;
						stroke-dasharray: 20;
						stroke-dashoffset: 400;*/
						stroke-width: 2;
						stroke-dasharray: 15;
						stroke-dashoffset: 390;
					}
				}
			</style>
			<div class="globe container">
				<div class="globe-locations">
					<span class="label singapore cloud"><a href="/locations/singapore/"><span>Singapore</span></a></span>
					<span class="pulse singapore"></span>
					<span class="label hong-kong cloud"><a href="/locations/hong-kong/"><span>Hong Kong</span></a></span>
					<span class="pulse hong-kong"></span>
					<span class="label tokyo cloud"><a href="/locations/tokyo/"><span>Tokyo</span></a></span>
					<span class="pulse tokyo"></span>
					<span class="label guam cloud"><a href="/locations/guam/"><span>Guam</span></a></span>
					<span class="pulse guam"></span>
					<span class="label sydney active">Sydney</span>
					<span class="label melbourne active">Melbourne</span>
					<span class="label brisbane active">Brisbane</span>
					<span class="label los-angeles active hide-mobile">Los Angeles</span>
					<span class="label los-angeles active mobile-only">LA</span>
					<span class="label seattle">Seattle</span>
					<span class="label vancouver">Vancouver</span>
					<span class="label chennai">Chennai</span>
					<span class="label muscat">Muscat</span>
					<span class="label hawaii">Hawaii</span>
					<span class="label vladivostok">Vladivostok</span>
					<span class="label seoul">Seoul</span>
					<span class="label manila active">Manila</span>
					<span class="label davao">Davao</span>
					<span class="label jakarta">Jakarta</span>
					<span class="label surabaya">Surabaya</span>
					<span class="label darwin">Darwin</span>
					<span class="label perth">Perth</span>
				</div>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1781 1792" aria-labelledby="maptitle mapdescription" role="img">
					<title id="maptitle">OneQode Cloud Map</title>
					<desc id="mapdescription">A dark globe centred on Asia-Pacific showing OneQode cloud locations in Guam, Singapore, Hong Kong, and Tokyo</desc>
					<g id="network">
						<path id="guam-singapore" d="M1059.4,960.4c-112.8-5.6-226.4,8.7-232.6,50.5-.1,.8-1.1,1.1-1.6,.5-11.5-13.2-35.4-28.4-51.9-19.5-21.4,11.5-18.7,47.6-58.1,47.6-53-.1-80.8-91-94.5-113" />
						<path id="guam-hong-kong" d="M779,807.2c53.7,62.5,197.1,132.4,280.4,153.3" />
						<path id="guam-tokyo" d="M1048,765.2c27,69.8,26.1,131.1,11.4,195.2" />
						<path id="muscat-perth" d="M667.7,1237.3s-87.9,.9-168-62.6c-230.1-182.6-54.6-501.9-151-563.6-10.3-6.6-19.4-5.7-19.4-5.7" />
						<path id="singapore-chennai" d="M455.3,736.4c22.1,8.5,72.2,46.5,122.6,152.1,18.1,37.9,42.9,38,42.9,38" />
						<path id="perth-sydney" d="M667.7,1237.3c-17.2-1.1-30.3,9.7-30.3,26.1,0,38.8,119.1,75.3,256.4,96.4,98.3,15.1,96.2-13.7,96.2-13.7" />
						<path id="guam-hawaii" d="M1059.4,960.4c137.9-60.4,289-84.2,430.1-84.2" />
						<path id="sydney-hawaii" d="M990,1346s347.6,5.7,499.6-469.8" />
						<path id="guam-sydney" d="M1059.4,960.4c45.7,67.8,59.9,161.5,39.3,248.7-17.1,72.4-77.7,136.9-108.7,136.9" />
						<path id="tokyo-seattle" d="M1048,765.2c116.2-91.9,305.2-131.6,441.6-99.1" />
						<path id="perth-singapore" d="M634.5,954.8c11.2,22.9-13.7,40.6-19.4,43.5-82.1,41.2-59.7,160.3,52.6,239" />
						<path id="hong-kong-singapore" d="M620.7,926.5c70.3-5.2,140.8-33.9,158.3-119.3" />
						<path id="hong-kong-tokyo" d="M779.01,807.18c52.72,52.72,137.73,55.64,268.95-41.97" />
						<path id="tokyo-seoul" d="M933.6,716.4c1.3,21.3,16.7,43.1,49.1,48.8,39.3,6.9,65.2,0,65.2,0" />
						<path id="tokyo-vladivostok" d="M999.4,681.2c17.4,17.4,48.6,57.9,48.6,84" />
						<path id="guam-manila" d="M824.7,885.4c-8-8-9.4-13.1-6.8-20.8s13.1-12.9,23.4-4.9c35.4,27.4,120.8,81.4,217.4,100.7" />
						<path id="manila-hong-kong" d="M824.65,885.43s-45.64-22.63-45.64-78.25" />
						<path id="guam-los-angeles" d="M1059.4,960.4c68.6-68.6,191.3-231.4,456-204.9" />
						<path id="davao" d="M847,971.8c5.7,5.7,11.1,8.9,16.2,6.8" />
						<path id="seattle-vancouver" d="M1481.9,645.7s7.7,5.7,7.7,20.5" />
						<path id="brisbane-sunshine-coast" d="M1048,1288.2c8.4,0,14.2,.1,21-10.2" />
						<path id="sydney-melbourne" d="M946.5,1355.5c17.2-15.2,43.5-9.5,43.5-9.5" />
						<path id="jakarta-singapore" d="M622.4,1004.7s31,.6,28.1-18.1" />
						<path id="surabaya-singapore" d="M677.5,1036.1c5.3-9-1.9-15.4-1.9-15.4" />
						<path id="darwin-sydney" d="M865.9,1143.3c142.2,50.2,124,202.7,124,202.7" />
						<path id="darwin-melbourne" d="M865.9,1143.3c86.3,54.1,80.5,212.2,80.5,212.2" />
						<path id="darwin-brisbane" d="M865.9,1143.3c163.5,42,182,144.8,182,144.8" />
						<path id="hawaii-los-angeles" d="M1515.3,755.5c0,89.9-25.8,120.8-25.8,120.8" />
						<path id="los-angeles-seattle" d="M1489.5,666.2s25.8,36.1,25.8,89.3" />
					</g>
				</svg>
				<picture>
					<source srcset="/img/globe.webp" type="image/webp">
					<img src="/img/globe.jpg" class="opaque" alt="">
				</picture>
			</div>