				<div class="responsive-table">
					<table>
						<tbody>
							<tr>
								<td>Australia</td>
								<td>
									<strong class="faded">Queensland</strong>
									<ul class="no-style" class="mb-2">
										<li>NextDC B2</li>
										<li>Equinix BR1</li>
										<li>Sunshine Coast <abbr title="Cable Landing Station">CLS</abbr></li>
										<li>New South Wales</li>
										<li>Equinix SY1-5</li>
										<li>Global Switch</li>
									</ul>
									<strong class="faded block mt-1">New South Wales</strong>
									<ul class="no-style">
										<li>Equinix SY1-5</li>
										<li>Global Switch</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td>International</td>
								<td>
									<strong class="faded">North America</strong>
									<ul class="no-style">
										<li>Coresite LA2</li>
									</ul>
									<strong class="faded block mt-1">Asia-Pacific</strong>
									<ul class="no-style">
										<li>Guam – GNC Guam</li>
										<li>Japan - @Tokyo CC2</li>
										<li>Hong Kong - Mega-i</li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
				</div>