				<div class="responsive-table">
					<table>
						<tbody>
							<tr>
								<td>United States</td>
								<td>
									<strong class="faded">Washington</strong>
									<ul class="no-style">
										<li>Westin Building Seattle</li>
									</ul>
									<strong class="faded block mt-1">California</strong>
									<ul class="no-style">
										<li>CoreSite - Los Angeles (LA2)</li>
										<li>Hurricane Electric Fremont 2</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td>Japan</td>
								<td>
									<ul class="no-style">
										<li>AT TOKYO Chuo Center 2 (CC2)</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td>Hong Kong</td>
								<td>
									<ul class="no-style">
										<li>Global Switch</li>
										<li>iAdvantage MEGA-i</li>
										<li>Equinix HK1</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td>Singapore</td>
								<td>
									<ul class="no-style">
										<li>China Mobile International DC</li>
										<li>Global Switch</li>
										<li>WebSatMedia</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td>Guam</td>
								<td>
									<ul class="no-style">
										<li>GNC <abbr title="Cable Landing Station">CLS</abbr></li>
										<li>TATA Communications Piti <abbr title="Cable Landing Station">CLS</abbr></li>
										<li>AT&T Tanguisson</li>
										<li>University of Guam UoG</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td>Australia</td>
								<td>
									<strong class="faded">Queensland</strong>
									<ul class="no-style">
										<li>NEXTDC SC1 (Sunshine Coast <abbr title="Cable Landing Station">CLS</abbr>)</li>
										<li>NEXTDC B2</li>
										<li>Equinix BR1</li>
									</ul>
									<strong class="faded block mt-1">New South Wales</strong>
									<ul class="no-style">
										<li>Equinix SY4</li>
										<li>Global Switch Sydney</li>
									</ul>
									<strong class="faded block mt-1">Victoria</strong>
									<ul class="no-style">
										<li>NEXTDC M1</li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
				</div>