				<div class="row mt-4 profile">
					<div class="col-xs-12 col-md-10 col-md-offset-1">
						<div class="row mobile-flex place-content-center">
							<div class="col-xs-6 col-sm-4">
								<a href="https://www.linkedin.com/in/matt-shearing/" rel="noopener" target="_blank">
									<picture>
										<source srcset="/img/team/matt.webp" type="image/webp">
										<img src="/img/team/matt.png" alt="Matt Shearing">
									</picture>
									<h3>Matt Shearing</h3>
									<span>Chief Executive Officer</span>
								</a>
							</div>
							<div class="col-xs-6 col-sm-4">
								<a href="https://www.linkedin.com/in/hyypperionn/" rel="noopener" target="_blank">
									<picture>
										<source srcset="/img/team/ben.webp" type="image/webp">
										<img src="/img/team/ben.png" alt="Ben Cooper">
									</picture>
									<h3>Ben Cooper</h3>
									<span>Chief Product Officer</span>
								</a>
							</div>
							<div class="col-xs-6 col-sm-4">
								<a href="https://www.linkedin.com/in/prakash-v-vajra/" rel="noopener" target="_blank">
									<picture>
										<source srcset="/img/team/kash.webp" type="image/webp">
										<img src="/img/team/kash.png" alt="Prakash V">
									</picture>
									<h3>Prakash V</h3>
									<span>Chief Strategy Officer</span>
								</a>
							</div>
							<div class="col-xs-6 col-sm-4">
								<a href="https://www.linkedin.com/in/daniel-mcgregor-7086b71/" rel="noopener" target="_blank">
									<picture>
										<source srcset="/img/team/dan.webp" type="image/webp">
										<img src="/img/team/dan.png" alt="Daniel McGregor">
									</picture>
									<h3>Daniel McGregor</h3>
									<span>Chief Financial Officer</span>
								</a>
							</div>
							<div class="col-xs-6 col-sm-4">
								<a href="https://www.linkedin.com/in/tassia-blackley" rel="noopener" target="_blank">
									<picture>
										<source srcset="/img/team/tassia.webp" type="image/webp">
										<img src="/img/team/tassia.png" alt="Tassia Blackley">
									</picture>
									<h3>Tassia Blackley</h3>
									<span>Chief of Staff</span>
								</a>
							</div>
							<div class="col-xs-6 col-sm-4">
								<a href="https://www.linkedin.com/in/joeswinn/" rel="noopener" target="_blank">
									<picture>
										<source srcset="/img/team/joe.webp" type="image/webp">
										<img src="/img/team/joe.png" alt="Joe Swinn">
									</picture>
									<h3>Joe Swinn</h3>
									<span>Chief Marketing Officer</span>
								</a>
							</div>
						</div>
					</div>
				</div>