	<style>
		.no-webp .why-us {
			background: linear-gradient(to bottom, #1c1d22 0%, rgba(28, 29, 34, 0.4) 60%, rgba(12, 12, 12, 0) 70%, #0c0c0c 100%), url("/img/bg/oneqode-network-map.jpg") no-repeat bottom center;
			background-size: cover;
		}

		.webp .why-us {
			background: linear-gradient(to bottom, #1c1d22 0%, rgba(28, 29, 34, 0.4) 60%, rgba(12, 12, 12, 0) 70%, #0c0c0c 100%), url("/img/bg/oneqode-network-map.webp") no-repeat bottom center;
			background-size: cover;
		}
	</style>
	<section class="full-height pt-4 pb-8 why-us">
		<div class="container">
			<div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
				<p class="superheading">Why OneQode?</p>
				<h2>Our network spans<br class="responsive"> 3 continents<mark class="dot">.</mark></h2>
				<p class="subheading">The only carrier with international<br class="responsive"> connectivity via the Sunshine Coast cable</p>
				<p>Want to go international? OneQode provide access to international data capacity to locations around the globe.</p>
				<p>With a range of point-to-point and point-to-multipoint services available, we provide high capacity, easy to deploy solutions.</p>
				<p>We can deliver any service within Australia over either of the two Australian legs of the JGA South Submarine Cable</p>
				<p><a href="/wholesale/#about" class="button m-1 mt-2">Learn More</a><a href="#start" class="button ghost m-1 mt-2">Get started</a></p>
			</div>
		</div>
	</section>