		<style>
			@media (min-width: 48em) {
				/* Move up on desktop */
				#oceanic-case-study img {
					margin-top: -16rem;
				}
			}
		</style>
		<section id="oceanic-case-study" class="text-center pt-8">
			<div class="container push-forward">
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-sm-offset-2">
						<p class="superheading">OneQode in Action</p>
						<h2>Powering a groundbreaking interregional tournament<mark class="dot">.</mark></h2>
						<p class="subheading">How OneQode’s gaming infrastructure fuelled<br class="responsive"> a world-first for Asia-Pacific esports</p>
						<a href="/case-study/guam-csgo/" class="button mt-2">Case Study</a>
					</div>
				</div>
			</div>
			<picture>
				<source srcset="/img/bg/oceanic-case-study-guam-tournament-tv-stream.webp" type="image/webp">
				<img src="/img/bg/oceanic-case-study-guam-tournament-tv-stream.jpg" class="opaque" alt="A live Twitch stream of OneQode’s Guam Gaming Tournament playing on a television, with two people sitting on a couch watching">
			</picture>
		</section>