---
layout: job.liquid
metaTitle: Cloud Sales Director — Gaming • Vacancy • OneQode™
metaDescription: You'll be a leader in our gaming cloud sales department, someone who can take responsibility for our client journey, growing our customer list and contributing heavily to our product development.
changefreq: never
priority: 0.3
tags: vacancy
jobTitle: Cloud Sales Director — Gaming
jobHours: Full Time
jobLocation: Remote (Work from Home)
date: 2022-03-02
hrContact: Tassia Blackley
hrLink: "https://forms.clickup.com/f/6jpzc-7622/552ZASTZRQ7N8RKJJN"
---
<h2>Who we are</h2>
<p>OneQode is a global Infrastructure as a Service (IaaS) company operating a high-performance cloud platform and a latency-optimised network. Focused primarily on the gaming market, we help studios and orchestrators reach and serve more players than ever before.</p>
<h2 class="mt-2">What we’re looking for</h2>
<p>Reporting to the Chief Executive Officer, your role will fuse both the sales and technical worlds. You’ll be a leader in our gaming cloud sales department, someone who can take responsibility for our client journey, growing our customer list and contributing heavily to our product development.</p>
<h2 class="mt-2">What you’ll be selling</h2>
<p>OneQode has a unique position in the market right now. We’ve built a high-performance foundation that addresses glaring needs in the gaming industry - player retention, queue times, latency and server performance.</p>
<p>It’s all packaged up in the <a href="/cloud/">OneQode Cloud</a>. This is built using our <a href="/network/">independent carrier network</a>, end-to-end DDoS mitigation and high-performance servers. Through our <a href="/cloud/">APAC Central</a> region in Guam, we can reach approximately 4 billion players with under 100ms of latency - while using our other OneQode locations across Asia-Pacific for more local server deployments.</p>
<p>In short, you’ll be helping studios lower queue times, retain more players, minimise connectivity issues, generate more revenue and build better games overall.</p>
<h2 class="mt-2">Role responsibilities</h2>
<p>The ideal candidate will:</p>
<ul>
	<li>Possess both a sales and technical background, enabling you to become just as knowledgeable as the product team on what we’re selling</li>
	<li>Provide assistance and insight to the product/engineering teams based on your previous industry experience</li>
	<li>Use your knowledge of gaming companies and cloud deployments to create an architecture design for customers that genuinely meets their needs</li>
	<li>Proactively generate leads, work to fill out our sales pipeline and always be on the hunt for new opportunities</li>
	<li>Translate customer business and technology needs into fit-for-purpose solutions</li>
	<li>Lead business and technical decision-makers through strategy meetings, product overview and demo sessions</li>
	<li>Work to maximise customer value, accelerate sales and expand customer usage</li>
	<li>Keep up-to-date with market trends and industry insights and generally be an advocate for OneQode</li>
</ul>
<p>Above all, you need a passion for what you’ll be doing. If you wake up in the morning wondering which new prospect you introduce the product to, this role is probably for you.</p>
<h2 class="mt-2">Target market</h2>
<p>As part of this role, you’ll be primarily dealing with the following types of customers and prospects:</p>
<ul>
	<li>Gaming Studios</li>
	<li>Orchestrators & middleware (i.e. companies that help studios manage their infrastructure and ancillary technology)</li>
	<li>Enterprise with high-performance / latency sensitive cloud requirements</li>
	<li>Real-time applications and connected experiences</li>
	<li>Any other customers who may have a need for the unique network/compute combo we’ve built</li>
</ul>
<h2 class="mt-2">About you</h2>
<h3>Required experience</h3>
<ul>
	<li>
		Experience in either:
		<ul>
			<li>gaming solutions architecting, consulting, or technical pre-sales solution-selling roles;</li>
			<li>cloud solutions architecting, consulting or technical pre-sales solution-selling roles</li>
		</ul>
	</li>
</ul>
<p> <strong>(Experience in both of the above will be highly regarded)</strong></p>
<ul>
	<li>Experience in identifying, developing, negotiating, and closing large-scale technology deals</li>
	<li>Experience in proactively growing customer relationships while expanding an understanding of the customer’s business</li>
	<li>Proven track record of consistent territory growth and quota obtainment</li>
	<li>Strong communication and presentation skills</li>
</ul>
<h3>Preferred experience</h3>
<ul>
	<li>Existing relationships with studios and decision-makers in the gaming space</li>
	<li>A technical background in engineering, computer science, or MIS</li>
	<li>A background or experience in software development</li>
	<li>Experience working within a telecommunications company / IaaS</li>
</ul>
<h2 class="mt-2">Benefits of working for OneQode</h2>
<p>OneQode is a company full of gamers - it’s why we’re so passionate about facilitating a better gaming experience for everyone. We have staff worldwide and use <a href="https://gather.town/" target="_blank">Gather</a> as our virtual office for our diverse, remote team. Other benefits of working for us:</p>
<ul>
	<li>Work in a highly motivated business solving big problems in a large industry</li>
	<li>Remote (WFH) company with excellent work-life balance</li>
	<li>Direct access to executive staff</li>
	<li>Flexible hours - we are a 24/7 company and allow all our staff to work flexible times</li>
	<li>Hands-on and collaborative role</li>
	<li>Generous incentive plans</li>
</ul>
<h2 class="mt-2">Summary/application questions</h2>
<ul>
	<li><strong>Please apply via our form, linked below.</strong></li>
	<li>Optional - Submit a short (1-2 min) video telling us a bit about yourself – we recommend uploading it to Onedrive / Gcloud / Dropbox / Nextcloud, etc., and then sharing the public link with us. While not essential, this will make your application stand out to our recruiting team</li>
</ul>