---
layout: job.liquid
metaTitle: Enterprise Service Delivery Manager — Philippines • Vacancy • OneQode
metaDescription: As the cornerstone of our service delivery in the Philippines, you’ll take the wheel in guiding enterprise cloud onboarding, especially those that move databases from on-premises systems to our cloud environment.
changefreq: never
priority: 0.3
tags: vacancy
jobTitle: Enterprise Service Delivery Manager — Philippines
jobHours: Full Time
jobLocation: Manila, Philippines
date: 2023-06-12
hrContact: Tassia Blackley
hrLink: "https://forms.clickup.com/6904812/f/6jpzc-14982/3XPQ7C1LNZ6QW69DAP"
---
<p>A fantastic opportunity is here for a skilled Service Delivery Manager to join OneQode’s newly-established Philippines team.</p>
<p>As the cornerstone of our service delivery in the Philippines, you’ll take the wheel in guiding enterprise cloud onboarding, especially those that move databases from on-premises systems to our cloud environment.</p>
<p>You&#39;ll be the connecting thread between clients’ needs, service goals, and project execution. You’ll engage with clients after contracts are signed, and be their reliable point of contact, ensuring that the internal teams are aligned and focused.</p>
<h2 class="mt-2">What you&#39;ll be doing</h2>
<p>You’ll be the go-to person for clients once contracts are signed, managing the internal team to ensure that projects are executed smoothly and efficiently from start to finish — keeping key stakeholders updated and managing expectations.</p>
<p>In this versatile role, you’ll work collaboratively with our Enterprise Solutions Architect to ensure projects are completed in a timely manner and in accordance with the customers requirements.</p>
<p>By managing technical team workloads, troubleshooting service issues, and enhancing internal documentation, you’ll play an integral part in bringing projects from the planning stage to successful completion, all while maintaining transparent communication and strong relationships with clients.</p>
<p>The ideal applicant will be experienced in working with enterprise customers for cloud migrations, and have an understanding of cloud database systems such as OCI, AWS, Azure, and Google Cloud.</p>
<h2 class="mt-2">Responsibilities</h2>
<ul>
    <li>Responsible for the service delivery of enterprise projects, particularly those which involve database migration from on-premises to a cloud environment</li>
    <li>Being the primary point of contact with clients after contract is signed </li>
    <li>Understand customer requirements, set service delivery targets and manage project delivery itself.</li>
    <li>Ensure smooth and timely service delivery by coordinating with internal teams and communicating updates promptly to clients, ensuring targets are met.</li>
    <li>Manage the technical team workload, assuring accountability &amp; focus</li>
    <li>Resolve service delivery issues and escalate critical matters</li>
    <li>Prepare documentation for internal systems and processes, optimising for future projects over time</li>
    <li>Meeting with customers if required</li>
    <li>Overall, taking charge of migration and deployment projects, moving them from provisioning to provisioned.</li>
</ul>
<h2 class="mt-2">Experience</h2>
<ul>
    <li>Proven experience of service delivery management in an enterprise environment (can also add a line with certain no of years experience needed)</li>
    <li>Strong understanding of full stack cloud solutions, particularly enterprise database (experience with Oracle will be highly regarded)</li>
    <li>OCI Foundations and/or Oracle Cloud Data Management experience will be highly regarded</li>
    <li>Excellent project management, communication and problem-solving skills</li>
    <li>Relevant degree, qualification or work experience in this environment (certifications in cloud platforms such as OCI, AWS, Azure, or Google Cloud is a plus!)</li>
</ul>
<h2 class="mt-2">About OneQode</h2>
<p>OneQode is a global infrastructure-as-a-service company building the foundation for the next generation of connected experiences. Our service stack includes:</p>
<ul>
    <li>High-performance cloud platform</li>
    <li>Low-latency international network</li>
    <li>Regional latency-neutral hubs (APAC Central)</li>
    <li>Enterprise-grade cloud databases</li>
    <li>Tailored enterprise solutions</li>
</ul>
<p>OneQode are solving challenges for a variety of industries by building best-in-class infrastructure. We have staff worldwide and are a diverse, remote team using Gather.town as our virtual office.</p>
<h2 class="mt-2">Benefits</h2>
<ul>
    <li>Be part of a high-performance team solving big problems in a large industry</li>
    <li>Remote (WFH) company with excellent work-life balance</li>
    <li>Competitive salary package</li>
    <li>Significant opportunity for career progression</li>
</ul>
<h2 class="mt-2">Salary</h2>
<ul>
    <li>₱90,000 - ₱150,000 per month (based on experience)</li>
    <li>Full-time role</li>
</ul>
<h2 class="mt-2">Summary/application questions</h2>
<ul>
	<li><strong>Please apply via our form, linked below.</strong></li>
	<li>Optional - Submit a short (1-2 min) video telling us a bit about yourself – we recommend uploading it to Onedrive / Gcloud / Dropbox / Nextcloud, etc., and then sharing the public link with us. While not essential, this will make your application stand out to our team</li>
</ul>