---
layout: job.liquid
metaTitle: Front-End Web Developer — Philippines • Vacancy • OneQode
metaDescription: Reporting to the CMO, you'll be responsible for making the OneQode website the most beautiful, usable site in the cloud computing / digital infrastructure space.
changefreq: never
priority: 0.3
tags: vacancy
jobTitle: Front-End Web Developer — Philippines
jobHours: Full Time
jobLocation: Manila, Philippines
date: 2023-08-03
hrContact: Tassia Blackley
hrLink: "https://forms.clickup.com/6904812/f/6jpzc-17962/1RSBESUJ94CAEEOE91"
---
<p>If you have a strong sense of visual design, a passion for clean CSS, and love perfectly-indented HTML — we’d love you to apply to join the OneQode team.</p>
<p>OneQode is a low latency digital infrastructure provider operating a high performance cloud platform and low-latency global network. We’re on a mission to build the foundation for the next decade of connected experiences.</p>
<p>Our website needs to reflect our brand by being fast — and beautiful.</p>
<p>Reporting to the CMO (and working in partnership with a graphic designer), you’ll be responsible for making the OneQode website the most beautiful, usable site in the cloud computing / digital infrastructure space.</p>
<p>We want you to build and maintain a website that wins customers and brand advocates.</p>
<h2 class="mt-2">What you’ll be doing</h2>
<ul>
    <li>First project: rebuilding our website in Tailwind or similar CSS framework</li>
    <li>Managing the day-to-day operations of our website:
        <ul>
            <li>Adding new pages</li>
            <li>Updating existing pages</li>
            <li>Elevating the design quality of the site</li>
        </ul>
    </li>
    <li>Developing and maintaining a design system in beautiful code</li>
    <li>Consolidating styles (many pages have custom CSS that could be better-implemented)</li>
    <li>Optimizing the site for speed and performance</li>
    <li>Adding more beauty to the website — we want it to look <em>gorgeous</em></li>
    <li>Implementing onScroll animations</li>
    <li>Running new A/B tests for conversion rate optimization</li>
    <li>Future project: upgrading our cloud platform frontend interface</li>
    <li>Future project: implementing a Headless CMS</li>
    <li>Future project: designing and building the next front-end for our cloud platform</li>
</ul>
<h2 class="mt-2">About the website</h2>
<ul>
    <li>Built in the Eleventy static site generator</li>
    <li>Hosted with Netlify</li>
    <li>Until now, it’s all been hand-coded by the CMO
        <ul>
            <li>However we need someone who can rebuild it in a more widely-maintainable manner</li>
        </ul>
    </li>
    <li>There is no CMS, it’s all static at the moment. You can implement a CMS in future if you’d like</li>
</ul>
<h2 class="mt-2">About you</h2>
<p>You have:</p>
<ul>
    <li>Incredible sense of design. You’ve built beautiful sites before</li>
    <li>You look at sites like <a href='https://linear.app/' rel="nofollow noopener noreferrer">Linear</a>, <a href='https://vercel.com/' rel="nofollow noopener noreferrer">Vercel</a>, <a href='https://www.twingate.com/' rel="nofollow noopener noreferrer">Twingate</a> and <a href='https://oxide.computer/' rel="nofollow noopener noreferrer">Oxide</a> — and think you can build better</li>
    <li>Excellent abilities in HTML &amp; CSS, basic capabilities in Javascript</li>
    <li>Deep attention to detail</li>
    <li>Strong CSS animation and basic SVG animation experience</li>
    <li>Experience optimizing for web performance</li>
    <li>Passion for experimenting and elevating website designs</li>
    <li>Interested in implementing high-performance web animations (e.g. GSAP)</li>
    <li>Interest in experimenting with 3D (e.g Three.js)</li>
    <li>Strong organisational skills and ability to work independently</li>
    <li>[Nice to have] Wireframing experience in Figma, Adobe XD or similar</li>
</ul>
<h2 class="mt-2">Benefits</h2>
<ul>
    <li>Be part of a high-performance team solving big problems in a large industry</li>
    <li>Remote (WFH) company with excellent work-life balance</li>
    <li>Competitive salary package</li>
    <li>Significant opportunity for career progression</li>
</ul>
<h2 class="mt-2">Salary</h2>
<ul>
    <li>₱130,000-₱160,000 per month (based on experience)</li>
    <li>Full-time role</li>
</ul>
<h2 class="mt-2">Summary/application questions</h2>
<ul>
    <li><strong>Please apply via our form, linked below.</strong></li>
    <li>Question 1: Please can you share some of the most beautiful websites have you been responsible for building the front end for?</li>
    <li>Question 2: What opportunities for improvement do you see looking at the website?</li>
    <li>Question 3: What are some of the most beautiful websites you’ve seen in the tech space?</li>
    <li>Question 4: Do you have experience in wireframing/design in Figma/similar?</li>
    <li>Optional - Submit a short (1-2 min) video telling us a bit about yourself – we recommend uploading it to Onedrive / Gcloud / Dropbox / Nextcloud, etc., and then sharing the public link with us. While not essential, this will make your application stand out to our team</li>
</ul>