---
layout: job.liquid
metaTitle: Junior In-House Legal Counsel • Technology & Gaming • OneQode
metaDescription: We are looking for a part-time Junior In-House Legal Counsel with general commercial experience to join our remote-working team.
changefreq: never
priority: 0.3
tags: vacancy
jobTitle: Junior In-House Legal Counsel – Technology & Gaming
jobHours: Part Time
jobLocation: Remote (Work from Home)
date: 2021-10-26
hrContact: Tassia Blackley
---
<h2>Introduction</h2>
<p>We are looking for a part-time Junior In-House Legal Counsel with general commercial experience to join our remote-working team. This isn’t just any legal counsel role though – it’s counsel for an international telco who are building high-performance cloud infrastructure for gaming companies. You’ll be working several jurisdictions, with varied tasks and lots of constructive problem solving.</p>
<h2 class="mt-2">Role Responsibilities</h2>
<p>Working closely with the CEO, who is also a technology lawyer, you’ll be using your passion for law, technology and learning to tackle novel legal problems and gradually assume the CEO’s legal workload. Your responsibilities will include:</p>
<ul>
	<li>Drafting and reviewing a wide range of documents such as customised agreements and contracts from telecommunications partners</li>
	<li>Reviewing international law requirements, helping to formulate jurisdictional strategy and generally assisting with international operations</li>
	<li>Engaging with various regulators and public bodies</li>
	<li>Assisting with capital markets issues, cap table management and investor relations</li>
	<li>Assisting with any other commercial/corporate legal matters required by the company</li>
</ul>
<h2 class="mt-2">About you</h2>
<p>To be suitable for this opportunity, you&#39;ll need to have a Bachelor of Laws and either be a graduate or 1-2 years PAE. We are looking for someone relatively early in practice and interested in learning in-house commercial skills, cutting-edge technology, and modern business.</p>
<p>If you’re close to completing your Bachelor of Laws, we may still consider applications from outstanding applicants.</p>
<p>Our ideal applicant will:</p>
<ul>
	<li>Be motivated. You’ll need to apply yourself well to your tasks and have a hunger to make this role your own.</li>
	<li>Be willing to learn and research. The company is aggressively expanding on the international stage and given its core business, there is a lot to consider and learn.</li>
	<li>Be quick to learn and happy working relatively autonomously. The company is growing and there’s lots to do, so you’ll be expected to pick things up quick and not need to be told twice.</li>
	<li>Have excellent written and verbal communication skills. OneQode prides itself on professionalism and that’s expected in both correspondence and documentation.</li>
	<li>Be fluent in English.</li>
	<li>Have a Bachelor of Laws from Australia, Hong Kong or Singapore. We’ll still consider those in the late stages of their degrees, but the research techniques and general legal knowledge achieved through such a Bachelor will be critical to your role.</li>
</ul>
<p>We don’t expect you to know everything and will provide training throughout your employment. However, experience in technology law will be well regarded, and other skills that’d be valuable include familiarity with Hong Kong and Singapore law.</p>
<h2 class="mt-2">About OneQode</h2>
<p>OneQode is a global infrastructure-as-a-service company focused on levelling the playing field for online multiplayer gamers in the Asia-Pacific region and worldwide.</p>
<p>We are a company of gamers headquartered in Australia seeking to improve the game industry by building best-in-class infrastructure. We have staff worldwide and are a diverse, remote team using Gather.town as our virtual office. </p>
<h2 class="mt-2">Benefits of working for OneQode</h2>
<ul>
	<li>Work in a highly motivated business solving big problems in a large industry</li>
	<li>Remote (WFH) company with excellent work-life balance</li>
	<li>Direct access to the CEO and other executive staff</li>
	<li>Flexible hours – we are a 24/7 company and allow all our staff to work flexible times</li>
	<li>Hands-on and collaborative role</li>
	<li>Competitive salary package</li>
	<li>Ongoing training and development</li>
	<li>Significant opportunity for career progression</li>
</ul>
<h2 class="mt-2">Summary</h2>
<ul>
	<li>Junior In-House Legal Counsel role</li>
	<li>Part-time (20 hours per week)</li>
	<li>Schedule: Monday – Friday (flexible)</li>
	<li>Location: Remote (Work from Home)</li>
</ul>
<p>Please email <a href="mailto:jobs@oneqode.com.au">jobs@oneqode.com.au</a> with your resume and cover letter to apply for this position.</p>