---
layout: job.liquid
metaTitle: Junior Brand Journalist/Copywriter • Vacancy • OneQode
metaDescription: We are looking someone who lives and breathes writing — particularly writing for the web, to fill a full-time junior content creator role.
changefreq: never
priority: 0.3
tags: vacancy
jobTitle: Junior Brand Journalist/Copywriter
jobHours: Full Time
jobLocation: Remote (Work from Home)
date: 2021-10-27
hrContact: Tassia Blackley
---
<h2>Introduction</h2>
<p>We are looking for a writer! Someone who lives and breathes writing – particularly writing for the web, to fill a full-time junior brand journalist / content creator role within our marketing department.</p>
<h2 class="mt-2">Role Responsibilities</h2>
<p>Working directly with the Chief Marketing Officer, you will be using your passion for writing to create content pieces for our blog, website and social media.</p>
<p>You will be helping to tell our story in a way that informs and entertains.</p>
<h2 class="mt-2">About you</h2>
<p>Ideally, you will be someone who is:</p>
<ul>
	<li><strong>Curious</strong> — like a journalist following leads and exploring ideas, you will be seeking out information across departments and creating content from the knowledge you acquire. As such, you will need to be interested in the business and the work that we are doing.</li>
	<li><strong>A voracious learner</strong> — always reading, exploring, and asking “why”.</li>
	<li><strong>Confident</strong> — you will be talking to people from all different departments to obtain information for your content pieces. You must be comfortable talking to a range of different people in the team and asking questions to gain the knowledge needed to create content.</li>
	<li><strong>An effective communicator</strong> — both verbally and in writing.</li>
	<li><strong>Adept</strong> at writing for the web.</li>
	<li><strong>Witty</strong> — you have a sense of humour that shows in your writing style.</li>
	<li><strong>Able to write profusely</strong> — but emphasising quality over quantity.</li>
	<li>Able to work both autonomously and as part of a team.</li>
</ul>
<p>Experience working with visual assets and social media is not essential but will be highly regarded.</p>
<p>You’ll also likely be on video at various times, so being comfortable with that too is a big plus.</p>
<h2 class="mt-2">About OneQode</h2>
<p>OneQode is a global infrastructure-as-a-service company focused on levelling the playing field for online multiplayer gamers in the Asia-Pacific region and worldwide.</p>
<p>We are a company of gamers headquartered in Australia seeking to improve the game industry by building best-in-class infrastructure. We have staff worldwide and are a diverse, remote team using <a href='https://www.gather.town/'>Gather.town</a> as our virtual office.</p>
<h2 class="mt-2">Benefits of working for OneQode</h2>
<ul>
	<li>Work in a highly motivated business solving big problems in a large industry</li>
	<li>Remote (WFH) company with excellent work-life balance</li>
	<li>Direct access to executive staff</li>
	<li>Flexible hours - we are a 24/7 company and allow all our staff to work flexible times</li>
	<li>Hands-on and collaborative role</li>
	<li>Competitive salary package</li>
	<li>Ongoing training and development</li>
	<li>Significant opportunity for career progression</li>
</ul>
<h2 class="mt-2">Summary/Application Questions</h2>
<p>Full-time role, Monday to Friday. Salary is negotiable dependent on previous experience.</p>
<p>Q: Tell us about the writers/organisations that have had the most influence on how you write.</p>
<p>Q: Provide an example of some recent writing you’ve done.</p>
<p>Q: Submit a short (1-2 min) video telling us a bit about yourself – you can answer the above questions in that too if you’d like. We recommend uploading it to Onedrive/Gcloud/Dropbox/Nextcloud etc and then sharing the public link with us.</p>
<p>Please email <a href="mailto:jobs@oneqode.com.au">jobs@oneqode.com.au</a> with your resume and cover letter to apply for this position.</p>