<div id="mauticform_wrapper_3businesskipparingfixedwireless" class="mauticform_wrapper">
    <form autocomplete="false" role="form" method="post" action="https://contact.oneqode.com/form/submit?formId=5" id="mauticform_3businesskipparingfixedwireless" data-mautic-form="3businesskipparingfixedwireless" enctype="multipart/form-data">
        <div class="mauticform-error" id="mauticform_3businesskipparingfixedwireless_error"></div>
        <div class="mauticform-message" id="mauticform_3businesskipparingfixedwireless_message"></div>
        <div class="mauticform-innerform">
            <div class="mauticform-page-wrapper mauticform-page-1" data-mautic-form-page="1">
                <div class="row mobile-flex">
                    <div class="col-xs-12 col-sm-6">
                        <div id="mauticform_3businesskipparingfixedwireless_first_name" data-validate="first_name" data-validation-type="text" class="mauticform-row mauticform-text mauticform-field-1 mauticform-required">
                            <input id="mauticform_input_3businesskipparingfixedwireless_first_name" name="mauticform[first_name]" value="" placeholder="First Name" class="mauticform-input" type="text" autocapitalize="words">
                            <span class="mauticform-errormsg" style="display: none;">This is required.</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div id="mauticform_3businesskipparingfixedwireless_last_name" data-validate="last_name" data-validation-type="text" class="mauticform-row mauticform-text mauticform-field-2 mauticform-required">
                            <input id="mauticform_input_3businesskipparingfixedwireless_last_name" name="mauticform[last_name]" value="" placeholder="Last Name" class="mauticform-input" type="text" autocapitalize="words">
                            <span class="mauticform-errormsg" style="display: none;">This is required.</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div id="mauticform_3businesskipparingfixedwireless_email_address" data-validate="email_address" data-validation-type="email" class="mauticform-row mauticform-email mauticform-field-3 mauticform-required">
                            <input id="mauticform_input_3businesskipparingfixedwireless_email_address" name="mauticform[email_address]" value="" placeholder="Email Address" class="mauticform-input" type="email">
                            <span class="mauticform-errormsg" style="display: none;">This is required.</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div id="mauticform_3businesskipparingfixedwireless_contact_number" data-validate="contact_number" data-validation-type="tel" class="mauticform-row mauticform-tel mauticform-field-4 mauticform-required">
                            <input id="mauticform_input_3businesskipparingfixedwireless_contact_number" name="mauticform[contact_number]" value="" placeholder="Contact Number" class="mauticform-input" type="tel">
                            <span class="mauticform-errormsg" style="display: none;">This is required.</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div id="mauticform_3businesskipparingfixedwireless_street_address" data-validate="street_address" data-validation-type="text" class="mauticform-row mauticform-text mauticform-field-5 mauticform-required">
                            <input id="mauticform_input_3businesskipparingfixedwireless_street_address" name="mauticform[street_address]" value="" placeholder="Street Address" class="mauticform-input" type="text" autocapitalize="words">
                            <span class="mauticform-errormsg" style="display: none;">This is required.</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div id="mauticform_3businesskipparingfixedwireless_state" data-validate="state" data-validation-type="text" class="mauticform-row mauticform-text mauticform-field-6 mauticform-required">
                            <input id="mauticform_input_3businesskipparingfixedwireless_state" name="mauticform[state]" value="QLD" placeholder="State" class="mauticform-input" type="text" autocapitalize="words">
                            <span class="mauticform-errormsg" style="display: none;">This is required.</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div id="mauticform_3businesskipparingfixedwireless_post_code" data-validate="post_code" data-validation-type="text" class="mauticform-row mauticform-text mauticform-field-7 mauticform-required">
                            <input id="mauticform_input_3businesskipparingfixedwireless_post_code" name="mauticform[post_code]" value="" placeholder="Post Code" class="mauticform-input" type="text" autocapitalize="words">
                            <span class="mauticform-errormsg" style="display: none;">This is required.</span>
                        </div>
                    </div>
                    <div class="col-xs-12 text-center">
                        <div id="mauticform_3businesskipparingfixedwireless_submit" class="mauticform-row mauticform-button-wrapper mauticform-field-8">
                            <button type="submit" name="mauticform[submit]" id="mauticform_input_3businesskipparingfixedwireless_submit" value="" class="mauticform-button button mt-1">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="mauticform[formId]" id="mauticform_3businesskipparingfixedwireless_id" value="5">
        <input type="hidden" name="mauticform[return]" id="mauticform_3businesskipparingfixedwireless_return" value="">
        <input type="hidden" name="mauticform[formName]" id="mauticform_3businesskipparingfixedwireless_name" value="3businesskipparingfixedwireless">
    </form>
</div>