<form action="https://submit-form.com/XSkyV7rZ" data-botpoison-public-key="pk_11d034c7-a37c-4479-a7fc-eabfb1185635" id="form-main-contact">
	<div class="row mobile-flex">
		<div class="col-xs-12 col-sm-6 mb-1">
			<input type="text" name="1_first_name" placeholder="First Name" autocapitalize="words" required autofocus>
		</div>
		<div class="col-xs-12 col-sm-6 mb-1">
			<input type="text" name="2_last_name" placeholder="Last Name" autocapitalize="words" required>
		</div>
		<div class="col-xs-12 col-sm-6 mb-1">
			<input type="text" name="3_company" placeholder="Company" autocapitalize="words" required>
		</div>
		<div class="col-xs-12 col-sm-6 mb-1">
			<input type="email" name="4_email" placeholder="Work Email" required>
		</div>
		<div class="col-xs-12 mb-1">
			<textarea name="5_message" placeholder="How can we help you today?" autocapitalize="sentences" rows="4" required></textarea>
		</div>
		<div class="col-xs-12">
			<input type="hidden" name="form" value="Main - Contact" />
			<input type="hidden" name="_redirect" value="https://www.oneqode.com/thanks/"/>
			<input type="hidden" name="_error" value="https://www.oneqode.com/error/"/>
			<button type="submit" class="button mt-1" id="button">Submit</button>
			<p id="failmsg">
				<strong>Anti-spam failed :(</strong>
				<br>Our spam detection thinks you’re a bot. If you’re reading this, we’re really sorry.
				<br>Please do email us instead at:
				<br>hello <span class="faded">[at]</span> oneqode <span class="faded">[dot]</span> com <span class="faded">[dot]</span> au
			</p>
			<script>
				var form = document.getElementById("form-main-contact");
				var button = document.getElementById("button");
				var failmsg = document.getElementById("failmsg");
				form.addEventListener("botpoison-challenge-start", function () {
					button.setAttribute("disabled", "disabled");
				});
				form.addEventListener("botpoison-challenge-success", function () {
					button.removeAttribute("disabled");
					button.classList.add("success");
				});
				form.addEventListener("botpoison-challenge-error", function () {
					button.removeAttribute("disabled");
					button.classList.add("fail");
					failmsg.classList.add("block");
				});
			</script>
		</div>
	</div>
</form>