<div id="mauticform_wrapper_2residentialfixedwireless" class="mauticform_wrapper">
	<form autocomplete="false" role="form" method="post" action="https://contact.oneqode.com/form/submit?formId=14" id="mauticform_2residentialfixedwireless" data-mautic-form="2residentialfixedwireless" enctype="multipart/form-data">
		<div class="mauticform-error" id="mauticform_2residentialfixedwireless_error"></div>
		<div class="mauticform-message" id="mauticform_2residentialfixedwireless_message"></div>
		<div class="mauticform-innerform">
			<div class="mauticform-page-wrapper mauticform-page-1" data-mautic-form-page="1">
				<div class="row mobile-flex">
					<div class="col-xs-12 col-sm-6">
						<div id="mauticform_2residentialfixedwireless_first_name" data-validate="first_name" data-validation-type="text" class="mauticform-row mauticform-text mauticform-field-1 mauticform-required">
							<input id="mauticform_input_2residentialfixedwireless_first_name" name="mauticform[first_name]" value="" placeholder="First Name" class="mauticform-input" type="text" autocapitalize="words">
							<span class="mauticform-errormsg" style="display: none;">This is required.</span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div id="mauticform_2residentialfixedwireless_last_name" data-validate="last_name" data-validation-type="text" class="mauticform-row mauticform-text mauticform-field-2 mauticform-required">
							<input id="mauticform_input_2residentialfixedwireless_last_name" name="mauticform[last_name]" value="" placeholder="Last Name" class="mauticform-input" type="text" autocapitalize="words">
							<span class="mauticform-errormsg" style="display: none;">This is required.</span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div id="mauticform_2residentialfixedwireless_email_address" data-validate="email_address" data-validation-type="email" class="mauticform-row mauticform-email mauticform-field-3 mauticform-required">
							<input id="mauticform_input_2residentialfixedwireless_email_address" name="mauticform[email_address]" value="" placeholder="Email Address" class="mauticform-input" type="email">
							<span class="mauticform-errormsg" style="display: none;">This is required.</span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div id="mauticform_2residentialfixedwireless_contact_number" data-validate="contact_number" data-validation-type="tel" class="mauticform-row mauticform-tel mauticform-field-4 mauticform-required">
							<input id="mauticform_input_2residentialfixedwireless_contact_number" name="mauticform[contact_number]" value="" placeholder="Contact Number" class="mauticform-input" type="tel">
							<span class="mauticform-errormsg" style="display: none;">This is required.</span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div id="mauticform_2residentialfixedwireless_street_address" data-validate="street_address" data-validation-type="text" class="mauticform-row mauticform-text mauticform-field-5 mauticform-required">
							<input id="mauticform_input_2residentialfixedwireless_street_address" name="mauticform[street_address]" value="" placeholder="Street Address" class="mauticform-input" type="text" autocapitalize="words">
							<span class="mauticform-errormsg" style="display: none;">This is required.</span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div id="mauticform_2residentialfixedwireless_state" data-validate="state" data-validation-type="text" class="mauticform-row mauticform-text mauticform-field-6 mauticform-required">
							<input id="mauticform_input_2residentialfixedwireless_state" name="mauticform[state]" value="QLD" placeholder="State" class="mauticform-input" type="text" autocapitalize="words">
							<span class="mauticform-errormsg" style="display: none;">This is required.</span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div id="mauticform_2residentialfixedwireless_post_code" data-validate="post_code" data-validation-type="text" class="mauticform-row mauticform-text mauticform-field-7 mauticform-required">
							<input id="mauticform_input_2residentialfixedwireless_post_code" name="mauticform[post_code]" value="" placeholder="Post Code" class="mauticform-input" type="text" autocapitalize="words">
							<span class="mauticform-errormsg" style="display: none;">This is required.</span>
						</div>
					</div>
					<div class="col-xs-12">
						<div id="mauticform_2residentialfixedwireless_submit" class="mauticform-row mauticform-button-wrapper mauticform-field-8">
							<button type="submit" name="mauticform[submit]" id="mauticform_input_2residentialfixedwireless_submit" value="" placeholder="Post Code" class="mauticform-button button mt-1">Submit</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<input type="hidden" name="mauticform[formId]" id="mauticform_2residentialfixedwireless_id" value="14">
		<input type="hidden" name="mauticform[return]" id="mauticform_2residentialfixedwireless_return" value="">
		<input type="hidden" name="mauticform[formName]" id="mauticform_2residentialfixedwireless_name" value="2residentialfixedwireless">
	</form>
</div>