<div id="mauticform_wrapper_2residentialwaitlist" class="mauticform_wrapper">
	<form autocomplete="false" role="form" method="post" action="https://contact.oneqode.com/form/submit?formId=20" id="mauticform_2residentialwaitlist" data-mautic-form="2residentialwaitlist" enctype="multipart/form-data">
		<div class="mauticform-error" id="mauticform_2residentialwaitlist_error"></div>
		<div class="mauticform-message" id="mauticform_2residentialwaitlist_message"></div>
		<div class="mauticform-innerform">
			<div class="mauticform-page-wrapper mauticform-page-1" data-mautic-form-page="1">
				<div class="row mobile-flex">
					<div class="col-xs-12 col-sm-6">
						<div id="mauticform_2residentialwaitlist_first_name" data-validate="first_name" data-validation-type="text" class="mauticform-row mauticform-text mauticform-field-1 mauticform-required">
							<input id="mauticform_input_2residentialwaitlist_first_name" name="mauticform[first_name]" value="" placeholder="First Name" class="mauticform-input" type="text" autocapitalize="words">
							<span class="mauticform-errormsg" style="display: none;">This is required.</span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div id="mauticform_2residentialwaitlist_last_name" data-validate="last_name" data-validation-type="text" class="mauticform-row mauticform-text mauticform-field-2 mauticform-required">
							<input id="mauticform_input_2residentialwaitlist_last_name" name="mauticform[last_name]" value="" placeholder="Last Name" class="mauticform-input" type="text" autocapitalize="words">
							<span class="mauticform-errormsg" style="display: none;">This is required.</span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div id="mauticform_2residentialwaitlist_email_address" data-validate="email_address" data-validation-type="email" class="mauticform-row mauticform-email mauticform-field-3 mauticform-required">
							<input id="mauticform_input_2residentialwaitlist_email_address" name="mauticform[email_address]" value="" placeholder="Email Address" class="mauticform-input" type="email">
							<span class="mauticform-errormsg" style="display: none;">This is required.</span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div id="mauticform_2residentialwaitlist_street_address" data-validate="street_address" data-validation-type="text" class="mauticform-row mauticform-text mauticform-field-4 mauticform-required">
							<input id="mauticform_input_2residentialwaitlist_street_address" name="mauticform[street_address]" value="" placeholder="Street Address" class="mauticform-input" type="text" autocapitalize="words">
							<span class="mauticform-errormsg" style="display: none;">This is required.</span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div id="mauticform_2residentialwaitlist_state" data-validate="state" data-validation-type="text" class="mauticform-row mauticform-text mauticform-field-5 mauticform-required">
							<input id="mauticform_input_2residentialwaitlist_state" name="mauticform[state]" value="" placeholder="State" class="mauticform-input" type="text" autocapitalize="words">
							<span class="mauticform-errormsg" style="display: none;">This is required.</span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div id="mauticform_2residentialwaitlist_post_code" data-validate="post_code" data-validation-type="text" class="mauticform-row mauticform-text mauticform-field-6 mauticform-required">
							<input id="mauticform_input_2residentialwaitlist_post_code" name="mauticform[post_code]" value="" placeholder="Post Code" class="mauticform-input" type="text" autocapitalize="words">
							<span class="mauticform-errormsg" style="display: none;">This is required.</span>
						</div>
					</div>
					<div class="col-xs-12 text-center">
						<div id="mauticform_2residentialwaitlist_submit" class="mauticform-row mauticform-button-wrapper mauticform-field-7">
							<button type="submit" name="mauticform[submit]" id="mauticform_input_2residentialwaitlist_submit" value="" placeholder="Post Code" class="mauticform-button button mt-1">Submit</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<input type="hidden" name="mauticform[formId]" id="mauticform_2residentialwaitlist_id" value="20">
		<input type="hidden" name="mauticform[return]" id="mauticform_2residentialwaitlist_return" value="">
		<input type="hidden" name="mauticform[formName]" id="mauticform_2residentialwaitlist_name" value="2residentialwaitlist">
	</form>
</div>