<form action="https://submit-form.com/FQvlFo5i" id="form-wholesale-ip-transit">
	<div class="row mobile-flex">
		<div class="col-xs-12 col-sm-6 mb-1">
			<input type="text" name="first_name" placeholder="First Name" autocapitalize="words" required>
		</div>
		<div class="col-xs-12 col-sm-6 mb-1">
			<input type="text" name="last_name" placeholder="Last Name" autocapitalize="words" required>
		</div>
		<div class="col-xs-12 col-sm-6 mb-1">
			<input type="text" name="company" placeholder="Company" autocapitalize="words" required>
		</div>
		<div class="col-xs-12 col-sm-6 mb-1">
			<input type="email" name="email" placeholder="Email Address" required>
		</div>
		<div class="col-xs-12 col-sm-6 mb-1">
			<input type="tel" name="phone" placeholder="Contact Number" required>
		</div>
		<div class="col-xs-12 mb-1">
			<textarea name="message" placeholder="Have a comment? Add it here..." autocapitalize="sentences" rows="4"></textarea>
		</div>
		<div class="col-xs-12">
			<input type="checkbox" name="gdpr" tabindex="-1" autocomplete="off">
			<input type="hidden" name="form" value="Wholesale - IP Transit" />
			<input type="hidden" name="_redirect" value="https://www.oneqode.com/wholesale/thanks/"/>
			<button type="submit" class="button mt-1">Submit</button>
		</div>
	</div>
</form>